<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">
        {{schoolName}}
        <hr>
      </h5>
      <div class="row gutter-sm">
        <div class="col-xl-6 col-xs-12">
          <q-select
            outlined
            emit-value
            map-options
            v-model="academicyear.academicyear"
            class="q-pa-sm"
            label="ปีการศึกษา"
            :options="academicyearList"
            :readonly="!isAddData"
          />
        </div>
      </div>

      <div class="row q-mt-md gutter-sm">
        <div class="col-xl-6 col-xs-12">
          <q-input
            class="q-pa-sm"
            outlined
            v-model="academicyear.startdate"
            :rules="[val => !!val || '']"
            ref="startdate"
            mask="date"
            label="วันเริ่มต้น"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy>
                  <q-date v-model="academicyear.startdate"></q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
        <div class="col-xl-6 col-xs-12">
          <q-input
            class="q-pa-sm"
            outlined
            v-model="academicyear.enddate"
            :rules="[val => !!val || '']"
            ref="enddate"
            mask="date"
            label="วันสุดท้าย"
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy>
                  <q-date v-model="academicyear.enddate"></q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </div>

      <div class="row q-mt-md gutter-sm">
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ป.1" v-model="academicyear.isP1"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomP1"
            :readonly="!academicyear.isP1"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ป.2" v-model="academicyear.isP2"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomP2"
            :readonly="!academicyear.isP2"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ป.3" v-model="academicyear.isP3"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomP3"
            :readonly="!academicyear.isP3"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ป.4" v-model="academicyear.isP4"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomP4"
            :readonly="!academicyear.isP4"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ป.5" v-model="academicyear.isP5"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomP5"
            :readonly="!academicyear.isP5"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div
          class="col-xs-6 col-sm-3 col-xs-4 col-sm-3 col-md-2 col-lg-1 self-center"
          align="center"
        >
          <q-checkbox label="ป.6" v-model="academicyear.isP6"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomP6"
            :readonly="!academicyear.isP6"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>
      </div>

      <div class="row q-mt-md gutter-sm">
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ม.1" v-model="academicyear.isM1"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomM1"
            :readonly="!academicyear.isM1"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ม.2" v-model="academicyear.isM2"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomM2"
            :readonly="!academicyear.isM2"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ม.3" v-model="academicyear.isM3"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomM3"
            :readonly="!academicyear.isM3"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ม.4" v-model="academicyear.isM4"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomM4"
            :readonly="!academicyear.isM4"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>

        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center" align="center">
          <q-checkbox label="ม.5" v-model="academicyear.isM5"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomM5"
            :readonly="!academicyear.isM5"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>
        <div
          class="col-xs-6 col-sm-3 col-xs-4 col-sm-3 col-md-2 col-lg-1 self-center"
          align="center"
        >
          <q-checkbox label="ม.6" v-model="academicyear.isM6"/>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1 self-center">
          <q-select
            emit-value
            map-options
            v-model="academicyear.roomM6"
            :readonly="!academicyear.isM6"
            class="q-pa-sm"
            label="จำนวนห้อง"
            :options="testroom"
          />
        </div>
      </div>

      <div class="row q-pa-md justify-center">
        <div class="col-12" align="center">
          <q-btn
            label="ยกเลิก"
            class="q-ma-xs"
            @click="cancelBtn()"
            color="red-7"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
          <q-btn
            label="บันทึก"
            color="teal-5"
            class="q-ma-xs"
            @click="saveBtn()"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolName: "",
      academicyear: {
        academicyear: "1/2561",
        startdate: "",
        enddate: "",
        isP1: false,
        roomP1: 0,
        isP2: false,
        roomP2: 0,
        isP3: false,
        roomP3: 0,
        isP4: false,
        roomP4: 0,
        isP5: false,
        roomP5: 0,
        isP6: false,
        roomP6: 0,
        isM1: false,
        roomM1: 0,
        isM2: false,
        roomM2: 0,
        isM3: false,
        roomM3: 0,
        isM4: false,
        roomM4: 0,
        isM5: false,
        roomM5: 0,
        isM6: false,
        roomM6: 0,
        schoolCode: this.$route.params.id,
        term: 0,
        year: 0
      },
      testroom: [
        { label: "1", value: 1 },
        { label: "2", value: 2 },
        { label: "3", value: 3 },
        { label: "4", value: 4 },
        { label: "5", value: 5 },
        { label: "6", value: 6 },
        { label: "7", value: 7 },
        { label: "8", value: 8 },
        { label: "9", value: 9 },
        { label: "10", value: 10 },
        { label: "11", value: 11 },
        { label: "12", value: 12 },
        { label: "13", value: 13 },
        { label: "14", value: 14 },
        { label: "15", value: 15 },
        { label: "16", value: 16 },
        { label: "17", value: 17 },
        { label: "18", value: 18 },
        { label: "19", value: 19 },
        { label: "20", value: 20 }
      ],
      academicyearList: [
        { label: "1/2561", value: "1/2561" },
        { label: "2/2561", value: "2/2561" },
        { label: "1/2562", value: "1/2562" },
        { label: "2/2562", value: "2/2562" },
        { label: "1/2563", value: "1/2563" },
        { label: "2/2563", value: "2/2563" },
        { label: "1/2564", value: "1/2564" },
        { label: "2/2564", value: "2/2564" },
        { label: "1/2565", value: "1/2565" },
        { label: "2/2565", value: "2/2565" }
      ],
      isAddData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },

  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    loadSchoolName() {
      //โหลดชื่อโรงเรียน
      let _this = this;
      db.collection("school")
        .doc(this.$route.params.id)
        .get()
        .then(doc => {
          _this.schoolName = doc.data().name;
        });
    },

    cancelBtn() {
      this.$router.push("/academicyear");
    },

    async saveBtn() {
      this.$refs.startdate.validate();
      this.$refs.enddate.validate();
      if (this.$refs.startdate.hasError || this.$refs.enddate.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      //Check ปีการศึกษาว่ามีอยู่หรือยัง

      if (this.isAddData) {
        let acyear = this.academicyear.academicyear;
        let data = await db
          .collection("academicyear")
          .where("schoolCode", "==", this.$route.params.id)
          .where("academicyear", "==", acyear)
          .get();

        if (data.size > 0) {
          this.notifyRed("มีข้อมูลปีการศึกษานี้อยู่แล้ว");
          return;
        }
      }

      //บันทึกลงฐานข้อมูล
      let _this = this;
      //ตรวจสอบว่ามีอย่างน้อย 1 ระดับชั้น
      if (
        !(
          this.academicyear.isP1 ||
          this.academicyear.isP2 ||
          this.academicyear.isP3 ||
          this.academicyear.isP4 ||
          this.academicyear.isP5 ||
          this.academicyear.isP6 ||
          this.academicyear.isM1 ||
          this.academicyear.isM2 ||
          this.academicyear.isM3 ||
          this.academicyear.isM4 ||
          this.academicyear.isM5 ||
          this.academicyear.isM6
        )
      ) {
        this.notifyRed("เลือกอย่างน้อย 1 ระดับชั้น");
        return;
      }
      //ถ้าไม่เลือกห้องจะ set ห้องเป็น 0
      if (!this.academicyear.isP1) {
        this.academicyear.roomP1 = 0;
      }
      if (!this.academicyear.isP2) {
        this.academicyear.roomP2 = 0;
      }
      if (!this.academicyear.isP3) {
        this.academicyear.roomP3 = 0;
      }
      if (!this.academicyear.isP4) {
        this.academicyear.roomP4 = 0;
      }
      if (!this.academicyear.isP5) {
        this.academicyear.roomP5 = 0;
      }
      if (!this.academicyear.isP6) {
        this.academicyear.roomP6 = 0;
      }
      if (!this.academicyear.isM1) {
        this.academicyear.roomM1 = 0;
      }
      if (!this.academicyear.isM2) {
        this.academicyear.roomM2 = 0;
      }
      if (!this.academicyear.isM3) {
        this.academicyear.roomM3 = 0;
      }
      if (!this.academicyear.isM4) {
        this.academicyear.roomM4 = 0;
      }
      if (!this.academicyear.isM5) {
        this.academicyear.roomM5 = 0;
      }
      if (!this.academicyear.isM6) {
        this.academicyear.roomM6 = 0;
      }

      //ผลรวมห้องต้องมากกว่า 1
      if (
        this.academicyear.roomP1 +
          this.academicyear.roomP2 +
          this.academicyear.roomP3 +
          this.academicyear.roomP4 +
          this.academicyear.roomP5 +
          this.academicyear.roomM1 +
          this.academicyear.roomM2 +
          this.academicyear.roomM3 +
          this.academicyear.roomM4 +
          this.academicyear.roomM5 +
          this.academicyear.roomM6 ==
        0
      ) {
        this.notifyRed("เลือกอย่างน้อย 1 ห้อง");
        return;
      }
      this.academicyear.term = this.academicyear.academicyear.slice(0, 1);
      this.academicyear.year = this.academicyear.academicyear.slice(2, 6);
      this.academicyear.startdate = this.academicyear.startdate;
      this.academicyear.enddate = this.academicyear.enddate;

      //บันทึกลงฐานข้อมูล
      db.collection("academicyear")
        .doc(
          this.$route.params.id +
            "_" +
            this.academicyear.term +
            "_" +
            this.academicyear.year
        )
        .set(_this.academicyear)
        .then(() => {
          this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
          this.$router.push("/academicyear");
        });
    },
    loadData() {
      let _this = this;
      db.collection("academicyear")
        .doc(this.$route.params.code)
        .get()
        .then(doc => {
          _this.academicyear = doc.data();
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(3);
    this.loadSchoolName();
    if (this.$route.name == "academicyearedit") {
      this.loadData();
      this.isAddData = false;
    }
  }
};
</script>
