<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md" align="right">
      <q-btn round color="secondary" icon="fas fa-plus" @click="addBtn()"/>
    </div>
    <div class="bg-grey-2 q-pa-sm">
      <div class="row justify-center items-center" style="clear: both;">
        <div class="col-xs-10 col-sm-8">
          <q-select
            outlined
            emit-value
            map-options
            v-model="schoolCode"
            label="เลือกโรงเรียน"
            class="q-pa-sm"
            :options="schoolList"
            @input="loadAcademicData()"
          />
        </div>
      </div>
      <q-table
        :data="academicList"
        :columns="columns"
        row-key="academicyear"
        selection="single"
        :selected.sync="selectedOne"
        :pagination.sync="paginationControl"
        class="bg-grey-2 q-mt-md"
        separator="cell"
      >
        <template slot="top-selection" slot-scope="props">
          <div class="col"/>
          <q-btn color="negative" flat round icon="delete" class="q-mr-sm" @click="deleteBtn()"/>
          <q-btn color="warning" flat round icon="edit" @click="editBtn()"/>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolCode: this.$store.state.system.schoolcode,
      schoolList: [],
      paginationControl: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "academicyear",
          label: "ปีการศึกษา",
          field: "academicyear",
          align: "center",

          style: "width:150px;"
        },
        {
          name: "startdate",
          label: "วันเริ่มต้น",
          field: "startdate",
          align: "center"
        },
        {
          name: "enddate",
          label: "วันสุดท้าย",
          field: "enddate",
          align: "center"
        }
      ],
      academicList: [],
      selectedOne: []
    };
  },

  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu", "setSchoolCode"]),

    addBtn() {
      this.setSchoolCode(this.schoolCode);
      this.$router.push("/academicyear/add/" + this.schoolCode);
    },

    loadSchoolList() {
      //โหลดข้อมูลจาก school จากฐานข้อมูล
      this.schoolList = [];
      let _this = this;
      db.collection("school")
        .orderBy("code", "asc")
        .onSnapshot(function(data) {
          var schoolSnap = [];
          data.forEach(function(doc) {
            let dataKey = {
              label: doc.id + " - " + doc.data().name,
              value: doc.id
            };
            schoolSnap.push(dataKey);
          });
          _this.schoolList = schoolSnap;
          if (_this.$store.state.system.schoolcode.length == 0) {
          } else {
            _this.schoolCode = _this.schoolList[0].value;
          }

          _this.loadAcademicData();
        });
    },

    loadAcademicData() {
      //โหลดข้อมูลจาก school จากฐานข้อมูล

      this.academicList = [];
      let _this = this;
      db.collection("academicyear")
        .where("schoolCode", "==", this.schoolCode)
        .onSnapshot(function(data) {
          var academiclSnap = [];
          data.forEach(function(doc) {
            let dataKey = {
              key: doc.id
            };
            let finalData = { ...doc.data(), ...dataKey };
            academiclSnap.push(finalData);
          });
          _this.academicList = academiclSnap;
          _this.academicList.sort((a, b) => {
            let a1 = Number(a.year);
            let a2 = Number(b.year);
            if (a1 == a2) {
              return Number(a.term) - Number(b.term);
            } else {
              return a1 - a2;
            }
          });
        });
    },

    deleteBtn() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("academicyear")
            .doc(this.selectedOne[0].key)
            .delete()
            .then(() => {
              this.$q.notify({
                color: "secondary",
                icon: "delete",
                message: `ลบข้อมูลเสร็จสิ้น`,
                position: "top",
                timeout: 500
              });
            })
            .then(() => {
              this.selectedOne = [];
            });
        });
    },
    editBtn() {
      this.setSchoolCode(this.schoolCode);
      let schoolKey = this.selectedOne[0].key;
      this.$router.push(
        "/academicyear/edit/" + schoolKey + "/" + this.schoolCode
      );
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(3);
    this.loadSchoolList();
    // this.loadAcademicData()
  }
};
</script>