<template>
  <q-page>
    <q-resize-observer @resize="onResize"/>
    <div class="q-pa-md">
      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">ประเภทโรงเรียน</h5>
        <hr>
        <div class="row q-mb-sm justify-center items-center">
          <div class="col-xl-6 col-xs-12 col-md-6 self-center">
            <q-input
              ref="schooltypename"
              outlined
              class="q-pa-sm"
              label="เพิ่มประเภทโรงเรียน"
              placeholder="เพิ่มประเภทโรงเรียน"
              v-model.trim="schoolType.name"
              @keyup.enter="addBtn()"
              :rules="[val => !!val || 'กรุณากรอกชื่อประเภทโรงเรียน']"
            />
          </div>
        </div>
        <div class="q-mt-lg col-12" align="center">
          <q-btn
            label="ยกเลิก"
            class="q-ma-xs"
            @click="cancelBtn()"
            color="red-7"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
          <q-btn
            label="บันทึก"
            color="teal-5"
            class="q-ma-xs"
            @click="addBtn()"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolType: {
        //ชื่อประเภทโรงเรียนที่ต้องการจะเพิ่ม
        name: ""
      },
      isAddMode: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },

  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    addBtn() {
      this.$refs.schooltypename.validate();
      if (this.$refs.schooltypename.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      if (this.isAddMode) {
        db.collection("schooltype").add(this.schoolType);
        this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
        this.$router.push("/schooltype");
      } else {
        db.collection("schooltype")
          .doc(this.$route.params.id)
          .set(this.schoolType);

        this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
        this.cancelBtn();
      }
    },

    cancelBtn() {
      this.$router.push("/schooltype");
    },

    loaddata() {
      let _this = this;
      db.collection("schooltype")
        .doc(this.$route.params.id)
        .get()
        .then(data => {
          this.schoolType = data.data();
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(3);
    if (this.$route.name == "schooltypeedit") {
      this.loaddata();
      this.isAddMode = false;
    }
  }
};
</script>