<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md">
      <div class="q-pa-md" align="right">
        <q-btn round color="secondary" icon="fas fa-plus" to="/schooltype/add"/>
      </div>
      <div style="clear: both;">
        <q-table
          :data="schoolTypeList"
          :columns="columns"
          row-key="key"
          selection="single"
          :selected.sync="selectedOne"
          class="bg-grey-2"
          :pagination.sync="paginationControl"
          separator="cell"
        >
          <template slot="top-selection" slot-scope="props">
            <div class="col"/>
            <q-btn
              color="negative"
              flat
              round
              icon="delete"
              class="q-title q-mr-sm"
              @click="deleteBtn()"
            />
            <q-btn color="warning" flat round icon="edit" class="q-title" @click="editBtn()"/>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolType: {
        //ชื่อประเภทโรงเรียนที่ต้องการจะเพิ่ม
        name: ""
      },
      schoolTypeList: [],
      columns: [
        {
          name: "no",
          label: "ลำดับ",
          style: "width:120px;",
          align: "center",
          field: "no",
          sortable: false
        },
        {
          name: "name",
          label: "ประเภทโรงเรียน",
          align: "left",

          field: "name",
          sortable: true
        }
      ],
      paginationControl: {
        rowsPerPage: 0
      },
      selectedOne: []
    };
  },

  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    deleteBtn() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("schooltype")
            .doc(this.selectedOne[0].key)
            .delete()
            .then(() => {
              this.$q.notify({
                color: "secondary",
                icon: "delete",
                message: `ลบข้อมูลเสร็จสิ้น`,
                position: "top",
                timeout: 500
              });
            });
          this.selectedOne = [];
        })
        .onCancel(() => {
          this.selectedOne = [];
          return;
        });
    },
    editBtn() {
      this.$router.push("/schooltype/edit/" + this.selectedOne[0].key);
    },

    listenSchoolTypeData() {
      let _this = this;
      db.collection("schooltype")
        .orderBy("name", "asc")
        .onSnapshot(function(data) {
          var no = 1;
          var schooltypeSnap = [];
          data.forEach(function(doc) {
            let dataKey = {
              key: doc.id,
              no: no
            };
            no += 1;
            let finalData = { ...doc.data(), ...dataKey };
            schooltypeSnap.push(finalData);
          });
          _this.schoolTypeList = schooltypeSnap;
        });
    }
  },
  mounted() {
    this.setLinkCode("schooltype");
    this.setLinkMenu(3);
    this.listenSchoolTypeData();
  }
};
</script>