<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md">
      <div class="q-pa-md" align="right">
        <q-btn round color="secondary" icon="fas fa-plus" to="/school/add"/>
      </div>

      <div style="clear: both;">
        <q-table
          :data="schoolList"
          :columns="columns"
          selection="single"
          :selected.sync="selected"
          row-key="code"
          :pagination.sync="paginationControl"
          class="bg-grey-2"
          separator="cell"
        >
          <template slot="top-selection" slot-scope="props">
            <div class="col"/>
            <q-btn
              color="negative"
              flat
              round
              icon="delete"
              class="q-title q-mr-sm"
              @click="deleteBtn()"
            />
            <q-btn color="warning" flat round icon="edit" class="q-title" @click="editBtn()"/>
          </template>

          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td>
              <q-checkbox color="primary" v-model="props.selected"/>
            </q-td>
            <q-td key="code" :props="props">{{ props.row.code }}</q-td>
            <q-td key="name" :props="props">{{ props.row.name }}</q-td>
            <q-td key="schooltype" :props="props">{{ props.row.typeName }}</q-td>
            <q-td key="schoolArea" :props="props">
              <span v-if="props.row.schoolArea">
                <q-icon name="location_on" class="text-h3, text-secondary" style="font-size:32px"/>
              </span>
              <span v-else>
                <q-icon name="location_on" class="text-h3, text-grey" style="font-size:32px"/>
              </span>
            </q-td>
            <q-td key="game" :props="props">
              <span v-if="props.row.game">
                <q-icon name="videogame_asset" class="text-secondary" style="font-size:32px"/>
              </span>
              <span v-else>
                <q-icon name="videogame_asset" class="text-grey" style="font-size:32px"/>
              </span>
            </q-td>
            <q-td key="status" :props="props">
              <span v-if="props.row.status=='ใช้งาน'">
                <q-icon name="done" class="text-h5, text-secondary" style="font-size:32px"/>
              </span>
              <span v-else>
                <q-icon name="done" class="text-h5, text-grey" style="font-size:32px"/>
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
// import tableData from 'assets/table-data'
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      paginationControl: {
        rowsPerPage: 0
      },
      schoolList: [],
      columns: [
        {
          name: "code",
          label: "รหัสโรงเรียน",
          field: "code",
          sortable: true,
          style: "width:130px;",
          align: "center"
        },
        {
          name: "name",
          label: "ชื่อโรงเรียน",
          field: "name",
          sortable: true,
          align: "center"
        },
        {
          name: "schooltype",
          label: "ประเภท",
          field: "schooltype",
          sortable: false,
          style: "width:150px;",
          align: "center"
        },
        {
          name: "schoolArea",
          label: "พื้นที่",
          field: "schoolArea",
          sortable: false,
          style: "width:150px;",
          align: "center"
        },
        {
          name: "game",
          label: "เกมส์",
          field: "game",
          sortable: false,
          style: "width:150px",
          align: "center"
        },
        {
          name: "status",
          label: "สถานะ",
          field: "status",
          sortable: false,
          style: "width:150px;",
          align: "center"
        }
      ],
      selected: []
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    loadDefaultData() {
      //โหลดข้อมูลทั้งหมดจากฐานข้อมูล แล้วเก็บไว้ในตัวแปร schoolList
      this.schoolList = [];
      let _this = this;
      db.collection("school")
        .orderBy("code", "asc")
        .onSnapshot(function(data) {
          var schoolSnap = [];
          data.forEach(async function(doc) {
            let data = await db
              .collection("schooltype")
              .doc(doc.data().type)
              .get();

            let dataType = {
              typeName: data.data().name
            };

            let dataFinal = { ...doc.data(), ...dataType };

            schoolSnap.push(dataFinal);
            schoolSnap.sort((a,b)=>{
              return Number(a.code) - Number(b.code)
            })
          });

          _this.schoolList = schoolSnap;
        });
    },
    deleteBtn() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("school")
            .doc(this.selected[0].code.toString())
            .delete()
            .then(() => {
              this.$q.notify({
                color: "secondary",
                icon: "delete",
                message: `ลบข้อมูลเสร็จสิ้น`,
                position: "top",
                timeout: 500
              });
            })
            .then(() => {
              this.selected = [];
            });
        });
    },
    editBtn() {
      let schoolKey = this.selected[0].code;
      this.$router.push("/school/edit/" + schoolKey);
    }
  },
  mounted() {
    this.setLinkCode("school");
    this.setLinkMenu(3);
    this.loadDefaultData();
  }
};
</script>
