<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">
        ข้อมูลโรงเรียน
        <hr>
      </h5>
      <div class="row">
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-input
            ref="schoolcode"
            outlined
            label="รหัสโรงเรียน"
            class="q-pa-sm"
            type="number"
            v-model.trim="school.code"
            :readonly="!isAddMode"
            :rules="[val => val.length ==3  || 'ค่าระหว่าง 100 - 999']"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-input
            ref="schoolname"
            outlined
            label="ชื่อโรงเรียน"
            class="q-pa-sm"
            v-model.trim="school.name"
            :rules="[val => !!val  || '']"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-select
            emit-value
            map-options
            ref="schooltype"
            outlined
            v-model="school.type"
            label="ประเภทโรงเรียน"
            class="q-pa-sm"
            :options="schoolTypeList"
          />
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-select
            emit-value
            map-options
            ref="status"
            outlined
            v-model="school.status"
            label="สถานะการใช้งาน"
            class="q-pa-sm"
            :options="statusList"
          />
        </div>
        <!-- <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-select
            emit-value
            map-options
            ref="studyplan"
            outlined
            v-model="school.studyplan"
            label="แผนการสอน"
            class="q-pa-sm"
            :options="studyPlanList"
          />
        </div>-->
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-input
            ref="address"
            outlined
            label="ที่อยู่"
            class="q-pa-sm"
            v-model.trim="school.address"
            :rules="[val => !!val  || '']"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-select
            emit-value
            map-options
            ref="province"
            outlined
            v-model="school.province"
            label="จังหวัด"
            class="q-pa-sm"
            :options="provinceList"
          />
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-input
            ref="postalcode"
            type="number"
            outlined
            label="รหัสไปรษณีย์"
            class="q-pa-sm"
            v-model.trim="school.postalCode"
            :rules="[val => val.length == 5  || 'ต้อง 5 ตัวอักษร']"
          ></q-input>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ป.1</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.P1"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ป.2</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.P2"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ป.3</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.P3"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ป.4</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.P4"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ป.5</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.P5"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ป.6</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.P6"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ม.1</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.M1"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ม.2</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.M2"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ม.3</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.M3"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ม.4</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.M4"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ม.5</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.M5"
            />
          </q-toolbar>
        </div>
        <div class="col-lg-2 col-sm-4 col-xs-12 q-pa-sm">
          <q-toolbar>
            <span class="q-pa-sm">ม.6</span>
            <q-select
              emit-value
              map-options
              class="q-pa-sm fit"
              label="Level"
              :options="levelList"
              v-model="school.classroom.M6"
            />
          </q-toolbar>
        </div>
      </div>
      <div class="row q-ma-md">
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-checkbox v-model="school.game" label="ระบบเกมส์"/>
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-checkbox v-model="school.schoolArea" label="ใช้ในพื้นที่โรงเรียนเท่านั้น"/>
        </div>
      </div>

      <div class="row" v-if="school.schoolArea">
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-input
            label="ละติจูด"
            ref="lattitude"
            outlined
            class="q-pa-sm"
            v-model.number="school.latitude"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-input
            label="ลองติจูด"
            ref="longtitude"
            outlined
            class="q-pa-sm"
            v-model.number="school.longtitude"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-select
            ref="radius"
            outlined
            v-model="school.radius"
            label="รัศมี"
            class="q-pa-sm"
            emit-value
            map-options
            :options="radiusList"
          />
        </div>
      </div>

      <div class="row q-mt-sm">
        <div class="col-xs-12 col-sm-12 q-pa-sm">
          <q-input
            ref="remark"
            outlined
            type="textarea"
            class="q-pa-sm"
            label="หมายเหตุ"
            :max-height="100"
            rows="5"
            v-model.trim="school.remark"
          />
        </div>
      </div>

      <div class="q-mt-lg col-12" align="center">
        <q-btn
          label="ยกเลิก"
          class="q-ma-xs"
          @click="cancelBtn()"
          color="red-7"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
        <q-btn
          label="บันทึก"
          color="teal-5"
          class="q-ma-xs"
          @click="saveBtn()"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
import { required, between, minLength } from "vuelidate/lib/validators";

export default {
  data() {
    return {
      school: {
        code: "", //รหัสโรงเรียน
        name: "", //ขื่อโรงเรียน
        type: "", //ประเภทโรงเรียน
        status: "ใช้งาน", //สถานะการใช้งาน
        address: "", //ที่อยู่
        province: "กรุงเทพมหานคร", //จังหวัด
        postalCode: "", //รหัสไปรษณีย์
        game: true, //เปิดปิดระบบเกมส์
        schoolArea: false, //พื้นที่โรงเรียนเท่านั้น
        latitude: "", //ละติจูด
        longtitude: "", //ลองติจูด
        radius: "500", //รัศมี
        remark: "", //หมายเหตุ
        studyplan: "A", //แผนการสอน
        classroom: {
          P1: "none",
          P2: "none",
          P3: "none",
          P4: "none",
          P5: "none",
          P6: "none",
          M1: "none",
          M2: "none",
          M3: "none",
          M4: "none",
          M5: "none",
          M6: "none"
        }
      },
      levelList: [
        { label: "ไม่มีข้อมูล", value: "none" },
        { label: "LV1 - LV2", value: "LV1-LV2" },
        { label: "LV3 - LV4", value: "LV3-LV4" },
        { label: "LV5 - LV6", value: "LV5-LV6" },
        { label: "LV7 - LV8", value: "LV7-LV8" },
        { label: "LV9 - LV10", value: "LV9-LV10" },
        { label: "LV11 - LV12", value: "LV11-LV12" }
      ],
      schoolTypeList: [], //List ประเภทโรงเรียน
      provinceList: [], //List รายชื่อจังหวัด
      isAddMode: true, //โหมดเพิ่มข้อมูล,
      studyPlanList: [
        { value: "A", label: "แผน A (แบบง่าย)" },
        { value: "B", label: "แผน B (แบบยาก)" }
      ],
      statusList: [
        { value: "ใช้งาน", label: "ใช้งาน" },
        { value: "ปิดการใช้งาน", label: "ปิดการใช้งาน" }
      ],
      radiusList: [
        { value: "500", label: "500 m" },
        { value: "1000", label: "1000 m" }
      ],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },

  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    loadSchoolType() {
      //โหลดข้อมูล schoolType
      let _this = this;
      this.schoolType = [];

      db.collection("schooltype")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.id,
              label: doc.data().name
            };

            this.schoolTypeList.push(dataList);
          });
          _this.school.type = this.schoolTypeList[0].value;
        });
    },

    loadProvice() {
      //โหลดข้อมูลจังหวัด
      let _this = this;
      this.provinceList = [];
      db.collection("province")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.id,
              label: doc.data().name
            };
            this.provinceList.push(dataList);
          });
        });
    },

    loadData() {
      let _this = this;

      db.collection("school")
        .doc(this.$route.params.id)
        .get()
        .then(doc => {
          if (doc.data().classroom == undefined) {
            let newData = {
              classroom: this.school.classroom
            };
            let dataFinal = { ...newData, ...doc.data() };

            _this.school = dataFinal;
          } else {
            _this.school = doc.data();
          }
        });
    },

    cancelBtn() {
      this.$router.push("/school");
    },

    loadLevel() {},

    async saveBtn() {
      this.$refs.schoolcode.validate();
      this.$refs.schoolname.validate();
      this.$refs.address.validate();
      this.$refs.postalcode.validate();
      if (
        this.$refs.schoolcode.hasError ||
        this.$refs.schoolname.hasError ||
        this.$refs.address.hasError ||
        this.$refs.postalcode.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      //check existed school code
      // let schoololdcode = await db
      //   .collection("school")
      //   .where("code", "==", this.school.code)
      //   .get();
      // if (schoololdcode.size > 0) {
      //   this.notifyRed("รหัสโรงเรียนนี้ใช้งานแล้ว");
      //   return;
      // }

      //check incase of use in school area only

      if (this.school.schoolArea) {
        if (
          this.school.latitude.length == 0 ||
          this.school.longtitude.length == 0
        ) {
          this.notifyRed("กรุณากรอกข้อมูลละติจูด/ลองติจูด");
          return;
        }
      }

      if (this.isAddMode) {
        console.log(1);
        db.collection("school")
          .doc(this.school.code.toString())
          .get()
          .then(snapshot => {
            if (snapshot.exists) {
              this.notifyRed("มีรหัสโรงเรียนนี้อยู่แล้ว");

              return;
            } else {
              db.collection("school")
                .doc(this.school.code.toString())
                .set(this.school)
                .then(() => {
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อย");

                  this.$router.push("/school");
                });
            }
          });
      } else {
        console.log(2);
        db.collection("school")
          .doc(this.$route.params.id)
          .update(this.school)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อย");

            this.$router.push("/school");
          });
      }
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadSchoolType();
    this.loadProvice();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(3);
    if (this.$route.name == "schooledit") {
      this.loadData();
      this.isAddMode = false;
    }
  }
};
</script>
