<template>
  <q-page id="container">
    <div class="q-pa-md">
      <div class="bg-grey-2">
        <div class="q-pb-sm text-center q-pa-md">
          <h5
            align="center"
            class="no-margin q-pa-sm"
          >
            JSON Export
            <hr>
          </h5>
        </div>

        <div class="row q-pa-md items-start">
          <div
            class='q-pa-md col-3 '
            align="center"
          >
            <!-- โรงเรียน -->
            <div>
              <q-btn
                label="โรงเรียน"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%"
                @click="schoolData()"
              ></q-btn>
            </div>
            <!-- นักเรียน -->
            <div>
              <q-btn
                label="นักเรียน"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%"
                @click="enableSchoolSelected(1)"
              ></q-btn>
              <!-- *เลือกโรงเรียน -->
            </div>
            <!-- คะแนน -->
            <div>
              <q-btn
                label="คะแนน"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%"
                @click="enableSchoolSelected(2)"
              ></q-btn>
              <!-- *เลือกโรงเรียนและปีการศึกษา -->
            </div>
            <!-- Course -->
            <div>
              <q-btn
                label="คอร์ส"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%"
                @click="enableSchoolSelected(3)"
              ></q-btn>
              <!-- *เลือกโรงเรียนและปีการศึกษา -->
            </div>
            <!-- progress -->
            <div>
              <q-btn
                label="Progress"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%"
                @click="enableSchoolSelected(4)"
              ></q-btn>
              <!-- *เลือกโรงเรียนและปีการศึกษา -->
            </div>
            <!-- attendence -->
            <div>
              <q-btn
                label="attendence"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%"
                @click="enableSchoolSelected(5)"
              ></q-btn>
            </div>
            <!-- practilist -->
            <div>
              <q-btn
                label="practicelist"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%"
              ></q-btn>
            </div>
          </div>

          <div class='col-9 row items-center'>
            <div
              class='col-5 q-pa-md'
              v-if="showSchoolSelected"
            >
              <q-select
                :options="schoolOptions"
                map-options
                emit-value
                v-model="schoolSelected"
                @input="loadAcademicYearOptions()"
              >
              </q-select>
            </div>

            <div
              class='col-5 q-pa-md'
              v-if="showSchoolSelected"
            >
              <q-select
                :options="academicYearOptions"
                map-options
                emit-value
                v-model="academicYearSelected"
              >
              </q-select>
            </div>
            <div
              class="col q-pa-md"
              v-if="showSchoolSelected"
            >
              <q-btn
                label="เลือก"
                color="primary"
                class='text-white'
                @click="chooseSchool()"
              ></q-btn>
            </div>
            <div
              class="col-12"
              v-if="showArea"
            >
              <textarea
                name=""
                id=""
                cols="30"
                rows="10"
                v-model="showJsonFinal"
                style="width:100%;max-height:calc(100vh - 400px);height:100vh"
              >
              </textarea>
            </div>

            <div
              class="col-12 q-pa-md"
              align="center"
            >
              <a
                :href="finalLinkDownload"
                style="text-decoration:none;border-radius:15px"
                class='text-white bg-primary q-pa-sm'
              >DOWNLOAD FILE</a>
            </div>
          </div>

          <!-- <p> {{ showJson }} </p> -->

        </div>
      </div>

    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      showJson: [],
      showArea: false,
      showSchoolSelected: false,
      linkDownload: "data:application/octet-stream,",
      schoolOptions: [],
      schoolSelected: "",
      academicYearSelected: "",
      academicYearOptions: [],
      currentList: ""
    };
  },
  methods: {
    loadSchoolOptions() {
      this.loadingSet(1);
      db.collection("school")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let ops = {
              label: element.data().name,
              value: element.id
            };
            this.schoolOptions.push(ops);
          });
          this.schoolSelected = this.schoolOptions[0].value;
          this.loadAcademicYearOptions();
        });
    },
    loadAcademicYearOptions() {
      this.academicYearOptions = [];
      db.collection("academicyear")
        .where("schoolCode", "==", this.schoolSelected)
        .get()
        .then(doc => {
          doc.forEach(element => {
            let ops = {
              label: element.data().academicyear,
              value: element.data().academicyear
            };
            this.academicYearOptions.push(ops);
          });
          this.academicYearSelected = this.academicYearOptions[0].value;
          this.loadingSet(0);
        });
    },
    schoolData() {
      this.loadingSet(1);
      db.collection("school")
        .get()
        .then(doc => {
          this.showArea = true;
          doc.forEach(element => {
            this.showJson.push(JSON.stringify(element.data()));
          });
          this.loadingSet(0);
          this.showArea = true;
        });
    },
    enableSchoolSelected(params) {
      this.showJson = [];
      this.showSchoolSelected = true;
      this.currentList = params;
    },
    studentData() {
      this.loadingSet(1);
      db.collection("school")
        .doc(this.schoolSelected)
        .collection("student")
        .get()
        .then(student => {
          student.forEach(studentData => {
            let dataAdd = {
              studentKey: studentData.id
            };

            let dataFinal = { ...dataAdd, ...studentData.data() };
            console.log(dataFinal);
            this.showJson.push(JSON.stringify(dataFinal));
            this.showArea = true;
          });
          this.loadingSet(0);
        });
    },
    courseData() {
      this.loadingSet(1);
      this.showSchoolSelected = true;
      db.collection("course")
        .where("academicYear", "==", this.academicYearSelected)
        .where("schoolcode", "==", this.schoolSelected)
        .get()
        .then(doc => {
          this.showArea = true;
          doc.forEach(element => {
            this.showJson.push(JSON.stringify(element.data()));
          });
          this.loadingSet(0);
        });
    },
    scoreData() {
      let convertedTerm = this.academicYearSelected.replace("/", "-");
      this.loadingSet(1);
      db.collection("school")
        .doc(this.schoolSelected)
        .collection("student")
        .get()
        .then(doc => {
          doc.forEach(element => {
            db.collection("school")
              .doc(this.schoolSelected)
              .collection("student")
              .doc(element.id)
              .collection("practicelog")
              .doc(convertedTerm)
              .collection("practicescore")
              .get()
              .then(practicescore => {
                practicescore.forEach(element => {
                  let dataAdd = {
                    studentkey: element.id
                  };
                  let dataFinal = { ...dataAdd, ...element.data() };
                  this.showJson.push(JSON.stringify(dataFinal));
                });
                //  this.showArea = true;
                this.loadingSet(0);
              });
          });
        });
    },
    chooseSchool() {
      this.showJson = [];
      if (this.currentList == 1) {
        this.studentData();
      } else if (this.currentList == 3) {
        this.courseData();
      } else if (this.currentList == 2) {
        this.scoreData();
      }
    }
  },
  computed: {
    showJsonFinal() {
      return "[" + this.showJson + "]";
    },
    finalLinkDownload() {
      return this.linkDownload + this.showJsonFinal;
    }
  },
  mounted() {
    this.loadSchoolOptions();
  }
};
</script>

<style>
.brx {
  border: 1px solid red;
}
</style>