<template>
  <div class="bg-print">
    <div size="A4" class="q-pa-md printMe">
      <table class="table">
        <tr class="tr">
          <th class="bg-light-blue-9" style="border-radius:7px 0px 0px 7px;width:250px;">
            <div class="bg-white" style="border-radius:7px;border:2px solid#1D76D0;">
              <img src="../../assets/icon-logo.png" style="width:160px;margin-top:7px;">
            </div>
          </th>
          <th
            class="q-pl-lg q-pr-lg text-white bg-light-blue-9"
            style="border-radius:0px 7px 7px 0px;"
          >
            <div align="center" class="text-h6">
              <span>{{"โรงเรียน" + dataBasic.schoolName}}</span>
            </div>
            <hr class="bg-white">
            <div class="row justify-around text-h6">
              <div>
                ปีการศึกษา :
                <span>{{dataBasic.academicYear}}</span>
              </div>
              <div>
                ห้อง :
                <span>{{dataBasic.classroom}}</span>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <div class="q-mt-md">
              <table class="table-border">
                <tr>
                  <th rowspan="2" style="width:200px;">
                    เปอร์เซ็นต์นักเรียน
                    <br>แยกตามเลเวล
                  </th>
                  <th v-if="dataBasic.classroom[0] == 'ป'">LV 1</th>
                  <th v-if="dataBasic.classroom[0] == 'ป' || dataBasic.classroom[0] == 'ม'">LV 3</th>
                  <th v-if="dataBasic.classroom[0] == 'ป' || dataBasic.classroom[0] == 'ม'">LV 5</th>
                  <th v-if="dataBasic.classroom[0] == 'ม'">LV 7</th>
                </tr>
                <tr>
                  <td v-if="dataBasic.classroom[0] == 'ป'">
                    <div>{{avgLevel.LV1}}</div>
                  </td>
                  <td v-if="dataBasic.classroom[0] == 'ป' || dataBasic.classroom[0] == 'ม'">
                    <div>{{avgLevel.LV3}}</div>
                  </td>
                  <td v-if="dataBasic.classroom[0] == 'ป' || dataBasic.classroom[0] == 'ม'">
                    <div>{{avgLevel.LV5}}</div>
                  </td>
                  <td v-if="dataBasic.classroom[0] == 'ม'">
                    <div>{{avgLevel.LV7}}</div>
                  </td>
                </tr>
              </table>
            </div>
          </th>
        </tr>
        <tr>
          <th colspan="2">
            <div>
              <table class="table-border">
                <thead>
                  <tr>
                    <th colspan="7" style="border:none;">
                      <div class="q-mt-xs"></div>
                    </th>
                  </tr>
                </thead>
                <tr>
                  <th style="width:70px;">
                    <span>เลขที่</span>
                  </th>
                  <th>
                    <span>ชื่อ-นามสกุล</span>
                  </th>
                  <th style="width:70px;" v-if="dataBasic.classroom[0] == 'ป'">
                    <span>LV 1</span>
                  </th>
                  <th style="width:70px;" v-if="dataBasic.classroom[0] == 'ป'">
                    <span>LV 2</span>
                  </th>
                  <th
                    style="width:70px;"
                    v-if="dataBasic.classroom[0] == 'ป' || dataBasic.classroom[0] == 'ม'"
                  >
                    <span>LV 3</span>
                  </th>
                  <th
                    style="width:70px;"
                    v-if="dataBasic.classroom[0] == 'ป' || dataBasic.classroom[0] == 'ม'"
                  >
                    <span>LV 4</span>
                  </th>
                  <th style="width:70px;" v-if="dataBasic.classroom[0] == 'ม'">
                    <span>LV 5</span>
                  </th>
                  <th style="width:70px;" v-if="dataBasic.classroom[0] == 'ม'">
                    <span>LV 6</span>
                  </th>
                  <th style="width:130px;">
                    <span>LV แนะนำ</span>
                  </th>
                </tr>
                <tbody>
                  <tr v-for="(item,index) in dataShow" :key="index">
                    <td>
                      <span>{{item.studentno}}</span>
                    </td>
                    <td align="left">
                      <span>{{item.name}}</span>
                    </td>
                    <td v-if="dataBasic.classroom[0] == 'ป'">
                      <span>{{item.LV1}}</span>
                    </td>
                    <td v-if="dataBasic.classroom[0] == 'ป'">
                      <span>{{item.LV2}}</span>
                    </td>
                    <td v-if="dataBasic.classroom[0] == 'ป' || dataBasic.classroom[0] == 'ม'">
                      <span>{{item.LV3}}</span>
                    </td>
                    <td v-if="dataBasic.classroom[0] == 'ป' || dataBasic.classroom[0] == 'ม'">
                      <span>{{item.LV4}}</span>
                    </td>
                    <td v-if="dataBasic.classroom[0] == 'ม'">
                      <span>{{item.LV5}}</span>
                    </td>
                    <td v-if="dataBasic.classroom[0] == 'ม'">
                      <span>{{item.LV6}}</span>
                    </td>
                    <td>
                      <span>{{item.setlv}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </th>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { setTimeout } from "timers";
export default {
  data() {
    return {
      dataBasic: {
        schoolCode: this.$route.params.schoolcode,
        academicYear: this.$route.params.academicyear.replace("-", "/"),
        classroom: this.$route.params.classroom
          .replace("-", ".")
          .replace("-", "/"),
        schoolName: ""
      },
      dataShow: [],
      avgLevel: {
        LV1: 0 + "%",
        LV3: 0 + "%",
        LV5: 0 + "%",
        LV7: 0 + "%"
      }
    };
  },
  methods: {
    async printBtn() {
      let loadPrint = new Promise(result => {
        result(this.loadBasicData());
      });

      // loadPrint.then(() => {
      //   setTimeout(() => {
      //     window.print();
      //   }, 1500);

      //   setTimeout(() => {
      //     this.$router.push("/placementreport");
      //   }, 3000);
      // });
    },
    async loadBasicData() {
      this.loadingSet(1);

      let loadSchoolData = await db
        .collection("school")
        .doc(this.dataBasic.schoolCode)
        .get();

      this.dataBasic.schoolName = loadSchoolData.data().name;

      let subclass = this.dataBasic.classroom[0];

      await db
        .collection("course")
        .where("academicYear", "==", this.dataBasic.academicYear)
        .where("schoolcode", "==", this.dataBasic.schoolCode)
        .where("room", "==", this.dataBasic.classroom)
        .get()
        .then(getdata => {
          let studentcount;
          getdata.forEach(data => {
            if (data.exists) {
              db.collection("school")
                .doc(data.data().schoolcode)
                .collection("student")
                .doc(data.data().studentid)
                .collection("placementtest")
                .doc("data")
                .get()
                .then(getstudent => {
                  if (getstudent.exists) {
                    let setlv;
                    let sumlv;
                    let avglv;

                    if (
                      getstudent.data().academicYear ==
                      this.dataBasic.academicYear
                    ) {
                        if (subclass == "ป") {
                          let sum12 =
                            getstudent.data().LV1 + getstudent.data().LV2;
                          let sum34 =
                            getstudent.data().LV3 + getstudent.data().LV4;

                          if (sum12 >= 10) {
                            setlv = "LV 3";
                            sumlv = 3;
                            if (sum34 >= 10) {
                              setlv = "LV 5";
                              sumlv = 5;
                            }
                          } else {
                            setlv = "LV 1";
                            sumlv = 1;
                          }
                        }

                        if (subclass == "ม") {
                          let sum34 =
                            getstudent.data().LV3 + getstudent.data().LV4;
                          let sum56 =
                            getstudent.data().LV5 + getstudent.data().LV6;

                          if (sum34 >= 10) {
                            setlv = "LV 5";
                            sumlv = 5;
                            if (sum56 >= 10) {
                              setlv = "LV 7";
                              sumlv = 7;
                            }
                          } else {
                            setlv = "LV 3";
                            sumlv = 3;
                          }
                        }

                      let setdatakey = {
                        studentKey: data.data().studentid,
                        setlv: setlv,
                        sumlv: sumlv
                      };

                      let datafinal = { ...getstudent.data(), ...setdatakey };

                      this.dataShow.push(datafinal);
                      this.dataShow.sort((a, b) => {
                        return Number(a.studentno) - Number(b.studentno);
                      });

                      let sumLV1 = 0;
                      let sumLV3 = 0;
                      let sumLV5 = 0;
                      let sumLV7 = 0;

                      for (let i = 0; i < this.dataShow.length; i++) {
                        if (subclass == "ป") {
                          if (this.dataShow[i].setlv == "LV 1") {
                            sumLV1 += 1;
                          }
                          if (this.dataShow[i].setlv == "LV 3") {
                            sumLV3 += 1;
                          }
                          if (this.dataShow[i].setlv == "LV 5") {
                            sumLV5 += 1;
                          }
                        }

                        if (subclass == "ม") {
                          if (this.dataShow[i].setlv == "LV 3") {
                            sumLV3 += 1;
                          }
                          if (this.dataShow[i].setlv == "LV 5") {
                            sumLV5 += 1;
                          }
                          if (this.dataShow[i].setlv == "LV 7") {
                            sumLV7 += 1;
                          }
                        }
                      }

                      this.avgLevel = {
                        LV1:
                          this.dataShow.length > 0
                            ? ((sumLV1 / this.dataShow.length) * 100).toFixed(
                                0
                              ) + "%"
                            : 0,
                        LV3:
                          this.dataShow.length > 0
                            ? ((sumLV3 / this.dataShow.length) * 100).toFixed(
                                0
                              ) + "%"
                            : 0,
                        LV5:
                          this.dataShow.length > 0
                            ? ((sumLV5 / this.dataShow.length) * 100).toFixed(
                                0
                              ) + "%"
                            : 0,
                        LV7:
                          this.dataShow.length > 0
                            ? ((sumLV7 / this.dataShow.length) * 100).toFixed(
                                0
                              ) + "%"
                            : 0
                      };
                    }
                  }
                  this.loadingSet(0);
                });
            }
          });
          this.loadingSet(0);
        });

      this.loadingSet(0);
    }
  },
  mounted() {
    this.printBtn();
  }
};
</script>

<style scoped>
.brx {
  border: 1px solid#f00;
}
.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  padding: 15px;
  counter-reset: page;
  font-weight: 100;
  font-family: Pridi;
}

.printMe {
  background: white;
  display: block;
  margin: 0 auto;
  margin-top: 0.5mm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table-border {
  width: 100%;
  border-collapse: collapse;
}

.table-border tr th {
  border: 1px solid;
  padding: 10px;
}

.table-border tr td {
  border: 1px solid;
  padding: 10px;
}

.brx {
  border: 1px solid#f00;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    margin-top: 0mm;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  .printMe[size="A4"] {
    width: 210mm;
    height: 297mm;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>

