<template>
  <q-page>
    <div class="q-pa-md">
      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">
          วัดระดับ
          <hr />
        </h5>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <div style="width:90%; margin:auto;">
              <q-select
                v-model="dataInput.schoolCode"
                label="ชื่อโรงเรียน"
                map-options
                emit-value
                :options="schoolList"
                @input="setAcademicYear()"
              >
                <template v-slot:no-option>
                  <q-item>
                    <q-item-section class="text-grey">No results</q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="dataInput.yearCode"
                label="ปีการศึกษา"
                :options="academicList"
              ></q-select>
            </div>
          </div>
        </div>
        <div class="q-mt-lg col-12" align="center">
          <q-btn label="เลือก" color="teal-5" class="q-ma-xs btn-width-l" @click="chooseBtn()" />
        </div>
      </div>

      <div class="bg-grey-2 q-mt-md" v-if="showData">
        <div class="q-pa-sm">
          <q-toolbar class="text-h5 mainbox">
            <div align="center" class="window-width">{{"โรงเรียน" + schoolName}}</div>
            <q-space />
          </q-toolbar>
          <hr />
        </div>
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <div style="width:90%; margin:auto;">
              <q-select
                v-model="dataInput.room"
                label="ห้อง"
                :options="roomList"
                @input="loadStudentScore()"
              ></q-select>
            </div>
          </div>
        </div>
        <q-table
          :data="studentScore"
          :columns="columns"
          row-key="key"
          class="bg-grey-2 q-mt-md"
          separator="cell"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td
              align="center"
              style="text-align:center;"
              key="orderNumber"
            >{{ props.row.studentNo}}</q-td>
            <q-td key="name" style="text-align:left;" :props="props">
              <span>
                <span v-html="props.row.studentName"></span>
              </span>
            </q-td>
            <q-td key="LV1" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv1"></span>
              </div>
            </q-td>
            <q-td key="LV2" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv2"></span>
              </div>
            </q-td>
            <q-td key="LV3" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv3"></span>
              </div>
            </q-td>
            <q-td key="LV4" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv4"></span>
              </div>
            </q-td>
            <q-td key="LV5" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv5"></span>
              </div>
            </q-td>
            <q-td key="LV6" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv6"></span>
              </div>
            </q-td>
            <q-td key="LV7" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv7"></span>
              </div>
            </q-td>
            <q-td key="LV8" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv8"></span>
              </div>
            </q-td>
            <q-td key="LV9" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv9"></span>
              </div>
            </q-td>
            <q-td key="LV10" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv10"></span>
              </div>
            </q-td>
            <q-td key="LV11" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv11"></span>
              </div>
            </q-td>
            <q-td key="LV12" style="text-align:center;" :props="props">
              <div>
                <span v-html="props.row.lv12"></span>
              </div>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      // input
      dataInput: {
        schoolCode: "",
        yearCode: "",
        room: ""
      },
      // array Data
      academicFullList: [],
      schoolFullList: [],
      courseFullList: [],
      courseSelectedList: [], // เลือกเฉพาะห้องที่ต้องการ
      studentFullList: [], //รายชื่อนักเรียนทั้งหมดของโรงเรียน
      // option List
      schoolList: [],
      academicList: [],
      roomList: [],
      //Display
      showData: false,
      // output
      schoolName: "",
      studentScore: [],
      scoreFinal: [],
      columns: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:50px"
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "center"
        },
        {
          name: "LV1",
          label: "LV 1",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV2",
          label: "LV 2",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV3",
          label: "LV 3",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV4",
          label: "LV 4",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV5",
          label: "LV 5",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV6",
          label: "LV 6",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV7",
          label: "LV 7",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV8",
          label: "LV 8",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV9",
          label: "LV 9",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV10",
          label: "LV 10",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV11",
          label: "LV 11",
          align: "center",
          style: "width:30px"
        },
        {
          name: "LV12",
          label: "LV 12",
          align: "center",
          style: "width:30px"
        }
      ]
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    //โหลดรายชื่อโรงเรียน
    async loadSchoolFull() {
      this.schoolFullList = [];
      await db
        .collection("school")
        .get()
        .then(doc => {
          doc.forEach(data => {
            this.schoolFullList.push(data.data());
          });
        });
    },

    //สร้าง school list
    loadSchoolList() {
      this.schoolList = [];
      this.schoolFullList.forEach(data => {
        let temp = {
          label: data.code + "-" + data.name,
          value: data.code
        };
        this.schoolList.push(temp);
      });
      this.dataInput.schoolCode = this.schoolList[0].value;
    },

    //โหลด academic Year
    async loadAcademicYear() {
      this.academicFullList = [];
      await db
        .collection("academicyear")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              id: data.id
            };
            let finalTemp = { ...temp, ...data.data() };
            this.academicFullList.push(finalTemp);
          });

          //sort array order by year -> term
          this.academicFullList.sort((a, b) => {
            if (Number(a.year) != Number(b.year)) {
              return Number(a.year) - Number(b.year);
            } else {
              return Number(a.term) - Number(b.term);
            }
          });
        });
    },

    //set academic Year for ปีการศึกษา dropdown
    setAcademicYear() {
      this.academicList = [];
      let academicTemp = this.academicFullList.filter(
        x => x.schoolCode == this.dataInput.schoolCode
      );
      //set in วัดระดับ option
      academicTemp.forEach(x => {
        this.academicList.push(x.academicyear);
      });
      this.dataInput.yearCode = this.academicList[0];
    },

    //Choose btn
    chooseBtn() {
      this.courseFullList = [];

      //หาชื่อโรงเรียน
      this.schoolName = this.schoolFullList
        .filter(x => x.code == this.dataInput.schoolCode)
        .map(x => x.name);
      //เก็บข้อมูล course
      this.studentFullList = [];
      db.collection("school")
        .doc(this.dataInput.schoolCode)
        .collection("student")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let temp = {
              id: data.id
            };
            let finalTemp = { ...temp, ...data.data() };
            this.studentFullList.push(finalTemp);
          });
          db.collection("course")
            .where("academicYear", "==", this.dataInput.yearCode)
            .where("schoolcode", "==", this.dataInput.schoolCode)
            .get()
            .then(doc => {
              doc.forEach(data => {
                let temp = {
                  id: data.id
                };
                let finalTemp = { ...temp, ...data.data() };
                this.courseFullList.push(finalTemp);
              });
              //หาห้องเรียน
              this.roomList = this.courseFullList.map(x => x.room);
              this.roomList = [...new Set(this.roomList)];
              this.roomList.sort((a, b) => {
                if (a > b) {
                  return 1;
                } else {
                  return -1;
                }
              });
              this.dataInput.room = this.roomList[0];
              this.loadStudentScore();
              this.showData = true;
            });
        });
    },

    loadStudentScore() {
      this.courseSelectedList = this.courseFullList.filter(
        x => x.room == this.dataInput.room
      );
      this.courseSelectedList.sort(
        (a, b) => Number(a.studentno) - Number(b.studentno)
      );
      this.studentScore = [];

      this.courseSelectedList.forEach(x => {
        db.collection("school")
          .doc(this.dataInput.schoolCode)
          .collection("student")
          .doc(x.studentid)
          .collection("placementtest")
          .doc("data")
          .get()
          .then(data => {
            if (data.exists) {
              let placementData = data.data();
              if (placementData.hasOwnProperty("isNew")) {
                if (placementData.isNew) {
                  let temp = {
                    studentNo: placementData.studentno,
                    studentName: placementData.name,
                    lv1: placementData.levelset[0].score,
                    lv2: placementData.levelset[1].score,
                    lv3: placementData.levelset[2].score,
                    lv4: placementData.levelset[3].score,
                    lv5: placementData.levelset[4].score,
                    lv6: placementData.levelset[5].score,
                    lv7: placementData.levelset[6].score,
                    lv8: placementData.levelset[7].score,
                    lv9: placementData.levelset[8].score,
                    lv10: placementData.levelset[9].score,
                    lv11: placementData.levelset[10].score,
                    lv12: placementData.levelset[11].score
                  };
                  this.studentScore.push(temp);
                }
              }
            }
          });
      });
    }
  },

  async mounted() {
    await this.loadSchoolFull();
    await this.loadAcademicYear();
    await this.loadSchoolList();
    this.setAcademicYear();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>

