<template>
  <q-page>
    <q-resize-observer @resize="onResize" />
    <div class="q-pa-md">
      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">
          รายงานผลคะแนน Pre-test / Post-test
          <hr />
        </h5>
        <div class="row gutter-sm">
          <div class="col-xs-12 col-sm-6">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="schoolCode"
                label="ชื่อโรงเรียน"
                :options="schoolList"
                @input="refreshdata()"
              ></q-select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="yearCode"
                label="ปีการศึกษา"
                :options="academicList"
              ></q-select>
            </div>
          </div>
        </div>
        <div class="q-mt-lg col-12" align="center">
          <q-btn
            label="เลือก"
            color="teal-5"
            class="q-ma-xs"
            @click="chooseBtn()"
            :class="{
              'btn-width-s': innerWidth < 550,
              'btn-width-l': innerWidth >= 550
            }"
          />
        </div>
      </div>

      <div class="bg-grey-2 q-mt-md" v-show="showReport">
        <h5 align="center" class="no-margin q-pa-md">
          {{ "โรงเรียน" + schoolName }}
          <hr />
        </h5>

        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="dataBasic.class"
                label="ห้อง"
                :options="dataBasic.classList"
                @input="loadStudentData()"
              ></q-select>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div style="width:90%" align="right">
              <q-btn @click="printReport()" icon="fas fa-print" round class="bg-primary text-white"></q-btn>
            </div>
          </div>
        </div>

        <q-table
          :data="studentData"
          :columns="columns"
          row-key="key"
          class="bg-grey-2 q-mt-md"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td align="center" style="text-align:center;" key="orderNumber">
              {{
              props.row.studentno
              }}
            </q-td>
            <q-td key="name" style="text-align:left;" :props="props">
              <span>{{ props.row.name }} {{ props.row.surname }}</span>
            </q-td>

            <q-td key="pretestAvg" style="text-align:center;" :props="props">
              <span>{{ props.row.pretestAvg }}</span>
              <span v-show="typeof props.row.pretestAvg == 'number'">%</span>
            </q-td>
            <q-td key="posttestAvg" style="text-align:center;" :props="props">
              <span>{{ props.row.posttestAvg }}</span>
              <span v-show="typeof props.row.posttestAvg == 'number'">%</span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolList: [],
      academicList: [],
      schoolCode: "", //โรงเรียนที่ถูกเลือก
      yearCode: 0, //ปีที่ถูกเลือก
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      showReport: false,
      schoolName: "",
      studentData: [],
      pagination: {
        rowsPerPage: 0, // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "เลขที่",
          align: "center",
          style: "width:150px;",
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "center",
          style: "",
          field: "",
        },
        {
          name: "pretestAvg",
          label: "Pre-Test Score",
          align: "center",
          style: "width:150px;",
          field: "",
        },
        {
          name: "posttestAvg",
          label: "Post-Test Score",
          align: "center",
          style: "width:150px;",
          field: "",
        },
      ],
      dataBasic: {
        class: "",
        classList: [],
      },
      pretestSetting: "",
    };
  },
  methods: {
    ...mapActions([
      "setAcademicYear",
      "setSchoolCode",
      "setLinkCode",
      "setLinkMenu",
    ]),
    printReport() {
      let _this = this;
      let data = {
        studentData: this.studentData,
        schoolName: this.schoolName,
        dataBasic: this.dataBasic,
        yearCode: this.yearCode,
      };
      this.$q.localStorage.set("printPrePostData", data);
      let routeData = _this.$router.resolve({
        name: "printPrePostReport",
      });
      window.open(routeData.href, "_blank");
    },
    loadSchoolData() {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .get()
        .then((data) => {
          data.forEach((doc) => {
            let dataList = {
              value: doc.id,
              label: doc.data().code + " - " + doc.data().name,
            };
            this.schoolList.push(dataList);
          });
          this.schoolCode = this.schoolList[0].value;
          this.schoolName = this.schoolList[0].label.slice(5);

          this.refreshdata();
        });
    },

    loadAcademicYear(schoolcode) {
      //โหลดปีการศึกษาเปลี่ยนค่าตามรหัสโรงเรียน
      this.loadingSet(1);
      this.academicList = [];
      this.yearCode = 0;
      var yearcount = 0;
      let _this = this;
      db.collection("academicyear")
        .where("schoolCode", "==", schoolcode)
        .get()
        .then(function (querySnapshot) {
          yearcount = querySnapshot.size;
          querySnapshot.forEach(function (data) {
            let dataList = {
              value: data.id,
              label: data.data().academicyear,
            };
            _this.academicList.push(dataList);
          });
          //เรียงตามเทอมการศึกษา
          _this.academicList.sort((a, b) => {
            let aterm = a.label.slice(0, 1);
            let bterm = b.label.slice(0, 1);
            let ayear = a.label.slice(2, 6);
            let byear = b.label.slice(2, 6);
            let a1 = Number(ayear);
            let a2 = Number(byear);
            if (a1 == a2) {
              return Number(aterm) - Number(bterm);
            } else {
              return a1 - a2;
            }
          });
          if (yearcount == 0) {
            let data = {
              value: "0",
              label: "ไม่มีข้อมูล",
            };
            _this.academicList.push(data);
            _this.yearCode = "0";
          } else {
            _this.yearCode = _this.academicList[yearcount - 1].value;
          }

          _this.loadRoomData();
          _this.loadingSet(0);
        });
    },
    refreshdata() {
      //ถูกเรียกเมือการเปลี่ยนชื่อโรงเรียน
      this.showReport = false;
      this.loadAcademicYear(this.schoolCode);
    },
    async loadRoomData() {
      this.dataBasic.classList = [];

      let convertedAcademicYear = this.yearCode.slice(4).replace("_", "/");
      // Load : Room Data
      let loadRoomData = await db
        .collection("academicyear")
        .where("schoolCode", "==", this.schoolCode)
        .where("academicyear", "==", convertedAcademicYear)
        .get();

      for (const doc of loadRoomData.docs) {
        let newDoc = doc.data();
        for (let roomSet in newDoc) {
          for (let i = 1; i <= 6; i++) {
            let newRoomP = "roomP" + i;

            if (roomSet == newRoomP) {
              let newDocRoom = newDoc[roomSet];
              let newObjRoom;
              for (let j = 1; j <= newDocRoom; j++) {
                newObjRoom = {
                  label: "ป." + i + "/" + j,
                  value: "ป." + i + "/" + j,
                };
                this.dataBasic.classList.push(newObjRoom); // Push : Class Room List - ป.
              }
            }
          }
        }

        for (let roomSet in newDoc) {
          for (let i = 1; i <= 6; i++) {
            let newRoomM = "roomM" + i;

            if (roomSet == newRoomM) {
              let newDocRoom = newDoc[roomSet];
              let newObjRoom;
              for (let j = 1; j <= newDocRoom; j++) {
                newObjRoom = {
                  label: "ม." + i + "/" + j,
                  value: "ม." + i + "/" + j,
                };
                this.dataBasic.classList.push(newObjRoom); // Push : Class Room List - ม.
              }
            }
          }
        }
        this.dataBasic.class = this.dataBasic.classList[0].value; //Show : Class Room List First Row
      }
    },
    async loadStudentData() {
      this.loadingSet(1);
      let convertedAcademicYear = this.yearCode.slice(4).replace("_", "/");
      let roomConverted = this.dataBasic.class.substring(0, 3);
      this.studentData = [];
      let pretestKey;
      let posttestKey;
      let loadPretestKey = await db
        .collection("preposttest")
        .where("academicYear", "==", convertedAcademicYear)
        .where("schoolCode", "==", this.schoolCode)
        .where("room", "==", roomConverted)
        .where("preposttest", "==", "Pre-test")
        .get();

      let loadPostTestKey = await db
        .collection("preposttest")
        .where("academicYear", "==", convertedAcademicYear)
        .where("schoolCode", "==", this.schoolCode)
        .where("room", "==", roomConverted)
        .where("preposttest", "==", "Post-test")
        .get();

      loadPretestKey.forEach((element) => {
        pretestKey = element.id;
      });

      loadPostTestKey.forEach((element) => {
        posttestKey = element.id;
      });

      if (!posttestKey) {
        posttestKey = "xx";
      }

      db.collection("course")
        .where("schoolcode", "==", this.schoolCode)
        .where("academicYear", "==", convertedAcademicYear)
        .where("room", "==", this.dataBasic.class)
        .get()
        .then((doc) => {
          doc.forEach((element) => {
            db.collection("school")
              .doc(this.schoolCode)
              .collection("student")
              .doc(element.data().studentid)
              .get()
              .then(async (student) => {
                // NOTE โหลดเฉพาะปีการศึกษา 1/2562
                if (convertedAcademicYear == "1/2562") {
                  let getPrePosttestData = await db
                    .collection("school")
                    .doc(this.schoolCode)
                    .collection("student")
                    .doc(element.data().studentid)
                    .collection("pretestlog")
                    .doc(pretestKey)
                    .get();
                  let getPosttestData = await db
                    .collection("pretestposttestlog")
                    .where("academicyear", "==", convertedAcademicYear)
                    .where("schoolcode", "==", this.schoolCode)
                    .where("studentid", "==", element.data().studentid)
                    .where("testType", "==", "postTest")
                    .where("studentroom", "==", this.dataBasic.class)
                    .where("status", "==", "pass")
                    .get();
                  if (getPrePosttestData.exists) {
                    let totalQuestion = getPrePosttestData.data().totalQuestion;
                    // console.log(totalQuestion);
                    db.collection("school")
                      .doc(this.schoolCode)
                      .collection("student")
                      .doc(element.data().studentid)
                      .collection("pretestlog")
                      .doc(pretestKey)
                      .collection("score")
                      .doc("data")
                      .get()
                      .then((pretestScoreData) => {
                        // load pretest score
                        let pretestAvgScore;
                        if (pretestScoreData.exists) {
                          let summaryScore =
                            pretestScoreData.data().grammarscore +
                            pretestScoreData.data().listeningscore +
                            pretestScoreData.data().readingscore +
                            pretestScoreData.data().vocabscore +
                            pretestScoreData.data().writingscore;
                          let pretestAvg = (
                            (summaryScore * 100) /
                            totalQuestion
                          ).toFixed(0);
                          pretestAvgScore = {
                            pretestAvg: Number(pretestAvg),
                          };
                        } else {
                          pretestAvgScore = {
                            pretestAvg: "-",
                          };
                        }

                        // load posttest score

                        db.collection("pretestposttestlog")
                          .where("academicyear", "==", convertedAcademicYear)
                          .where("schoolcode", "==", this.schoolCode)
                          .where("studentid", "==", element.data().studentid)
                          .where("testType", "==", "postTest")
                          .where("studentroom", "==", this.dataBasic.class)
                          .where("status", "==", "pass")
                          .get()
                          .then((resultPost) => {
                            let posttestAvgScore;
                            if (resultPost.size > 0) {
                              resultPost.forEach((getPost) => {
                                let posttestScore =
                                  getPost.data().grammarscore +
                                  getPost.data().listeningscore +
                                  getPost.data().readingscore +
                                  getPost.data().vocabscore +
                                  getPost.data().writingscore;
                                let posttestAvg = (
                                  (posttestScore /
                                    getPost.data().totalQuestion) *
                                  100
                                ).toFixed(0);
                                posttestAvgScore = {
                                  posttestAvg: Number(posttestAvg),
                                };
                              });
                            } else {
                              posttestAvgScore = {
                                posttestAvg: "-",
                              };
                            }

                            let dataFinal = {
                              ...student.data(),
                              ...element.data(),
                              ...pretestAvgScore,
                              ...posttestAvgScore,
                            };
                            this.studentData.push(dataFinal);
                            this.studentData.sort((a, b) => {
                              return a.studentno - b.studentno;
                            });
                          });
                      });
                  } else {
                    // กรณียังไม่ได้ทำ Pretest / Posttest

                    if (getPosttestData.size) {
                      // กรณีมี PosttestData แต่ไม่มี Pretest Data
                      let pretestAvgScore = {
                        pretestAvg: "-",
                      };
                      db.collection("pretestposttestlog")
                        .where("academicyear", "==", convertedAcademicYear)
                        .where("schoolcode", "==", this.schoolCode)
                        .where("studentid", "==", element.data().studentid)
                        .where("testType", "==", "postTest")
                        .where("studentroom", "==", this.dataBasic.class)
                        .where("status", "==", "pass")
                        .get()
                        .then((resultPost) => {
                          let posttestAvgScore;
                          if (resultPost.size > 0) {
                            resultPost.forEach((getPost) => {
                              let posttestScore =
                                getPost.data().grammarscore +
                                getPost.data().listeningscore +
                                getPost.data().readingscore +
                                getPost.data().vocabscore +
                                getPost.data().writingscore;
                              let posttestAvg = (
                                (posttestScore / getPost.data().totalQuestion) *
                                100
                              ).toFixed(0);
                              posttestAvgScore = {
                                posttestAvg: Number(posttestAvg),
                              };
                            });
                          } else {
                            posttestAvgScore = {
                              posttestAvg: "-",
                            };
                          }

                          let dataFinal = {
                            ...student.data(),
                            ...element.data(),
                            ...pretestAvgScore,
                            ...posttestAvgScore,
                          };
                          this.studentData.push(dataFinal);
                          this.studentData.sort((a, b) => {
                            return a.studentno - b.studentno;
                          });
                        });
                    } else {
                      // กรณีไม่มีทั้ง Posttest และ Pretest
                      let posttestAvgScore = {
                        posttestAvg: "-",
                      };
                      let pretestAvgScore = {
                        pretestAvg: "-",
                      };
                      let dataFinal = {
                        ...student.data(),
                        ...element.data(),
                        ...pretestAvgScore,
                        ...posttestAvgScore,
                      };
                      this.studentData.push(dataFinal);
                      this.studentData.sort((a, b) => {
                        return a.studentno - b.studentno;
                      });
                    }
                  }
                }
                // NOTE โหลดปีการศึกษา 2/2562 เป็นต้นไปที่มีการเปลื่ยนแปลง
                else {
                  // load posttest score

                  db.collection("pretestposttestlog")
                    .where("academicyear", "==", convertedAcademicYear)
                    .where("schoolcode", "==", this.schoolCode)
                    .where("studentid", "==", element.data().studentid)
                    .where("studentroom", "==", this.dataBasic.class)
                    .where("status", "==", "pass")
                    .get()
                    .then((result) => {
                      let pretestAvgScore;
                      let posttestAvgScore;
                      if (result.size > 0) {
                        result.forEach((getData) => {
                          if (getData.data().testType == "preTest") {
                            let pretestScore =
                              getData.data().grammarscore +
                              getData.data().listeningscore +
                              getData.data().readingscore +
                              getData.data().vocabscore +
                              getData.data().writingscore;
                            let pretestAvg = (
                              (pretestScore / getData.data().totalQuestion) *
                              100
                            ).toFixed(0);
                            pretestAvgScore = {
                              pretestAvg: Number(pretestAvg),
                            };
                          } else {
                            let posttestScore =
                              getData.data().grammarscore +
                              getData.data().listeningscore +
                              getData.data().readingscore +
                              getData.data().vocabscore +
                              getData.data().writingscore;
                            let posttestAvg = (
                              (posttestScore / getData.data().totalQuestion) *
                              100
                            ).toFixed(0);
                            posttestAvgScore = {
                              posttestAvg: Number(posttestAvg),
                            };
                          }
                        });
                      } else {
                        pretestAvgScore = {
                          pretestAvg: "-",
                        };
                        posttestAvgScore = {
                          posttestAvg: "-",
                        };
                      }

                      let dataFinal = {
                        ...student.data(),
                        ...element.data(),
                        ...pretestAvgScore,
                        ...posttestAvgScore,
                      };
                      this.studentData.push(dataFinal);
                      this.studentData.sort((a, b) => {
                        return a.studentno - b.studentno;
                      });
                    });
                }
              });
          });
          this.loadingSet(0);
        });
    },
    chooseBtn() {
      // this.setAcademicYear(this.yearCode);
      // this.setSchoolCode(this.schoolCode);
      // this.$router.push("student/list");
      this.showReport = true;
      let indexOfList = this.schoolList.findIndex(
        (x) => x.value == this.schoolCode
      );
      this.schoolName = this.schoolList[indexOfList].label.slice(5);
      this.loadStudentData();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    },
  },
  mounted() {
    this.loadSchoolData();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  },
};
</script>
