<template>
  <div class="bg-print">
    <div class="printMe q-pa-md" size="A4">
      <table style="width:100%;border-collapse: collapse">
        <tr class="tr">
          <th class="bg-light-blue-9" style="border-radius:7px 0px 0px 7px;width:250px;">
            <div class="bg-white" style="border-radius:7px;border:2px solid#1D76D0;">
              <img src="../../assets/icon-logo.png" style="width:160px;margin-top:7px;" />
            </div>
          </th>
          <th
            class="q-pl-lg q-pr-lg text-white bg-light-blue-9"
            style="border-radius:0px 7px 7px 0px;"
          >
            <div align="center" class="text-h6">
              <span>{{"โรงเรียน" + schoolName}}</span>
            </div>
            <hr class="bg-white" />
            <div class="row justify-around text-h6">
              <div>
                ปีการศึกษา :
                <span>{{yearCode.slice(4).replace("_","/")}}</span>
              </div>
              <div>
                ห้อง :
                <span>{{dataBasic.class}}</span>
              </div>
            </div>
          </th>
        </tr>
      </table>
      <table class="table-border" style="width:100%">
        <thead>
          <tr>
            <th colspan="4" style="border:none;">
              <div class="q-mt-xs"></div>
            </th>
          </tr>
        </thead>
        <tr>
          <th>เลขที่</th>
          <th>ชื่อ-นามสกุล</th>
          <th>Pre-Test Score</th>
          <th>Post-Test Score</th>
        </tr>
        <tr v-for="(data,index) in studentData" :key="index">
          <td align="center">{{ data.studentno }}</td>
          <td>{{ data.name }} {{ data.surname }}</td>
          <td align="center">
            {{ data.pretestAvg }}
            <span v-show="typeof data.pretestAvg == 'number'">%</span>
          </td>
          <td align="center">
            {{ data.posttestAvg }}
            <span v-show="typeof data.posttestAvg == 'number'">%</span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'PageName',
  data() {
    return {
      studentData: this.$q.localStorage.getItem("printPrePostData").studentData,
      schoolName: this.$q.localStorage.getItem("printPrePostData").schoolName,
      dataBasic: this.$q.localStorage.getItem("printPrePostData").dataBasic,
      yearCode: this.$q.localStorage.getItem("printPrePostData").yearCode
    };
  }
};
</script>

<style>
body {
  background: rgb(204, 204, 204);
}
.table-border {
  width: 100%;
  border-collapse: collapse;
}

.table-border tr th {
  border: 1px solid;
  padding: 10px;
}

.table-border tr td {
  border: 1px solid;
  padding: 10px;
}
.bg-print {
  background: rgb(204, 204, 204);
  min-height: 100vh;
  max-height: fit-content;
  counter-reset: page;
}
.printMe {
  background: white;
  display: block;
  margin: 15px auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  font-family: Pridi;
}

.printMe[size="A4"] {
  width: 210mm;
  min-height: 297mm;
  max-height: fit-content;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  #printBtn {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>
