<template>
  <q-page class="bg-grey-2 q-pa-md">
    <div class="q-ma-md row">
      <div>
        <q-select
          filled
          v-model="school"
          :options="schoolCode"
          style="width: 450px"
          label="โรงเรียน"
          emit-value
          map-options
          @input="showResult = 0,gradeResultShow = false"
        />
      </div>
      <div class="q-ml-md">
        <q-select
          filled
          v-model="academicYear"
          :options="academicList"
          style="width: 150px"
          label="ปีการศึกษา"
        ></q-select>
      </div>
    </div>
    <div>
      <!-- controller -->
      <div class="q-ma-md">
        <q-btn color="deep-orange" glossy @click="studentNumber">คำนวณ</q-btn>
      </div>

      <!-- result -->
      <div class="row">
        <div v-show="showResult==1" class="q-ma-md">
          <table>
            <tr>
              <td>ระดับชั้น</td>
              <td>จำนวนนักเรียน</td>
              <td>Level</td>
              <td>รายละเอียด</td>
            </tr>
            <tr v-for="(item,index) in roomResultList" :key="index">
              <td>{{item.roomName}}</td>
              <td>{{item.numberOfStudent}}</td>
              <td>{{item.level}}</td>
              <td>
                <q-btn @click="runprogress(item.grade,item.room)">
                  <span class="text-primary">
                    <u>รายละเอียด</u>
                  </span>
                </q-btn>
              </td>
            </tr>
          </table>
          <br />
          จำนวนนักเรียน {{studentTotal}} คน
        </div>
        <div v-show="gradeResultShow">
          {{gradeName(grade)}}/{{room}}
          <br />ความก้าวหน้า
          <br />
          <table>
            <tr>
              <td>V</td>
              <td>G</td>
              <td>R</td>
              <td>W</td>
              <td>LS</td>
              <td>Total</td>
            </tr>
            <tr>
              <td>{{showDigit((vocabUnit / vocabCount)/vocabTotal *100)}}</td>
              <td>{{showDigit((grammarUnit / grammarCount)/grammarTotal *100)}}</td>
              <td>{{showDigit((readingUnit / readingCount)/readingTotal *100)}}</td>
              <td>{{showDigit((writingUnit / writingCount)/writingTotal *100)}}</td>
              <td>{{showDigit((listeningUnit / listeningCount)/listeningTotal *100)}}</td>
              <td>{{showDigit((unitdata / vocabCount)/unittotal *100)}}</td>
            </tr>
          </table>
          <br />คะแนนเฉลี่ย
          <br />
          <table>
            <tr>
              <td>V</td>
              <td>G</td>
              <td>R</td>
              <td>W</td>
              <td>LS</td>
              <td>Total</td>
            </tr>
            <tr>
              <td>{{showDigit((vocabScore / vocabScoreCount))}}</td>
              <td>{{showDigit((grammarScore / grammarScoreCount))}}</td>
              <td>{{showDigit((readingScore / readingScoreCount))}}</td>
              <td>{{showDigit((writingScore / writingScoreCount))}}</td>
              <td>{{showDigit((listeningScore /listeningScoreCount))}}</td>
              <td>{{showDigit((vocabScore / vocabScoreCount + grammarScore / grammarScoreCount + readingScore / readingScoreCount + writingScore / writingScoreCount + listeningScore /listeningScoreCount )/5)}}</td>
            </tr>
          </table>
          <br />คะแนน pre/post test
          <br />
          <table>
            <tr>
              <td>Pretest {{pretestScoreCount}}</td>
              <td>Posttest {{posttestScoreCount}}</td>
            </tr>
            <tr>
              <td class>{{showDigit(pretestScore / pretestScoreCount)}}</td>
              <td class>{{showDigit(posttestScore / posttestScoreCount)}}</td>
            </tr>
          </table>
          <br />ความพึ่งพอใจ :
          <table>
            <tr>
              <td>
                <span>คำถาม</span>
              </td>
              <td>
                <span>จำนวนคนตอบ</span>
              </td>
              <td>
                <span>ไม่ชอบ</span>
              </td>
              <td>
                <span>เฉยๆ</span>
              </td>
              <td>
                <span>ชอบ</span>
              </td>
            </tr>
            <tr v-for="(item,index) in questionaireList" :key="index">
              <td>
                <div align="left">
                  <span>{{item.question}}</span>
                </div>
              </td>
              <td>
                <span>{{item.studentno}}</span>
              </td>
              <td>
                <span>{{showDigit(item.score1 / item.studentno *100)}}</span>
              </td>
              <td>
                <span>{{showDigit(item.score2 / item.studentno *100)}}</span>
              </td>
              <td>
                <span>{{showDigit(item.score3 / item.studentno *100)}}</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      school: "100",
      schoolCode: [],
      showResult: 0,
      academicYear: "1/2562",
      academicList: ["1/2562", "2/2562", "1/2563"],
      roomList: [],
      roomResultList: [],
      studentTotal: 0,
      vocabUnit: 0,
      vocabCount: 0,
      vocabTotal: 36,
      grammarUnit: 0,
      grammarCount: 0,
      grammarTotal: 24,
      readingUnit: 0,
      readingCount: 0,
      readingTotal: 12,
      writingUnit: 0,
      writingCount: 0,
      writingTotal: 24,
      listeningUnit: 0,
      listeningCount: 0,
      listeningTotal: 36,
      unitdata: 0,
      unittotal: 120,
      gradeResultShow: false,
      grade: 0,
      room: 0,

      vocabScore: 0,
      vocabScoreCount: 0,
      grammarScore: 0,
      grammarScoreCount: 0,
      readingScore: 0,
      readingScoreCount: 0,
      readingScore: 0,
      readingScoreCount: 0,
      writingScore: 0,
      writingScoreCount: 0,
      listeningScore: 0,
      listeningScoreCount: 0,

      // Pretest Score
      pretestScore: 0,
      pretestScoreCount: 0,

      // Posttest Score

      posttestScore: 0,
      posttestScoreCount: 0,

      // QuestionNaire
      questionaireList: []
    };
  },
  methods: {
    ...mapActions([
      "setAcademicYear",
      "setSchoolCode",
      "setLinkCode",
      "setLinkMenu"
    ]),
    //โหลดชื่อโรงเรียน
    loadSchoolName() {
      db.collection("school")
        .orderBy("code")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let dataKey = {
              label: data.data().code + "-" + data.data().name,
              value: data.data().code
            };
            this.schoolCode.push(dataKey);
          });
        });
    },
    loadQuestionaire() {
      this.questionaireList = [];
      db.collection("questionaire")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let dataKey = {
              key: data.id,
              question: data.data().question,
              order: data.data().order,
              score1: 0,
              score2: 0,
              score3: 0,
              studentno: 0
            };

            this.questionaireList.push(dataKey);
          });

          this.questionaireList.sort((a, b) => {
            return a.order - b.order;
          });
        });
    },
    //จำนวนนักเรียน
    studentNumber() {
      this.loadQuestionaire();

      console.clear();

      this.showResult = 1;
      this.studentTotal = 0;
      let docName = this.school + "_" + this.academicYear.replace("/", "_");
      db.collection("academicyear")
        .doc(docName)
        .get()
        .then(data => {
          // สร้าง room list
          for (let i = 0; i < 12; i++) {
            this.roomList[i] = 0;
          }

          if (data.data().isP1) {
            this.roomList[0] = data.data().roomP1;
          }
          if (data.data().isP2) {
            this.roomList[1] = data.data().roomP2;
          }
          if (data.data().isP3) {
            this.roomList[2] = data.data().roomP3;
          }
          if (data.data().isP4) {
            this.roomList[3] = data.data().roomP4;
          }
          if (data.data().isP5) {
            this.roomList[4] = data.data().roomP5;
          }
          if (data.data().isP6) {
            this.roomList[5] = data.data().roomP6;
          }
          if (data.data().isM1) {
            this.roomList[6] = data.data().roomM1;
          }
          if (data.data().isM2) {
            this.roomList[7] = data.data().roomM2;
          }
          if (data.data().isM3) {
            this.roomList[8] = data.data().roomM3;
          }
          if (data.data().isM4) {
            this.roomList[9] = data.data().roomM4;
          }
          if (data.data().isM5) {
            this.roomList[10] = data.data().roomM5;
          }
          if (data.data().isM6) {
            this.roomList[11] = data.data().roomM6;
          }
          this.roomResultList = [];
          for (let i = 0; i < 12; i++) {
            if (this.roomList[i] > 0) {
              for (let j = 1; j <= this.roomList[i]; j++) {
                db.collection("course")
                  .where("academicYear", "==", this.academicYear)
                  .where("schoolcode", "==", this.school)
                  .where("room", "==", this.gradeName(i) + "/" + j)
                  .get()
                  .then(doc => {
                    let leveldata = 1;
                    doc.forEach(data => {
                      leveldata = data.data().grammarlv;
                      return;
                    });
                    let dataKey = {
                      roomName: this.gradeName(i) + "/" + j,
                      numberOfStudent: doc.size,
                      level: leveldata,
                      grade: i,
                      room: j
                    };
                    this.roomResultList.push(dataKey);
                    this.studentTotal += doc.size;
                  });
              }
            }
          }
        });
    },
    async runprogress(grade, room) {
      this.loadQuestionaire();
      this.grade = grade;
      this.room = room;
      this.gradeResultShow = true;
      this.vocabUnit = 0;
      this.vocabCount = 0;
      this.grammarUnit = 0;
      this.grammarCount = 0;
      this.readingUnit = 0;
      this.readingCount = 0;
      this.listeningUnit = 0;
      this.listeningCount = 0;
      this.writingUnit = 0;
      this.writingCount = 0;
      this.unitdata = 0;
      this.vocabScore = 0;
      this.vocabScoreCount = 0;
      this.grammarScore = 0;
      this.grammarScoreCount = 0;
      this.readingScore = 0;
      this.readingScoreCount = 0;
      this.writingScore = 0;
      this.writingScoreCount = 0;
      this.listeningScore = 0;
      this.listeningScoreCount = 0;
      this.pretestScore = 0;
      this.pretestScoreCount = 0;

      this.posttestScore = 0;
      this.posttestScoreCount = 0;

      let pretestId = "";

      if (this.academicYear == "1/2562") {
        let pretestData = await db
          .collection("preposttest")
          .where("academicYear", "==", this.academicYear)
          .where("schoolCode", "==", this.school)
          .where("room", "==", this.gradeName(grade))
          .get();

        pretestId = pretestData.docs[0].id;
      }

      let docData = await db
        .collection("course")
        .where("academicYear", "==", this.academicYear)
        .where("schoolcode", "==", this.school)
        .where("room", "==", this.gradeName(grade) + "/" + room)
        .get();

      docData.forEach(async data3 => {
        let studentId = data3.data().studentid;

        let docData2 = await db
          .collection("school")
          .doc(this.school)
          .collection("student")
          .doc(studentId)
          .collection("progress")
          .doc(this.academicYear.replace("/", "-"))
          .get();

        if (docData2.exists) {
          if (
            docData2.data().vocabulary >= 0 ||
            docData2.data().vocabulary != undefined
          ) {
            this.vocabUnit += docData2.data().vocabulary;
            this.vocabCount += 1;
            this.unitdata += docData2.data().vocabulary;
          }
          if (
            docData2.data().grammar >= 0 ||
            docData2.data().grammar != undefined
          ) {
            this.grammarUnit += docData2.data().grammar;
            this.grammarCount += 1;
            this.unitdata += docData2.data().grammar;
          }
          if (
            docData2.data().reading >= 0 ||
            docData2.data().reading != undefined
          ) {
            this.readingUnit += docData2.data().reading;
            this.readingCount += 1;
            this.unitdata += docData2.data().reading;
          }
          if (
            docData2.data().writing >= 0 ||
            docData2.data().writing != undefined
          ) {
            this.writingUnit += docData2.data().writing;
            this.writingCount += 1;
            this.unitdata += docData2.data().writing;
          }
          if (
            docData2.data().listening >= 0 ||
            docData2.data().listening != undefined
          ) {
            this.listeningUnit += docData2.data().listening;
            this.listeningCount += 1;
            this.unitdata += docData2.data().listening;
          }
        }

        let docData3 = await db
          .collection("school")
          .doc(this.school)
          .collection("student")
          .doc(studentId)
          .collection("practicelog")
          .doc(this.academicYear.replace("/", "-"))
          .collection("practicescore")
          .where("world", "==", "Vocabulary")
          .get();

        docData3.forEach(data4 => {
          if (data4.data().practicetype != "Flashcard") {
            this.vocabScore += data4.data().score;
            this.vocabScoreCount += 1;
          }
        });

        let docData4 = await db
          .collection("school")
          .doc(this.school)
          .collection("student")
          .doc(studentId)
          .collection("practicelog")
          .doc(this.academicYear.replace("/", "-"))
          .collection("practicescore")
          .where("world", "==", "Grammar")
          .get();

        docData4.forEach(data5 => {
          if (data5.data().practicetype != "VDO Teaching") {
            this.grammarScore += data5.data().score;
            this.grammarScoreCount += 1;
          }
        });

        let docData5 = await db
          .collection("school")
          .doc(this.school)
          .collection("student")
          .doc(studentId)
          .collection("practicelog")
          .doc(this.academicYear.replace("/", "-"))
          .collection("practicescore")
          .where("world", "==", "Reading")
          .get();

        docData5.forEach(data6 => {
          this.readingScore += data6.data().score;
          this.readingScoreCount += 1;
        });

        let docData6 = await db
          .collection("school")
          .doc(this.school)
          .collection("student")
          .doc(studentId)
          .collection("practicelog")
          .doc(this.academicYear.replace("/", "-"))
          .collection("practicescore")
          .where("world", "==", "Writing")
          .get();

        docData6.forEach(data7 => {
          this.writingScore += data7.data().score;
          this.writingScoreCount += 1;
        });

        let docData7 = await db
          .collection("school")
          .doc(this.school)
          .collection("student")
          .doc(studentId)
          .collection("practicelog")
          .doc(this.academicYear.replace("/", "-"))
          .collection("practicescore")
          .where("world", "==", "Listening")
          .get();

        docData7.forEach(data8 => {
          if (data8.data().practicetype != "VDO Teaching") {
            this.listeningScore += data8.data().score;
            this.listeningScoreCount += 1;
          }
        });

        if (this.academicYear == "1/2562") {
          let pretestCheck = await db
            .collection("school")
            .doc(this.school)
            .collection("student")
            .doc(studentId)
            .collection("pretestlog")
            .doc(pretestId)
            .get();

          if (pretestCheck.exists) {
            if (pretestCheck.data().status == "pass") {
              let docData8 = await db
                .collection("school")
                .doc(this.school)
                .collection("student")
                .doc(studentId)
                .collection("pretestlog")
                .doc(pretestId)
                .collection("score")
                .doc("data")
                .get();

              if (docData8.exists) {
                let pretestTemp =
                  ((docData8.data().grammarscore +
                    docData8.data().listeningscore +
                    docData8.data().readingscore +
                    docData8.data().vocabscore +
                    docData8.data().writingscore) /
                    pretestCheck.data().totalQuestion) *
                  100;

                if (!isNaN(pretestTemp)) {
                  this.pretestScore += pretestTemp;
                  this.pretestScoreCount += 1;
                }
              }
            }
          }
        }

        let docData9 = await db
          .collection("pretestposttestlog")
          .where("studentid", "==", studentId)
          .where("academicyear", "==", this.academicYear)
          .get();

        docData9.forEach(data9 => {
          if (data9.data().testType == "postTest") {
            let pogscore = 0;
            let povscore = 0;
            let polscore = 0;
            let porscore = 0;
            let powscore = 0;

            if (data9.data().status != "failed") {
              if (data9.data().grammarscore == undefined) {
                pogscore = 0;
              } else {
                pogscore = data9.data().grammarscore;
              }

              if (data9.data().vocabscore == undefined) {
                povscore = 0;
              } else {
                povscore = data9.data().vocabscore;
              }

              if (data9.data().listeningscore == undefined) {
                polscore = 0;
              } else {
                polscore = data9.data().listeningscore;
              }

              if (data9.data().readingscore == undefined) {
                porscore = 0;
              } else {
                porscore = data9.data().readingscore;
              }

              if (data9.data().writingscore == undefined) {
                powscore = 0;
              } else {
                powscore = data9.data().writingscore;
              }

              if (
                ((pogscore + povscore + polscore + porscore + powscore) / 30) *
                  100 >
                10
              ) {
                this.posttestScore +=
                  ((pogscore + povscore + polscore + porscore + powscore) /
                    30) *
                  100;

                this.posttestScoreCount += 1;
              }
            }
          }

          if (data9.data().testType == "preTest") {
            let prgscore = 0;
            let prvscore = 0;
            let prlscore = 0;
            let prrscore = 0;
            let prwscore = 0;

            if (data9.data().status != "failed") {
              if (data9.data().grammarscore == undefined) {
                prgscore = 0;
              } else {
                prgscore = data9.data().grammarscore;
              }

              if (data9.data().vocabscore == undefined) {
                prvscore = 0;
              } else {
                prvscore = data9.data().vocabscore;
              }

              if (data9.data().listeningscore == undefined) {
                prlscore = 0;
              } else {
                prlscore = data9.data().listeningscore;
              }

              if (data9.data().readingscore == undefined) {
                prrscore = 0;
              } else {
                prrscore = data9.data().readingscore;
              }

              if (data9.data().writingscore == undefined) {
                prwscore = 0;
              } else {
                prwscore = data9.data().writingscore;
              }

              if (
                ((prgscore + prvscore + prlscore + prrscore + prwscore) / 30) *
                  100 >
                10
              ) {
                this.pretestScore +=
                  ((prgscore + prvscore + prlscore + prrscore + prwscore) /
                    30) *
                  100;

                this.pretestScoreCount += 1;
              }
            }
          }
        });

        let keyName = this.school + "-" + this.academicYear.replace("/", "-");

        let docData10 = await db
          .collection("questionnaireScore")
          .doc(keyName)
          .collection("score")
          .doc(studentId)
          .get();

        if (docData10.exists) {
          for (let i = 0; i < this.questionaireList.length; i++) {
            if (docData10.data()[this.questionaireList[i].key]) {
              if (docData10.data()[this.questionaireList[i].key] == 1) {
                this.questionaireList[i].score1++;
              } else if (docData10.data()[this.questionaireList[i].key] == 2) {
                this.questionaireList[i].score2++;
              } else {
                this.questionaireList[i].score3++;
              }
              this.questionaireList[i].studentno++;
            }
          }
        }
      });

      // console.log(this.pretestScoreCount);
    },
    showDigit(data) {
      if (isNaN(data)) {
        return "-";
      } else {
        return data.toFixed(2) + "%";
      }
    },
    //แสดงชื่อระดับชั้น
    gradeName(i) {
      if (i == 0) {
        return "ป.1";
      } else if (i == 1) {
        return "ป.2";
      } else if (i == 2) {
        return "ป.3";
      } else if (i == 3) {
        return "ป.4";
      } else if (i == 4) {
        return "ป.5";
      } else if (i == 5) {
        return "ป.6";
      } else if (i == 6) {
        return "ม.1";
      } else if (i == 7) {
        return "ม.2";
      } else if (i == 8) {
        return "ม.3";
      } else if (i == 9) {
        return "ม.4";
      } else if (i == 10) {
        return "ม.5";
      } else if (i == 11) {
        return "ม.6";
      }
    }
  },
  mounted() {
    this.loadSchoolName();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>

<style scoped>
td {
  border: 1px solid black;
  text-align: center;
}
table {
  border-collapse: collapse;
}
</style>