<template>
  <q-page class="bg-grey-2 q-pa-md">
    <div class="q-ma-md row">
      <div>
        <q-select
          filled
          v-model="school"
          :options="schoolCode"
          style="width: 450px"
          label="โรงเรียน"
          emit-value
          map-options
          @input="showResult = 0,gradeResultShow = false"
        />
      </div>
      <div class="q-ml-md">
        <q-select
          filled
          v-model="academicYear"
          :options="academicList"
          style="width: 150px"
          label="ปีการศึกษา"
        ></q-select>
      </div>
      <div class="q-ml-md">
        <q-select
          filled
          v-model="selectUnit"
          :options="unitOption"
          style="width: 150px"
          label="Unit"
        ></q-select>
      </div>
    </div>
    <div>
      <!-- controller -->
      <div class="q-ma-md">
        <q-btn color="deep-orange" glossy @click="studentNumber">คำนวณ</q-btn>
      </div>

      <!-- result -->
      <div class="row">
        <div v-show="showResult==1" class="q-ma-md">
          <table>
            <tr>
              <td>ระดับชั้น</td>
              <td>จำนวนนักเรียน</td>
              <td>Level</td>
              <td>รายละเอียด</td>
            </tr>
            <tr v-for="(item,index) in roomResultList" :key="index">
              <td>{{item.roomName}}</td>
              <td>{{item.numberOfStudent}}</td>
              <td>{{item.level}}</td>
              <td>
                <q-btn @click="runprogress(item.grade,item.room)">
                  <span class="text-primary">
                    <u>รายละเอียด</u>
                  </span>
                </q-btn>
              </td>
            </tr>
          </table>
          <br />
          จำนวนนักเรียน {{studentTotal}} คน
        </div>
        <div v-show="gradeResultShow" class="col">
          {{gradeName(grade)}}/{{room}}
          <br />สรุปผลการเรียน
          <br />
          <table>
            <tr>
              <td style="width:70px;" rowspan="2">เลขที่</td>
              <td rowspan="2">ชื่อนามสกุล</td>
              <td colspan="3">
                <div class="q-pa-sm">V</div>
              </td>
              <td colspan="4">G</td>
              <td>R</td>
              <td>W</td>
              <td colspan="3">LS</td>
            </tr>
            <tr>
              <td style="width:70px;">1</td>
              <td style="width:70px;">2</td>
              <td style="width:70px;">3</td>
              <td style="width:70px;">1</td>
              <td style="width:70px;">2</td>
              <td style="width:70px;">3</td>
              <td style="width:70px;">4</td>
              <td style="width:70px;">1</td>
              <td style="width:70px;">1</td>
              <td style="width:70px;">1</td>
              <td style="width:70px;">2</td>
              <td style="width:70px;">3</td>
            </tr>

            <tr v-for="(item, index) in studentLog" :key="index">
              <td>{{item.no}}</td>
              <td style="width:300px;">
                <div align="left" class="q-px-sm">{{item.name + " " + item.surname}}</div>
              </td>
              <td>
                <span v-html="item.vMatching > 0 ? item.vMatching.toFixed(0) : '-'"></span>
              </td>
              <td>
                <span v-html="item.vSpelling > 0 ? item.vSpelling.toFixed(0) : '-'"></span>
              </td>
              <td>
                <span v-html="item.vMultiple > 0 ? item.vMultiple.toFixed(0) : '-'"></span>
              </td>
              <td>
                <span
                  v-html="item.gMultiple1 > 0 ? item.gMultiple1.toFixed(0) : '-' && item.gFillin1 > 0 ? item.gFillin1.toFixed(0) : '-'"
                ></span>
              </td>
              <td>
                <span
                  v-html="item.gMultiple2 > 0 ? item.gMultiple2.toFixed(0) : '-' && item.gFillin2 > 0 ? item.gFillin2.toFixed(0) : '-'"
                ></span>
              </td>
              <td>
                <span
                  v-html="item.gMultiple3 > 0 ? item.gMultiple3.toFixed(0) : '-' && item.gFillin3 > 0 ? item.gFillin3.toFixed(0) : '-'"
                ></span>
              </td>
              <td>
                <span
                  v-html="item.gMultiple4 > 0 ? item.gMultiple4.toFixed(0) : '-' && item.gFillin4 > 0 ? item.gFillin4.toFixed(0) : '-'"
                ></span>
              </td>
              <td>
                <span v-html="item.rReading > 0 ? item.rReading.toFixed(0) : '-'"></span>
              </td>
              <td>
                <span v-html="item.wTranslation > 0 ? item.wTranslation.toFixed(0) : '-'"></span>
              </td>
              <td>
                <span v-html="item.lsMultiple1 > 0 ? item.lsMultiple1.toFixed(0) : '-'"></span>
              </td>
              <td>
                <span v-html="item.lsMultiple2 > 0 ? item.lsMultiple2.toFixed(0) : '-'"></span>
              </td>
              <td>
                <span v-html="item.lsSpeaking > 0 ? item.lsSpeaking.toFixed(0) : '-'"></span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      school: "100",
      schoolCode: [],
      showResult: 0,
      academicYear: "2/2562",
      academicList: ["1/2562", "2/2562", "1/2563"],
      roomList: [],
      roomResultList: [],
      studentTotal: 0,
      vocabUnit: 0,
      vocabCount: 0,
      vocabTotal: 36,
      grammarUnit: 0,
      grammarCount: 0,
      grammarTotal: 24,
      readingUnit: 0,
      readingCount: 0,
      readingTotal: 12,
      writingUnit: 0,
      writingCount: 0,
      writingTotal: 24,
      listeningUnit: 0,
      listeningCount: 0,
      listeningTotal: 36,
      unitdata: 0,
      unittotal: 120,
      gradeResultShow: false,
      grade: 0,
      room: 0,

      vocabScore: 0,
      vocabScoreCount: 0,
      grammarScore: 0,
      grammarScoreCount: 0,
      readingScore: 0,
      readingScoreCount: 0,
      readingScore: 0,
      readingScoreCount: 0,
      writingScore: 0,
      writingScoreCount: 0,
      listeningScore: 0,
      listeningScoreCount: 0,

      // Pretest Score
      pretestScore: 0,
      pretestScoreCount: 0,

      // Posttest Score

      posttestScore: 0,
      posttestScoreCount: 0,

      // QuestionNaire
      questionaireList: [],

      // Student
      selectUnit: 1,
      unitOption: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
      studentLog: [],
      grammarWorld: ""
    };
  },
  methods: {
    ...mapActions([
      "setAcademicYear",
      "setSchoolCode",
      "setLinkCode",
      "setLinkMenu"
    ]),
    //โหลดชื่อโรงเรียน
    loadSchoolName() {
      db.collection("school")
        .orderBy("code")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let dataKey = {
              label: data.data().code + "-" + data.data().name,
              value: data.data().code
            };
            this.schoolCode.push(dataKey);
          });
        });
    },
    //จำนวนนักเรียน
    studentNumber() {
      console.clear();

      this.showResult = 1;
      this.studentTotal = 0;
      let docName = this.school + "_" + this.academicYear.replace("/", "_");
      db.collection("academicyear")
        .doc(docName)
        .get()
        .then(data => {
          // สร้าง room list
          for (let i = 0; i < 12; i++) {
            this.roomList[i] = 0;
          }

          if (data.data().isP1) {
            this.roomList[0] = data.data().roomP1;
          }
          if (data.data().isP2) {
            this.roomList[1] = data.data().roomP2;
          }
          if (data.data().isP3) {
            this.roomList[2] = data.data().roomP3;
          }
          if (data.data().isP4) {
            this.roomList[3] = data.data().roomP4;
          }
          if (data.data().isP5) {
            this.roomList[4] = data.data().roomP5;
          }
          if (data.data().isP6) {
            this.roomList[5] = data.data().roomP6;
          }
          if (data.data().isM1) {
            this.roomList[6] = data.data().roomM1;
          }
          if (data.data().isM2) {
            this.roomList[7] = data.data().roomM2;
          }
          if (data.data().isM3) {
            this.roomList[8] = data.data().roomM3;
          }
          if (data.data().isM4) {
            this.roomList[9] = data.data().roomM4;
          }
          if (data.data().isM5) {
            this.roomList[10] = data.data().roomM5;
          }
          if (data.data().isM6) {
            this.roomList[11] = data.data().roomM6;
          }
          this.roomResultList = [];
          for (let i = 0; i < 12; i++) {
            if (this.roomList[i] > 0) {
              for (let j = 1; j <= this.roomList[i]; j++) {
                db.collection("course")
                  .where("academicYear", "==", this.academicYear)
                  .where("schoolcode", "==", this.school)
                  .where("room", "==", this.gradeName(i) + "/" + j)
                  .get()
                  .then(doc => {
                    let leveldata = 1;
                    doc.forEach(data => {
                      leveldata = data.data().grammarlv;
                      return;
                    });
                    let dataKey = {
                      roomName: this.gradeName(i) + "/" + j,
                      numberOfStudent: doc.size,
                      level: leveldata,
                      grade: i,
                      room: j
                    };
                    this.roomResultList.push(dataKey);
                    this.studentTotal += doc.size;
                  });
              }
            }
          }
        });
    },
    async runprogress(grade, room) {
      console.clear();
      this.grade = grade;
      this.room = room;
      this.gradeResultShow = true;
      this.vocabUnit = 0;
      this.vocabCount = 0;
      this.grammarUnit = 0;
      this.grammarCount = 0;
      this.readingUnit = 0;
      this.readingCount = 0;
      this.listeningUnit = 0;
      this.listeningCount = 0;
      this.writingUnit = 0;
      this.writingCount = 0;
      this.unitdata = 0;
      this.vocabScore = 0;
      this.vocabScoreCount = 0;
      this.grammarScore = 0;
      this.grammarScoreCount = 0;
      this.readingScore = 0;
      this.readingScoreCount = 0;
      this.writingScore = 0;
      this.writingScoreCount = 0;
      this.listeningScore = 0;
      this.listeningScoreCount = 0;

      this.studentLog = [];

      let docData = await db
        .collection("course")
        .where("academicYear", "==", this.academicYear)
        .where("schoolcode", "==", this.school)
        .where("room", "==", this.gradeName(grade) + "/" + room)
        .get();

      docData.forEach(async data3 => {
        let studentId = data3.data().studentid;

        let studentTest = await db
          .collection("school")
          .doc(this.school)
          .collection("student")
          .doc(studentId)
          .get();

        let vocabData = await db
          .collection("school")
          .doc(this.school)
          .collection("student")
          .doc(studentId)
          .collection("practicelog")
          .doc(this.academicYear.replace("/", "-"))
          .collection("practicescore")
          .where("unit", "==", this.selectUnit)
          .where("status", "==", "pass")
          .get();

        let summaryGArr = [];

        let vSpelling = 0;
        let vMatching = 0;
        let vMultiple = 0;

        let setGrammarArr = [];
        let gMultiple1 = 0;
        let gMultiple2 = 0;
        let gMultiple3 = 0;
        let gMultiple4 = 0;
        let gFillin1 = 0;
        let gFillin2 = 0;
        let gFillin3 = 0;
        let gFillin4 = 0;

        let rReading = 0;
        let wTranslation = 0;

        let setListeningArr = [];
        let lsMultiple1 = 0;
        let lsMultiple2 = 0;
        let lsSpeaking = 0;

        let countPractice = 0;

        vocabData.forEach(result => {
          if (result.data().world == "Vocabulary") {
            if (result.data().practicetype == "Spellingbee") {
              vSpelling = result.data().score;
              countPractice += 1;
            }

            if (result.data().practicetype == "Vocabulary Matching") {
              vMatching = result.data().score;
              countPractice += 1;
            }

            if (result.data().practicetype == "Multiple Choices") {
              vMultiple = result.data().score;
              countPractice += 1;
            }
          }

          if (result.data().world == "Grammar") {
            if (result.data().practicetype != "VDO Teaching") {
              let newData = {
                order: result.data().order,
                score: result.data().score,
                type: result.data().practicetype
              };
              setGrammarArr.push(newData);

              setGrammarArr.sort((a, b) => {
                return a.order - b.order;
              });
              countPractice += 1;
            }
          }

          if (result.data().world == "Reading") {
            rReading = result.data().score;
            countPractice += 1;
          }

          if (result.data().world == "Writing") {
            if (result.data().practicetype == "Translation") {
              wTranslation = result.data().score;
              countPractice += 1;
            }
          }

          if (result.data().world == "Listening") {
            if (result.data().practicetype == "Multiple Choices") {
              let newData = {
                order: result.data().order,
                score: result.data().score
              };
              setListeningArr.push(newData);

              setListeningArr.sort((a, b) => {
                return a.order - b.order;
              });
              countPractice += 1;
            }

            if (result.data().practicetype == "Speaking") {
              lsSpeaking = result.data().score;
              countPractice += 1;
            }
          }
        });

        for (let i = 0; i < setListeningArr.length; i++) {
          if (i == 0) {
            lsMultiple1 = setListeningArr[i].score;
          } else if (i == 1) {
            lsMultiple2 = setListeningArr[i].score;
          }
        }

        for (let i = 0; i < setGrammarArr.length; i++) {
          if (i == 0) {
            if (setGrammarArr[i].type == "Multiple Choices") {
              gMultiple1 = setGrammarArr[i].score;
            } else if (setGrammarArr[i].type == "Fill in the blank") {
              gFillin1 = setGrammarArr[i].score;
            }
          } else if (i == 1) {
            if (setGrammarArr[i].type == "Multiple Choices") {
              gMultiple2 = setGrammarArr[i].score;
            } else if (setGrammarArr[i].type == "Fill in the blank") {
              gFillin2 = setGrammarArr[i].score;
            }
          } else if (i == 2) {
            if (setGrammarArr[i].type == "Multiple Choices") {
              gMultiple3 = setGrammarArr[i].score;
            } else if (setGrammarArr[i].type == "Fill in the blank") {
              gFillin3 = setGrammarArr[i].score;
            }
          } else if (i == 3) {
            if (setGrammarArr[i].type == "Multiple Choices") {
              gMultiple4 = setGrammarArr[i].score;
            } else if (setGrammarArr[i].type == "Fill in the blank") {
              gFillin4 = setGrammarArr[i].score;
            }
          }
        }

        let studentData = {
          vSpelling: vSpelling,
          vMatching: vMatching,
          vMultiple: vMultiple,
          gMultiple1: gMultiple1,
          gMultiple2: gMultiple2,
          gMultiple3: gMultiple3,
          gMultiple4: gMultiple4,
          gFillin1: gFillin1,
          gFillin2: gFillin2,
          gFillin3: gFillin3,
          gFillin4: gFillin4,
          rReading: rReading,
          wTranslation: wTranslation,
          lsMultiple1: lsMultiple1,
          lsMultiple2: lsMultiple2,
          lsSpeaking: lsSpeaking,
          totalPractice: countPractice,
          id: studentId,
          no: Number(data3.data().studentno),
          ...studentTest.data()
        };

        this.studentLog.push(studentData);

        this.studentLog.sort((a, b) => {
          return Number(a.no) - Number(b.no);
        });
      });
    },
    showDigit(data) {
      if (isNaN(data)) {
        return "-";
      } else {
        return data.toFixed(2) + "%";
      }
    },
    //แสดงชื่อระดับชั้น
    gradeName(i) {
      if (i == 0) {
        return "ป.1";
      } else if (i == 1) {
        return "ป.2";
      } else if (i == 2) {
        return "ป.3";
      } else if (i == 3) {
        return "ป.4";
      } else if (i == 4) {
        return "ป.5";
      } else if (i == 5) {
        return "ป.6";
      } else if (i == 6) {
        return "ม.1";
      } else if (i == 7) {
        return "ม.2";
      } else if (i == 8) {
        return "ม.3";
      } else if (i == 9) {
        return "ม.4";
      } else if (i == 10) {
        return "ม.5";
      } else if (i == 11) {
        return "ม.6";
      }
    }
  },
  mounted() {
    this.loadSchoolName();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>

<style scoped>
td {
  border: 1px solid black;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table tr td {
  border: 1px solid;
}
</style>