<template>
  <q-page>
    <!-- content -->
    <div class="q-pa-md">
      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">
          สถานะออนไลน์
          <hr>
        </h5>
        <div class="row justify-center">
          <!-- <div class="col-sm-8 col-xs-12">
            <q-select
              outlined
              :options="termSelected"
              emit-value
              map-options
              v-model="currentTerm"
              label="เทอม"
            ></q-select>
          </div>-->
          <p v-for="(item,index) in showJson" :key="index">{{item}},</p>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  // name: 'PageName',
  data() {
    return {
      statusShow: [],
      currentTerm: "1/2562",
      termSelected: [
        {
          label: "1/2562",
          value: "1-2562"
        },
        {
          label: "2/2562",
          value: "2-2562"
        }
      ],
      showJson: []
    };
  },
  methods: {
    ...mapActions([
      "setAcademicYear",
      "setSchoolCode",
      "setLinkCode",
      "setLinkMenu"
    ]),
    async loadStatus() {
      let response = await axios.get(this.serverpath + "/api/gettime.php");
      let microTime = response.data[0].microtime;

      db.collection("school")
        .get()
        .then(doc => {
          doc.forEach(element => {
            let schoolCode = element.id;
            db.collection("school")
              .doc(schoolCode)
              .collection("monitor")
              .where("status", "==", "online")
              .get()
              .then(monitor => {
                monitor.forEach(element => {
                  if (microTime - element.data().lastPracticeTime < 1800000) {
                    let obj = {
                      schoolCode: schoolCode,
                      room: element.data().room
                    };
                    this.statusShow.push(obj);
                  }

                  // this.statusShow.sort((a, b) => {
                  //   return a.room > b.room ? 0 : 1;
                  // });
                });
              });
          });
        });

      setTimeout(() => {
        var counter = {};
        for (var i = 0; i < this.statusShow.length; i += 1) {
          counter[this.statusShow[i].room] =
            (counter[this.statusShow[i].room] || 0) + 1;

          counter[this.statusShow[i].schoolCode] =
            (counter[this.statusShow[i].schoolCode] || 0) + 1;
        }

        for (var key in counter) {
          if (counter[key] > 1) {
            console.log(
              "we have ",
              key,
              " duplicated ",
              counter[key],
              " times"
            );
          }
        }
      }, 5000);
    },
    test() {
      // db.collection("practicelist")
      //   .doc("data")
      //   .collection("L2U1")
      //   .doc("05ZufHTojFXZnsO2Snlu")
      //   .get()
      // .then(doc => {
      // for (let i = 0; i < doc.data().schoolSelected.length; i++) {
      //   console.log(doc.data().schoolSelected[i]);
      //   if (doc.data().schoolSelected[i].school == 102) {
      //     console.log("true");
      //   }
      // }
      // });

      db.collection("school")
        .get()
        .then(doc => {
          doc.forEach(element => {
            // console.log(element.id);
            // console.log(JSON.stringify(element.data()));
            this.showJson.push(JSON.stringify(element.data()));
          });
        });
    }
  },
  mounted() {
    // this.loadStatus();
    this.test();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>

<style>
</style>

