<template>
  <q-page>
    <q-resize-observer @resize="onResize" />
    <div class="q-pa-md">
      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">
          ติดตามผลการเรียน
          <hr />
        </h5>
        <div class="row gutter-sm">
          <div class="col-xs-12 col-sm-6">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="schoolCode"
                label="ชื่อโรงเรียน"
                :options="schoolList"
                @input="refreshdata()"
              ></q-select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="yearCode"
                label="ปีการศึกษา"
                :options="academicList"
              ></q-select>
            </div>
          </div>
        </div>
        <div class="q-mt-lg col-12" align="center">
          <q-btn
            label="เลือก"
            color="teal-5"
            class="q-ma-xs"
            @click="chooseBtn()"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
        </div>
      </div>

      <div class="bg-grey-2 q-mt-md" v-if="showProgress">
        <h5 align="center" class="no-margin q-pa-md">
          {{"โรงเรียน" + schoolName}}
          <hr />
        </h5>

        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="dataBasic.class"
                label="ห้อง"
                :options="dataBasic.classList"
                @input="loadStudentData2()"
              ></q-select>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div style="width:90%" align="right">
              <router-link
                :to="{ name: 'printProgressMonitor', params: { attendence,schoolName,dataBasic,yearCode,sumPracticeArr,showAvgProgress } }"
              >
                <q-btn icon="fas fa-print" round class="bg-primary text-white"></q-btn>
              </router-link>
            </div>
          </div>
        </div>

        <!-- ข้อมูลการเข้าเรียน -->
        <div class="q-mt-md q-pa-sm">
          <div class="bg-blue-grey-10 text-white q-pa-sm" align="center">ข้อมูลการเข้าเรียน</div>
          <div
            class="q-mt-md q-pa-sm"
            align="center"
          >ความก้าวหน้าเฉลี่ย {{ showAvgProgress.toFixed(2) }} %</div>
        </div>

        <div class="q-pa-sm" v-if="loaded">
          <div class="row">
            <div
              class="col-lg-2 col-xs-4"
              align="center"
              v-for="(item,index) in attendence"
              :key="index"
              style="border:1px solid"
            >
              <div
                class="bg-grey-5 q-pa-sm"
                style="border-bottom:1px solid"
                v-html="index.toUpperCase()"
              ></div>
              <!-- {{ item.length }} -->
              <div v-if="item.length == 0" class="q-pa-sm">-</div>
              <div v-for="(data,index2) in item" :key="index2">
                <div
                  v-if="data.display"
                  class="row q-pa-sm"
                  :class="{'text-green' : data.size > 0.5 * data.totalStudent}"
                >
                  <div class="col-lg-2 col-xs-12">วันที่</div>
                  <div class="col-lg-5 col-xs-12">{{ data.id }}</div>
                  <div class="col-lg-5 col-xs-12">({{ data.size }} / {{ data.totalStudent }}) คน</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolList: [],
      academicList: [],
      schoolCode: "", //โรงเรียนที่ถูกเลือก
      yearCode: 0, //ปีที่ถูกเลือก
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      showProgress: false,
      schoolName: "",
      studentData: [],
      dataBasic: {
        class: "",
        classList: []
      },
      attendence: {},
      sumPracticeArr: {},
      loaded: false,
      sumPractice: 0,
      progressAvg: 0,
      sumProgress: 0,
      totalPractice: 0
    };
  },
  methods: {
    ...mapActions([
      "setAcademicYear",
      "setSchoolCode",
      "setLinkCode",
      "setLinkMenu"
    ]),
    loadSchoolData() {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.id,
              label: doc.data().code + " - " + doc.data().name
            };
            this.schoolList.push(dataList);
          });
          this.schoolCode = this.schoolList[0].value;
          this.schoolName = this.schoolList[0].label.slice(5);

          this.refreshdata();
        });
    },

    loadAcademicYear(schoolcode) {
      //โหลดปีการศึกษาเปลี่ยนค่าตามรหัสโรงเรียน
      this.loadingSet(1);
      this.academicList = [];
      this.yearCode = 0;
      var yearcount = 0;
      let _this = this;
      db.collection("academicyear")
        .where("schoolCode", "==", schoolcode)
        .get()
        .then(function(querySnapshot) {
          yearcount = querySnapshot.size;
          querySnapshot.forEach(function(data) {
            let dataList = {
              value: data.id,
              label: data.data().academicyear
            };
            _this.academicList.push(dataList);
          });
          //เรียงตามเทอมการศึกษา
          _this.academicList.sort((a, b) => {
            let aterm = a.label.slice(0, 1);
            let bterm = b.label.slice(0, 1);
            let ayear = a.label.slice(2, 6);
            let byear = b.label.slice(2, 6);
            let a1 = Number(ayear);
            let a2 = Number(byear);
            if (a1 == a2) {
              return Number(aterm) - Number(bterm);
            } else {
              return a1 - a2;
            }
          });
          if (yearcount == 0) {
            let data = {
              value: "0",
              label: "ไม่มีข้อมูล"
            };
            _this.academicList.push(data);
            _this.yearCode = "0";
          } else {
            _this.yearCode = _this.academicList[yearcount - 1].value;
          }

          _this.loadRoomData();
          _this.loadingSet(0);
        });
    },
    refreshdata() {
      //ถูกเรียกเมือการเปลี่ยนชื่อโรงเรียน
      this.showProgress = false;
      this.loadAcademicYear(this.schoolCode);
    },
    async loadRoomData() {
      this.dataBasic.classList = [];

      let convertedAcademicYear = this.yearCode.slice(4).replace("_", "/");
      // Load : Room Data
      let loadRoomData = await db
        .collection("academicyear")
        .where("schoolCode", "==", this.schoolCode)
        .where("academicyear", "==", convertedAcademicYear)
        .get();

      for (const doc of loadRoomData.docs) {
        let newDoc = doc.data();
        for (let roomSet in newDoc) {
          for (let i = 1; i <= 6; i++) {
            let newRoomP = "roomP" + i;

            if (roomSet == newRoomP) {
              let newDocRoom = newDoc[roomSet];
              let newObjRoom;
              for (let j = 1; j <= newDocRoom; j++) {
                newObjRoom = {
                  label: "ป." + i + "/" + j,
                  value: "ป." + i + "/" + j
                };
                this.dataBasic.classList.push(newObjRoom); // Push : Class Room List - ป.
              }
            }
          }
        }

        for (let roomSet in newDoc) {
          for (let i = 1; i <= 6; i++) {
            let newRoomM = "roomM" + i;

            if (roomSet == newRoomM) {
              let newDocRoom = newDoc[roomSet];
              let newObjRoom;
              for (let j = 1; j <= newDocRoom; j++) {
                newObjRoom = {
                  label: "ม." + i + "/" + j,
                  value: "ม." + i + "/" + j
                };
                this.dataBasic.classList.push(newObjRoom); // Push : Class Room List - ม.
              }
            }
          }
        }
        this.dataBasic.class = this.dataBasic.classList[0].value; //Show : Class Room List First Row
      }
    },
    // async loadStudentData() {
    //   this.loaded = false;
    //   this.attendence = {};
    //   this.loadingSet(1);

    //   let convertedAcademicYear = this.yearCode.slice(4).replace("_", "-");
    //   let academicYearSlash = this.yearCode.slice(4).replace("_", "/");
    //   // console.log(convertedAcademicYear);
    //   for (let i = 0; i < 18; i++) {
    //     let collectionWeek = "week" + (i + 1);
    //     this.attendence[collectionWeek] = [];

    //     // console.log(collectionWeek);
    //     let schoolData = await db
    //       .collection("school")
    //       .doc(this.schoolCode)
    //       .collection("attendence")
    //       .doc(convertedAcademicYear)
    //       .collection(collectionWeek)
    //       .get();
    //     let totalStudent = await db
    //       .collection("course")
    //       .where("academicYear", "==", academicYearSlash)
    //       .where("schoolcode", "==", this.schoolCode)
    //       .where("room", "==", this.dataBasic.class)
    //       .get();

    //     schoolData.forEach(async element => {
    //       let getData = await db
    //         .collection("school")
    //         .doc(this.schoolCode)
    //         .collection("attendence")
    //         .doc(convertedAcademicYear)
    //         .collection(collectionWeek)
    //         .doc(element.id)
    //         .collection("data")
    //         .where("class", "==", this.dataBasic.class)
    //         .get();
    //       let dataAdd = {
    //         id: element.id,
    //         size: getData.size,
    //         totalStudent: totalStudent.size
    //       };
    //       let dataFinal = { ...dataAdd, ...element.data() };
    //       this.attendence[collectionWeek].push(dataFinal);
    //     });
    //   }

    //   this.loaded = true;

    //   this.loadingSet(0);
    // },
    loadStudentData2() {
      this.loaded = false;

      this.attendence = {
        week1: [],
        week2: [],
        week3: [],
        week4: [],
        week5: [],
        week6: [],
        week7: [],
        week8: [],
        week9: [],
        week10: [],
        week11: [],
        week12: [],
        week13: [],
        week14: [],
        week15: [],
        week16: [],
        week17: [],
        week18: [],
        week19: [],
        week20: [],
        week21: [],
        week22: [],
        week23: [],
        week24: [],
        week25: [],
        week26: [],
        week27: [],
        week28: [],
        week29: [],
        week30: [],
        week31: [],
        week32: [],
        week33: [],
        week34: [],
        week35: [],
        week36: [],
        week37: [],
        week38: [],
        week39: [],
        week40: [],
        week41: [],
        week42: [],
        week43: [],
        week44: [],
        week45: [],
        week46: [],
        week47: [],
        week48: [],
        week49: [],
        week50: []
      };

      this.sumPracticeArr = {
        week1: 0,
        week2: 0,
        week3: 0,
        week4: 0,
        week5: 0,
        week6: 0,
        week7: 0,
        week8: 0,
        week9: 0,
        week10: 0,
        week11: 0,
        week12: 0,
        week13: 0,
        week14: 0,
        week15: 0,
        week16: 0,
        week17: 0,
        week18: 0,
        week19: 0,
        week20: 0,
        week21: 0,
        week22: 0,
        week23: 0,
        week24: 0,
        week25: 0,
        week26: 0,
        week27: 0,
        week28: 0,
        week29: 0,
        week30: 0,
        week31: 0,
        week32: 0,
        week33: 0,
        week34: 0,
        week35: 0,
        week36: 0,
        week37: 0,
        week38: 0,
        week39: 0,
        week40: 0,
        week41: 0,
        week42: 0,
        week43: 0,
        week44: 0,
        week45: 0,
        week46: 0,
        week47: 0,
        week48: 0,
        week49: 0,
        week50: 0
      };

      this.loadingSet(1);

      let convertedAcademicYear = this.yearCode.slice(4).replace("_", "-");
      let academicYearSlash = this.yearCode.slice(4).replace("_", "/");
      // console.log(convertedAcademicYear);
      for (let i = 0; i < 50; i++) {
        let collectionWeek = "week" + (i + 1);
        // this.attendence[collectionWeek] = [];

        db.collection("course")
          .where("academicYear", "==", academicYearSlash)
          .where("schoolcode", "==", this.schoolCode)
          .where("room", "==", this.dataBasic.class)
          .get()
          .then(student => {
            db.collection("school")
              .doc(this.schoolCode)
              .collection("attendence")
              .doc(convertedAcademicYear)
              .collection(collectionWeek)
              .get()
              .then(docschool => {
                docschool.forEach(element => {
                  db.collection("school")
                    .doc(this.schoolCode)
                    .collection("attendence")
                    .doc(convertedAcademicYear)
                    .collection(collectionWeek)
                    .doc(element.id)
                    .collection("data")
                    .where("class", "==", this.dataBasic.class)
                    .get()
                    .then(doc => {
                      if (doc.size > 0) {
                        let dataAdd = {
                          id: element.id,
                          size: doc.size,
                          totalStudent: student.size,
                          display: doc.size > 0 ? true : false
                        };
                        let dataFinal = { ...dataAdd, ...element.data() };
                        this.attendence[collectionWeek].push(dataFinal);
                      }
                    });
                });
                this.loaded = true;
                this.loadingSet(0);
              });
          });
      }

      this.loadProgressAvg();
    },
    chooseBtn() {
      this.showProgress = true;
      let indexOfList = this.schoolList.findIndex(
        x => x.value == this.schoolCode
      );
      this.schoolName = this.schoolList[indexOfList].label.slice(5);
      this.loadStudentData2();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    },
    async loadProgressAvg() {
      this.loadingSet(1);
      let convertedAcademicYear = this.yearCode.slice(4).replace("_", "-");
      let academicYearSlash = this.yearCode.slice(4).replace("_", "/");
      this.sumProgress = 0;
      let courseDb = await db
        .collection("course")
        .where("academicYear", "==", academicYearSlash)
        .where("schoolcode", "==", this.schoolCode)
        .where("room", "==", this.dataBasic.class)
        .get();
      // .then(doc => {
      let sumProgress = 0;

      courseDb.forEach(element => {
        let totalPractice = 0;

        let vocablv = element.data().vocablv;
        let grammarlv = element.data().grammarlv;
        let readinglv = element.data().readinglv;
        let writinglv = element.data().writinglv;
        let listeninglv = element.data().listeninglv;
        //  get total practice
        for (let i = 1; i <= 16; i++) {
          let vocabPracticeFind = "L" + vocablv + "U" + i;
          let grammarPracticeFind = "L" + grammarlv + "U" + i;
          let readingPracticeFind = "L" + readinglv + "U" + i;
          let writingPracticeFind = "L" + writinglv + "U" + i;
          let listeningPracticeFind = "L" + listeninglv + "U" + i;
          db.collection("practicelist")
            .doc("data")
            .collection(vocabPracticeFind)
            .where("order", "<=", 2000)
            .get()
            .then(vocab => {
              vocab.forEach(element => {
                if (
                  element.data().practicetype != "conversation VDO" &&
                  element.data().practicetype != "flashcard" &&
                  element.data().practicetype != "teaching VDO"
                ) {
                  this.totalPractice++;
                }
              });

              db.collection("practicelist")
                .doc("data")
                .collection(grammarPracticeFind)
                .where("order", ">", 2000)
                .where("order", "<=", 3000)
                .get()
                .then(grammar => {
                  grammar.forEach(element => {
                    if (
                      element.data().practicetype != "conversation VDO" &&
                      element.data().practicetype != "flashcard" &&
                      element.data().practicetype != "teaching VDO" &&
                      element.data().practicetype != "error detection"
                    ) {
                      this.totalPractice++;
                    }
                  });

                  db.collection("practicelist")
                    .doc("data")
                    .collection(readingPracticeFind)
                    .where("order", ">", 3000)
                    .where("order", "<=", 4000)
                    .get()
                    .then(reading => {
                      reading.forEach(element => {
                        this.totalPractice++;
                      });

                      db.collection("practicelist")
                        .doc("data")
                        .collection(writingPracticeFind)
                        .where("order", ">", 4000)
                        .where("order", "<=", 5000)
                        .get()
                        .then(writing => {
                          writing.forEach(element => {
                            this.totalPractice++;
                          });

                          db.collection("practicelist")
                            .doc("data")
                            .collection(listeningPracticeFind)
                            .where("order", ">", 5000)

                            .get()
                            .then(listening => {
                              listening.forEach(element => {
                                if (
                                  element.data().practicetype !=
                                    "conversation VDO" &&
                                  element.data().practicetype != "flashcard" &&
                                  element.data().practicetype != "teaching VDO"
                                ) {
                                  this.totalPractice++;
                                }
                              });
                              this.loadingSet(0);
                            });
                        });
                    });
                });
            });
        }

        db.collection("school")
          .doc(this.schoolCode)
          .collection("student")
          .doc(element.data().studentid)
          .collection("progress")
          .doc(convertedAcademicYear)
          .get()
          .then(progress => {
            if (progress.exists) {
              // console.log(progress.data());
              let totalProgress =
                progress.data().grammar +
                progress.data().listening +
                progress.data().reading +
                progress.data().vocabulary +
                progress.data().writing;
              sumProgress += totalProgress;
              this.sumProgress = sumProgress;
              // console.log(sumProgress);
            }
          });
      });

      // });
    }
    // ย้ายข้อมูลจาก week 0 มาที่ week 1
    // fixedWeek() {
    //   db.collection("school")
    //     .doc("103")
    //     .collection("attendence")
    //     .doc("1-2562")
    //     .collection("week12")
    //     .doc("30-05-2019")
    //     .collection("data")
    //     .get()
    //     .then(doc => {
    //       // console.log(doc);
    //       doc.forEach(element => {
    //         db.collection("school")
    //           .doc("103")
    //           .collection("attendence")
    //           .doc("1-2562")
    //           .collection("week3")
    //           .doc("30-05-2019")
    //           .collection("data")
    //           .doc(element.id)
    //           .set(element.data());
    //       });
    //     });
    // }
  },
  mounted() {
    // this.fixedWeek();
    this.loadSchoolData();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  },
  computed: {
    showAvgProgress() {
      return (this.sumProgress * 100) / 3828;
    }
  }
};
</script>

