<template>
  <div></div>
</template>
<script>
export default {

    mounted(){
      if(this.$route.params.page == "addSeller"){
        this.$router.push("/bill/" + this.$route.params.page)
      } else {
        this.$router.push("/" + this.$route.params.page)
      }
      
    }
}
</script>

