<template>
  <div class="window-height window-width row justify-center items-center bgimg q-pa-sm">
    <q-card class="mycard justify-center bg-white q-pa-md">
      <q-card-section>
        <div class="text-h4" style="width:100%;  text-align:center">Winner System</div>
      </q-card-section>
      <hr>
      <div style="width:90%; margin:auto;">
        <q-card-section>
          <form>
            <q-field>
              <q-input
                v-model="user.username"
                type="text"
                label="ชื่อผู้ใช้งาน"
                required
                @keyup.enter="loginBtn()"
                style="width:100%"
              ></q-input>
            </q-field>

            <q-field>
              <q-input
                v-model="user.password"
                type="password"
                label="รหัสผ่าน"
                required
                @keyup.enter="loginBtn()"
                style="width:100%"
              ></q-input>
            </q-field>
          </form>
        </q-card-section>
      </div>

      <q-card-actions class="row justify-center">
        <q-btn
          color="secondary"
          size="md"
          label="เข้าสู่ระบบ"
          @click="loginBtn()"
          style="width:250px;"
        ></q-btn>
      </q-card-actions>
      <div style="text-align:right; color:grey;">v. {{appVersion}}</div>
    </q-card>
  </div>
</template>



<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      user: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    ...mapActions([
      "setUserData",
      "setUserKey",
      "setMenuActive",
      "setSubMenuActive",
      "setLinkMenu"
    ]),

    loginBtn() {
      // check ฐานข้อมูลทำการ login และเก็บค่า userData ใน Vuex และเก็บ key ความปลอดภัยด้วย
      this.setLinkMenu(0);
      let _this = this;
      db.collection("user")
        .where("username", "==", this.user.username)
        .where("password", "==", this.user.password)
        .get()
        .then(function(querySnapshot) {
          if (querySnapshot.size > 0) {
            querySnapshot.forEach(function(doc) {
              let keyData = Math.floor(Math.random() * 1000000 + 1);
              db.collection("userwinnerkey")
                .doc(doc.id)
                .set({
                  key: keyData
                });
              let dataList = {
                key: doc.id
              };
              let dataFinal = { ...doc.data(), ...dataList };
              _this.setUserKey(keyData);
              _this.setUserData(dataFinal);
              _this.$router.push("/mainmenu");
            });
          } else {
            _this.$q.notify({
              color: "negative",
              position: "top",
              icon: "error",
              message: `ชื่อผู้ใช้ / รหัสผ่านไม่ถูกต้อง`,
              timeout: 500
            });
          }
        });
      //
    },
    checkLogin() {
      //ตรวจสอบว่ามีการ login เข้ามาถูกต้องหรือเปล่าว
      if (this.$store.state.system.userData.name) {
        this.$router.push("/welcome");
      }
    },
    makeAdmin() {
      //ถ้าไม่มี user admin จะสร้าง user admin อัตโนมัติ
      db.collection("user")
        .where("username", "==", "admin")
        .get()
        .then(function(querySnapshot) {
          if (querySnapshot.size > 0) {
          } else {
            let user = {
              name: "admin",
              username: "admin",
              password: "123456",
              isPractice: true,
              isSound: true,
              isLevel: true,
              isBug: true,
              isPlacement: true,
              isExamPool: true,
              isPrePostTest: true,
              isStudent: true,
              isGroup: true,
              isTeacher: true,
              isUser: true,
              isSchoolType: true,
              isSchool: true,
              isAcademicYear: true,
              isPrePostReport: true,
              isPlacementReport: true,
              isOnline: true,
              isMonitor: true,
              isBill: true
            };
            db.collection("user").add(user);
          }
        });
    },
    loadprovince() {
      db.collection("province")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            return;
          } else {
            db.collection("province")
              .doc("กระบี่")
              .set({ name: "กระบี่" });
            db.collection("province")
              .doc("กรุงเทพมหานคร")
              .set({ name: "กรุงเทพมหานคร" });
            db.collection("province")
              .doc("กาญจบุรี")
              .set({ name: "กาญจบุรี" });
            db.collection("province")
              .doc("กาฬสินธุ์")
              .set({ name: "กาฬสินธุ์" });
            db.collection("province")
              .doc("กำแพงเพชร")
              .set({ name: "กำแพงเพชร" });
            db.collection("province")
              .doc("ขอนแก่น")
              .set({ name: "ขอนแก่น" });
            db.collection("province")
              .doc("จันทบุรี")
              .set({ name: "จันทบุรี" });
            db.collection("province")
              .doc("ฉะเชิงเทรา")
              .set({ name: "ฉะเชิงเทรา" });
            db.collection("province")
              .doc("ชลบุรี")
              .set({ name: "ชลบุรี" });
            db.collection("province")
              .doc("ชัยนาท")
              .set({ name: "ชัยนาท" });
            db.collection("province")
              .doc("ชัยภูมิ")
              .set({ name: "ชัยภูมิ" });
            db.collection("province")
              .doc("ชุมพร")
              .set({ name: "ชุมพร" });
            db.collection("province")
              .doc("ตรัง")
              .set({ name: "ตรัง" });
            db.collection("province")
              .doc("ตราด")
              .set({ name: "ตราด" });
            db.collection("province")
              .doc("ตาก")
              .set({ name: "ตาก" });
            db.collection("province")
              .doc("นครนายก")
              .set({ name: "นครนายก" });
            db.collection("province")
              .doc("นครปฐม")
              .set({ name: "นครปฐม" });
            db.collection("province")
              .doc("นครพนม")
              .set({ name: "นครพนม" });
            db.collection("province")
              .doc("นครราชสีมา")
              .set({ name: "นครราชสีมา" });
            db.collection("province")
              .doc("นครสวรรค์")
              .set({ name: "นครสวรรค์" });
            db.collection("province")
              .doc("นนทบุรี")
              .set({ name: "นนทบุรี" });
            db.collection("province")
              .doc("นราธิวาส")
              .set({ name: "นราธิวาส" });
            db.collection("province")
              .doc("น่าน")
              .set({ name: "น่าน" });
            db.collection("province")
              .doc("บึงกาฬ")
              .set({ name: "บึงกาฬ" });
            db.collection("province")
              .doc("บุรีรัมย์")
              .set({ name: "บุรีรัมย์" });
            db.collection("province")
              .doc("ปทุมธานี")
              .set({ name: "ปทุมธานี" });
            db.collection("province")
              .doc("ประจวบคีรีขันธ์")
              .set({ name: "ประจวบคีรีขันธ์" });
            db.collection("province")
              .doc("ปราจีนบุรี")
              .set({ name: "ปราจีนบุรี" });
            db.collection("province")
              .doc("ปัตตานี")
              .set({ name: "ปัตตานี" });
            db.collection("province")
              .doc("พระนครศรึอยุธยา")
              .set({ name: "พระนครศรึอยุธยา" });
            db.collection("province")
              .doc("พะเยา")
              .set({ name: "พะเยา" });
            db.collection("province")
              .doc("พังงา")
              .set({ name: "พังงา" });
            db.collection("province")
              .doc("พัทลุง")
              .set({ name: "พัทลุง" });
            db.collection("province")
              .doc("พิจิรตร")
              .set({ name: "พิจิรตร" });
            db.collection("province")
              .doc("พิษณุโลก")
              .set({ name: "พิษณุโลก" });
            db.collection("province")
              .doc("ภูเก็ต")
              .set({ name: "ภูเก็ต" });
            db.collection("province")
              .doc("มหาสารคาม")
              .set({ name: "มหาสารคาม" });
            db.collection("province")
              .doc("มุกดาหาร")
              .set({ name: "มุกดาหาร" });
            db.collection("province")
              .doc("ยะลา")
              .set({ name: "ยะลา" });
            db.collection("province")
              .doc("ยโสธร")
              .set({ name: "ยโสธร" });
            db.collection("province")
              .doc("ระนอง")
              .set({ name: "ระนอง" });
            db.collection("province")
              .doc("ระยอง")
              .set({ name: "ระยอง" });
            db.collection("province")
              .doc("ราชบุรี")
              .set({ name: "ราชบุรี" });
            db.collection("province")
              .doc("ร้อยเอ็ด")
              .set({ name: "ร้อยเอ็ด" });
            db.collection("province")
              .doc("ลพบุรี")
              .set({ name: "ลพบุรี" });
            db.collection("province")
              .doc("ลำปาง")
              .set({ name: "ลำปาง" });
            db.collection("province")
              .doc("ลำพูน")
              .set({ name: "ลำพูน" });
            db.collection("province")
              .doc("ศรึสะเกษ")
              .set({ name: "ศรึสะเกษ" });
            db.collection("province")
              .doc("สกลนคร")
              .set({ name: "สกลนคร" });
            db.collection("province")
              .doc("สงขลา")
              .set({ name: "สงขลา" });
            db.collection("province")
              .doc("สตูล")
              .set({ name: "สตูล" });
            db.collection("province")
              .doc("สมุทรปราการ")
              .set({ name: "สมุทรปราการ" });
            db.collection("province")
              .doc("สมุทรสงคราม")
              .set({ name: "สมุทรสงคราม" });
            db.collection("province")
              .doc("สมุทรสาคร")
              .set({ name: "สมุทรสาคร" });
            db.collection("province")
              .doc("สระบุรี")
              .set({ name: "สระบุรี" });
            db.collection("province")
              .doc("สระแก้ว")
              .set({ name: "สระแก้ว" });
            db.collection("province")
              .doc("สิงห์บุรี")
              .set({ name: "สิงห์บุรี" });
            db.collection("province")
              .doc("สุพรรณบุรี")
              .set({ name: "สุพรรณบุรี" });
            db.collection("province")
              .doc("สุราษฏร์ธานี")
              .set({ name: "สุราษฏร์ธานี" });
            db.collection("province")
              .doc("สุรินทร์")
              .set({ name: "สุรินทร์" });
            db.collection("province")
              .doc("สุโขทัย")
              .set({ name: "สุโขทัย" });
            db.collection("province")
              .doc("หนองคาย")
              .set({ name: "หนองคาย" });
            db.collection("province")
              .doc("หนองบัวลำภู")
              .set({ name: "หนองบัวลำภู" });
            db.collection("province")
              .doc("อำนาจเจริญ")
              .set({ name: "อำนาจเจริญ" });
            db.collection("province")
              .doc("อุดรธานี")
              .set({ name: "อุดรธานี" });
            db.collection("province")
              .doc("อุตรดิตถ์")
              .set({ name: "อุตรดิตถ์" });
            db.collection("province")
              .doc("อุทัยธานี")
              .set({ name: "อุทัยธานี" });
            db.collection("province")
              .doc("อุบลราชธานี")
              .set({ name: "อุบลราชธานี" });
            db.collection("province")
              .doc("อ่างทอง")
              .set({ name: "อ่างทอง" });
            db.collection("province")
              .doc("เชียงราย")
              .set({ name: "เชียงราย" });
            db.collection("province")
              .doc("เชียงใหม่")
              .set({ name: "เชียงใหม่" });
            db.collection("province")
              .doc("เพชรบุรี")
              .set({ name: "เพชรบุรี" });
            db.collection("province")
              .doc("เพชรบูรณ์")
              .set({ name: "เพชรบูรณ์" });
            db.collection("province")
              .doc("เลย")
              .set({ name: "เลย" });
            db.collection("province")
              .doc("แพร่")
              .set({ name: "แพร่" });
            db.collection("province")
              .doc("แม่ฮ่องสอน")
              .set({ name: "แม่ฮ่องสอน" });
          }
        });
    },
    loadpracticetype() {
      db.collection("practicetype")
        .get()
        .then(doc => {
          if (doc.size > 0) {
            return;
          } else {
            db.collection("practicetype")
              .doc("flashcard")
              .set({ name: "flashcard" });
            db.collection("practicetype")
              .doc("spellingBee")
              .set({ name: "spelling bee" });
            db.collection("practicetype")
              .doc("matching")
              .set({ name: "matching" });
            db.collection("practicetype")
              .doc("multipleChoices")
              .set({ name: "multiple choices" });
            db.collection("practicetype")
              .doc("fillInTheBlanks")
              .set({ name: "fill in the blanks" });
            db.collection("practicetype")
              .doc("errorDetection")
              .set({ name: "error detection" });
            db.collection("practicetype")
              .doc("readingMultipleChoices")
              .set({ name: "reading (Multiple choices)" });
            db.collection("practicetype")
              .doc("readingFillInTheBlanks")
              .set({ name: "reading (Fill in the blanks)" });
            db.collection("practicetype")
              .doc("dictation")
              .set({ name: "dictation" });
            db.collection("practicetype")
              .doc("translation")
              .set({ name: "translation" });
            db.collection("practicetype")
              .doc("teachingVdo")
              .set({ name: "teaching VDO" });
            db.collection("practicetype")
              .doc("conversationVDO")
              .set({ name: "conversation VDO" });
            db.collection("practicetype")
              .doc("speakingpractice")
              .set({ name: "speaking practice" });
          }
        });
    }
  },
  mounted() {
    this.checkLogin();
    this.makeAdmin();
    this.loadprovince();
    this.loadpracticetype();
  }
};
</script>


<style scoped>
.bgimg {
  background-image: url("../assets/bg-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mycard {
  width: 450px;
  height: 320px;
  margin: auto;
}
</style>

