<template>
  <div class="row justify-center items-center" style="height:calc(100vh - 60px);">
    <div class="col-md-12" align="center">
      <img src="../assets/welcome-01.png" style="max-width:1000px;width:100%;">
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  methods: {
    ...mapActions(["setLinkCode"])
  },
  mounted() {
    this.setLinkCode(this.$route.name);
  }
};
</script>

<style>
</style>
