<template>
  <div class="q-pa-md">
    <!-- <q-window-resize-observable @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">Input แถวเดียว
        <hr>
      </h5>
      <div class="row q-mb-sm">
        <div class="col-xl-6 col-xs-12">
          <q-input class="bg-white q-pa-sm" label="ชื่อ" placeholder="ไม่ต่ำกว่า 3 ตัวอักษร"/>
        </div>
      </div>

      <code>
        <div class="row q-mb-sm">
          <div class="col-xl-6 col-xs-12">
            <q-input
              class="bg-white q-pa-sm"
              label="ชื่อ"
              placeholder="ไม่ต่ำกว่า 3 ตัวอักษร"
            />
          </div>
        </div>
      </code>

      <hr class="q-mt-xl q-mb-xl">

      <h5 align="center" class="no-margin q-pa-sm">Input หลายแถว
        <hr>
      </h5>
      <div class="row gutter-sm justify-center">
        <div class="col-xs-8 col-sm-5">
          <q-select class="bg-white q-pa-sm" label="ผู้ขาย" :options="selectListOptions"/>
        </div>
        <div class="col-xs-4 col-sm-1">
          <q-btn round icon="fas fa-edit" color="secondary" size="16px" push></q-btn>
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-datetime class="bg-white q-pa-sm" label="วันที่"></q-datetime>
        </div>
        <div class="col-12">
          <q-input label="ที่อยู่" class="bg-white q-pa-sm"></q-input>
        </div>
        <div class="col-12">
          <q-input label="รายการ" class="bg-white q-pa-sm"></q-input>
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-input label="จำนวนเงิน" prefix="$" class="bg-white q-pa-sm" type="number"></q-input>
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-input label="เลขที่บิล" class="bg-white q-pa-sm"></q-input>
        </div>
        <div class="q-mt-lg col-12" align="center">
          <q-btn label="ยกเลิก" size="lg" class="q-ml-md" style="width:250px" color="red-5" push/>
          <q-btn label="บันทึก" size="lg" class="q-ml-md" style="width:250px" color="teal-5" push/>
        </div>
      </div>

      <hr class="q-mt-xl q-mb-xl">

      <h5 align="center" class="no-margin q-pa-sm">Table
        <hr>
      </h5>

      <q-table
        :data="userList"
        :columns="columns"
        row-key="name"
        selection="single"
        :selected.sync="selectedOne"
        :pagination.sync="paginationControl"
        class="bg-grey-2"
      >
        <template slot="top-selection" slot-scope="props">
          <div class="col"/>
          <q-btn
            color="negative"
            flat
            round
            icon="delete"
            class=" q-mr-sm"
            @click="deleteSeller()"
          />
          <q-btn color="warning" flat round icon="edit" />
        </template>
      </q-table>

      <hr class="q-mt-xl q-mb-xl">

      <div class="row gutter-sm justify-center items-center">
        <div class="col-xs-10 col-sm-8">
          <q-select
            v-model="selected"
            label="เลือกโรงเรียน"
            class="bg-white q-pa-sm"
            :options="selectOptions"
          />
        </div>
        <div class="col-xs-10 col-sm-8">
          <q-btn label="บันทึก" size="lg" style="width:250px" color="teal-5" push/>
        </div>
      </div>

      <div class="row gutter-sm justify-center items-center">
        <div class="col-xs-12 col-xl-8">
          <q-input label="ค้นหารหัสโรงเรียนหรือชื่อโรงเรียน"></q-input>
        </div>
        <div class="col-xs-12 col-xl-4" align="center">
          <q-btn label="ค้นหา" size="lg" style="width:250px" color="teal-5" push/>
        </div>
      </div>
      <input type="file" @change="previewFile">

      <tinymce
        :other_options="tinyOptions"
        :id="'a' + (Math.random()*1000000).toFixed(0)"
        v-model="data"
        toolbar1="bold italic underline image"
      ></tinymce>
    </div>

    <div class="row justify-center q-pt-lg q-pb-md">
      <div class="q-pt-sm q-pb-sm q-pr-sm">
        <q-btn
          label="ยกเลิก"
          color="red-7"
          class="q-ma-sm q-ml-lg"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        ></q-btn>
      </div>
      <div class="q-pt-sm q-pb-sm q-pl-sm">
        <q-btn
          label="บันทึก"
          color="teal-5"
          class="q-ma-sm q-ml-lg"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        ></q-btn>
      </div>
    </div>-->

    <div>
      <q-input v-model="checkScoreInp"></q-input>
      <q-btn @click="checkDatePPTest()">เช็ค</q-btn>
    </div>

    <!-- <div class="q-pa-sm">
      <table>
        <tr>
          <th style="width:70px;">ลำดับ</th>
          <th>ชื่อ - นามสกุล</th>
          <th>ระดับชั้น</th>
          <th>วันที่เข้าเรียน</th>
        </tr>
        <tr v-for="(item,index) in dataDateList" :key="index">
          <td align="center">{{ index + 1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.room}}</td>
          <td>{{item.startDate}}</td>
        </tr>
      </table>
    </div>-->
  </div>
</template>

<script>
import { db, storage } from "../router/index.js";
export default {
  data() {
    return {
      dataDateList: [],
      checkScoreInp: ""
    };
  },
  methods: {
    checkScore() {
      this.$q.loading.show({ delay: 400 });
      console.clear();
      let schoolIdCheck = this.checkScoreInp;
      db.collection("school")
        .doc(schoolIdCheck)
        .collection("student")
        .get()
        .then(doc => {
          doc.forEach(element => {
            db.collection("school")
              .doc(schoolIdCheck)
              .collection("student")
              .doc(element.id)
              .get()
              .then(studata => {
                let studentInfo = studata.data();
                db.collection("school")
                  .doc(schoolIdCheck)
                  .collection("student")
                  .doc(element.id)
                  .collection("pretestlog")
                  .get()
                  .then(pretest => {
                    if (!pretest.empty) {
                      pretest.forEach(elementPretest => {
                        let pretestId = elementPretest.id;
                        let dataFinal = { ...studentInfo, ...elementPretest };
                        // console.log(dataFinal.totalQuestion);
                        if (elementPretest.data().totalQuestion == 100) {
                          console.log(elementPretest.data());
                          db.collection("school")
                            .doc(schoolIdCheck)
                            .collection("student")
                            .doc(element.id)
                            .collection("pretestlog")
                            .doc(elementPretest.id)
                            .get()
                            .then(test => {
                              console.log(test.data());
                            });
                          // .update({
                          //   totalQuestion: 100
                          // })
                          // .then(() => {
                          //   db.collection("school")
                          //     .doc(schoolIdCheck)
                          //     .collection("student")
                          //     .doc(element.id)
                          //     .collection("pretestlog")
                          //     .doc(elementPretest.id)
                          //     .collection("score")
                          //     .doc("data")
                          //     .get()
                          //     .then(getresult => {
                          //       if (getresult.exists) {
                          //         let randomNumber = Math.floor(
                          //           Math.random() * (10 - 28 + 1) + 28
                          //         );

                          //         db.collection("school")
                          //           .doc(schoolIdCheck)
                          //           .collection("student")
                          //           .doc(element.id)
                          //           .collection("pretestlog")
                          //           .doc(elementPretest.id)
                          //           .collection("score")
                          //           .doc("data")
                          //           .update({
                          //             vocabscore: randomNumber
                          //           });
                          //       }
                          //     });
                          // });
                        }
                      });
                      this.$q.loading.hide();
                    }
                  });
              });
          });
        });
    },
    checkDatePPTest() {
      this.loadingSet(1);

      // รหัสโรงเรียน
      let schoolCode = "124";

      // ห้อง
      let roomCode = "ม.1/3";

      db.collection("pretestposttestlog")
        .where("schoolcode", "==", schoolCode)
        .get()
        .then(getResult => {
          console.clear();

          console.log("School Code : " + schoolCode);
          console.log("Room : " + roomCode);

          console.log("--------------------------------");

          if (getResult.size > 0) {
            getResult.forEach(getData => {
              if (getData.data().studentroom == roomCode) {
                db.collection("school")
                  .doc(schoolCode)
                  .collection("student")
                  .doc(getData.data().studentid)
                  .get()
                  .then(getStudent => {
                    let newDate = new Date(getData.data().starttesttime);
                    console.log(
                      "StudentName : " +
                        getStudent.data().name +
                        " " +
                        getStudent.data().surname
                    );
                    console.log("Date : " + newDate);

                    console.log(" ");

                    let newData = {
                      name:
                        getStudent.data().name +
                        " " +
                        getStudent.data().surname,
                      startDate: newDate,
                      room: roomCode
                    };

                    this.dataDateList.push(newData);
                    this.loadingSet(0);
                  });
              }
            });

            this.loadingSet(0);
          }
        });
    },
    // Function Clear Data is %NAN Score Pre-test && Post-Test
    // For Database school/[schoolcode]/student/[studentCode]/pretestlog
    dataPPTest() {
      this.loadingSet(1);

      let school = "111";

      db.collection("school")
        .doc(school)
        .collection("student")
        .get()
        .then(dataStudent => {
          console.clear();

          console.log(
            "#################### " +
              "รหัสโรงเรียน " +
              school +
              " ####################"
          );

          console.log(" ");

          dataStudent.forEach(resultStudent => {
            db.collection("school")
              .doc(school)
              .collection("student")
              .doc(resultStudent.id)
              .collection("pretestlog")
              .get()
              .then(dataPretest => {
                if (dataPretest.size > 0) {
                  dataPretest.forEach(resultPretest => {
                    if (resultPretest.exists) {
                      db.collection("school")
                        .doc(school)
                        .collection("student")
                        .doc(resultStudent.id)
                        .collection("pretestlog")
                        .doc(resultPretest.id)
                        .get()
                        .then(data => {
                          if (data.exists) {
                            if (data.data().totalQuestion < 30) {
                              console.log(
                                "Total Question : " +
                                  Number(data.data().totalQuestion)
                              );
                            }

                            if (data.data().currentQuestion == undefined) {
                              // db.collection("school")
                              //   .doc(school)
                              //   .collection("student")
                              //   .doc(resultStudent.id)
                              //   .collection("pretestlog")
                              //   .doc(resultPretest.id)
                              //   .update({
                              //     currentQuestion: 0
                              //   });

                              console.log(
                                "***--- NONE : Current Question ---***"
                              );
                              console.log("StudentCode : " + resultStudent.id);
                              console.log(
                                resultStudent.data().name +
                                  " " +
                                  resultStudent.data().surname
                              );
                              console.log(
                                "Total Question : " +
                                  Number(data.data().totalQuestion)
                              );

                              if (data.data().totalQuestion == undefined) {
                                console.log(0);
                              }

                              console.log(" ");
                            }

                            if (data.data().totalQuestion == undefined) {
                              // db.collection("school")
                              //   .doc(school)
                              //   .collection("student")
                              //   .doc(resultStudent.id)
                              //   .collection("pretestlog")
                              //   .doc(resultPretest.id)
                              //   .update({
                              //     totalQuestion: 30
                              //   });

                              console.log(
                                "***--- NONE : Total Question ---***"
                              );
                              console.log("StudentCode : " + resultStudent.id);
                              console.log(
                                resultStudent.data().name +
                                  " " +
                                  resultStudent.data().surname
                              );
                              console.log(
                                "Current Question : " +
                                  Number(data.data().currentQuestion)
                              );

                              if (data.data().currentQuestion == undefined) {
                                console.log(0);
                              }

                              console.log(" ");
                            }
                          }
                          this.loadingSet(0);
                        });
                    }
                  });
                }
                this.loadingSet(0);
              });
          });
        });
    }
  },
  mounted() {
    // Pre-test && Post-test : Check Error %NAN Score
    // this.dataPPTest();
    // this.checkDatePPTest();
  }
};
</script>

<style >
.brx {
  border: 1px solid #f00;
}
</style>