<template>
  <div class="absolute-center">
    <span>{{ message }}</span>

    <q-btn @click="test()"></q-btn>
  </div>
</template>

<script>
import { db } from "../router";
export default {
  data() {
    return {
      message: "hello!",
    };
  },
  methods: {
    test() {
      db.collection("course")
        .where("academicYear", "==", "1/2563")
        .get()
        .then((doc) => {
          console.log(doc.size);
        });
    },
  },
  created() {
    this.message = "bye!";
  },
};
</script>