<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <div class="q-pa-sm" align="right">
        <q-btn round color="secondary" icon="fas fa-pencil-alt" @click="edit2Btn()"/>
      </div>
      <h5 align="center" class="no-margin q-pa-sm">โรงเรียน{{schoolName}}</h5>

      <hr>

      <div class="row gutter-sm justify-center" style="clear: both;">
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="ชื่อนักเรียน"
            outlined
            v-model.trim="studentData.name"
            :readonly="!isEdit"
            class="q-pa-sm"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="นามสกุล"
            outlined
            v-model.trim="studentData.surname"
            :readonly="!isEdit"
            class="q-pa-sm"
          ></q-input>
        </div>
      </div>

      <div class="row gutter-sm justify-center q-mt-xs">
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="เลขประจำตัว"
            outlined
            v-model.trim="studentData.studentid"
            :readonly="!isEdit"
            class="q-pa-sm"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-select
            emit-value
            map-options
            v-model="studentData.gender"
            outlined
            label="เพศ"
            class="q-pa-sm"
            :readonly="!isEdit"
            :options="genderList"
          />
        </div>
      </div>

      <div class="row gutter-sm justify-center q-mt-xs">
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="ชื่อผู้ใช้งาน"
            outlined
            v-model.trim="studentData.username"
            :readonly="!isEdit"
            class="q-pa-sm"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="รหัสผ่าน"
            outlined
            v-model.trim="studentData.password"
            :readonly="!isEdit"
            class="q-pa-sm"
          ></q-input>
        </div>
      </div>

      <div class="q-mt-lg col-12" align="center" v-show="isEdit">
        <q-btn
          label="ยกเลิก"
          class="q-ma-xs"
          @click="cancelBtn()"
          color="red-7"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
        <q-btn
          label="บันทึก"
          color="teal-5"
          class="q-ma-xs"
          @click="saveBtn()"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
      </div>
      <div class="q-pt-xl q-px-sm" align="right">
        <q-btn round color="secondary" icon="fas fa-plus" @click="addCourseBtn()"/>
      </div>
      <div class="q-mt-xl">
        <h5 align="center" class="no-margin">ข้อมูลคอร์ส</h5>
      </div>
      <div class="q-mt-md" style="clear: both;">
        <q-table
          :data="courseList"
          :columns="columns"
          selection="single"
          :selected.sync="selected"
          row-key="key"
          :pagination.sync="paginationControl"
          class="bg-grey-2"
        >
          <template slot="top-selection" slot-scope="props">
            <div class="col"/>
            <q-btn
              color="negative"
              flat
              round
              icon="delete"
              class="q-title q-mr-sm"
              @click="deleteBtn()"
            />
            <q-btn color="warning" flat round icon="edit" class="q-title" @click="editBtn()"/>
          </template>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      schoolName: "",
      studentData: [],
      genderList: [
        { value: "ชาย", label: "ชาย" },
        { value: "หญิง", label: "หญิง" }
      ],
      isEdit: false,
      courseList: [],
      columns: [
        {
          name: "makedate",
          label: "วันที่ซื้อคอร์ส",
          field: "makedate",
          sortable: false,
          style: "width:130px;",
          align: "center"
        },
        {
          name: "academicYear",
          label: "ปีการศึกษา",
          field: "academicYear",
          sortable: false,
          align: "center"
        },
        {
          name: "vocablv",
          label: "V",
          field: "vocablv",
          sortable: false,
          style: "width:150px;",
          align: "center"
        },
        {
          name: "grammarlv",
          label: "G",
          field: "grammarlv",
          sortable: false,
          style: "width:150px;",
          align: "center"
        },
        {
          name: "readinglv",
          label: "R",
          field: "readinglv",
          sortable: false,
          style: "width:150px;",
          align: "center"
        },
        {
          name: "writinglv",
          label: "W",
          field: "writinglv",
          sortable: false,
          style: "width:150px;",
          align: "center"
        },
        {
          name: "listeninglv",
          label: "L&S",
          field: "listeninglv",
          sortable: false,
          style: "width:150px;",
          align: "center"
        }
      ],
      selected: [],
      paginationControl: {
        rowsPerPage: 0
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    loadSchoolName() {
      db.collection("school")
        .doc(this.$store.state.system.schoolcode)
        .get()
        .then(data => {
          this.schoolName = data.data().name;
        });
    },

    loaddata() {
      // load ค่าเริ่มต้นของนักเรียน
      this.studentData = [];
      db.collection("school")
        .doc(this.$store.state.system.schoolcode)
        .collection("student")
        .doc(this.$route.params.id)
        .get()
        .then(data => {
          this.studentData = data.data();
        });
    },

    edit2Btn() {
      //ปุ่ม edit ข้อมูลทั่วไป
      this.isEdit = true;
    },

    cancelBtn() {
      //ปุ่ม cancel ข้อมูลทั่วไป
      this.isEdit = false;
      this.loaddata();
    },

    saveBtn() {
      let _this = this;
      db.collection("school")
        .doc(this.$store.state.system.schoolcode)
        .collection("student")
        .doc(this.$route.params.id)
        .update(this.studentData)
        .then(() => {
          this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
          _this.isEdit = false;
        });
    },

    loadCourse() {
      let _this = this;
      db.collection("course")
        .where("studentid", "==", this.$route.params.id)
        .onSnapshot(function(data) {
          var no = 1;
          var courseSnap = [];
          data.forEach(function(doc) {
            let dataKey = {
              key: doc.id
            };
            no += 1;
            let finalData = { ...doc.data(), ...dataKey };
            courseSnap.push(finalData);
          });
          _this.courseList = courseSnap;

          _this.courseList.sort((a, b) => {
            console.log(a.academicYear);
            let aterm = a.academicYear.slice(0, 1);
            let bterm = b.academicYear.slice(0, 1);
            let ayear = a.academicYear.slice(2, 6);
            let byear = b.academicYear.slice(2, 6);
            let a1 = Number(ayear);
            let a2 = Number(byear);
            if (a1 == a2) {
              return Number(bterm) - Number(aterm);
            } else {
              return a2 - a1;
            }
          });
        });
    },

    addCourseBtn() {
      this.$router.push("/student/course/add/" + this.$route.params.id);
    },

    deleteBtn() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("course")
            .doc(this.selected[0].key)
            .delete()
            .then(() => {
              this.$q.notify({
                color: "secondary",
                icon: "delete",
                message: `ลบข้อมูลเสร็จสิ้น`,
                position: "top",
                timeout: 500
              });
            });
          this.selected = [];
        })
        .onCancel(() => {
          this.selected = [];
          return;
        });
    },

    editBtn() {
      this.$router.push(
        "/student/course/edit/" +
          this.$route.params.id +
          "/" +
          this.selected[0].key
      );
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadSchoolName();
    this.loaddata();
    this.loadCourse();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>
