<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">โรงเรียน{{schoolName}}</h5>
      <hr>

      <div class="row q-mb-sm justify-center">
        <div class="col-xl-10 col-xs-12">
          <q-input
            ref="studentid"
            outlined
            type="number"
            v-model.trim.number="student.studentid"
            class="q-pa-sm"
            label="เลขประจำตัว"
            placeholder="เลขประจำตัว"
            @keyup.enter="checkDataBtn()"
            :readonly="step==2"
            :rules="[val => !!val || '']"
          />
        </div>
      </div>

      <div v-show="step==2" class="q-ma-md">
        <div class="row gutter-sm justify-center">
          <div class="col-xs-12 col-sm-6">
            <q-input
              label="ชื่อนักเรียน"
              ref="studentname"
              v-model.trim="student.name"
              outlined
              class="q-pa-sm"
              :rules="[val => !!val || '']"
            ></q-input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <q-input
              label="นามสกุล"
              ref="studentsurname"
              outlined
              v-model.trim="student.surname"
              class="q-pa-sm"
              :rules="[val => !!val || '']"
            ></q-input>
          </div>
        </div>

        <div class="row gutter-sm q-mt-xs">
          <div class="col-xs-12 col-sm-6">
            <q-select
              emit-value
              map-options
              outlined
              v-model="student.gender"
              label="เพศ"
              class="q-pa-sm"
              :options="genderList"
            />
          </div>
        </div>
      </div>

      <div class="q-mt-lg col-12" align="center">
        <q-btn
          label="ยกเลิก"
          class="q-ma-xs"
          to="/student/list"
          color="red-7"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />

        <q-btn
          label="ตรวจสอบ"
          color="teal-5"
          class="q-ma-xs"
          @click="checkDataBtn()"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          v-show="step==1"
        />

        <q-btn
          label="บันทึก"
          color="teal-5"
          class="q-ma-xs"
          @click="saveBtn()"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          v-show="step==2"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      schoolName: "",
      // studentid:'',
      schoolcode: this.$store.state.system.schoolcode,
      step: 1,
      student: {
        name: "",
        surname: "",
        studentid: "",
        gender: "ชาย",
        username: "",
        password: ""
      },
      genderList: [
        { value: "ชาย", label: "ชาย" },
        { value: "หญิง", label: "หญิง" }
      ],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },

  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    loadschoolname() {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .doc(this.schoolcode)
        .get()
        .then(doc => {
          this.schoolName = doc.data().name;
        });
    },

    checkDataBtn() {
      let _this = this;
      if (!(this.student.studentid > 0)) {
        this.$q.notify({
          color: "negative",
          position: "top",
          icon: "error",
          message: `กรุณาใส่เลขประจำตัว`,
          timeout: 500
        });
        return;
      }

      db.collection("school")
        .doc(this.schoolcode)
        .collection("student")
        .where("studentid", "==", this.student.studentid)
        .get()
        .then(data => {
          if (data.size == 0) {
            _this.$q
              .dialog({
                title: "ลงทะเบียน",
                message: "คุณต้องการลงทะเบียนนักเรียนใหม่",
                ok: "ตกลง",
                cancel: "ยกเลิก",
                preventClose: true
              })
              .onOk(() => {
                this.step = 2;
                return;
              })
              .onCancel(() => {
                return;
              });
          } else {
            _this.$q
              .dialog({
                title: "เพิ่มคอร์ส",
                message: "คุณต้องการเพิ่มคอร์ส",
                ok: "ตกลง",
                cancel: "ยกเลิก",
                preventClose: true
              })
              .onOk(() => {
                data.forEach(doc => {
                  let studentkey = doc.id;
                  _this.$router.push("/student/edit/" + studentkey);
                });
                return;
              })
              .onCancel(() => {
                return;
              });
          }
        });
    },

    saveBtn() {
      this.$refs.studentname.validate();
      this.$refs.studentsurname.validate();
      if (
        this.$refs.studentname.hasError ||
        this.$refs.studentsurname.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      let _this = this;

      this.student.username = this.schoolcode + this.student.studentid;
      this.student.password = this.genpassword(
        this.schoolcode,
        this.student.studentid
      );
      db.collection("school")
        .doc(this.schoolcode)
        .collection("student")
        .add(this.student)
        .then(doc => {
          this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");

          _this.$router.push("/student/edit/" + doc.id);
        });
    },

    genpassword(schoolcode, studentid) {
      //สร้าง password สำหรับแต่ละ user
      schoolcode = Number(schoolcode);
      studentid = Number(studentid);
      let password =
        ((schoolcode ** 3 + studentid ** 2) / (studentid + schoolcode / 2)) *
        schoolcode ** 2;
      password = password.toFixed(0);
      password = password.substring(password.length - 4, password.length);
      return password;
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadschoolname();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>

