<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">
        ข้อมูลทั่วไป
        <hr>
      </h5>

      <div class="row justify-center gutter-sm">
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="โรงเรียน"
            outlined
            v-model.trim="schoolName"
            :readonly="true"
            class="q-pa-sm"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="เลขประจำตัว"
            outlined
            v-model.trim="studentData.studentid"
            :readonly="true"
            class="q-pa-sm"
          ></q-input>
        </div>
      </div>

      <div class="row justify-center gutter-sm q-pt-md">
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="ชื่อนักเรียน"
            outlined
            v-model.trim="studentData.name"
            :readonly="true"
            class="q-pa-sm"
          ></q-input>
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-input
            label="นามสกุล"
            outlined
            v-model.trim="studentData.surname"
            :readonly="true"
            class="q-pa-sm"
          ></q-input>
        </div>
      </div>

      <h5 align="center" class="no-margin q-pa-md">
        ข้อมูลคอร์ส
        <hr>
      </h5>

      <div class="row justify-center gutter-sm q-pt-md">
        <div class="col-xs-12 col-sm-6">
          <q-select
            v-model="yearCode"
            outlined
            emit-value
            map-options
            label="ปีการศึกษา"
            class="q-pa-sm"
            :options="academicList"
            @input="loadRoom()"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-select
            v-model="roomselected"
            outlined
            emit-value
            map-options
            label="ห้อง/ชั้น"
            class="q-pa-sm"
            :options="roomList"
          />
        </div>
      </div>

      <div class="row gutter-sm q-pt-md">
        <div class="col-xs-12 col-sm-6">
          <q-select
            outlined
            emit-value
            map-options
            v-model="courseData.studentno"
            label="เลขที่"
            class="q-pa-sm"
            :options="studentnoList"
          />
        </div>
      </div>

      <div class="row gutter-sm q-pt-md">
        <div class="col-xs-12 col-sm-6">
          <q-radio
            v-model="isLevelAll"
            :val="true"
            color="secondary"
            label="เลือกระดับการเรียนแบบรวม"
            style="margin-left: 10px"
          />
        </div>
        <div class="col-xs-12 col-sm-6">
          <q-radio
            v-model="isLevelAll"
            :val="false"
            color="secondary"
            label="เลือกระดับการเรียนแบบแยกทักษะ"
            style="margin-left: 10px"
          />
        </div>
      </div>

      <!-- กรณีเลือกระดับแบบรวม -->
      <div class="row gutter-sm q-pt-md" v-show="isLevelAll">
        <div class="col-xs-12 col-sm-6">
          <q-select
            outlined
            emit-value
            map-options
            v-model="courseData.vocablv"
            label="ระดับการเรียน"
            class="q-pa-sm"
            :options="levelList"
          />
        </div>
      </div>

      <!-- กรณีเลือกระดับแยกทักษะ -->
      <div class="row gutter-sm q-pt-md" v-show="!isLevelAll">
        <div class="col-xs-12 col-sm-6">
          <q-select
            outlined
            emit-value
            map-options
            v-model="courseData.vocablv"
            label="ระดับ Vocabulary"
            class="q-pa-sm"
            :options="levelList"
          />
        </div>
      </div>

      <div class="row gutter-sm q-pt-md" v-show="!isLevelAll">
        <div class="col-xs-12 col-sm-6">
          <q-select
            outlined
            emit-value
            map-options
            v-model="courseData.grammarlv"
            label="ระดับ Grammar"
            class="q-pa-sm"
            :options="levelList"
          />
        </div>
      </div>

      <div class="row gutter-sm q-pt-md" v-show="!isLevelAll">
        <div class="col-xs-12 col-sm-6">
          <q-select
            outlined
            emit-value
            map-options
            v-model="courseData.readinglv"
            label="ระดับ Reading"
            class="q-pa-sm"
            :options="levelList"
          />
        </div>
      </div>

      <div class="row gutter-sm q-pt-md" v-show="!isLevelAll">
        <div class="col-xs-12 col-sm-6">
          <q-select
            outlined
            emit-value
            map-options
            v-model="courseData.writinglv"
            label="ระดับ Writing"
            class="q-pa-sm"
            :options="levelList"
          />
        </div>
      </div>

      <div class="row gutter-sm q-pt-md" v-show="!isLevelAll">
        <div class="col-xs-12 col-sm-6">
          <q-select
            outlined
            emit-value
            map-options
            v-model="courseData.listeninglv"
            label="ระดับ Listening & Speaking"
            class="q-pa-sm"
            :options="levelList"
          />
        </div>
      </div>

      <div class="row gutter-sm q-mt-sm">
        <div class="col-xs-12 col-sm-12">
          <q-input
            outlined
            type="textarea"
            class="q-pa-sm"
            label="หมายเหตุ"
            :max-height="100"
            rows="5"
            v-model.trim="courseData.remark"
          />
        </div>
      </div>

      <div class="q-mt-lg col-12" align="center">
        <q-btn
          label="ยกเลิก"
          class="q-ma-xs"
          @click="backToLastPage()"
          color="red-7"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
        <q-btn
          label="บันทึก"
          color="teal-5"
          class="q-ma-xs"
          @click="saveData()"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      studentData: [],
      schoolName: "",
      schoolcode: this.$store.state.system.schoolcode,
      academicList: [],
      yearCode: "",
      isAddData: true,
      roomdata: "",
      roomList: [],
      roomselected: "",
      isFirstLoad: true,
      isLevelAll: true,
      levelList: [],
      courseData: {
        vocablv: "1",
        grammarlv: "0",
        readinglv: "0",
        writinglv: "0",
        listeninglv: "0",
        studentno: 1,
        remark: "",
        academicYear: this.$store.state.system.academicyear,
        studentid: this.$route.params.studentid
      },
      studentnoList: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    backToLastPage() {
      //redirect to the last page
      this.$router.push("/student/edit/" + this.$route.params.studentid);
    },

    loadschoolname() {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .doc(this.schoolcode)
        .get()
        .then(doc => {
          this.schoolName = doc.data().name;
          this.loadAcademicYear(this.schoolcode);
        });
    },

    loadstudentData() {
      //โหลดข้อมูลนักเรียน
      db.collection("school")
        .doc(this.schoolcode)
        .collection("student")
        .doc(this.$route.params.studentid)
        .get()
        .then(doc => {
          this.studentData = doc.data();
        });
    },

    async loadAcademicYear(schoolcode) {
      //โหลดปีการศึกษาเปลี่ยนค่าตามรหัสโรงเรียน
      this.academicList = [];
      this.yearCode = 0;
      var yearcount = 0;
      let _this = this;
      let querySnapshot = await db
        .collection("academicyear")
        .where("schoolCode", "==", schoolcode)
        .get();

      yearcount = querySnapshot.size;

      querySnapshot.forEach(function(data) {
        let dataList = {
          value: data.id,
          label: data.data().academicyear
        };
        _this.academicList.push(dataList);
      });

      // console.log(_this.academicList);
      //เรียงตามเทอมการศึกษา
      _this.academicList.sort((a, b) => {
        let aterm = a.label.slice(0, 1);
        let bterm = b.label.slice(0, 1);
        let ayear = a.label.slice(2, 6);
        let byear = b.label.slice(2, 6);

        let a1 = Number(ayear);
        let a2 = Number(byear);
        if (a1 == a2) {
          return Number(aterm) - Number(bterm);
        } else {
          return a1 - a2;
        }
      });
      if (_this.isAddData) {
        _this.yearCode = _this.academicList[yearcount - 1].value;
      } else {
        _this.yearCode = _this.courseData.academicYear;
      }
      _this.loadRoom();
    },

    loadRoom() {
      //โหลดข้อมูลห้องตามปีการศึกษาและรหัสโรงเรียน
      this.roomdata = "";
      this.roomList = [];
      this.roomselected = "";
      db.collection("academicyear")
        .doc(this.yearCode)
        .get()
        .then(data => {
          this.roomdata = data.data();
          this.genroom();
        });
    },

    genroom() {
      if (this.roomdata.isP1) {
        for (let i = 1; i <= this.roomdata.roomP1; i++) {
          let data = {
            label: "ป.1/" + i,
            value: "ป.1/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.1/1";
          }
        }
      }
      if (this.roomdata.isP2) {
        for (let i = 1; i <= this.roomdata.roomP2; i++) {
          let data = {
            label: "ป.2/" + i,
            value: "ป.2/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.2/1";
          }
        }
      }
      if (this.roomdata.isP3) {
        for (let i = 1; i <= this.roomdata.roomP3; i++) {
          let data = {
            label: "ป.3/" + i,
            value: "ป.3/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.3/1";
          }
        }
      }
      if (this.roomdata.isP4) {
        for (let i = 1; i <= this.roomdata.roomP4; i++) {
          let data = {
            label: "ป.4/" + i,
            value: "ป.4/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.4/1";
          }
        }
      }
      if (this.roomdata.isP5) {
        for (let i = 1; i <= this.roomdata.roomP5; i++) {
          let data = {
            label: "ป.5/" + i,
            value: "ป.5/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.5/1";
          }
        }
      }
      if (this.roomdata.isP6) {
        for (let i = 1; i <= this.roomdata.roomP6; i++) {
          let data = {
            label: "ป.6/" + i,
            value: "ป.6/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.6/1";
          }
        }
      }
      if (this.roomdata.isM1) {
        for (let i = 1; i <= this.roomdata.roomM1; i++) {
          let data = {
            label: "ม.1/" + i,
            value: "ม.1/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.1/1";
          }
        }
      }
      if (this.roomdata.isM2) {
        for (let i = 1; i <= this.roomdata.roomM2; i++) {
          let data = {
            label: "ม.2/" + i,
            value: "ม.2/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.2/1";
          }
        }
      }
      if (this.roomdata.isM3) {
        for (let i = 1; i <= this.roomdata.roomM3; i++) {
          let data = {
            label: "ม.3/" + i,
            value: "ม.3/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.3/1";
          }
        }
      }
      if (this.roomdata.isM4) {
        for (let i = 1; i <= this.roomdata.roomM4; i++) {
          let data = {
            label: "ม.4/" + i,
            value: "ม.4/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.4/1";
          }
        }
      }
      if (this.roomdata.isM5) {
        for (let i = 1; i <= this.roomdata.roomM5; i++) {
          let data = {
            label: "ม.5/" + i,
            value: "ม.5/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.5/1";
          }
        }
      }
      if (this.roomdata.isM6) {
        for (let i = 1; i <= this.roomdata.roomM6; i++) {
          let data = {
            label: "ม.6/" + i,
            value: "ม.6/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.6/1";
          }
        }
      }

      if (this.isFirstLoad && !this.isAddData) {
        this.roomselected = this.courseData.room;
        this.studentno = this.courseData.no;
        this.isFirstLoad = false;
      }
    },

    loadStudentNo() {
      for (let i = 1; i <= 50; i++) {
        let data = {
          label: i.toString(),
          value: i
        };
        this.studentnoList.push(data);
      }
    },

    loadLevelData() {
      db.collection("level")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.data().name.toString(),
              label: "LV " + doc.data().name.toString()
            };
            this.levelList.push(dataList);
          });
          this.levelList.sort((a, b) => {
            return Number(a.value) - Number(b.value);
          });
          this.levelList = this.levelList;
          let data2 = {
            value: "0",
            label: "ไม่เลือก"
          };
          this.levelList.unshift(data2);
        });
    },

    saveData() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      var yyyy = today.getFullYear();
      var time = today.getTime();

      if (dd < 10) {
        dd = "0" + dd;
      }

      if (mm < 10) {
        mm = "0" + mm;
      }

      today = yyyy + "-" + dd + "-" + mm;
      this.courseData.makedate = today;
      this.courseData.isLevelAll = this.isLevelAll;
      if (this.isLevelAll) {
        this.courseData.grammarlv = this.courseData.vocablv;
        this.courseData.readinglv = this.courseData.vocablv;
        this.courseData.writinglv = this.courseData.vocablv;
        this.courseData.listeninglv = this.courseData.vocablv;
      }
      this.courseData.timestamp = time;
      this.courseData.room = this.roomselected;
      this.courseData.schoolcode = this.schoolcode;
      this.courseData.academicYear = this.changeAcademicYear(this.yearCode);
      if (!this.isAddData) {
        db.collection("course")
          .doc(this.$route.params.courseid)
          .update(this.courseData)
          .then(() => {
            this.$q.notify({
              color: "secondary",
              position: "top",
              icon: "done",
              message: `บันทึกข้อมูลเรียบร้อยแล้ว`,
              timeout: 500
            });
            this.backToLastPage();
          });
      } else {
        db.collection("course")
          .add(this.courseData)
          .then(() => {
            this.$q.notify({
              color: "secondary",
              position: "top",
              icon: "done",
              message: `บันทึกข้อมูลเรียบร้อยแล้ว`,
              timeout: 500
            });
            this.backToLastPage();
          });
      }
    },

    loadcourseData() {
      db.collection("course")
        .doc(this.$route.params.courseid)
        .get()
        .then(doc => {
          this.courseData = doc.data();
          this.isLevelAll = this.courseData.isLevelAll;
          // this.loadAcademicYear(this.schoolcode)
          this.courseData.academicYear =
            this.courseData.schoolcode +
            "_" +
            this.convertslash(this.courseData.academicYear);
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
    if (this.$route.name != "studentaddcourse") {
      this.isAddData = false;
      this.loadcourseData();
    }
    this.loadschoolname();
    this.loadstudentData();
    this.loadStudentNo();
    this.loadLevelData();
  }
};
</script>