<template>
  <q-page>
    <div class="q-pa-md">
      <div align="right" class="q-pa-sm col-xs-12 col-md-6 q-mb-sm">
        <q-btn
          round
          color="teal-5"
          icon="fas fa-file-import"
          class="q-ma-sm q-mr-sm"
          to="/student/upload"
        />

        <q-btn round color="teal-5" class="q-ma-sm q-mr-sm" icon="fas fa-plus" to="/student/add" />

        <q-btn round color="teal-5" class="q-ma-sm q-mr-sm" icon="fas fa-print" />

        <q-btn
          round
          color="teal-5"
          class="q-ma-sm q-mr-sm"
          icon="fas fa-search"
          to="/student/search"
        />
      </div>

      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">
          โรงเรียน{{schoolName}} | ปีการศึกษา {{yearname}}
          <hr />
        </h5>
        <div class="row q-ma-md justify-center items-center">
          <div class="col-xl-6 col-xs-12 col-md-6 self-center">
            <div class="row">
              <div class="col-6">
                <q-select
                  outlined
                  emit-value
                  grid-options
                  v-model="roomselected"
                  label="ชั้น / ห้อง"
                  :options="roomList"
                  @input="loadstudentData()"
                ></q-select>
              </div>
              <div class="col-6">
                <table>
                  <tr>
                    <td>
                      <q-btn
                        color="red-5"
                        class="block q-mt-sm q-ml-md"
                        icon="fas fa-trash-alt"
                        @click="prompt = true"
                      />
                    </td>
                    <td>
                      <q-btn
                        color="indigo-5"
                        class="block q-mt-sm q-ml-md"
                        icon="fas fa-exchange-alt"
                        @click="promptLevel = true"
                      />
                    </td>
                    <td v-if="!isHaveStudentLastYear && isHaveStudent">
                      <q-btn
                        color="green-8"
                        class="block q-mt-sm q-ml-md"
                        icon="fas fa-user-clock"
                        @click="addNewCourse()"
                        :disabled="isNewCourse"
                      />
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <q-dialog v-model="prompt" persistent>
          <q-card style="min-width: 400px">
            <q-card-section>
              <div class="text-h6">
                กรุณาพิมพ์ข้อความ "ลบทั้งหมด"
                <br />เพื่อยืนยันการลบข้อมูลนักเรียนทั้งห้อง
              </div>
            </q-card-section>

            <q-card-section>
              <q-input dense v-model="confirmAnswer" autofocus @keyup.enter="prompt = false" />
            </q-card-section>

            <q-card-actions align="right" class="text-primary">
              <q-btn flat label="ยกเลิก" v-close-popup />
              <q-btn flat label="ยืนยัน" v-close-popup @click="delAllStudent()" />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <q-dialog v-model="promptLevel" persistent>
          <q-card style="min-width: 400px">
            <q-card-section>
              <div class="text-h6">
                กรุณาพิมพ์ข้อความ "ย้าย Level"
                <br />เพื่อยืนยันการย้าย Level นักเรียนทั้งห้อง
              </div>
            </q-card-section>

            <q-card-section>
              <q-input dense v-model="confirmAnswer" autofocus @keyup.enter="prompt = false" />
            </q-card-section>

            <q-card-actions align="right" class="text-primary">
              <q-btn flat label="ยกเลิก" v-close-popup />
              <q-btn flat label="ยืนยัน" v-close-popup @click="changeLevelStudent()" />
            </q-card-actions>
          </q-card>
        </q-dialog>

        <div>
          <q-table
            :data="studentInfo"
            :columns="columns"
            row-key="key"
            selection="single"
            :selected.sync="selected"
            class="bg-grey-2 q-mt-sm"
            :pagination.sync="paginationControl"
            separator="cell"
          >
            <template slot="top-selection" slot-scope="props">
              <div class="col" />
              <q-btn
                color="negative"
                flat
                round
                icon="delete"
                class="q-title q-mr-sm"
                @click="deleteBtn()"
              />
              <q-btn color="warning" flat round icon="edit" class="q-title" @click="editBtn()" />
            </template>
          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>


<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      roomselected: "", //ห้องที่ถูกเลือก
      schoolName: "",
      roomselected: "", //ห้องที่ถูกเลือก
      roomList: [], //ข้อมูลรายชื่อห้องในรูปแบบ List
      roomdata: "", //ข้อมูลรายชื่อห้องในรูป object
      yearname: "",
      yearlast: "",
      yearcurrent: "",
      yearlist: [],
      schoolcode: this.$store.state.system.schoolcode,
      yearcode: this.$store.state.system.academicyear,
      studentInfo: [],
      columns: [
        {
          name: "studentno",
          label: "เลขที่",
          style: "width:120px;",
          align: "center",
          field: "studentno",
          sortable: true
        },
        {
          name: "studentcode",
          label: "เลขประจำตัว",
          align: "center",
          field: "studentcode",
          sortable: true
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "center",
          field: "name",
          sortable: true
        },
        {
          name: "password",
          label: "รหัสผ่าน",
          align: "center",
          field: "password",
          sortable: false
        },
        {
          name: "vocablv",
          label: "V",
          align: "center",
          field: "vocablv",
          sortable: false
        },
        {
          name: "grammarlv",
          label: "G",
          align: "center",
          field: "grammarlv",
          sortable: false
        },
        {
          name: "readinglv",
          label: "R",
          align: "center",
          field: "readinglv",
          sortable: false
        },
        {
          name: "writinglv",
          label: "W",
          align: "center",
          field: "writinglv",
          sortable: false
        },
        {
          name: "listeninglv",
          label: "L",
          align: "center",
          field: "listeninglv",
          sortable: false
        }
      ],
      paginationControl: {
        rowsPerPage: 0
      },
      selected: [],
      promptLevel: false,
      prompt: false,
      confirmAnswer: "",
      isNewCourse: false,
      isHaveStudent: true,
      isHaveStudentLastYear: true
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    loadschoolname(schoolcode) {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .doc(schoolcode)
        .get()
        .then(doc => {
          this.schoolName = doc.data().name;
        });
    },
    loadacademicyear(yearcode) {
      //โหลดข้อมูลจาก academicyear -> เก็บค่า ห้อง และชื่อปีการศึกษา
      db.collection("academicyear")
        .doc(yearcode)
        .get()
        .then(data => {
          this.roomdata = data.data();
          this.yearname = data.data().academicyear;
          this.genroom();
        });
    },

    changeLevelStudent() {
      // console.log(this.roomselected);
      if (this.confirmAnswer == "ย้าย Level") {
        this.$router.push(
          "/student/changelevel/" + this.roomselected.replace("/", "_")
        );
      }
    },

    async addNewCourse() {
      console.clear();

      this.loadingSet(1);

      let response = await axios.get(this.serverpath + "/api/gettime.php");
      let microTime = response.data[0].microtime;

      this.isNewCourse = true;

      for (let i = 0; i < this.studentInfo.length; i++) {
        let newData = {
          academicYear: this.yearlast,
          grammarlv: Number(this.studentInfo[i].grammarlv) + 1,
          isLevelAll: true,
          listeninglv: Number(this.studentInfo[i].grammarlv) + 1,
          makedate: "2019-10-10",
          readinglv: Number(this.studentInfo[i].grammarlv) + 1,
          remark: "",
          room: this.studentInfo[i].room,
          schoolcode: this.schoolcode,
          studentid: this.studentInfo[i].studentid,
          studentno: this.studentInfo[i].studentno,
          timestamp: microTime,
          vocablv: Number(this.studentInfo[i].grammarlv) + 1,
          writinglv: Number(this.studentInfo[i].grammarlv) + 1
        };

        await db.collection("course").add(newData);
      }
      this.isNewCourse = false;
      this.isHaveStudentLastYear = true;
      this.loadingSet(0);
      this.notifyGreen("ต่อคอร์สเรียบร้อยแล้ว");
    },

    async delAllStudent() {
      //ลบข้อมูลนักเรียนทีั้งชั้น เฉพาะ course ในเทอมที่เลอืกเท่านั้น
      let _this = this;
      if (this.confirmAnswer == "ลบทั้งหมด") {
        this.confirmAnswer = "";
        //กรณีใส่รหัสลบข้อมูลถูกต้อง
        await db
          .collection("course")
          .where("schoolcode", "==", this.schoolcode)
          .where("academicYear", "==", this.yearname)
          .where("room", "==", this.roomselected)
          .get()
          .then(data => {
            data.forEach(doc => {
              let studentid = doc.data().studentid;
              let courseid = doc.id;
              //ทำการลบ course ่ก่อน
              db.collection("course")
                .doc(courseid)
                .delete()
                .then(() => {
                  //เมื่อลบ course แล้วทำการ check ว่านักเรียนคนนี้มี course อื่นเหลือหรือเปล่าว
                  db.collection("course")
                    .where("studentid", "==", studentid)
                    .get()
                    .then(doc2 => {
                      if (doc2.empty) {
                        //ถ้าไม่มีเหลือทำการลบนข้อมูลนักเรียน
                        db.collection("school")
                          .doc(_this.schoolcode)
                          .collection("student")
                          .doc(studentid)
                          .delete();
                      }
                    });
                });
            });
          });
        this.loadstudentData();
      } else {
        //กรณีใส่รหัสลบข้อมูลไม่ถูกต้อง
        this.$q.dialog({
          title: "ผิดพลาด",
          message: "รหัสยืนยันการลบไม่ถูกต้อง",
          ok: "ตกลง",
          preventClose: true
        });
      }
    },

    genroom() {
      if (this.roomdata.isP1) {
        for (let i = 1; i <= this.roomdata.roomP1; i++) {
          let data = {
            label: "ป.1/" + i,
            value: "ป.1/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.1/1";
          }
        }
      }
      if (this.roomdata.isP2) {
        for (let i = 1; i <= this.roomdata.roomP2; i++) {
          let data = {
            label: "ป.2/" + i,
            value: "ป.2/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.2/1";
          }
        }
      }
      if (this.roomdata.isP3) {
        for (let i = 1; i <= this.roomdata.roomP3; i++) {
          let data = {
            label: "ป.3/" + i,
            value: "ป.3/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.3/1";
          }
        }
      }
      if (this.roomdata.isP4) {
        for (let i = 1; i <= this.roomdata.roomP4; i++) {
          let data = {
            label: "ป.4/" + i,
            value: "ป.4/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.4/1";
          }
        }
      }
      if (this.roomdata.isP5) {
        for (let i = 1; i <= this.roomdata.roomP5; i++) {
          let data = {
            label: "ป.5/" + i,
            value: "ป.5/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.5/1";
          }
        }
      }
      if (this.roomdata.isP6) {
        for (let i = 1; i <= this.roomdata.roomP6; i++) {
          let data = {
            label: "ป.6/" + i,
            value: "ป.6/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ป.6/1";
          }
        }
      }
      if (this.roomdata.isM1) {
        for (let i = 1; i <= this.roomdata.roomM1; i++) {
          let data = {
            label: "ม.1/" + i,
            value: "ม.1/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.1/1";
          }
        }
      }
      if (this.roomdata.isM2) {
        for (let i = 1; i <= this.roomdata.roomM2; i++) {
          let data = {
            label: "ม.2/" + i,
            value: "ม.2/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.2/1";
          }
        }
      }
      if (this.roomdata.isM3) {
        for (let i = 1; i <= this.roomdata.roomM3; i++) {
          let data = {
            label: "ม.3/" + i,
            value: "ม.3/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.3/1";
          }
        }
      }
      if (this.roomdata.isM4) {
        for (let i = 1; i <= this.roomdata.roomM4; i++) {
          let data = {
            label: "ม.4/" + i,
            value: "ม.4/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.4/1";
          }
        }
      }
      if (this.roomdata.isM5) {
        for (let i = 1; i <= this.roomdata.roomM5; i++) {
          let data = {
            label: "ม.5/" + i,
            value: "ม.5/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.5/1";
          }
        }
      }
      if (this.roomdata.isM6) {
        for (let i = 1; i <= this.roomdata.roomM6; i++) {
          let data = {
            label: "ม.6/" + i,
            value: "ม.6/" + i
          };
          this.roomList.push(data);
          if (this.roomselected == "") {
            this.roomselected = "ม.6/1";
          }
        }
      }
      this.loadstudentData();
    },

    loadstudentData() {
      this.loadingSet(1);
      let _this = this;
      let _db = db;
      this.studentInfo = [];
      db.collection("course")
        .where("schoolcode", "==", this.schoolcode)
        .where("academicYear", "==", this.yearname)
        .where("room", "==", this.roomselected)
        .get()
        .then(data => {
          if (data.size > 0) {
            this.isHaveStudent = true;
            data.forEach(doc => {
              let dataList = {
                key: doc.id
              };
              _db
                .collection("school")
                .doc(_this.schoolcode)
                .collection("student")
                .doc(doc.data().studentid)
                .get()
                .then(doc2 => {
                  if (doc2.data() != undefined) {
                    let data2 = {
                      name: doc2.data().name + " " + doc2.data().surname,
                      studentcode: doc2.data().studentid,
                      password: doc2.data().password
                    };
                    let dataFinal = { ...doc.data(), ...dataList, ...data2 };
                    _this.studentInfo.push(dataFinal);
                    _this.studentInfo.sort((a, b) => {
                      return Number(a.studentno) - Number(b.studentno);
                    });
                    //remove duplicated array
                    for (let i = 0; i < _this.studentInfo.length - 1; i++) {
                      if (
                        _this.studentInfo[i].studentid ==
                        _this.studentInfo[i + 1].studentid
                      ) {
                        _this.studentInfo.splice(i, 1);
                      }
                    }
                  }
                });
            });
          } else {
            this.isHaveStudent = false;
          }

          db.collection("academicyear")
            .where("schoolCode", "==", this.schoolcode)
            .get()
            .then(getAcademic => {
              let academicYearList = [];
              getAcademic.forEach(getResult => {
                academicYearList.push(getResult.data().academicyear);
              });
              academicYearList.sort((a, b) => {
                let aterm = a.slice(0, 1);
                let bterm = b.slice(0, 1);
                let ayear = a.slice(2, 6);
                let byear = b.slice(2, 6);
                let a1 = Number(ayear);
                let a2 = Number(byear);
                if (a1 == a2) {
                  return Number(aterm) - Number(bterm);
                } else {
                  return a1 - a2;
                }
              });

              if (academicYearList.length == 0) {
                this.yearlast = academicYearList[0];
              } else if (academicYearList.length == 1) {
                this.yearcurrent =
                  academicYearList[academicYearList.length - 1];
                this.yearlast = academicYearList[academicYearList.length - 1];
              } else if (academicYearList.length > 1) {
                this.yearcurrent =
                  academicYearList[academicYearList.length - 2];
                this.yearlast = academicYearList[academicYearList.length - 1];
              }

              this.yearlist = academicYearList;

              db.collection("course")
                .where("schoolcode", "==", this.schoolcode)
                .where("academicYear", "==", this.yearlast)
                .where("room", "==", this.roomselected)
                .get()
                .then(getStudent => {
                  if (getStudent.size > 0) {
                    this.isHaveStudentLastYear = true;
                  } else {
                    this.isHaveStudentLastYear = false;
                  }

                  this.loadingSet(0);
                });
            });
        });
    },

    editBtn() {
      this.$router.push("/student/edit/" + this.selected[0].studentid);
    },

    deleteBtn() {
      let courseid = this.selected[0].key;
      let studentid = this.selected[0].studentid;
      let _this = this;
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("school")
            .doc(this.schoolcode)
            .collection("student")
            .doc(studentid)
            .delete()
            .then(() => {
              db.collection("course")
                .doc(courseid)
                .delete()
                .then(() => {
                  this.$q.notify({
                    color: "secondary",
                    icon: "delete",
                    message: `ลบข้อมูลเสร็จสิ้น`,
                    position: "top",
                    timeout: 500
                  });
                  _this.loadstudentData();
                  _this.selected = [];
                });
            });
        })
        .onCancel(() => {
          this.selected = [];
          return;
        });
    }
  },
  mounted() {
    this.loadschoolname(this.$store.state.system.schoolcode);
    this.loadacademicyear(this.$store.state.system.academicyear);
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>

