<template>
  <q-page>
    <q-resize-observer @resize="onResize"/>
    <div class="q-pa-md">
      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">นักเรียน
          <hr>
        </h5>
        <div class="row gutter-sm">
          <div class="col-xs-12 col-sm-6">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="schoolCode"
                label="ชื่อโรงเรียน"
                :options="schoolList"
                @input="refreshdata()"
              ></q-select>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6">
            <div style="width:90%; margin:auto;">
              <q-select
                emit-value
                map-options
                v-model="yearCode"
                label="ปีการศึกษา"
                :options="academicList"
              ></q-select>
            </div>
          </div>
        </div>
        <div class="q-mt-lg col-12" align="center">
          <q-btn
            label="เลือก"
            color="teal-5"
            class="q-ma-xs"
            @click="chooseBtn()"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolList: [],
      academicList: [],
      schoolCode: "", //โรงเรียนที่ถูกเลือก
      yearCode: 0, //ปีที่ถูกเลือก
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setAcademicYear",
      "setSchoolCode",
      "setLinkCode",
      "setLinkMenu"
    ]),

    loadData() {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.id,
              label: doc.data().code + " - " + doc.data().name
            };
            this.schoolList.push(dataList);
          });
          this.schoolCode = this.schoolList[0].value;
          this.refreshdata();
        });
    },

    loadAcademicYear(schoolcode) {
      //โหลดปีการศึกษาเปลี่ยนค่าตามรหัสโรงเรียน
      this.academicList = [];
      this.yearCode = 0;
      var yearcount = 0;
      let _this = this;
      db.collection("academicyear")
        .where("schoolCode", "==", schoolcode)
        .get()
        .then(function(querySnapshot) {
          yearcount = querySnapshot.size;
          querySnapshot.forEach(function(data) {
            let dataList = {
              value: data.id,
              label: data.data().academicyear
            };
            _this.academicList.push(dataList);
          });
          //เรียงตามเทอมการศึกษา
          _this.academicList.sort((a, b) => {
            let aterm = a.label.slice(0, 1);
            let bterm = b.label.slice(0, 1);
            let ayear = a.label.slice(2, 6);
            let byear = b.label.slice(2, 6);
            let a1 = Number(ayear);
            let a2 = Number(byear);
            if (a1 == a2) {
              return Number(aterm) - Number(bterm);
            } else {
              return a1 - a2;
            }
          });
          if (yearcount == 0) {
            let data = {
              value: "0",
              label: "ไม่มีข้อมูล"
            };
            _this.academicList.push(data);
            _this.yearCode = "0";
          } else {
            _this.yearCode = _this.academicList[yearcount - 1].value;
          }
        });
    },

    refreshdata() {
      //ถูกเรียกเมือการเปลี่ยนชื่อโรงเรียน
      this.loadAcademicYear(this.schoolCode);
    },

    chooseBtn() {
      this.setAcademicYear(this.yearCode);
      this.setSchoolCode(this.schoolCode);
      this.$router.push("student/list");
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadData();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>

