<template>
  <q-page>
    <q-resize-observer @resize="onResize"/>
    <div class="q-pa-md">
      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">
          โรงเรียน{{schoolName}} | ปีการศึกษา {{yearname}}
          <hr>
        </h5>
        <div class="row q-ma-md justify-center items-center">
          <div class="col-12 self-center">
            <div class="text-h6 text-center">{{classRoom}}</div>
          </div>
          <div class="col-6 self-center">
            <div class="row">
              <div class="col-6 text-center self-center">
                <q-select
                  v-model="levelSelected"
                  :options="options"
                  label="เลือกเลเวลที่ต้องการจะย้าย"
                ></q-select>
              </div>
              <div class="col-6">
                <div class="q-pt-md q-pl-xl">
                  <q-btn
                    label="ย้ายเลเวล"
                    @click="moveLevel()"
                    color="teal-5"
                    class="q-ma-xs"
                    :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
                  ></q-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolName: "",
      schoolCode: this.$store.state.system.schoolcode,
      yearname: "",
      options: [
        "LV 1",
        "LV 2",
        "LV 3",
        "LV 4",
        "LV 5",
        "LV 6",
        "LV 7",
        "LV 8",
        "LV 9",
        "LV 10",
        "LV 11",
        "LV 12"
      ],
      levelSelected: "LV 1",
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      classRoom: ""
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    loadschoolname(schoolcode) {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .doc(schoolcode)
        .get()
        .then(doc => {
          this.schoolName = doc.data().name;
        });
    },
    loadacademicyear(yearcode) {
      //โหลดข้อมูลจาก academicyear -> เก็บค่า ห้อง และชื่อปีการศึกษา
      db.collection("academicyear")
        .doc(yearcode)
        .get()
        .then(data => {
          this.yearname = data.data().academicyear;
        });
    },
    async moveLevel() {
      //ทำการดึงข้อมูล student ในห้องนี้ แล้วทำการวน loop
      console.log(this.classRoom, this.schoolCode, this.yearname);
      await db
        .collection("course")
        .where("academicYear", "==", this.yearname)
        .where("room", "==", this.classRoom)
        .where("schoolcode", "==", this.schoolCode)
        .get()
        .then(coursedoc => {
          coursedoc.forEach(coursedata => {
            let studentkey = coursedata.data().studentid;
            let levelchoose = this.levelSelected.replace("LV ", "").toString();
            //ปรับค่าใน course
            db.collection("course")
              .doc(coursedata.id)
              .update({
                grammarlv: levelchoose,
                listeninglv: levelchoose,
                readinglv: levelchoose,
                vocablv: levelchoose,
                writinglv: levelchoose
              });
            //ทำการลบ Monitor
            db.collection("school")
              .doc(this.schoolCode)
              .collection("monitor")
              .doc(studentkey)
              .delete();
            //ลบการเรียน practicelog
            let practicelogroot = db
              .collection("school")
              .doc(this.schoolCode)
              .collection("student")
              .doc(studentkey)
              .collection("practicelog")
              .doc(this.yearname.replace("/", "-"))
              .collection("practicescore");

            practicelogroot.get().then(plog => {
              plog.forEach(plogdoc => {
                practicelogroot.doc(plogdoc.id).delete();
              });

              //delete progress
              let progresslog = db
                .collection("school")
                .doc(this.schoolCode)
                .collection("student")
                .doc(studentkey)
                .collection("progress")
                .doc(this.yearname.replace("/", "-"));
              for (let i = 1; i <= 16; i++) {
                progresslog
                  .collection("unit" + i)
                  .doc("progress")
                  .delete();
              }
              setTimeout(() => {
                progresslog.delete();
                this.$q
                  .dialog({
                    title: "ย้ายเลเวล",
                    message: "ดำเนินการเสร็จสิ้น",
                    ok: "กลับหน้าหลัก",
                    preventClose: true
                  })
                  .onOk(() => {
                    this.$router.push("/student/list");
                  });
              }, 100);
            });
          });
        });

      //ขึ้นหน้าแจ้งเตือนแล้วย้ายกลับไปหน้าหลัก
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.loadschoolname(this.$store.state.system.schoolcode);
    this.loadacademicyear(this.$store.state.system.academicyear);
    this.classRoom = this.$route.params.classroom.replace("_", "/");
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>

<style scoped>
.brx {
  border: 1px solid red;
}
</style>