<template>
  <q-page>
    <div class="q-pa-md">
      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">โรงเรียน{{schoolName}}</h5>
        <hr>
        <div class="row justify-center q-ma-md">
          <div class="col-xs-12 col-sm-6">
            <q-select
              emit-value
              map-options
              v-model="yearCode"
              label="ปีการศึกษา"
              :options="academicList"
              @input="loadstudentdata()"
            ></q-select>
          </div>
        </div>
        <div class="q-mt-xl">
          <q-table
            :data="studentTotal"
            :columns="columns"
            :filter="filter"
            selection="single"
            :selected.sync="selected"
            row-key="key"
            :pagination.sync="paginationControl"
            class="bg-grey-2"
          >
            <template slot="top-left" slot-scope="props">
              <q-input outlined dense debounce="300" color="primary" v-model="filter">
                <template v-slot:append>
                  <q-icon name="search"/>
                </template>
              </q-input>
            </template>
            <template slot="top-selection" slot-scope="props">
              <div class="col"/>
              <q-btn
                color="negative"
                flat
                round
                icon="delete"
                class="q-title q-mr-sm"
                @click="deleteBtn()"
              />
              <q-btn color="warning" flat round icon="edit" class="q-title" @click="editBtn()"/>
            </template>
          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolcode: this.$store.state.system.schoolcode,
      schoolName: "",
      yearCode: "",
      academicList: [],
      studentList: [],
      studentTotal: [],
      filter: "",
      columns: [
        {
          name: "studentid",
          label: "เลขประจำตัว",
          style: "width:120px;",
          align: "center",
          field: "stuid",
          sortable: true
        },
        {
          name: "room",
          label: "ชั้น/ห้อง",
          style: "width:120px;",
          align: "center",
          field: "room",
          sortable: true
        },
        {
          name: "no",
          label: "เลขที่",
          align: "left",
          field: "studentno",
          sortable: false
        },
        {
          name: "name",
          label: "ชื่อ-นามสกุล",
          align: "left",
          field: "studentname",
          sortable: true
        },
        {
          name: "password",
          label: "รหัสผ่าน",
          align: "left",
          field: "password",
          sortable: false
        }
      ],
      selectedRow: [],
      paginationControl: {
        rowsPerPage: 20
      },
      selected: []
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    loadschoolname(schoolcode) {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .doc(schoolcode)
        .get()
        .then(doc => {
          this.schoolName = doc.data().name;
        });
    },
    loadAcademicYear(schoolcode) {
      //โหลดปีการศึกษาเปลี่ยนค่าตามรหัสโรงเรียน
      this.academicList = [];
      this.yearCode = 0;
      var yearcount = 0;
      let _this = this;
      db.collection("academicyear")
        .where("schoolCode", "==", schoolcode)
        .get()
        .then(function(querySnapshot) {
          yearcount = querySnapshot.size;
          querySnapshot.forEach(function(data) {
            let dataList = {
              value: data.data().academicyear,
              label: data.data().academicyear
            };
            _this.academicList.push(dataList);
          });
          //เรียงตามเทอมการศึกษา
          _this.academicList.sort((a, b) => {
            let aterm = a.label.slice(0, 1);
            let bterm = b.label.slice(0, 1);
            let ayear = a.label.slice(2, 6);
            let byear = b.label.slice(2, 6);
            let a1 = Number(ayear);
            let a2 = Number(byear);
            if (a1 == a2) {
              return Number(aterm) - Number(bterm);
            } else {
              return a1 - a2;
            }
          });

          _this.yearCode = _this.academicList[yearcount - 1].value;
          _this.loadstudentdata();
        });
    },

    loadstudentdata() {
      this.studentTotal = [];
      //โหลดข้อมูลทั้งหมด
      db.collection("course")
        .where("academicYear", "==", this.yearCode)
        .where("schoolcode", "==", this.schoolcode)
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              key: doc.id
            };
            let dataFinal = { ...doc.data(), ...dataList };

            let studentid2 = doc.data().studentid;
            db.collection("school")
              .doc(this.schoolcode)
              .collection("student")
              .doc(studentid2)
              .get()
              .then(doc2 => {
                let dataList2 = {
                  stuid: doc2.data().studentid,
                  password: doc2.data().password,
                  studentname: doc2.data().name + " " + doc2.data().surname,
                  studentkey: doc2.id
                };
                let dataFinal2 = { ...dataFinal, ...dataList2 };
                this.studentTotal.push(dataFinal2);
              });
          });
        });
    },
    editBtn() {
      this.$router.push("/student/edit/" + this.selected[0].studentkey);
    },
    deleteBtn() {
      let studentid = this.selected[0].studentkey;
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("course")
            .where("studentid", "==", studentid)
            .get()
            .then(doc => {
              doc.forEach(data => {
                db.collection("course")
                  .doc(data.id)
                  .delete();
              });
            });
          db.collection("school")
            .doc(this.schoolcode)
            .collection("student")
            .doc(studentid)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเรียบร้อย");
              this.loadstudentdata();
            });
        })
        .onCancel(() => {
          this.selected = [];
          return;
        });
    }
  },
  mounted() {
    this.loadschoolname(this.schoolcode);
    this.loadAcademicYear(this.schoolcode);

    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  }
};
</script>
