<template>
  <q-page>
    <div class="q-pa-md">
      <div>
        <div align="right" class="q-pa-sm col-xs-12 col-md-6 q-mb-sm">
          <a
            href="https://firebasestorage.googleapis.com/v0/b/winnerenglish-5f8d3.appspot.com/o/Data.xlsx?alt=media&token=85305738-2b19-4dc1-8d9c-26011b85decb"
          >
            <q-btn round color="secondary" icon="fas fa-file-download" />
          </a>
        </div>
      </div>

      <div class="bg-grey-2 q-pa-sm">
        <h5 align="center" class="no-margin q-pa-sm">{{schoolName}} / ปีการศึกษา {{yearname}}</h5>
        <hr />
        <div class="row gutter-sm justify-center">
          <div class="col-xs-12 col-sm-6">
            <q-select
              v-model="courseAction"
              label="กรณีข้อมูลซ้ำ"
              emit-value
              map-options
              class="bg-white q-pa-sm"
              :options="addCourseAction"
            />
          </div>
        </div>
        <div align="center" class="q-py-md">
          <vue-xlsx-table @on-select-file="handleSelectedFile">
            <div class="dropfile">โหลดไฟล์ข้อมูล</div>
          </vue-xlsx-table>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      importDatapass: [],
      importDatafail: [],
      schoolcode: this.$store.state.system.schoolcode,
      yearcode: this.$store.state.system.academicyear,
      yearname: "",
      schoolName: "",
      isLoaded: false,
      addCourseAction: [
        { label: "ไม่กระทำการ", value: false },
        { label: "ต่อคอร์สอัตโนมัติ", value: true }
      ],
      courseAction: false
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    handleSelectedFile(convertedData) {
      this.loadingSet(1);

      console.log(convertedData);

      let _this = this;
      this.importDatapass = [];
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1; //January is 0!
      var yyyy = today.getFullYear();
      var time = today.getTime();

      if (dd < 10) {
        dd = "0" + dd;
      }

      if (mm < 10) {
        mm = "0" + mm;
      }
      today = yyyy + "-" + dd + "-" + mm;
      for (let i = 0; i < convertedData.body.length; i++) {
        //check ชื่อต้องมีความยาวด้วย
        let data = {
          studentid: convertedData.body[i]["เลขประจำตัว"],
          room: convertedData.body[i]["ห้อง/ชั้น"],
          studentno: convertedData.body[i]["เลขที่"],
          name: convertedData.body[i]["ชื่อ"],
          surname: convertedData.body[i]["นามสกุล"],
          gender: convertedData.body[i]["เพศ"],
          vocablv: convertedData.body[i]["Vocabulary"],
          grammarlv: convertedData.body[i]["Grammar"],
          readinglv: convertedData.body[i]["Reading"],
          writinglv: convertedData.body[i]["Writing"],
          listeninglv: convertedData.body[i]["Listening & Speaking"]
        };
        //check existed data
        db.collection("school")
          .doc(this.schoolcode)
          .collection("student")
          .where("studentid", "==", Number(data.studentid))
          .get()
          .then(doc => {
            if (doc.size == 0) {
              let password = _this.genpassword(
                _this.schoolcode,
                data.studentid
              );
              let username = _this.schoolcode + data.studentid;
              let studentdata = {
                gender: data.gender,
                name: data.name,
                password: password.toString(),
                studentid: Number(data.studentid),
                surname: data.surname,
                username: username
              };
              db.collection("school")
                .doc(this.schoolcode)
                .collection("student")
                .add(studentdata)
                .then(doc => {
                  let studentkey = doc.id;

                  let coursedata = {
                    academicYear: _this.yearname,
                    grammarlv: data.grammarlv,
                    isLevelAll: false,
                    listeninglv: data.listeninglv,
                    makedate: today,
                    readinglv: data.readinglv,
                    remark: "",
                    room: data.room,
                    schoolcode: _this.schoolcode,
                    studentid: studentkey,
                    studentno: data.studentno,
                    vocablv: data.vocablv,
                    writinglv: data.writinglv,
                    timestamp: time
                  };

                  console.log(coursedata);
                  db.collection("course").add(coursedata);

                  data.status = "pass";
                  this.importDatapass.push(data);
                });
            } else {
              data.status = "fail";
              this.importDatafail.push(data);
              //*************เหลือกรณีมีซ้ำ ******************/
              if (this.courseAction) {
                //หารหัสนักเรียน
                doc.forEach(function(doc2) {
                  let studentkey = doc2.id;
                  let coursedata = {
                    academicYear: _this.yearname,
                    grammarlv: data.grammarlv,
                    isLevelAll: false,
                    listeninglv: data.listeninglv,
                    makedate: today,
                    readinglv: data.readinglv,
                    remark: "",
                    room: data.room,
                    schoolcode: _this.schoolcode,
                    studentid: studentkey,
                    studentno: data.studentno,
                    vocablv: data.vocablv,
                    writinglv: data.writinglv,
                    timestamp: time
                  };
                  console.log(coursedata);
                  db.collection("course").add(coursedata);
                });
              }
            }
          });
      }
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
      setTimeout(() => {
        this.loadingSet(0);
        this.$router.push("/student/list");
      }, 20000);
    },

    genpassword(schoolcode, studentid) {
      //สร้าง password สำหรับแต่ละ user
      schoolcode = Number(schoolcode);
      studentid = Number(studentid);
      let password =
        ((schoolcode ** 3 + studentid ** 2) / (studentid + schoolcode / 2)) *
        schoolcode ** 2;
      password = password.toFixed(0);
      password = password.substring(password.length - 4, password.length);
      return password;
    },
    loadschoolname(schoolcode) {
      //โหลดข้อมูลโรงเรียน
      db.collection("school")
        .doc(schoolcode)
        .get()
        .then(doc => {
          this.schoolName = doc.data().name;
        });
    },
    loadacademicyear(yearcode) {
      //โหลดข้อมูลจาก academicyear -> เก็บค่า ห้อง และชื่อปีการศึกษา
      db.collection("academicyear")
        .doc(yearcode)
        .get()
        .then(data => {
          this.roomdata = data.data();
          this.yearname = data.data().academicyear;
        });
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
    this.loadschoolname(this.schoolcode);
    this.loadacademicyear(this.yearcode);
  }
};
</script>

<style scoped>
.dropfile {
  width: 300px;
  height: 50px;
  line-height: 50px;
}
</style>