<template>
  <q-page>
    <div class="q-pa-md">
      <div align="right" class="q-pa-sm col-xs-12 col-md-6 q-mb-sm">
        <q-btn round color="teal-5" class="q-ma-sm q-mr-sm" icon="fas fa-plus" @click="goToAdd"/>
      </div>

      <div class="bg-grey-2 q-pa-sm">
        <div class="row q-ma-md justify-center items-center">
          <div class="col-xl-6 col-xs-12 col-md-6 self-center">
            <q-select
              outlined
              emit-value
              map-options
              v-model="schoolCode"
              label="โรงเรียน"
              :options="schoolList"
              @input="loadTeacherData()"
            ></q-select>
          </div>
        </div>
        <hr>
        <div>
          <q-table
            :data="teacherList"
            :columns="columns"
            row-key="key"
            selection="single"
            :selected.sync="selectedOne"
            class="bg-grey-2 q-mt-sm"
            :pagination.sync="paginationControl"
            separator="cell"
          >
            <template slot="top-selection" slot-scope="props">
              <div class="col"/>
              <q-btn
                color="negative"
                flat
                round
                icon="delete"
                class="q-title q-mr-sm"
                @click="deleteBtn()"
              />
              <q-btn color="warning" flat round icon="edit" class="q-title" @click="editBtn()"/>
            </template>
            <q-tr slot="body" slot-scope="props" :props="props">
              <q-td>
                <q-checkbox color="primary" v-model="props.selected"/>
              </q-td>
              <q-td key="name" :props="props">{{ props.row.name }} {{props.row.surname}}</q-td>
              <q-td key="username" :props="props">{{ props.row.username }}</q-td>
              <q-td key="password" :props="props">{{ props.row.password }}</q-td>
            </q-tr>
          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>


<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      schoolList: [],
      paginationControl: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "name",
          label: "ชื่อ",
          field: "name",
          align: "left",
          sortable: true,
          style: "width:250px;"
        },
        {
          name: "username",
          label: "ชื่อผู้ใช้",
          field: "username",
          align: "center",
          sortable: true
        },
        {
          name: "password",
          label: "รหัสผ่าน",
          field: "password",
          align: "center",
          sortable: true
        }
      ],
      teacherList: [],
      selectedOne: [],
      schoolCode: ""
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu", "setSchoolCode"]),
    loadSchoolData() {
      db.collection("school")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.id,
              label: doc.data().code + " - " + doc.data().name
            };
            this.schoolList.push(dataList);
          });
          // if (Number(this.$store.state.system.schoolcode) > 0) {
          this.schoolCode = this.$store.state.system.schoolcode;
          // } else {
          // this.schoolCode = this.schoolList[0].value;
          // }

          this.loadTeacherData();
        });
    },

    async loadTeacherData() {
      this.teacherList = [];
      let data = await db
        .collection("school")
        .doc(this.schoolCode)
        .collection("teacher")
        .get();
      data.forEach(doc => {
        let dataKey = {
          key: doc.id
        };
        let finalData = { ...doc.data(), ...dataKey };
        this.teacherList.push(finalData);
      });
      this.setSchoolCode(this.schoolCode);
    },

    goToAdd() {
      console.log(this.schoolCode);
      this.setSchoolCode(this.schoolCode);
      this.$router.push("teacher/add");
    },

    deleteBtn() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("school")
            .doc(this.schoolCode)
            .collection("teacher")
            .doc(this.selectedOne[0].key)
            .delete();
          this.loadTeacherData();
          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
          this.selectedOne=  []
        });
    },

    editBtn() {
      this.$router.push("/teacher/edit/" + this.selectedOne[0].key);
    }
  },
  mounted() {
    // this.setSchoolCode(this.schoolCode);
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
    this.loadSchoolData();
  }
};
</script>

