<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <h5 align="center" class="no-margin q-pa-sm">
        {{schoolName}}
        <hr>
      </h5>

      <div class="box-content-practice">
        <div class="row justify-center">
          <div class="col-xs-12 col-sm-6">
            <q-input
              label="ชื่อคุณครู"
              ref="teachername"
              v-model.trim="teacher.name"
              outlined
              class="q-pa-sm"
              :rules="[val => !!val || '']"
            ></q-input>
          </div>
          <div class="col-xs-12 col-sm-6">
            <q-input
              label="นามสกุล"
              ref="teachersurname"
              outlined
              v-model.trim="teacher.surname"
              class="q-pa-sm"
              :rules="[val => !!val || '']"
            ></q-input>
          </div>
        </div>

        <div class="row q-mt-xs">
          <div class="col-xs-12 col-sm-6">
            <q-input
              outlined
              v-model="teacher.phone"
              mask="###-###-####"
              unmasked-value
              ref="teacherphone"
              label="เบอร์โทรศัพท์"
              class="q-pa-sm"
              :readonly="!isAddData"
              :rules="[val => val.length == 10 || '']"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <q-input
              outlined
              type="email"
              prefix="Email:"
              v-model="teacher.email"
              label="email"
              class="q-pa-sm"
              ref="teacheremail"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <q-input
              outlined
              readonly
              v-model="teacher.phone"
              label="ชื่อผู้ใช้งาน"
              class="q-pa-sm"
            />
          </div>
          <div class="col-xs-12 col-sm-6">
            <q-input
              outlined
              readonly
              v-model="checkPassword"
              ref="teacherpassword"
              label="รหัสผ่าน"
              class="q-pa-sm"
            />
          </div>
          <div class="col-xs-12 col-sm-12">
            <q-input
              outlined
              v-model="teacher.remark"
              ref="teacherremark"
              label="หมายเหตุ"
              type="textarea"
              class="q-pa-sm"
            />
          </div>
        </div>
      </div>

      <h5 align="center" class="q-pa-sm q-pt-lg no-margin">
        ระดับการเรียน
        <hr>
      </h5>
      <div class="box-content-practice">
        <div class="row">
          <div class="col-sm-3 col-xs-6" v-for="(item,index) in levelSet" :key="index">
            <q-checkbox :label="'LV ' + item.value" v-model="levelSelected[index+1]"/>
          </div>
        </div>
      </div>

      <div class="row justify-center q-pt-lg q-pb-md">
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="ยกเลิก"
            @click="cancelBtn()"
            color="red-7"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
        <div class="q-pt-sm q-pb-sm q-pl-sm">
          <q-btn
            label="บันทึก"
            @click="saveBtn()"
            color="teal-5"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
import { setTimeout } from "timers";
export default {
  data() {
    return {
      teacher: {
        name: "",
        surname: "",
        phone: "",
        username: "",
        email: "",
        password: "",
        remark: ""
      },
      levelSet: [],
      levelSelected: [],
      schoolCode: this.$store.state.system.schoolcode,
      schoolName: "",
      isAddData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  computed: {
    checkPassword() {
      return this.teacher.phone.slice(
        this.teacher.phone.length - 4,
        this.teacher.phone.length
      );
    }
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    cancelBtn() {
      //ปุ่มยกเลิก กดเพื่อกลับไป /user
      this.$router.push("/teacher");
    },
    async saveBtn() {},
    loaduser() {
      setTimeout(() => {
        this.$router.push("/user");
      }, 1000);
    },
    async loadSchoolName() {
      let data = await db
        .collection("school")
        .doc(this.schoolCode)
        .get();
      this.schoolName = data.data().name;
    },

    async loadLevel() {
      let data = await db
        .collection("level")
        .orderBy("name")
        .get();
      data.forEach(doc => {
        let data = {
          value: doc.data().name,
          label: doc.data().name
        };
        this.levelSelected[Number(doc.data().name)] = false;
        this.levelSet.push(data);
      });
      if (this.$route.name == "teacheredit") {
        this.isAddData = false;
        this.loaddata();
      }
    },

    loaddata() {
      db.collection("school")
        .doc(this.schoolCode)
        .collection("teacher")
        .doc(this.$route.params.id)
        .get()
        .then(data => {
          this.teacher = data.data();
          for (let i = 1; i < this.levelSelected.length; i++) {
            if (data.data()[i]) {
              this.levelSelected[i] = data.data()[i];
            } else {
              this.levelSelected[i] = false;
            }
          }
        });
    },

    async saveBtn() {
      var checklevelset = false;
      this.$refs.teachername.validate();
      this.$refs.teachersurname.validate();
      this.$refs.teacherphone.validate();

      this.teacher.password = this.teacher.phone.slice(
        this.teacher.phone.length - 4,
        this.teacher.phone.length
      );
      this.teacher.username = this.teacher.phone;
      if (
        this.$refs.teachername.hasError ||
        this.$refs.teachersurname.hasError ||
        this.$refs.teacherphone.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      //Check level selected

      for (let i = 1; i < this.levelSelected.length; i++) {
        checklevelset = checklevelset || this.levelSelected[i];
      }
      if (!checklevelset) {
        this.notifyRed("กรุณาเลือกระดับการเรียนอย่างน้อย 1 level");
        return;
      }

      let datax = { ...this.teacher, ...this.levelSelected };
      if (this.isAddData) {
        let datacheck = await db
          .collection("school")
          .doc(this.schoolCode)
          .collection("teacher")
          .where("phone", "==", this.teacher.phone)
          .get();
        if (datacheck.size > 0) {
          this.notifyRed("เบอร์โทรศัพท์นี้มีการลงทะเบียนแล้ว");
          return;
        }

        db.collection("school")
          .doc(this.schoolCode)
          .collection("teacher")
          .add(datax)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
            this.$router.push("/teacher");
          });
      } else {
        db.collection("school")
          .doc(this.schoolCode)
          .collection("teacher")
          .doc(this.$route.params.id)
          .update(datax)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
            this.$router.push("/teacher");
          });
      }
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
    this.loadSchoolName();
    this.loadLevel();
  }
};
</script>


<style>
table tr td:nth-child(1) {
  width: 30px;
}

table tr td {
  padding-top: 3px;
}
</style>
