<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md" align="right">
      <q-btn round color="secondary" icon="fas fa-plus" to="/user/add"/>
    </div>
    <div style="clear: both;">
      <q-table
        :data="userList"
        :columns="columns"
        row-key="key"
        selection="single"
        :selected.sync="selectedOne"
        :pagination.sync="paginationControl"
        class="bg-grey-2"
        separator="cell"
      >
        <template slot="top-selection" slot-scope="props">
          <div class="col"/>
          <q-btn color="negative" flat round icon="delete" class="q-mr-sm" @click="deleteRow"/>
          <q-btn color="warning" flat round icon="edit" @click="editBtn()"/>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      paginationControl: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "name",
          label: "ชื่อ",
          field: "name",
          align: "left",
          sortable: true,
          style: "width:250px;"
        },
        {
          name: "username",
          label: "ชื่อผู้ใช้",
          field: "username",
          align: "center",
          sortable: true
        },
        {
          name: "password",
          label: "รหัสผ่าน",
          field: "password",
          align: "center",
          sortable: true
        }
      ],
      userList: [],
      selectedOne: []
    };
  },
  mounted() {
    this.loadData();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    loadData() {
      //โหลดข้อมูลจาก user จากฐานข้อมูล
      this.userList = [];
      let _this = this;
      db.collection("user")
        .orderBy("name", "asc")
        .onSnapshot(function(data) {
          var userSnap = [];
          data.forEach(function(doc) {
            let dataKey = {
              key: doc.id
            };
            let finalData = { ...doc.data(), ...dataKey };
            userSnap.push(finalData);
          });
          _this.userList = userSnap;
        });
    },
    deleteRow() {
      if (this.selectedOne[0].key == "bNnSHD7dUdWLdsUSg4KK") {
        this.notifyRed("ไม่สามารถลบ admin ได้");
        return;
      }
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("user")
            .doc(this.selectedOne[0].key)
            .delete()
            .then(() => {
              this.$q.notify({
                color: "secondary",
                icon: "delete",
                message: `ลบข้อมูลเสร็จสิ้น`,
                position: "top",
                timeout: 500
              });
            })
            .then(() => {
              this.selectedOne = [];
            });
        });
    },
    editBtn() {
      let userKey = this.selectedOne[0].key;
      this.$router.push("/user/edit/" + userKey);
    }
  }
};
</script>
