<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">ข้อมูลทั่วไป
        <hr>
      </h5>
      <div class="row q-mb-sm justify-center">
        <div class="col-xl-10 col-xs-12">
          <q-input
            ref="name"
            outlined
            v-model="user.name"
            class="q-pa-sm"
            label="ชื่อ-นามสกุล"
            placeholder="ไม่ต่ำกว่า 3 ตัวอักษร"
            :readonly="!isAddData && user.username =='admin'"
            :rules="[val => val.length >= 3 || 'ไม่ต่ำกว่า 3 ตัวอักษร']"
          />
        </div>
      </div>
      <div class="row q-mb-sm justify-center">
        <div class="col-xl-10 col-xs-12">
          <q-input
            ref="username"
            outlined
            v-model="user.username"
            class="q-pa-sm"
            label="ชื่อผู้ใช้งาน"
            placeholder="ไม่ต่ำกว่า 3 ตัวอักษร"
            :readonly="!isAddData && user.username =='admin'"
            :rules="[val => val.length >= 3 || 'ไม่ต่ำกว่า 3 ตัวอักษร']"
          />
        </div>
      </div>
      <div class="row q-mb-sm justify-center">
        <div class="col-xl-10 col-xs-12">
          <q-input
            ref="password"
            outlined
            v-model="user.password"
            class="q-pa-sm"
            label="รหัสผ่าน"
            placeholder="ไม่ต่ำกว่า 6 ตัวอักษร"
            :rules="[val => val.length >= 6 || 'ไม่ต่ำกว่า 6 ตัวอักษร']"
          />
        </div>
      </div>
      <h5 align="center" class="q-pa-sm q-pt-lg no-margin">สิทธิ์การใช้งาน
        <hr>
      </h5>

      <table class="q-pl-xl q-ma-sm">
        <tr>
          <td colspan="2">จัดการแบบฝึกหัด</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isPractice" color="secondary" label="แบบฝึกหัด" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isSound" color="secondary" label="จัดการเสียง" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isLevel" color="secondary" label="จัดการ Level" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isPlacement" color="secondary" label="วัดระดับ" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isExamPool" color="secondary" label="คลังข้อสอบ" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox
              v-model="user.isPrePostTest"
              color="secondary"
              label="Pre-test / Post-test"
              :disable="!isAddData && user.username =='admin'"
            />
          </td>
        </tr>
      </table>

      <!-- ************************* ผู้ใช้งาน ************************* -->
      <table class="q-pl-xl q-ma-sm">
        <tr>
          <td colspan="2">ผู้ใช้งาน</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isStudent" color="secondary" label="นักเรียน" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isTeacher" color="secondary" label="คุณครู" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isUser" color="secondary" label="ผู้ดูแลระบบ" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
      </table>

      <!-- ************************* โรงเรียน ************************* -->
      <table class="q-pl-xl q-ma-sm">
        <tr>
          <td colspan="2">โรงเรียน</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isSchoolType" color="secondary" label="ประเภทโรงเรียน" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isSchool" color="secondary" label="จัดการโรงเรียน" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isAcademicYear" color="secondary" label="ปีการศึกษา" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
      </table>

      <!-- ************************* รายงาน ************************* -->
      <table class="q-pl-xl q-ma-sm">
        <tr>
          <td colspan="2">รายงาน</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox
              v-model="user.isPrePostReport"
              color="secondary"
              label="Pre-test / Post-test"
              :disable="!isAddData && user.username =='admin'"
            />
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isPlacementReport" color="secondary" label="วัดระดับผล" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
      </table>

      <!-- ************************* ระบบติดตาม ************************* -->
      <table class="q-pl-xl q-ma-sm">
        <tr>
          <td colspan="2">ระบบติดตาม</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isOnline" color="secondary" label="สถานะออนไลน์" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isMonitor" color="secondary" label="ติดตามผลการเรียน" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
      </table>

      <!-- ************************* อื่นๆ ************************* -->
      <table class="q-pl-xl q-ma-sm">
        <tr>
          <td colspan="2">อื่นๆ</td>
        </tr>
        <tr>
          <td></td>
          <td>
            <q-checkbox v-model="user.isBill" color="secondary" label="บิล" :disable="!isAddData && user.username =='admin'"/>
          </td>
        </tr>
      </table>

      <div class="q-mt-lg col-12" align="center">
        <q-btn
          label="ยกเลิก"
          class="q-ma-xs"
          @click="cancelBtn()"
          color="red-7"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
        <q-btn
          label="บันทึก"
          color="teal-5"
          class="q-ma-xs"
          @click="saveBtn()"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
import { setTimeout } from "timers";
export default {
  data() {
    return {
      user: {
        //ช้อมูลใน Form
        name: "", //ชื่อ
        username: "", //ชื่อผู้ใช้งาน
        password: "", //รหัสผ่าน
        isPractice: false, //แบบฝึกหัด
        isSound: false, //จัดการเสียง
        isLevel: false, //จัดการ Level
        isBug: false, //ตรวจ Bug
        isPlacement: false, //วัดระดับ
        isExamPool: false, //คลังข้อสอบ
        isPrePostTest: false, //Pre-test/Post-test รายงาน: false, //Pre-test,Post-test
        isStudent: false, //นักเรียนบุคคล
        // isGroup: false, //นักเรียนกลุ่ม ** หนึ่ง Remark
        isTeacher: false, //คุณคร ู
        isUser: false, //ผู้ดูแลระบบ
        isSchoolType: false, //ประเภทโรงเรียน
        isSchool: false, //จัดการโรงเรียน
        isAcademicYear: false, //ปีการศึกษา
        isPrePostReport: false, //Pre-test/Post-test รายงาน
        isPlacementReport: false, //วัดระดับ รายงาน
        isOnline: false, //สถานะออนไลน์
        isMonitor: false, //ติดตามผลการเรียน
        isBill: false //บัญชี
      },
      isAddData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    cancelBtn() {
      //ปุ่มยกเลิก กดเพื่อกลับไป /user
      this.$router.push("/user");
    },
    async saveBtn() {
      //ปุ่มบันทึกช้อมูล
      //ตรวจสอบข้อมูลว่ามีการกรอกถูกต้องหรือไหม
      //บันทึกข้อมูลในฐานข้อมูล /user
      this.$refs.name.validate();
      this.$refs.username.validate();
      this.$refs.password.validate();
      if (
        this.$refs.name.hasError ||
        this.$refs.username.hasError ||
        this.$refs.password.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      //ตรวจสอบต้องเลือกการเข้าถึงข้อมูลอย่างน้อยหนึ่งอัน
      if (
        !(
          this.user.isPractice ||
          this.user.isSound ||
          this.user.isLevel ||
          this.user.isBug ||
          this.user.isPlacement ||
          this.user.isExamPool ||
          this.user.isis ||
          this.user.isStudent ||
          this.user.isGroup ||
          this.user.isTeacher ||
          this.user.isUser ||
          this.user.isSchoolType ||
          this.user.isSchool ||
          this.user.isAcademicYear ||
          this.user.isPrePostReport ||
          this.user.isPlacementReport ||
          this.user.isOnline ||
          this.user.isMonitor ||
          this.user.isBill
        )
      ) {
        this.notifyRed("ต้องเลือกสิทธิ์การใช้งานอย่างน้อยหนึ่งสิทธิ์");
        return;
      }
      // check existed username
      if (this.isAddData) {
        //กรณี add ชื่อใหม่
        let checkUser = await db
          .collection("user")
          .where("username", "==", this.user.username)
          .get();
        if (checkUser.size > 0) {
          this.notifyRed("ชื่อผู้ใช้งานนี้มีอยู่ในระบบแล้ว");
          return;
        }
      } else {
        // กรณี edit ชื่อ

        let olduserdata = await db
          .collection("user")
          .doc(this.$route.params.id)
          .get();
        let oldusername = olduserdata.data().username;
        if (oldusername != this.user.username) {
          let checkUser = await db
            .collection("user")
            .where("username", "==", this.user.username)
            .get();
          if (checkUser.size > 0) {
            this.notifyRed("ชื่อผู้ใช้งานนี้มีอยู่ในระบบแล้ว");
            return;
          }
        }
      }

      //บันทึกข้อมูลลงในฐานข้อมูล user collection
      if (this.isAddData) {
        db.collection("user").add(this.user);
      } else {
        db.collection("user")
          .doc(this.$route.params.id)
          .set(this.user);
      }

      this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
      this.loaduser();
    },
    loaduser() {
      setTimeout(() => {
        this.$router.push("/user");
      }, 1000);
    },
    loaddata() {
      let _this = this;
      db.collection("user")
        .doc(this.$route.params.id)
        .get()
        .then(data => {
          _this.user = data.data();
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(2);

    if (this.$route.name == "useredit") {
      this.loaddata();
      this.isAddData = false;
    }
  }
};
</script>


