<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">บัญชีค่าใช้จ่าย
        <hr>
      </h5>
      <div class="box-content-practice">
        <div class="row justify-center">
          <div class="col-xs-8 col-sm-5 q-pa-sm">
            <q-select
              outlined
              v-model="billData.sellerKey"
              :options="sellerListOption"
              label="ผู้ขาย"
              emit-value
              map-options
              class="q-pa-sm"
              @input="sendAddress(billData.sellerKey)"
              ref="sellerKey"
              :rules="[val => val != '' || '']"
            />
          </div>
          <div class="col-xs-4 col-sm-1 self-center" align="center">
            <q-btn to="/bill/addSeller" icon="fas fa-pencil-alt" round color="teal-5"/>
          </div>
          <div class="col-xs-12 col-sm-6 q-pa-sm">
            <q-input
              class="q-pa-sm"
              outlined
              v-model="billData.date"
              :rules="[val => !!val || '']"
              ref="date"
              mask="date"
            >
              <template v-slot:append>
                <q-icon name="event" class="cursor-pointer">
                  <q-popup-proxy>
                    <q-date v-model="billData.date"></q-date>
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>
          </div>
          <div class="col-xl-12 col-xs-12 q-pa-sm">
            <q-input
              outlined
              v-model="billData.sellerAddress"
              label="ที่อยู่"
              readonly
              class="q-pa-sm"
            ></q-input>
          </div>
          <div class="col-xl-12 col-xs-12 q-pa-sm">
            <q-input
              outlined
              v-model="billData.list"
              label="รายการ"
              class="q-pa-sm"
              :rules="[val => !!val || '']"
              ref="list"
            ></q-input>
          </div>
          <div class="col-xs-12 col-sm-6 q-pa-sm">
            <q-input
              outlined
              prefix="฿"
              v-model="billData.amount"
              label="จำนวนเงิน"
              type="number"
              class="q-pa-sm"
              :rules="[val => !!val || '']"
              ref="amount"
            ></q-input>
          </div>
          <div class="col-xs-12 col-sm-6 q-pa-sm">
            <q-input outlined v-model="billData.billNo" label="เลขที่บิล" class="q-pa-sm"></q-input>
          </div>

          <div class="row justify-center q-pt-lg q-pb-md">
            <div class="q-pt-sm q-pb-sm q-pr-sm">
              <q-btn
                label="ยกเลิก"
                @click="cancleAddBill()"
                color="red-7"
                class="q-ma-xs"
                :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
              ></q-btn>
            </div>
            <div class="q-pt-sm q-pb-sm q-pl-sm">
              <q-btn
                label="บันทึก"
                @click="saveBill()"
                color="teal-5"
                class="q-ma-xs"
                :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import { date } from "quasar";
export default {
  data() {
    return {
      sellerList: [],
      billData: {
        sellerKey: "",
        date: "",
        list: "",
        amount: "",
        billNo: "",
        sellerAddress: "",
        billMonth: "",
        billYear: "",
        timestamp: ""
      },
      isEdit: false,
      sellerListOption: [
        {
          label: "กรุณาเลือก",
          value: ""
        }
      ],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    saveBill() {
      let _this = this;

      this.$refs.sellerKey.validate();
      this.$refs.date.validate();
      this.$refs.list.validate();
      this.$refs.amount.validate();

      if (
        this.$refs.sellerKey.hasError ||
        this.$refs.date.hasError ||
        this.$refs.list.hasError ||
        this.$refs.amount.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      // กรณีเพิ่มบิลใหม่

      let month = this.billData.date.split("/");
      let current = new Date();
      this.billData.billMonth = month[1];
      this.billData.billYear = Number(month[0]) + Number(543);
      this.billData.date = date.formatDate(this.billData.date, "YYYY-MM-DD");
      if (!this.isEdit) {
        // กรณีเพิ่มบิลใหม่
        db.collection("billSeller")
          .doc(this.billData.sellerKey)
          .get()
          .then(doc => {
            db.collection("billDetails")
              .get()
              .then(doc2 => {
                this.billData.sellerName = doc.data().sellerName;
                db.collection("billDetails")
                  .add(this.billData)
                  .then(() => {
                    this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                    this.loadbillData();
                    this.billData = {};
                    let year = new Date().getFullYear();
                    let month = new Date().getMonth() + 1;
                    let date = new Date().getDate();

                    if (year < 10) {
                      year = "0" + year;
                    }
                    if (month < 10) {
                      month = "0" + month;
                    }
                    if (date < 10) {
                      date = "0" + date;
                    }
                    this.billData.date = year + "-" + month + "-" + date;
                  });
              });
          });
      } else {
        // กรณีเเก้ไข
        db.collection("billDetails")
          .doc(_this.$route.params.id)
          .update(this.billData)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
          });
      }

      this.$router.push("/bill");
    },
    gotoAddSeller() {
      this.$router.push("/addSeller");
    },
    cancleAddBill() {
      this.$router.push("/bill");
    },
    loadbillData() {
      //โหลดข้อมูลจาก billSeller จากฐานข้อมูล
      let _this = this;
      db.collection("billSeller")
        .orderBy("sellerName")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              key: doc.id
            };
            let dataFinal = { ...doc.data(), ...dataList };
            this.sellerList.push(dataFinal);
            let sellerOption = {
              label: doc.data().sellerName,
              value: doc.id
            };
            this.sellerListOption.push(sellerOption);
          });
          if (!this.isEdit) {
            this.billData.sellerKey = "";
          }
        });
    },
    sendAddress(data) {
      let _this = this;
      if (data == "") {
        this.billData.sellerAddress = "";
      } else {
        this.loadingSet(1);
        let docRef = db.collection("billSeller").doc(_this.billData.sellerKey);
        docRef.get().then(doc => {
          this.billData.sellerAddress = doc.data().sellerAddress;
          this.billData.sellerName = doc.data().sellerName;
        });
        this.loadingSet(0);
      }
    },
    async loadDataForEdit() {
      let _this = this;
      this.loadingSet(1);
      this.billData = [];
      await db
        .collection("billDetails")
        .doc(this.$route.params.id)
        .get()
        .then(doc => {
          this.billData = doc.data();
          this.billData.sellerKey = doc.data().sellerKey;
        });

      this.loadingSet(0);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.name == "editBill") {
      // กรณีเป็นการแก้ไขบิล
      this.isEdit = true;
      this.loadDataForEdit();
    } else {
      this.isEdit = false;
      let year = new Date().getFullYear();
      let month = new Date().getMonth() + 1;
      let date = new Date().getDate();

      if (year < 10) {
        year = "0" + year;
      }
      if (month < 10) {
        month = "0" + month;
      }
      if (date < 10) {
        date = "0" + date;
      }
      this.billData.date = year + "/" + month + "/" + date;
    }
    this.loadbillData();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(6);
  }
};
</script>

<style scoped>
.hover:hover {
  cursor: pointer;
  transform: scale(0.95);
}
</style>

                        
                        