<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">ผู้ขาย
        <hr>
      </h5>
      <div class="box-content-practice">
        <div class="row justify-center">
          <div class="col-12 q-ma-sm">
            <q-input
              outlined
              label="ผู้ขาย"
              ref="sellerName"
              :rules="[val => !!val || '']"
              v-model.trim="seller.sellerName"
              class="q-pa-sm"
            ></q-input>
          </div>
          <div class="col-12 q-ma-sm">
            <q-input
              outlined
              label="ที่อยู่"
              v-model.trim="seller.sellerAddress"
              class="q-pa-sm"
              ref="sellerAddress"
              :rules="[val => !!val || '']"
              @keyup.enter="addSeller()"
            ></q-input>
          </div>
          <div class="row justify-center q-pt-lg q-pb-md">
            <div class="q-pt-sm q-pb-sm q-pr-sm">
              <q-btn
                @click="backBtn()"
                label="ยกเลิก"
                color="red-7"
                class="q-ma-xs"
                :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
              ></q-btn>
            </div>
            <div class="q-pt-sm q-pb-sm q-pr-sm">
              <q-btn
                :disable="!isSaveData"
                @click="addSeller()"
                label="บันทึก"
                color="teal-5"
                class="q-ma-xs"
                :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-show="!isEdit" class="bg-grey-2 q-mt-sm">
      <q-table
        :data="sellerList"
        :columns="columns"
        row-key="key"
        selection="single"
        :selected.sync="selectedRow"
        class="bg-grey-1"
        :pagination.sync="paginationControl"
        separator="cell"
      >
        <template slot="top-selection" slot-scope="props">
          <div class="col"/>
          <q-btn color="negative" flat round icon="delete" class="q-mr-sm" @click="deleteSeller()"/>
          <q-btn color="warning" flat round icon="edit" @click="editSeller()"/>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      seller: {
        sellerName: "",
        sellerAddress: ""
      },
      sellerList: [],
      isEdit: false,
      columns: [
        {
          name: "sellerName",
          label: "ผู้ขาย",
          align: "left",
          style: "",
          field: "sellerName"
        },
        {
          name: "address",
          label: "ที่อยู่",
          align: "left",
          style: "",
          field: "sellerAddress"
        }
      ],
      selectedRow: [],
      paginationControl: {
        rowsPerPage: 0
      },
      isSaveData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    backBtn() {
      if (!this.isEdit) {
        this.$router.push("/bill/addBill");
      } else {
        this.$router.push("/bill/addSeller");
        this.seller = [];
        this.isEdit = false;
        this.setLinkCode("addSeller");
      }
    },
    async addSeller() {
      let _this = this;
      this.isSaveData = false;

      this.$refs.sellerName.validate();
      this.$refs.sellerAddress.validate();

      if (this.$refs.sellerName.hasError || this.$refs.sellerAddress.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        this.isSaveData = true;
        return;
      }

      // กรณี add
      if (!this.isEdit) {
        var addDate = {
          dateAdd:
            new Date().getDate() +
            "/" +
            (new Date().getMonth() + 1) +
            "/" +
            (new Date().getFullYear() + 543) +
            " " +
            new Date().getHours() +
            ":" +
            new Date().getMinutes() +
            ":" +
            new Date().getSeconds()
        };
        var sellerData = { ...this.seller, ...addDate };
        await db
          .collection("billSeller")
          .where("sellerName", "==", sellerData.sellerName)
          .get()
          .then(billDoc => {
            if (billDoc.size == 0) {
              db.collection("billSeller")
                .add(sellerData)
                .then(() => {
                  this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
                });
              this.seller = {};
            } else {
              this.notifyRed("มีชื่อผู้ขายนี้อยู่แล้ว");
            }

            this.isSaveData = true;
          });
      } else {
        //   กรณี Update Seller

        await db
          .collection("billSeller")
          .doc(_this.$route.params.id)
          .update(this.seller)
          .then(() => {
            this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
            _this.backBtn();
            _this.selectedRow = [];
          });

        this.isSaveData = true;
      }
    },
    deleteSeller() {
      //ลบข้อมูล username
      var rowIndex = this.selectedRow[0].__index;
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("billSeller")
            .doc(this.selectedRow[0].key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
            });
          this.selectedRow = [];
        })
        .onCancel(() => {
          return;
        });
    },
    async editSeller() {
      let _this = this;
      let rowIndex = this.selectedRow[0].key;
      this.setLinkCode("editSeller");
      this.$router.push("/bill/editSeller/" + rowIndex);
      this.loadingSet(1);
      await db
        .collection("billSeller")
        .doc(rowIndex)
        .get()
        .then(doc => {
          _this.seller = doc.data();
        });
      this.isEdit = true;
      this.loadingSet(0);
    },
    listenBillData() {
      let _this = this;
      db.collection("billSeller")
        .orderBy("sellerName", "asc")
        .onSnapshot(function(data) {
          var billSnap = [];
          data.forEach(function(doc) {
            let dataKey = {
              key: doc.id
            };
            let finalData = { ...doc.data(), ...dataKey };
            billSnap.push(finalData);
          });
          _this.sellerList = billSnap;
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.listenBillData();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(6);
  }
};
</script>

                        
                        