<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <div class="row reverse-wrap items-center">
      <div align="right" class="q-pa-sm col-xs-12 col-md-12 q-mb-sm">
        <q-btn
          icon="fas fa-print"
          class="q-ma-sm q-mr-sm"
          color="teal-5"
          @click="printBtn()"
          round
        />
        <q-btn icon="fas fa-plus" class="q-ma-sm q-mr-sm" color="teal-5" @click="addBtn()" round />
      </div>
    </div>
    <div class="bg-grey-2">
      <app-month-year @chooseMonthYear="getData" />
      <q-table
        :data="billDetails"
        :columns="columns"
        row-key="key"
        :pagination.sync="paginationControl"
        class="bg-grey-2"
        separator="cell"
      >
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="date" :props="props">{{ props.row.thaiDate }}</q-td>
            <q-td key="payfor" :props="props">
              {{ props.row.sellerName }}
              <br />
              รายละเอียด : {{props.row.list}}
            </q-td>
            <q-td key="amount" :props="props">{{ props.row.showAmountWithSeperator }}</q-td>
            <q-td key="delete" :props="props">
              <div align="center">
                <q-btn
                  color="negative"
                  flat
                  round
                  icon="delete"
                  @click="deleteBill(props.row.key)"
                />
              </div>
            </q-td>
            <q-td key="edit" :props="props">
              <div align="center">
                <q-btn color="warning" flat round icon="edit" @click="editBill(props.row.key)" />
              </div>
            </q-td>
          </q-tr>
        </template>
      </q-table>
      <div v-if="summary > 0" class="q-pa-lg text-h6" align="right">
        <b>ยอดรวม</b>
        {{thousandSeperator(summary.toFixed(2))}}
      </div>
    </div>

    <div id="billData" style="display:none">
      <div v-for="(item,index) in billDetails" :key="index" style="padding:1em">
        <!-- HEADER -->
        <div style="display:flex;justify-content:center;">
          <div>
            <img style="width:150px" src="../../assets/logoedutech.png" alt />
          </div>
          <div style="align-self:center;width:60%">
            <span style="font-size:22px">บริษัท เอ็ดดูเทคอินโนเวชั่น จำกัด</span>
            <br />
            <span style="font-size:20px">
              1673/26 ถ.เพชรบุรีตัดใหม่ แขวงมักกะสัน เขตราชเทวี กทม. 10400
              <br />เลขประจำตัวผู้เสียภาษี 0105559063010
            </span>
          </div>
          <div style="font-size:30px;">ใบสำคัญจ่าย</div>
        </div>
        <!-- END HEADER -->
        <!-- Business Address -->
        <div>
          <div style="display:flex;justify-content:center">
            <div style="border:1px solid rgba(0,0,0,0.5);padding:1em;margin:10px;width:100%">
              <div>จ่ายให้ {{item.sellerName}}</div>
              <div>ที่อยู่ {{item.sellerAddress}}</div>
              <div>โดย เงินสด</div>
            </div>

            <div style="padding:1em;margin:10px;width:30%;border:1px solid rgba(0,0,0,0.5)">
              <div
                style="padding:5px;white-space:nowrap"
              >เลขที่ {{item.billYear}}{{item.billMonth}}{{convertNumber(index+1)}}</div>
              <div style="padding:5px">วันที่ {{ dateThaiFormat(item.date)}}</div>
            </div>
          </div>
        </div>
        <!-- END Business Address -->
        <!-- CONTENT -->
        <div style="display:flex;justify-content:center">
          <table
            style="border:1px solid rgba(0,0,0,0.5);width:100%;margin:10px;border-collapse:collapse"
          >
            <tr>
              <td
                style="width:15%;padding:10px;border-right:1px solid;border-bottom:1px solid rgba(0,0,0,0.5)"
                align="center"
              >เลขที่บิล</td>
              <td
                align="center"
                style="padding:10px;border-bottom:1px solid rgba(0,0,0,0.5;border-right:1px solid rgba(0,0,0,0.5)"
              >รายการ</td>
              <td
                style="padding:10px;width:15%;border-bottom:1px solid rgba(0,0,0,0.5)"
                align="center"
              >จำนวนเงิน</td>
            </tr>
            <tr>
              <td
                style="padding:10px;border-right:1px solid rgba(0,0,0,0.5);border-bottom:1px solid rgba(0,0,0,0.5)"
                align="center"
              >{{item.billNo}}</td>
              <td
                style="padding:10px;border-right:1px solid rgba(0,0,0,0.5);border-bottom:1px solid rgba(0,0,0,0.5)"
              >{{item.list}}</td>
              <td
                style="padding:10px;border-right:1px solid rgba(0,0,0,0.5);border-bottom:1px solid rgba(0,0,0,0.5)"
                align="right"
              >{{item.showAmountWithSeperator}}</td>
            </tr>
            <tr>
              <td style="padding:10px;" align="center" colspan="2">{{item.thaiBahtText}}</td>
              <td align="right" style="padding:10px">{{item.showAmountWithSeperator}}</td>
            </tr>
          </table>
        </div>

        <div style="border:1px dashed;margin:15px"></div>
        <div style="height:20px;"></div>

        <!-- END CONTENT -->
      </div>
    </div>
  </q-page>
</template>
<script>
import monthYear from "../../components/monthYearSelected.vue";
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import THBText from "thai-baht-text";
import dateThaiFormat from "../../router/index.js";
export default {
  components: {
    appMonthYear: monthYear
  },
  data() {
    return {
      months: new Date().getMonth() + 1,
      years: new Date().getFullYear() + 543,
      billDetails: [],
      summary: 0,
      columns: [
        {
          name: "date",
          label: "วันที่",
          align: "center",
          style: "width:100px;"
        },
        {
          name: "payfor",
          label: "จ่ายให้",
          align: "left"
        },
        {
          name: "amount",
          label: "จำนวนเงิน",
          align: "right",
          style: "width:100px;"
        },
        {
          name: "delete",
          label: "ลบข้อมูล",
          align: "center",
          style: "width:100px;"
        },
        {
          name: "edit",
          label: "แก้ไขข้อมูล",
          align: "center",
          style: "width:100px;"
        }
      ],
      selectedRow: [],
      paginationControl: {
        rowsPerPage: 0
      }
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    getData(data) {
      this.months = data.sendMonths;
      this.years = data.sendYears;
      this.loadBillData();
    },
    convertNumber(data) {
      if (Number(data) < 10) {
        return "0" + data;
      } else {
        return data;
      }
    },
    deleteBill(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          this.summary = 0;

          db.collection("billDetails")
            .doc(key)
            .delete()
            .then(() => {
              this.$q.notify({
                color: "secondary",
                icon: "delete",
                message: `ลบข้อมูลเสร็จสิ้น`,
                position: "top",
                timeout: 500
              });
            });
        })
        .onCancel(() => {});
    },
    editBill(key) {
      this.$router.push("/bill/editBill/" + key);
    },
    async loadBillData() {
      let _this = this;
      let _month = this.months.toString();
      if (_month < 10) {
        _month = "0" + _month;
      }

      await db
        .collection("billDetails")
        .where("billYear", "==", this.years)
        .where("billMonth", "==", _month)
        .orderBy("date")
        .orderBy("sellerName")
        .onSnapshot(function(data) {
          var billSnap = [];
          _this.summary = 0;
          data.forEach(function(doc) {
            var date = doc.data().date;
            date = date.split("-");
            date = date[2] + "/" + date[1] + "/" + date[0];
            var newAmount = Number(doc.data().amount);
            var dataKey = {
              key: doc.id,
              showAmountWithSeperator: newAmount
                .toFixed(2)
                .replace(/\B(?=(\d{3})+(?!\d))/g, ","),
              thaiBahtText: THBText(doc.data().amount),
              thaiDate: date
            };
            let finalData = { ...doc.data(), ...dataKey };
            billSnap.push(finalData);
            _this.summary += Number(finalData.amount);
          });
          _this.billDetails = billSnap;
        });
    },
    convertday(data) {
      return Number(data.slice(8, 10));
    },
    addBtn() {
      this.$router.push("bill/addBill");
    },
    printBtn() {
      this.$htmlToPaper("billData");
    }
  },
  mounted() {
    this.loadBillData();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(6);
  }
};
</script>