<template>
  <div class="row">
    <div class="col-sm-6 col-xs-12 q-pa-sm">
      <q-select
        v-model="months"
        label="เดือน"
        @input="senddata()"
        emit-value
        map-options
        class="q-pa-sm"
        :options="monthOptions"
      />
    </div>
    <div class="col-sm-6 col-xs-12 q-pa-sm">
      <q-select
        v-model="years"
        label="ปี"
        @input="senddata()"
        emit-value
        map-options
        class="q-pa-sm"
        :options="yearOptions"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      months: new Date().getMonth() + 1,
      years: new Date().getFullYear() + 543,
      yearOptions: [
        {
          label: "2561",
          value: 2561
        },
        {
          label: "2562",
          value: 2562
        },
        {
          label: "2563",
          value: 2563
        },
        {
          label: "2564",
          value: 2564
        },
        {
          label: "2565",
          value: 2565
        },
        {
          label: "2566",
          value: 2566
        },
        {
          label: "2567",
          value: 2567
        },
        {
          label: "2568",
          value: 2568
        },
        {
          label: "2569",
          value: 2569
        },
        {
          label: "2570",
          value: 2570
        }
      ]
    };
  },
  methods: {
    senddata() {
      this.$emit("chooseMonthYear", {
        sendMonths: this.months,
        sendYears: this.years
      });
    }
  }
};
</script>

<style scoped>
</style>

                        
                        