<template>
  <q-select
    outlined
    emit-value
    map-options
    :options="partOfSpeech"
    label="ชนิดของคำ"
    v-model="partOfSpeechSelected"
    class="q-pa-sm"
    @input="senddata()"
  ></q-select>
</template>
<script>
import { db } from "../router/index.js";
export default {
  props: ["data"],
  data() {
    return {
      partOfSpeech: [
        {
          label: "ไม่ระบุ",
          value: "ไม่ระบุ"
        }
      ],
      partOfSpeechSelected: this.data ? this.data : "ไม่ระบุ"
    };
  },
  methods: {
    loadPartOfSpeech() {
      let _this = this;
      db.collection("partofspeech")
        .orderBy("des")
        .get()
        .then(data => {
          data.forEach(function(doc) {
            let dataAdd = {
              label: doc.data().des,
              value: doc.data().partofspeech,
              key: doc.id
            };
            let dataFinal = { ...doc.data(), ...dataAdd };
            _this.partOfSpeech.push(dataFinal);
          });
          if (this.data) {
            _this.partOfSpeechSelected = this.data;
          } else {
            _this.partOfSpeechSelected = "ไม่ระบุ";
          }

          _this.partOfSpeech.splice(this.partOfSpeech.length - 1, 1);
        });
    },
    senddata() {
      this.$emit("partOfSpeech", {
        partOfSpeech: this.partOfSpeechSelected
      });
    }
  },
  mounted() {
    this.loadPartOfSpeech();
  },
  watch: {
    data() {
      if (this.data) {
        this.partOfSpeechSelected = this.data;
      }
    }
  }
};
</script>
