<template>
  <div class="row gutter-sm q-pt-md q-pb-md q-mt-lg q-pl-xl q-pr-xl">
    <div class="col-xl-2 col-xs-10">
      <q-checkbox label="โรงเรียนทั้งหมด" v-model="selectSchoolAll" />
    </div>
  </div>
</template>

<script>
  import {
    db
  } from "../../router/index.js"
  export default {

    data() {
      return {

      }
    },
    methods:{
        
    }

  }
</script>
