<template>
  <div>
    <div class="row">
      <div clas="col-md-12">
        <q-checkbox
          :label="schoolTypeName"
          class="q-pa-sm"
          v-model="schoolType.use"
          @input="updateData()"
          color="black"
        />
      </div>
    </div>
    <div class="row q-ml-lg" v-if="schoolType.use">
      <div class="col-xs-12 col-md-4 q-pa-sm">
        <q-select
          outlined
          :options="flashcardNumberList"
          v-model="schoolType.flashcardNumber"
          label="จำนวน Flashcard"
          class="q-pa-sm"
          @input="updateData()"
          emit-value
          map-options
        />
      </div>
      <div class="col-xs-12 col-md-4 q-pa-sm">
        <q-select
          outlined
          :options="passScoreList"
          v-model="schoolType.passScore"
          label="เกณฑ์การผ่าน"
          class="q-pa-sm"
          @input="updateData()"
          emit-value
          map-options
        />
      </div>
      <div class="col-xs-12 col-md-4 q-pa-sm">
        <q-select
          outlined
          :options="starList"
          v-model="schoolType.star"
          label="เกณฑ์ 3 ดาว"
          class="q-pa-sm"
          @input="updateData()"
          emit-value
          map-options
        />
      </div>
      <div class="col-xs-12 col-md-4 q-pa-sm">
        <q-select
          outlined
          :options="HightLightList"
          v-model="schoolType.highlight"
          label="Hightlight hint"
          class="q-pa-sm"
          @input="updateData()"
          emit-value
          map-options
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["schoolTypeName", "dataSchool"],
  data() {
    return {
      schoolType: {
        use: this.dataSchool.use,
        passScore: this.dataSchool.passScore ? this.dataSchool.passScore : "50",
        flashcardNumber: this.dataSchool.flashcardNumber
          ? this.dataSchool.flashcardNumber
          : "100",
        highlight: this.dataSchool.highlight
          ? this.dataSchool.highlight
          : "ไม่มี",
        star: this.dataSchool.star ? this.dataSchool.star : "80"
      },
      flashcardNumberList: [
        {
          label: "30%",
          value: "30"
        },
        {
          label: "40%",
          value: "40"
        },
        {
          label: "50%",
          value: "50"
        },
        {
          label: "60%",
          value: "60"
        },
        {
          label: "70%",
          value: "70"
        },
        {
          label: "80%",
          value: "80"
        },
        {
          label: "90%",
          value: "90"
        },
        {
          label: "100%",
          value: "100"
        }
      ],
      passScoreList: [
        {
          label: "test",
          value: "0"
        },
        {
          label: "10%",
          value: "10"
        },
        {
          label: "20%",
          value: "20"
        },
        {
          label: "30%",
          value: "30"
        },
        {
          label: "40%",
          value: "40"
        },
        {
          label: "50%",
          value: "50"
        },
        {
          label: "60%",
          value: "60"
        },
        {
          label: "70%",
          value: "70"
        },
        {
          label: "80%",
          value: "80"
        },
        {
          label: "90%",
          value: "90"
        },
        {
          label: "100%",
          value: "100"
        }
      ],
      HightLightList: [
        {
          label: "ไม่มี",
          value: "ไม่มี"
        },
        {
          label: "3",
          value: "3"
        },
        {
          label: "4",
          value: "4"
        },
        {
          label: "5",
          value: "5"
        }
      ],
      starList: [
        {
          label: "50%",
          value: "50"
        },
        {
          label: "60%",
          value: "60"
        },
        {
          label: "70%",
          value: "70"
        },
        {
          label: "80%",
          value: "80"
        },
        {
          label: "90%",
          value: "90"
        },
        {
          label: "100%",
          value: "100"
        }
      ]
    };
  },
  methods: {
    updateData() {
      this.$emit("schoolTypeSet", {
        use: this.schoolType.use,
        name: this.schoolTypeName,
        passScore: this.schoolType.passScore,
        flashcardNumber: this.schoolType.flashcardNumber,
        highlight: this.schoolType.highlight,
        star: this.schoolType.star
      });
    }
  }
};
</script>
