// app global css
@font-face{
font-family: promptR;
src:url(../assets/Prompt-Regular.ttf)
}
@font-face{
font-family: prompt-semi;
src:url(../assets/Prompt-SemiBold.ttf)
}
@font-face{
font-family: Sarabun-Regular;
src:url(../assets/THSarabunNew-Regular.ttf)
}
@font-face{
font-family: Sarabun-Bold;
src:url(../assets/THSarabunNew-Bold.ttf)
}
body{
font-family:promptR
}
.f-sarabun-r{
font-family: Sarabun-Regular;
}
.f-sarabun-b{
font-family: Sarabun-Bold;
}

.box-content-practice {
width: 90%;
margin: auto;
}

.btn-size-practice {
width: 50px;
height: 50px;
}

.pointer{
cursor: pointer;
}
.btn-width-xl {
width: 250px;
}

.btn-width-l {
width: 200px;
}

.btn-width-s {
width: 100px;
}

.errorInput {
  border-bottom: 1px solid#f00;
}

.tooltip{position: relative;display: inline-block;cursor:pointer;color:#28A78F;}
.tooltip::before{position:absolute;content: attr(data-tool);left: 50%;bottom: 100%;padding: 8px 12px;background: rgba(34, 50, 84, 0.98);color: white;opacity: 0;pointer-events: none;white-space: nowrap;border-radius: 5px;transition: all .2s ease;transform: translate3d(-50%, 5px, 0) scale(.5);}
.tooltip:hover::before{opacity: 1;transform: translate3d(-50%, -0px, 0) scale(1);}