<template>
  <div>
    <table>
      <tr v-for="(item,index) in dataList" :key="index">
        <td>{{item.speaker}} : {{item.english}}</td>
      </tr>
    </table>
    <br />
    <hr />
    <table>
      <tr v-for="(item,index) in dataList" :key="index">
        <td>{{item.speaker}} : {{item.thai}}</td>
      </tr>
    </table>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      level: this.$route.params.level,
      unit: this.$route.params.unit,
      dataList: []
    };
  },
  methods: {
    loadDialog() {
      //find practicekey
      let levelset = "L" + this.level + "U" + this.unit;

      db.collection("practicelist")
        .doc("data")
        .collection(levelset)
        .where("practicetype", "==", "conversation VDO")
        .get()
        .then(doc => {
          doc.forEach(data => {
            let key = data.id;

            db.collection("conversation")
              .doc(key)
              .collection("dialog")
              .orderBy("orderid")
              .get()
              .then(doc2 => {
                console.log(doc2);
                doc2.forEach(data2 => {
                  let dataTemp = {
                    english: data2.data().sentenceEnglish,
                    thai: data2.data().sentenceThai,
                    speaker: this.shortSpeaker(data2.data().speaker)
                  };
                  console.log(dataTemp);
                  this.dataList.push(dataTemp);
                });
              });
          });
        });
    },
    shortSpeaker(speaker) {
      if (speaker == "Girl#1") {
        return "G1";
      } else if (speaker == "Girl#2") {
        return "G2";
      } else if (speaker == "Boy#1") {
        return "B1";
      } else if (speaker == "Boy#2") {
        return "B2";
      } else if (speaker == "Young Man#1") {
        return "YM1";
      } else if (speaker == "Young Man#2") {
        return "YM2";
      } else if (speaker == "Young Woman#1") {
        return "YW1";
      } else if (speaker == "Young Woman#2") {
        return "YM2";
      } else if (speaker == "Man#1") {
        return "M1";
      } else if (speaker == "Man#2") {
        return "M2";
      } else if (speaker == "Woman#1") {
        return "W1";
      } else if (speaker == "Woman#2") {
        return "W2";
      } else if (speaker == "Old Woman#1") {
        return "OW1";
      } else if (speaker == "Old Woman#2") {
        return "OW2";
      } else if (speaker == "Old Man#1") {
        return "OM1";
      } else if (speaker == "Old Man#2") {
        return "OM2";
      } else {
        return speaker;
      }
    }
  },
  mounted() {
    this.loadDialog();
  }
};
</script>

<style scoped>
</style>