<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row reverse-wrap items-center">
      <div class="col-xs-12 col-md-6 q-mb-md q-pl-sm"></div>
      <div align="right" class="q-pa-sm col-xs-6 col-md-6 q-mb-sm">
        <router-link
          :to="{name:'conversationprint',params:{dataPractice,dataSetting,dialogdata,practice,schoolType,vdofile}}"
        >
          <q-btn icon="fas fa-print" class="q-ma-sm q-mr-sm" color="teal-5" round/>
        </router-link>

        <!-- <q-btn
          icon="fas fa-arrows-alt"
          class="q-ma-sm q-mr-sm"
          color="teal-5"
          @click="movePractice()"
          round
        />-->
      </div>
    </div>

    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          {{this.titlePage}} | L{{this.$store.state.system.levelactive}} U{{this.$store.state.system.unitactive}}
          <hr>
        </h5>
      </div>

      <div class="q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="ตั้งค่า"
            @click="changeSettingmode(0)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
          <q-btn
            label="ประโยคสนทนา"
            @click="changeSettingmode(1)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
        </q-btn-group>
      </div>

      <div v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="ลำดับ"
                v-model="dataPractice.order"
                type="number"
                class="q-pa-sm"
                ref="orderL"
                :rules="[val => val > 5000 ||'',val2 => val2 <= 5998 || '',val3 => !!val3 || '']"
              ></q-input>
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="ชื่อแบบฝึกหัด"
                v-model="dataPractice.practiceName"
                class="q-pa-sm"
                ref="practiceName"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>

            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-select
                outlined
                label="รูปแบบหน้ากากเกมส์"
                :options="mainappTemplate"
                v-model="dataSetting.appTemplate"
                class="q-pa-sm"
                emit-value
                map-options
              ></q-select>
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            ประเภทโรงเรียน
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-ml-xs q-mb-md">
            <div
              class="col-md-12 q-ml-xs q-mt-sm q-mb-sm"
              v-for="(item,index) in schoolType"
              :key="index"
            >
              <q-checkbox
                v-model="dataSetting.schoolTypeSelected"
                :label="item.name"
                :val="item.key"
                color="black"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn()"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <div v-show="settingMode == 1">
        <div style="width:320px; margin:auto;">
          <video width="320" height="240" controls :src="vdofile"></video>
        </div>
        <br>
        <br>
        <div style="clear: both;">
          <div class="col-xs-12 col-md-8 self-center" align="right">
            <q-btn
              round
              icon="fas fa-plus"
              class="q-ma-sm q-mr-lg"
              @click="addDialog()"
              color="teal-5"
            />
          </div>
          <q-table
            :data="dialogdata"
            :columns="columns"
            row-key="slidekey"
            :pagination.sync="paginationControl"
            class="bg-grey-2"
            separator="cell"
          >
            <q-tr slot="body" slot-scope="props" :props="props">
              <q-td key="no" :props="props">{{ props.row.no }}</q-td>
              <q-td key="starttime" :props="props">{{ props.row.starttime }}</q-td>
              <q-td key="speaker" :props="props">{{ props.row.speaker }}</q-td>
              <q-td key="sentence" :props="props">
                {{props.row.sentenceEnglish}}
                <br>
                {{props.row.sentenceThai}}
              </q-td>
              <q-td key="orderid" :props="props">{{props.row.orderid}}</q-td>
              <q-td key="delete" :props="props">
                <span @click="deleteBtn(props.row.key)">
                  <q-icon name="fas fa-trash-alt text-red pointer text-body1"/>
                </span>
              </q-td>
              <q-td key="edit" :props="props">
                <span @click="editBtn(props.row.key)">
                  <q-icon name="fas fa-edit text-amber-7 pointer text-body1"/>
                </span>
              </q-td>
            </q-tr>
          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      paginationControl: {
        rowsPerPage: 0
      },
      settingMode: this.$route.params.settingmode, //Mode 0 = ตั้งค่า , 1 = คำศัพท์เสริม,
      titlePage: "Conversation",
      slidepath: "",
      isSync: true,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      dataPractice: {
        order: 0,
        practiceName: ""
      },
      vdofile: "",
      mainappTemplate: [],
      dataSetting:
        //object ข้อมูลสำหรับหน้าตั้งค่า
        {
          appTemplate: "",
          schoolTypeSelected: []
        },
      schoolType: [],

      columns: [
        {
          name: "no",
          label: "ลำดับ",
          field: "no",
          sortable: true,
          style: "width:130px;",
          align: "center"
        },
        {
          name: "starttime",
          label: "เวลาเริ่มต้น",
          field: "starttime",
          style: "width:130px;",
          align: "center"
        },
        {
          name: "speaker",
          label: "ตัวละคร",
          field: "speaker",
          sortable: false,
          align: "center",
          style: "width:200px;"
        },
        {
          name: "sentence",
          label: "ประโยคสนทนา",
          field: "sentence",
          sortable: false,
          align: "center"
        },
        {
          name: "orderid",
          label: "รหัสลำดับ",
          field: "orderid",
          sortable: false,
          style: "width:150px",
          align: "center"
        },
        {
          name: "delete",
          label: "ลบ",
          field: "delete",
          sortable: false,
          style: "width:150px",
          align: "center"
        },
        {
          name: "edit",
          label: "แก้ไข",
          field: "edit",
          sortable: false,
          style: "width:150px;",
          align: "center"
        }
      ],
      dialogdata: [],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setSettingModeKey",
      "setLinkMenu"
    ]),
    movePractice() {
      this.$router.push(
        "/practice/move/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit
      );
    },

    changeSettingmode(data) {
      this.settingMode = data;
    },

    async loadBasicData() {
      let _this = this;
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      // เรียกข้อมูล : ชื่อแบบฝึกหัด, รหัสลำดับ
      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get()
        .then(data => {
          this.dataPractice.order = data.data().order;
          this.dataPractice.practiceName = data.data().name;
        });
      // เรียกข้อมูล : ออฟชั่นหน้ากากเกมส์
      let loadMainApp = await db
        .collection("mainapptemplate")
        .where("practicetype", "==", "conversation")
        .get();
      loadMainApp.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name
        };
        let dataFinal = { ...doc.data(), ...dataKey };

        this.mainappTemplate.push(dataFinal); // ออฟชั่นหน้ากากเกมส์
        this.dataSetting.appTemplate = this.mainappTemplate[0].value;
      });
      let loadSchoolType = await db
        .collection("schooltype")
        .orderBy("name")
        .get();
      loadSchoolType.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name,
          name: doc.data().name
        };

        let dataFinal = { ...doc.data(), ...dataKey };

        this.schoolType.push(dataFinal); //ออฟชั่นประเภทโรงเรียน
      });
      await db
        .collection("conversation")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            db.collection("conversation")
              .doc(this.practice.key)
              .get()
              .then(data => {
                this.dataSetting = data.data();
              });
          }
        });
      this.vdofile =
        this.vdoserverpath +
        "uploadvdoconversation/" +
        this.levelunit(this.practice.level, this.practice.unit) +
        ".mp4";
      this.loaddialogdata();
      //   this.loadslidedata();
    },
    levelunit(level, unit) {
      var levelset;
      var unitset;
      if (level <= 9) {
        levelset = "0" + level;
      } else {
        levelset = level;
      }
      if (unit <= 9) {
        unitset = "0" + unit;
      } else {
        unitset = unit;
      }
      return "L" + levelset + "U" + unitset;
    },
    addDialog() {
      this.$router.push(
        "/practice/conversation/add/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    deleteBtn(index) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("conversation")
            .doc(this.practice.key)
            .collection("dialog")
            .doc(index)
            .delete();
          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
          this.loaddialogdata();
        });
    },
    cancelBtn() {
      this.$router.push("/practice");
    },

    saveBtn() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var checkTypeVdo;

      this.$refs.orderL.validate();
      checkTypeVdo = this.$refs.orderL.hasError;

      this.$refs.practiceName.validate();
      if (checkTypeVdo || this.$refs.practiceName.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      if (this.dataSetting.schoolTypeSelected.length <= 0) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      db.collection("conversation")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            db.collection("conversation")
              .doc(this.practice.key)
              .update(this.dataSetting);
          } else {
            db.collection("conversation")
              .doc(this.practice.key)
              .set(this.dataSetting);
          }
        });

      db.collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .update({
          name: this.dataPractice.practiceName,
          order: Number(this.dataPractice.order)
        });
      this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
    },

    editBtn(key) {
      this.$router.push(
        "/practice/conversation/edit/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          key +
          "/1"
      );
    },

    async loaddialogdata() {
      this.dialogdata = [];
      //load data from database
      let data = await db
        .collection("conversation")
        .doc(this.practice.key)
        .collection("dialog")
        .orderBy("orderid")
        .get();
      let i = 1;
      for (const doc of data.docs) {
        let dataadd = {
          no: i,
          starttime: doc.data().starttime,
          speaker: doc.data().speaker,
          key: doc.id,
          sentenceEnglish: doc.data().sentenceEnglish,
          sentenceThai: doc.data().sentenceThai,
          orderid: doc.data().orderid
        };

        i += 1;
        this.dialogdata.push(dataadd);
      }
    },

    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },

  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadBasicData();
  }
};
</script>

<style scoped>
</style>