<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          {{titlePage}} | L{{this.$store.state.system.levelactive}} U{{this.$store.state.system.unitactive}}
          <hr>
        </h5>

        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-sm">
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="รหัสลำดับ"
                v-model.number="datainput.orderid"
                class="q-pa-sm"
                ref="orderid"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="เวลาเริ่มต้น"
                v-model="datainput.starttime"
                class="q-pa-sm"
                ref="starttime"
                placeholder="mm:ss"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-select
                outlined
                label="ผู้พูด"
                :options="speakerdata"
                v-model="datainput.speaker"
                class="q-pa-sm"
                emit-value
                map-options
              ></q-select>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="บทสนทนาอังกฤษ"
                v-model="datainput.sentenceEnglish"
                class="q-pa-sm"
                ref="sentenceEnglish"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="บทสนทนาไทย"
                v-model="datainput.sentenceThai"
                class="q-pa-sm"
                ref="sentenceThai"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn()"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      titlePage: "Conversation",
      datainput: {
        orderid: "",
        starttime: "",
        speaker: "",
        sentenceEnglish: "",
        sentenceThai: ""
      },
      speakerdata: [],
      isAddMode: true,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        slideno: this.$route.params.slideno
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setSettingModeKey",
      "setLinkMenu"
    ]),
    loaddata() {
      db.collection("conversation")
        .doc(this.practice.key)
        .collection("dialog")
        .doc(this.practice.slideno)
        .get()
        .then(data => {
          this.datainput = data.data();
        });
    },
    loadspeakerdata() {
      let _this = this;
      db.collection("speaker")
        .orderBy("name")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataKey = {
              label: doc.data().name,
              value: doc.data().name
            };
            this.speakerdata.push(dataKey);
          });
          this.datainput.speaker = this.speakerdata[0].value;
        });
    },
    cancelBtn() {
      this.$router.push(
        "/practice/conversation/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    saveBtn() {
      this.$refs.starttime.validate();
      this.$refs.orderid.validate();
      this.$refs.sentenceEnglish.validate();
      this.$refs.sentenceThai.validate();
      if (
        this.$refs.starttime.hasError ||
        this.$refs.orderid.hasError ||
        this.$refs.sentenceEnglish.hasError ||
        this.$refs.sentenceThai.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      if (this.isAddMode) {
        db.collection("conversation")
          .doc(this.practice.key)
          .collection("dialog")
          .add(this.datainput);
      } else {
        db.collection("conversation")
          .doc(this.practice.key)
          .collection("dialog")
          .doc(this.practice.slideno)
          .set(this.datainput);
      }
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
      this.cancelBtn();
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadspeakerdata();
    if (this.$route.name == "conversationadd") {
      this.isAddMode = true;
    } else {
      this.isAddMode = false;
      this.loaddata();
    }
  }
};
</script>

<style scoped>
</style>