<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row reverse-wrap items-center">
      <div class="col-xs-12 col-md-6 q-mb-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="แบบร่าง"
            :disable="!isMode"
            :class="{'bg-teal-5 text-white' : mode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            @click="changeMode(0)"
            push
          />
          <q-btn
            label="เซิฟเวอร์"
            :disable="!isMode"
            :class="{'bg-teal-5 text-white' : mode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeMode(1)"
            class="bg-white"
            push
          />
        </q-btn-group>
      </div>
      <div align="right" class="q-pa-sm col-xs-12 col-md-6 q-mb-sm">
        <q-btn
          icon="fas fa-sync"
          class="q-ma-sm q-mr-sm"
          :disabled="mode == 1 || !isSync"
          color="teal-5"
          @click="syncBtn()"
          round
        />
        <q-btn
          icon="fas fa-arrows-alt"
          class="q-ma-sm q-mr-sm"
          :disabled="mode == 1"
          color="teal-5"
          @click="movePractice()"
          round
        />
        <router-link
          :to="{name:'dictationprint',params:{dataSetting,dataShow,practice,schoolType}}"
        >
          <q-btn
            icon="fas fa-print"
            class="q-ma-sm q-mr-sm"
            :disabled="mode == 1"
            color="teal-5"
            round
          />
        </router-link>
      </div>
    </div>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Dictation | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>
      <div class="q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="ตั้งค่า"
            @click="changeSettingMode(0)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
          <q-btn
            label="คำถาม"
            @click="changeSettingMode(1)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
        </q-btn-group>
      </div>

      <!-- Setting Mode 0 -->
      <div v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                type="number"
                v-model="dataSetting.orderid"
                label="รหัสลำดับ"
                :readonly="mode == 1"
                ref="orderid"
                :rules="[val => val >= 4001 ||'',val2 => val2 <= 4998 || '',val3 => !!val3 || '']"
              />
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                label="ชื่อแบบฝึกหัด"
                v-model="dataSetting.practiceName"
                :readonly="mode == 1"
                ref="practiceName"
                :rules="[val => !!val || '']"
              />
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-select
                outlined
                class="q-pa-sm"
                v-model="dataSetting.appTemplate"
                label="รูปแบบหน้ากากเกมส์"
                :options="templateGames"
                :readonly="mode == 1"
              />
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            คำสั่ง
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-pt-md q-pb-lg">
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                v-model="dataSetting.instructionEng"
                label="คำสั่งภาษาอังกฤษ"
                :readonly="mode == 1"
                ref="instructionEng"
                :rules="[val => !!val ||'']"
              />
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                label="คำสั่งภาษาไทย"
                v-model="dataSetting.instructionThai"
                :readonly="mode == 1"
                ref="instructionThai"
                :rules="[val => !!val ||'']"
              />
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            ประเภทโรงเรียน
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <app-dictation
            v-for="(value,index) in schoolType"
            :key="index"
            :schoolTypeName="value.name"
            :dataSchool="{use:value.use,passScore:value.passScore,helpType:value.helpType,star:value.star}"
            @schoolTypeSet="schoolTypeSet"
            :mode="mode"
          />
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :disabled="mode == 1"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn()"
              color="teal-5"
              class="q-ma-xs"
              :disabled="mode == 1||!isSaveData"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- Setting Mode 1 -->
      <div v-show="settingMode == 1">
        <div class="row q-pt-xl">
          <div class="col-xs-12 col-md-4">
            <q-select
              outlined
              class="q-pa-sm"
              v-model="schoolTypeSelect"
              label="แสดงข้อมูลตามประเภทโรงเรียน"
              :options="schoolTypeList"
              @input="changeSchoolType(schoolTypeSelect)"
              emit-value
              map-options
            />
          </div>
          <div class="col-xs-12 col-md-8 self-center" align="right">
            <q-btn
              round
              icon="fas fa-plus"
              class="q-ma-sm q-mr-lg"
              color="teal-5"
              @click="addBtn()"
              :disabled="mode == 1"
            />
          </div>
        </div>

        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2 q-mt-lg"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="orderNumber" :props="props">
              <span>{{ props.row.__index + 1 }}</span>
            </q-td>
            <q-td
              key="practice"
              style="text-align:left;vertical-align: top"
              :props="props"
              align="left"
            >
              <div class="row items-center">
                <div class="col-lg-10" align="left">
                  <span v-html="props.row.sentenceEng"></span>
                  <br>
                  <span v-html="props.row.sentenceThai"></span>
                </div>
              </div>
            </q-td>
            <q-td key="orderid" :props="props">
              <span>{{ props.row.orderid }}</span>
            </q-td>
            <q-td key="delete" :props="props">
              <span @click="deleteBtn(props.row.key)" v-show="mode == 0">
                <q-icon name="fas fa-trash-alt  text-red pointer"/>
              </span>
              <span v-show="mode == 1" :disabled="mode == 1">
                <q-icon name="fas fa-trash-alt  text-red pointer"/>
              </span>
            </q-td>
            <q-td key="edit" :props="props">
              <span @click="editBtn(props.row.key)" v-show="mode == 0">
                <q-icon name="fas fa-edit  text-amber-7 pointer"/>
              </span>
              <span v-show="mode == 1" :disabled="mode == 1">
                <q-icon name="fas fa-edit  text-amber-7 pointer"/>
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import { required, between } from "vuelidate/lib/validators";
import dictation from "../../components/dictationOptions.vue";
import { watch } from "fs";
import { all } from "q";
export default {
  data() {
    return {
      mode: 0, //mode 0 = แบบร่าง , 1 = เซิฟเวอร์
      settingMode: this.$route.params.settingmode, //SettingMode 0 = ตั้งค่า , 1 = คำศัพท์
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        name: this.$route.name
      },
      dataSetting: {
        orderid: "",
        practiceName: "",
        appTemplate: "",
        instructionEng: "",
        instructionThai: ""
      },
      dataBaseSchool: "",
      templateGames: [],
      schoolType: [],
      schoolTypeList: [
        {
          label: "ทั้งหมด",
          value: "ทั้งหมด"
        }
      ],
      schoolTypeSelect: "",
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "ลำดับ",
          align: "center",
          style: "width:100px;",
          sortable: false
        },
        {
          name: "practice",
          label: "แบบฝึกหัด",
          align: "center",
          field: "practice",
          sortable: false,
          style: ""
        },
        {
          name: "orderid",
          label: "รหัสลำดับ",
          align: "center",
          style: "width:100px;",
          field: "orderid",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px;",
          field: "delete",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px;",
          field: "edit",
          sortable: false
        }
      ],
      isSaveData: true,
      isMode: true,
      isSync: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    movePractice() {
      this.$router.push(
        "/practice/move/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit
      );
    },
    changeMode(data) {
      this.isMode = false;
      this.mode = data;

      this.loadQuestion();
    },
    changeSettingMode(data) {
      this.settingMode = data;
      this.$router.push(
        "/practice/dictation/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          this.settingMode
      );
    },
    async changeSchoolType(type) {
      let modedata;

      if (this.mode == 0) {
        // เช็ดสถานนะ : Draft
        modedata = "draft";
      } else {
        // เช็ดสถานนะ : Server
        modedata = "server";
      }

      if (type == "ทั้งหมด") {
        await db
          .collection("dictation")
          .doc(this.practice.key)
          .collection(modedata)
          .orderBy("orderid", "asc")
          .onSnapshot(data => {
            this.dataShow = [];

            data.forEach(doc => {
              let dataKey = {
                key: doc.id
              };
              let dataFinal = {
                ...doc.data(),
                ...dataKey
              };

              this.dataShow.push(dataFinal);
            });
          });
      } else {
        await db
          .collection("dictation")
          .doc(this.practice.key)
          .collection(modedata)
          .where(type, "==", true)
          .onSnapshot(data => {
            this.dataShow = [];

            data.forEach(doc => {
              let dataKey = {
                key: doc.id
              };
              let dataFinal = {
                ...doc.data(),
                ...dataKey
              };

              this.dataShow.push(dataFinal);

              this.dataShow.sort((a, b) => {
                return Number(a.orderid) - Number(b.orderid);
              });
            });
          });
      }
    },
    printBtn() {
      this.$router.push(
        "/practice/dictation/print/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          this.settingMode
      );
    },
    async checkEnableSync() {
      let datedraft;
      let dateserver;

      let data = await db
        .collection("dictation")
        .doc(this.practice.key)
        .get();

      if (data.exists) {
        datedraft = await data.data().savedraft;
        dateserver = await data.data().saveserver;
        if (Number(datedraft) > Number(dateserver)) {
          this.isSync = true;
        } else {
          this.isSync = false;
        }
      } else {
        this.isSync = false;
      }
    },
    async syncBtn() {
      this.loadingSet(1, "กำลังซิงค์ข้อมูล โปรดรอสักครู่");
      this.isSync = false;

      var d = new Date();
      var n = d.getTime();

      let loadserverdata = await db
        .collection("dictation")
        .doc(this.practice.key)
        .collection("server")
        .get();

      loadserverdata.forEach(doc => {
        db.collection("dictation")
          .doc(this.practice.key)
          .collection("server")
          .doc(doc.id)
          .delete();
      });

      let loaddraftdata = await db
        .collection("dictation")
        .doc(this.practice.key)
        .collection("draft")
        .get();

      loaddraftdata.forEach(doc => {
        db.collection("dictation")
          .doc(this.practice.key)
          .collection("server")
          .doc(doc.id)
          .set(doc.data());
      });

      await db
        .collection("dictation")
        .doc(this.practice.key)
        .update({
          saveserver: n
        });

      this.notifyGreen("ชิงค์ข้อมูลเรียบร้อยแล้ว");
      this.loadingSet(0);
    },
    addBtn() {
      db.collection("dictation")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            this.$router.push(
              "/practice/dictation/add/" +
                this.practice.key +
                "/" +
                this.practice.level +
                "/" +
                this.practice.unit +
                "/" +
                this.settingMode
            );
          } else {
            this.$router.push(
              "/practice/dictation/" +
                this.practice.key +
                "/" +
                this.practice.level +
                "/" +
                this.practice.unit +
                "/" +
                0
            );
            this.settingMode = 0;
            this.notifyRed("ต้องตั้งค่าแบบฝึกหัดก่อน");
          }
        });
    },
    editBtn(typekey) {
      this.$router.push(
        "/practice/dictation/edit/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          typekey +
          "/" +
          this.mode +
          "/" +
          this.settingMode
      );
    },
    deleteBtn(typekey) {
      var d = new Date();
      var n = d.getTime();

      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("dictation")
            .doc(this.practice.key)
            .collection("draft")
            .doc(typekey)
            .delete();

          db.collection("dictation")
            .doc(this.practice.key)
            .update({
              savedraft: n
            });

          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");

          this.checkEnableSync();
        })
        .onCancel(() => {});
    },
    cancelBtn() {
      this.$router.push("/practice");
    },
    async saveBtn() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var d = new Date();
      var n = d.getTime();

      this.$refs.orderid.validate();
      this.$refs.practiceName.validate();
      this.$refs.instructionEng.validate();
      this.$refs.instructionThai.validate();

      if (
        this.$refs.orderid.hasError ||
        this.$refs.practiceName.hasError ||
        this.$refs.instructionEng.hasError ||
        this.$refs.instructionThai.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      let dataCheckSelect = 0;

      for (let i = 0; i < this.schoolType.length; i++) {
        if (!this.schoolType[i].use) {
          dataCheckSelect += 1;
        } else {
          if (
            Number(this.schoolType[i].passScore) <=
            Number(this.schoolType[i].star)
          ) {
          } else {
            this.notifyRed("เกณฑ์ 3 ดาวต้องมากว่า เกณฑ์การผ่าน");
            return;
          }
        }
      }

      if (dataCheckSelect == this.schoolType.length) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      this.isSaveData = false;
      this.loadingSet(1);

      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .update({
          order: Number(this.dataSetting.orderid),
          name: this.dataSetting.practiceName
        });

      await db
        .collection("dictation")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            db.collection("dictation")
              .doc(this.practice.key)
              .update({
                apptemplate: this.dataSetting.appTemplate,
                instructioneng: this.dataSetting.instructionEng,
                instructionthai: this.dataSetting.instructionThai,
                savedraft: n
              });
          } else {
            db.collection("dictation")
              .doc(this.practice.key)
              .set({
                apptemplate: this.dataSetting.appTemplate,
                instructioneng: this.dataSetting.instructionEng,
                instructionthai: this.dataSetting.instructionThai,
                savedraft: 0,
                saveserver: 0
              });
          }
        });

      for (let i = 0; i < this.schoolType.length; i++) {
        if (this.schoolType[i].use) {
          db.collection("dictation")
            .doc(this.practice.key)
            .collection("schooloption")
            .doc(this.schoolType[i].name)
            .set(this.schoolType[i]);
        } else {
          db.collection("dictation")
            .doc(this.practice.key)
            .collection("schooloption")
            .doc(this.schoolType[i].name)
            .delete();
        }
      }
      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    schoolTypeSet(value) {
      for (let i = 0; i < this.schoolType.length; i++) {
        if (this.schoolType[i].name == value.name) {
          this.schoolType[i] = value;
        }
      }
    },
    async loadBasicData() {
      let _This = this;
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      // เรียกข้อมูล : ชื่อแบบฝึกหัด, รหัสลำดับ
      let loadPractice = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get();

      this.dataSetting.practiceName = loadPractice.data().name; //ชื่อแบบฝึกหัด
      this.dataSetting.orderid = loadPractice.data().order; //รหัสลำดับ

      // เรียกข้อมูล : คำสั่งภาษาไทย, คำสั่งภาษาอังกฤษ, รูปแบบหน้ากากเกมส์, ออฟชั่นหน้ากากเกมส์
      let loadDictationData = await db
        .collection("dictation")
        .doc(this.practice.key)
        .get();

      let loadMainApp = await db
        .collection("mainapptemplate")
        .where("practicetype", "==", "dictation")
        .get();

      loadMainApp.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name
        };
        let dataFinal = {
          ...doc.data(),
          ...dataKey
        };

        this.templateGames.push(dataFinal); //ออฟชั่นหน้ากากเกมส์

        if (loadDictationData.exists) {
          this.dataSetting.appTemplate = loadDictationData.data().apptemplate; //รูปแบบหน้ากากเกมส์
          this.dataSetting.instructionEng = loadDictationData.data().instructioneng; //คำสั่งภาษาอังกฤษ
          this.dataSetting.instructionThai = loadDictationData.data().instructionthai; //คำสั่งภาษาไทย
        } else {
          this.dataSetting.appTemplate = "Dictation Basic"; //รูปแบบหน้ากากเกมส์
        }
      });

      // เรียกข้อมูล : ประเภทโรงเรียน, ออฟชั่นประเภทโรงเรียน
      let loadSchoolType = await db
        .collection("schooltype")
        .orderBy("name")
        .get();

      loadSchoolType.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name
        };

        let dataFinal = {
          ...doc.data(),
          ...dataKey
        };

        this.schoolTypeList.push(dataFinal); //ออฟชั่นประเภทโรงเรียน
        this.schoolTypeSelect = "ทั้งหมด"; //เลือกประเภทโรงเรียนจาก Array 0 เป็นอันดับแรกเสมอ

        db.collection("dictation")
          .doc(this.practice.key)
          .collection("schooloption")
          .doc(doc.data().name)
          .get()
          .then(value => {
            if (value.exists) {
              this.schoolType.push(value.data()); //ประเภทโรงเรียน
            } else {
              this.schoolType.push({
                use: false,
                name: doc.data().name,
                passScore: "",
                star: ""
              });
            }
          });
      });

      this.loadQuestion();
      this.loadingSet(0);
    },
    async loadQuestion() {
      let modedata;

      if (this.mode == 0) {
        // เช็ดสถานนะ : Draft
        modedata = "draft";
      } else {
        // เช็ดสถานนะ : Server
        modedata = "server";
      }

      await db
        .collection("dictation")
        .doc(this.practice.key)
        .collection(modedata)
        .orderBy("orderid")
        .onSnapshot(data => {
          this.dataShow = [];
          data.forEach(doc => {
            let dataKey = {
              key: doc.id
            };
            let dataFinal = {
              ...doc.data(),
              ...dataKey
            };

            this.dataShow.push(dataFinal);
          });

          this.isMode = true;
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  components: {
    appDictation: dictation
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadBasicData();
    this.checkEnableSync();
    this.loadingSet(1);
  }
};
</script>