<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize" />
    <div class="row q-pa-sm">
      <div class="col-xs-12 col-md-6 q-mb-sm">
        <q-btn-group push>
          <q-btn
            push
            label="แบบร่าง"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-teal-5 text-white"
            size="md"
          />
          <q-btn
            push
            label="เซิฟเวอร์"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            disable
            size="md"
          />
        </q-btn-group>
      </div>
    </div>

    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Dictation | L{{practice.level}} U{{practice.unit}}
          <hr />
        </h5>
      </div>

      <div class="box-content-practice">
        <div class="row q-mb-sm">
          <div class="col-xs-12 q-pa-sm">
            <q-input
              outlined
              class="q-pa-sm"
              type="number"
              v-model="dataSetting.orderid"
              label="รหัสลำดับ"
              ref="orderid"
              :rules="[val => !!val||'']"
            />
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-md">
            <tinymce
              :other_options="tinyOptions"
              :id="'a' + (Math.random()*(100**10)).toFixed(0)"
              v-model.trim="dataSetting.sentenceEng"
              toolbar1="bold"
              :class="{errorInput:!isErrorSentenceEng}"
              @input="checkerror()"
            ></tinymce>
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-sm">
            <q-input
              outlined
              class="q-pa-sm"
              label="คำแปล"
              v-model="dataSetting.sentenceThai"
              ref="sentenceThai"
              :rules="[val => !!val||'']"
            />
          </div>
        </div>
      </div>

      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          ประเภทโรงเรียน
          <hr />
        </h5>
      </div>

      <div class="box-content-practice">
        <div class="row q-pb-md">
          <div class="col-md-12 q-ml-xs q-mb-sm">
            <q-checkbox
              label="ทั้งหมด"
              color="black"
              v-model="selectedSchoolAll"
              @input="selectAllSchool()"
            />
          </div>
          <div
            class="col-md-12 col-xs-12 q-ml-xs q-mb-sm q-pl-lg"
            v-for="(item,index) in schoolTypeList"
            :key="index"
          >
            <q-checkbox
              color="black"
              v-model="selectedSchoolType"
              :label="item.name"
              :val="item.name"
            />
          </div>
        </div>
      </div>

      <div class="row justify-center q-pt-lg q-pb-md">
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="ยกเลิก"
            @click="cancelBtn()"
            color="red-7"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="บันทึก"
            @click="saveBtn()"
            :disabled="!isSaveData"
            color="teal-5"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      settingMode: 1,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        practiceKey: this.$route.params.practicekey
      },
      dataSetting: {
        orderid: "",
        sentenceEng: "",
        sentenceThai: ""
      },
      selectedSchoolType: [],
      selectedSchoolAll: false,
      schoolTypeList: [],
      isAddData: true,
      isSaveData: true,
      isErrorSentenceEng: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    selectAllSchool() {
      if (this.selectedSchoolAll) {
        this.selectedSchoolType = [];
        for (let i = 0; i < this.schoolTypeList.length; i++) {
          this.selectedSchoolType.push(this.schoolTypeList[i].name);
        }
      } else {
        this.selectedSchoolType = [];
      }
    },
    cancelBtn() {
      this.$router.push(
        "/practice/dictation/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    checkerror() {
      if (this.dataSetting.sentenceEng.length <= 0) {
        this.isErrorSentenceEng = false;
      } else {
        this.isErrorSentenceEng = true;
      }
    },
    async saveBtn() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var d = new Date();
      var n = d.getTime();

      this.$refs.orderid.validate();
      this.$refs.sentenceThai.validate();

      if (
        this.$refs.orderid.hasError ||
        this.dataSetting.sentenceEng.length <= 0 ||
        !this.isErrorSentenceEng ||
        this.$refs.sentenceThai.hasError
      ) {
        if (this.dataSetting.sentenceEng.length <= 0) {
          this.isErrorSentenceEng = false;
        } else {
          this.isErrorSentenceEng = true;
        }
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      if (this.isAddData) {
        let checkData = await db
          .collection("dictation")
          .doc(this.practice.key)
          .collection("draft")
          .where("orderid", "==", this.dataSetting.orderid)
          .get();

        if (checkData.size > 0) {
          this.dataSetting.orderid = "";
          this.notifyRed("มีข้อมูลแบบฝึกหัดในระบบแล้ว");
          return;
        }
      }

      if (this.selectedSchoolType.length <= 0) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      this.isSaveData = false;
      this.loadingSet(1);

      if (this.isAddData) {
        await db
          .collection("dictation")
          .doc(this.practice.key)
          .collection("draft")
          .add(this.dataSetting)
          .then(data => {
            for (let i = 0; i < this.selectedSchoolType.length; i++) {
              let newObj = this.selectedSchoolType[i];
              let dataSelected = {
                [newObj]: true
              };

              db.collection("dictation")
                .doc(this.practice.key)
                .collection("draft")
                .doc(data.id)
                .update(dataSelected);
            }

            this.dataSetting.orderid = "";
            this.dataSetting.sentenceEng = "";
            this.dataSetting.sentenceThai = "";
            this.selectedSchoolType = [];
            this.loadCheckSchool();
          });
      } else {
        await db
          .collection("dictation")
          .doc(this.practice.key)
          .collection("draft")
          .doc(this.practice.practiceKey)
          .delete();

        await db
          .collection("dictation")
          .doc(this.practice.key)
          .collection("draft")
          .doc(this.practice.practiceKey)
          .set(this.dataSetting)
          .then(data => {
            for (let i = 0; i < this.selectedSchoolType.length; i++) {
              let newObj = this.selectedSchoolType[i];
              let dataSelected = {
                [newObj]: true
              };

              db.collection("dictation")
                .doc(this.practice.key)
                .collection("draft")
                .doc(this.practice.practiceKey)
                .update(dataSelected);
            }
          });
      }

      await db
        .collection("dictation")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            db.collection("dictation")
              .doc(this.practice.key)
              .update({
                savedraft: n
              });
          } else {
            db.collection("dictation")
              .doc(this.practice.key)
              .set({
                apptemplate: "",
                instructioneng: "",
                instructionthai: "",
                savedraft: n,
                saveserver: 0
              });
          }
        });
      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
      this.cancelBtn();
    },
    async loadBasicData() {
      await db
        .collection("dictation")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .get()
        .then(data => {
          this.dataSetting = {
            orderid: data.data().orderid,
            sentenceEng: data.data().sentenceEng,
            sentenceThai: data.data().sentenceThai
          };

          db.collection("dictation")
            .doc(this.practice.key)
            .collection("schooloption")
            .orderBy("name")
            .get()
            .then(doc => {
              doc.forEach(value => {
                let nameSchool = value.data().name;

                if (data.data()[nameSchool]) {
                  this.selectedSchoolType.push(nameSchool);
                }
              });
            });
        });
    },
    loadCheckSchool() {
      this.loadingSet(1);

      db.collection("dictation")
        .doc(this.practice.key)
        .collection("schooloption")
        .orderBy("name")
        .get()
        .then(data => {
          this.schoolTypeList = [];
          data.forEach(doc => {
            let dataFinal = {
              name: doc.id
            };
            this.schoolTypeList.push(dataFinal);

            if (this.isAddData) {
              this.selectedSchoolType.push(doc.id);
            }

            this.loadingSet(0);
          });
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.name == "dictationedit") {
      this.isAddData = false;
      this.loadBasicData();
    }
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadCheckSchool();
    this.loadingSet(1);
  }
};
</script>
