<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row q-pa-sm">
      <div class="col-xs-12 col-md-6 q-mb-sm">
        <q-btn-group push>
          <q-btn
            push
            label="แบบร่าง"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-teal-5 text-white"
          />
          <q-btn
            push
            label="เซิฟเวอร์"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            disable
          />
        </q-btn-group>
      </div>
    </div>

    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Error detection | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>

      <div class="q-mt-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            push
            label="ตั้งค่า"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeSettingMode(0)"
          />

          <q-btn
            push
            label="คำศัพท์เสริม"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeSettingMode(1)"
          />
        </q-btn-group>
      </div>

      <!-- ตั้งค่า -->
      <div v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                outlined
                type="number"
                v-model="dataSetting.orderid"
                label="รหัสลำดับ"
                class="q-pa-sm"
                ref="orderid"
                :rules="[val => !!val || '']"
              />
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-md">
              <label for>
                คำถาม
                <span class="text-red">*ใช้ขีดเส้นใต้ คำที่เป็นตอบ</span>
              </label>
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*(100**10)).toFixed(0)"
                v-model.trim="dataSetting.question"
                toolbar1="underline"
                :class="{errorInput:isErrorQuestion}"
                @input="editorChange()"
              ></tinymce>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm" v-if="answerList.length > 0">
              <q-select
                multiple
                outlined
                class="q-pa-sm"
                label="คำตอบ"
                v-model="dataSetting.answer"
                :options="answerList"
                @input="setOrderAnswer()"
                emit-value
                map-options
              />
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-md">
              <label for>
                ประโยคที่ถูกต้อง
                <span class="text-red">*ใช้ตัวหนา คำที่เป็นตอบ</span>
              </label>
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*(100**10)).toFixed(0)"
                v-model.trim="dataSetting.correctsentence"
                toolbar1="bold"
              ></tinymce>
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-md">
              <label for>คำอธิบาย</label>
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*(100**10)).toFixed(0)"
                v-model.trim="dataSetting.description"
                toolbar1="bold italic underline"
                :class="{errorInput:isErrorDescription}"
                @input="errorInput()"
              ></tinymce>
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-select
                multiple
                outlined
                class="q-pa-sm"
                label="แผ่นสไลด์"
                v-model="dataSetting.slide"
                :options="slideData"
                emit-value
                map-options
                @input="setOrderSlide()"
              />
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">ประเภทโรงเรียน
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-pb-md">
            <div class="col-md-12 q-ml-xs q-mb-sm">
              <q-checkbox
                label="โรงเรียนทั้งหมด"
                color="black"
                v-model.trim="selectedSchoolAll"
                @input="selectAllSchool()"
              />
            </div>
            <div
              class="col-md-12 col-xs-12 q-ml-xs q-mb-sm q-pl-lg"
              v-for="(item,index) in schoolTypeList"
              :key="index"
            >
              <q-checkbox
                color="black"
                v-model.trim="selectedSchoolType"
                :label="item.name"
                :val="item.name"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(1)"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- คำศัพท์เสริม -->
      <div v-show="settingMode == 1">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                label="คำศัพท์"
                outlined
                v-model.trim="dataExtra.vocabulary"
                class="q-pa-sm"
                ref="Exvocab"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <app-PartOfSpeech @partOfSpeech="partOfSpeech" :data="dataExtra.partOfSpeech"/>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                label="ความหมาย"
                outlined
                placeholder="ให้ใช้ได้เฉพาะภาษาไทย"
                class="q-pa-sm"
                v-model.trim="dataExtra.meaning"
                ref="Exmeaning"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm" v-if="practice.practiceEditKey">
            <q-btn
              label="ยกเลิก"
              @click="cancelEditBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(2)"
              :disabled="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>

        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
          v-if="!practice.practiceEditKey"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="vocabulary" :props="props">
              <span>{{ props.row.vocabulary }}</span>
            </q-td>
            <q-td key="partOfSpeech" :props="props">
              <span>{{ props.row.partOfSpeech }}</span>
            </q-td>
            <q-td key="meaning" :props="props">
              <span>{{ props.row.meaning }}</span>
            </q-td>
            <q-td key="delete" :props="props">
              <span @click="deleteBtn(props.row.key)">
                <q-icon name="fas fa-trash-alt  text-red pointer text-body1"/>
              </span>
            </q-td>
            <q-td key="edit" :props="props">
              <span @click="editBtn(props.row.key)" class="text-amber-7 pointer text-body1">
                <q-icon name="fas fa-edit"/>
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import partOfSpeech from "../../components/partofspeechSelected.vue";
export default {
  data() {
    return {
      settingMode: 0,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        practiceKey: this.$route.params.practicekey
          ? this.$route.params.practicekey
          : "",
        practiceEditKey: ""
      },
      selectedSchoolType: [],
      selectedSchoolAll: false,
      schoolTypeList: [],
      dataSetting: {
        orderid: "",
        question: "",
        answer: [],
        correctsentence: "",
        description: "",
        slide: []
      },
      dataExtra: {
        vocabulary: "",
        partOfSpeech: "ไม่ระบุ",
        meaning: ""
      },
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "vocabulary",
          label: "คำศัพท์",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "partOfSpeech",
          label: "ชนิดของคำ",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "meaning",
          label: "ความหมาย",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        }
      ],
      answerList: [],
      slideData: [],
      isErrorDescription: false,
      isErrorQuestion: false,
      isAddData: true,
      isSaveData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  components: {
    appPartOfSpeech: partOfSpeech
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    changeSettingMode(data) {
      if (data == 1) {
        if (this.practice.practiceKey == "") {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        } else {
          this.settingMode = data;
        }
      }
      this.settingMode = data;
    },
    async editBtn(typekey) {
      this.loadingSet(1);
      let data = await db
        .collection("errordetection")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .collection("extraVocab")
        .doc(typekey)
        .get();

      this.practice.practiceEditKey = typekey;
      this.dataExtra.vocabulary = data.data().vocabulary;
      this.dataExtra.partOfSpeech = data.data().partOfSpeech;
      this.dataExtra.meaning = data.data().meaning;
      this.loadingSet(0);
    },
    cancelEditBtn() {
      this.practice.practiceEditKey = "";
      this.dataExtra.vocabulary = "";
      this.dataExtra.partOfSpeech = "ไม่ระบุ";
      this.dataExtra.meaning = "";
    },
    deleteBtn(typekey) {
      var d = new Date();
      var n = d.getTime();

      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          this.loadingSet(1);

          db.collection("errordetection")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .doc(typekey)
            .delete();

          db.collection("errordetection")
            .doc(this.practice.key)
            .update({
              savedraft: n
            });

          this.loadingSet(0);
          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
        })
        .onCancel(() => {});
    },
    async saveBtn(type) {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var d = new Date();
      var n = d.getTime();
      let saveNewData;
      let saveDataSetting;
      let newJoinSlide;

      if (type == 1) {
        this.$refs.orderid.validate();

        if (
          this.isErrorQuestion ||
          this.isErrorDescription ||
          !this.dataSetting.question.length ||
          !this.dataSetting.description.length ||
          this.$refs.orderid.hasError
        ) {
          if (!this.dataSetting.question.length) {
            this.isErrorQuestion = true;
          }
          if (!this.dataSetting.description.length) {
            this.isErrorDescription = true;
          }
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        } else {
          this.isErrorDescription = false;
          this.isErrorQuestion = false;
        }

        let matchSpanQuestion = this.dataSetting.question.match(
          /<span [^>]+>([^<]+)<\/span>/g
        );

        if (matchSpanQuestion) {
          var matchSpanQuestionlength = matchSpanQuestion.length;

          if (matchSpanQuestionlength > 1) {
          } else {
            this.notifyRed("คำตอบต้องมีอย่างน้อย 2 คำตอบ");
            return;
          }
        } else {
          this.notifyRed("กรุณาสร้างคำตอบ");
          return;
        }

        if (this.dataSetting.answer.length <= 0) {
          this.notifyRed("กรุณาเลือกคำตอบอย่างน้อย 1 คำตอบ");
          return;
        }

        if (this.selectedSchoolType.length <= 0) {
          this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
          return;
        }

        if (this.isAddData) {
          let checkData = await db
            .collection("errordetection")
            .doc(this.practice.key)
            .collection("draft")
            .where("orderid", "==", Number(this.dataSetting.orderid))
            .get();

          if (checkData.size > 0) {
            this.dataSetting.orderid = "";
            this.notifyRed("มีข้อมูลแบบฝึกหัดในระบบแล้ว");
            return;
          }
        }

        this.isSaveData = false;
        this.loadingSet(1);

        if (this.isAddData) {
          newJoinSlide = this.dataSetting.slide
            ? this.dataSetting.slide.map(Number).sort((a, b) => {
                return a - b;
              })
            : "";

          newJoinSlide = newJoinSlide.join(",");

          saveNewData = {
            slide: newJoinSlide,
            orderid: Number(this.dataSetting.orderid)
          };

          saveDataSetting = {
            ...this.dataSetting,
            ...saveNewData
          };

          await db
            .collection("errordetection")
            .doc(this.practice.key)
            .collection("draft")
            .add(saveDataSetting)
            .then(data => {
              for (let i = 0; i < this.selectedSchoolType.length; i++) {
                let newObj = this.selectedSchoolType[i];
                let dataSelected = {
                  [newObj]: true
                };

                db.collection("errordetection")
                  .doc(this.practice.key)
                  .collection("draft")
                  .doc(data.id)
                  .update(dataSelected);

                this.isAddData = false;
                this.$router.push(
                  "/practice/errordetection/edit/" +
                    this.practice.key +
                    "/" +
                    this.practice.level +
                    "/" +
                    this.practice.unit +
                    "/" +
                    data.id +
                    "/1"
                );
              }
              this.settingMode = 1;
            });
        } else {
          newJoinSlide = this.dataSetting.slide
            ? this.dataSetting.slide.map(Number).sort((a, b) => {
                return a - b;
              })
            : "";

          newJoinSlide = newJoinSlide.join(",");

          saveNewData = {
            slide: newJoinSlide,
            orderid: Number(this.dataSetting.orderid)
          };

          saveDataSetting = {
            ...this.dataSetting,
            ...saveNewData
          };

          await db
            .collection("errordetection")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .set(saveDataSetting)
            .then(data => {
              for (let i = 0; i < this.selectedSchoolType.length; i++) {
                let newObj = this.selectedSchoolType[i];
                let dataSelected = {
                  [newObj]: true
                };

                db.collection("errordetection")
                  .doc(this.practice.key)
                  .collection("draft")
                  .doc(this.practice.practiceKey)
                  .update(dataSelected);
              }
            });
        }
      }

      if (type == 2) {
        this.$refs.Exvocab.validate();
        this.$refs.Exmeaning.validate();

        if (this.$refs.Exvocab.hasError || this.$refs.Exmeaning.hasError) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        }

        this.isSaveData = false;

        if (this.practice.practiceEditKey == "") {
          await db
            .collection("errordetection")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .add(this.dataExtra)
            .then(() => {
              this.practice.practiceEditKey = "";
              this.dataExtra.vocabulary = "";
              this.dataExtra.meaning = "";
              this.dataExtra.partOfSpeech = "ไม่ระบุ";
            });
        } else {
          await db
            .collection("errordetection")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .doc(this.practice.practiceEditKey)
            .set(this.dataExtra)
            .then(data => {
              this.practice.practiceEditKey = "";
              this.dataExtra.vocabulary = "";
              this.dataExtra.meaning = "";
              this.dataExtra.partOfSpeech = "ไม่ระบุ";
            });

          this.isEditVocab = !this.isEditVocab;
        }
      }

      await db
        .collection("errordetection")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });

      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    loadCheckSchool() {
      this.loadingSet(1);

      db.collection("errordetection")
        .doc(this.practice.key)
        .collection("schooloption")
        .get()
        .then(data => {
          this.schoolTypeList = [];
          data.forEach(doc => {
            let dataFinal = {
              name: doc.id
            };
            this.schoolTypeList.push(dataFinal);

            if (this.isAddData) {
              this.selectedSchoolType.push(doc.id);
            }

            this.loadingSet(0);
          });
        });
    },
    cancelBtn() {
      this.$router.push(
        "/practice/errordetection/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    editorChange() {
      if (this.dataSetting.question.length <= 0) {
        this.isErrorQuestion = true;
      } else {
        this.isErrorQuestion = false;

        let matchSpan = this.dataSetting.question.match(
          /<span [^>]+>([^<]+)<\/span>/g
        );

        if (matchSpan) {
          var countUnderline = matchSpan.length;
          var setAnswerList = [];
          for (let i = 0; i < countUnderline; i++) {
            if (countUnderline <= 10) {
              let spanQuestion = matchSpan[i];

              let dataKey = {
                value: i + 1,
                label: "คำตอบที่ " + (i + 1)
              };

              setAnswerList.push(dataKey);

              this.answerList = setAnswerList;

              if (countUnderline == 1) {
                this.answerList.splice(2, -1);
              } else if (countUnderline == 2) {
                this.answerList.splice(3, -1);
              } else if (countUnderline == 3) {
                this.answerList.splice(4, -1);
              } else if (countUnderline == 4) {
                this.answerList.splice(5, -1);
              } else if (countUnderline == 5) {
                this.answerList.splice(6, -1);
              } else if (countUnderline == 6) {
                this.answerList.splice(7, -1);
              } else if (countUnderline == 7) {
                this.answerList.splice(8, -1);
              } else if (countUnderline == 8) {
                this.answerList.splice(9, -1);
              } else if (countUnderline == 9) {
                this.answerList.splice(10, -1);
              }
            }
          }
        } else {
          this.answerList = [];
        }
      }
    },
    errorInput() {
      if (this.dataSetting.description.length <= 0) {
        this.isErrorDescription = true;
      } else {
        this.isErrorDescription = false;
      }
    },
    async loadBasicData() {
      await db
        .collection("errordetection")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .get()
        .then(data => {
          this.dataSetting = {
            answer: data.data().answer,
            orderid: data.data().orderid,
            slide: data.data().slide
              ? data
                  .data()
                  .slide.split(",")
                  .map(Number)
                  .sort((a, b) => {
                    return a - b;
                  })
              : [],
            question: data.data().question,
            description: data.data().description,
            correctsentence: data.data().correctsentence
          };

          let matchSpan = data
            .data()
            .question.match(/<span [^>]+>([^<]+)<\/span>/g);

          if (matchSpan) {
            var matchNumber = matchSpan.length;
            var setAnswerList = [];
            for (let i = 0; i < matchNumber; i++) {
              let dataKey = {
                value: i + 1,
                label: "คำตอบที่ " + (i + 1)
              };

              setAnswerList.push(dataKey);

              this.answerList = setAnswerList;
            }
          }

          db.collection("errordetection")
            .doc(this.practice.key)
            .collection("schooloption")
            .get()
            .then(doc => {
              doc.forEach(value => {
                let nameSchool = value.data().name;

                if (data.data()[nameSchool]) {
                  this.selectedSchoolType.push(nameSchool);
                }
              });
            });
        });
    },
    async loadExtraVocab() {
      let data = await db
        .collection("errordetection")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .collection("extraVocab")
        .orderBy("vocabulary");

      data.onSnapshot(doc => {
        this.dataShow = [];
        doc.forEach(value => {
          let dataKey = {
            key: value.id
          };
          let dataFinal = {
            ...value.data(),
            ...dataKey
          };

          this.dataShow.push(dataFinal);

          this.dataShow.sort((a, b) => {
            return a.vocab - b.vocab;
          });
        });
      });
    },
    async loadAxData() {
      let response = await axios.get(
        this.serverpath +
          "/api/checkdata.php" +
          "?level=" +
          this.practice.level +
          "&unit=" +
          this.practice.unit
      );

      for (let i = 0; i < response.data[0].grammarslide; i++) {
        let dataKey = {
          value: i + 1,
          label: "Slide# " + (i + 1)
        };

        this.slideData.push(dataKey);
      }
    },
    partOfSpeech(value) {
      this.dataExtra.partOfSpeech = value.partOfSpeech;
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    },
    setOrderSlide() {
      let setOrder = this.dataSetting.slide;
      setOrder = setOrder.join(",");
      setOrder = setOrder
        ? setOrder
            .split(",")
            .map(Number)
            .sort((a, b) => {
              return a - b;
            })
        : [];
      this.dataSetting.slide = setOrder;
    },
    setOrderAnswer() {
      let setOrder = this.dataSetting.answer;
      setOrder = setOrder.join(",");
      setOrder = setOrder
        ? setOrder
            .split(",")
            .map(Number)
            .sort((a, b) => {
              return a - b;
            })
        : [];
      this.dataSetting.answer = setOrder;
    }
  },
  mounted() {
    if (this.$route.name == "errordetectionedit") {
      this.isAddData = false;
      this.loadBasicData();
      this.loadExtraVocab();
    }
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadCheckSchool();
    this.loadAxData();
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == "errordetectionedit") {
        this.practice.practiceKey = this.$route.params.practicekey;
        this.loadExtraVocab();
      }
    }
  }
};
</script>
