<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row q-pa-sm">
      <div class="col-xs-12 col-md-6 q-mb-sm">
        <q-btn-group push>
          <q-btn
            push
            label="แบบร่าง"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-teal-5 text-white"
          />
          <q-btn
            push
            label="เซิฟเวอร์"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            disable
          />
        </q-btn-group>
      </div>
    </div>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Fill in the blank | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>

      <div class="q-mt-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            push
            label="ข้อมูล"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeSettingMode(0)"
          />

          <q-btn
            push
            label="คำศัพท์เสริม"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeSettingMode(1)"
          />
        </q-btn-group>
      </div>

      <div v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                outlined
                type="number"
                v-model.trim="dataSetting.orderid"
                label="รหัสลำดับ"
                class="q-pa-sm"
                ref="orderid"
                :rules="[val => !!val || '']"
              />
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-md">
              <label for>
                คำถาม
                *ใช้ขีดเส้นใต้ คำที่เป็นคำตอบ
              </label>
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*(100**10)).toFixed(0)"
                v-model.trim="dataSetting.question"
                toolbar1="bold italic underline image"
                :class="{errorInput:isErrorQuestion}"
                @input="editorChange()"
              ></tinymce>
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-md">
              <!-- Answer 1 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 1">
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer1[0]"
                    ref="answer1"
                    :rules="[val => !!val || '']"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer1[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer1[2]"
                  />
                </div>
              </div>
              <!-- Answer 2 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 2">
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer2[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer2[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer2[2]"
                  />
                </div>
              </div>

              <!-- Answer 3 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 3">
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer3[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer3[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer3[2]"
                  />
                </div>
              </div>

              <!-- Answer 4 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 4">
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer4[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer4[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mb-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer4[2]"
                  />
                </div>
              </div>

              <!-- Answer 5 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 5">
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer5[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer5[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer5[2]"
                  />
                </div>
              </div>

              <!-- Answer 6 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 6">
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer6[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer6[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer6[2]"
                  />
                </div>
              </div>

              <!-- Answer 7 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 7">
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer7[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer7[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer7[2]"
                  />
                </div>
              </div>

              <!-- Answer 8 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 8">
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer8[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer8[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer8[2]"
                  />
                </div>
              </div>

              <!-- Answer 9 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 9">
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer9[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer9[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer9[2]"
                  />
                </div>
              </div>

              <!-- Answer 10 -->
              <div class="q-pa-sm row justify-around" v-if="showAnswerRow >= 10">
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    readonly
                    label="คำตอบที่ 1 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer10[0]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 2 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer10[1]"
                  />
                </div>
                <div class="col-xl-3 col-xs-12 q-mt-sm">
                  <q-input
                    outlined
                    label="คำตอบที่ 3 :"
                    class="q-pa-sm"
                    v-model.trim="dataSetting.answer10[2]"
                  />
                </div>
              </div>
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-md">
              <label for>คำอธิบาย</label>
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*(100**10)).toFixed(0)"
                v-model.trim="dataSetting.meaning"
                toolbar1="bold italic underline"
              ></tinymce>
            </div>

            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-select
                multiple
                outlined
                class="q-pa-sm"
                label="แผ่นสไลด์"
                v-model.trim="dataSetting.slide"
                :options="slideData"
                emit-value
                map-options
              />
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            ประเภทโรงเรียน
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-pb-md">
            <div class="col-md-12 q-ml-xs q-mb-sm">
              <q-checkbox
                label="โรงเรียนทั้งหมด"
                color="black"
                v-model.trim="selectedSchoolAll"
                @input="selectAllSchool()"
              />
            </div>
            <div
              class="col-md-12 col-xs-12 q-ml-xs q-mb-sm q-pl-lg"
              v-for="(item,index) in schoolTypeList"
              :key="index"
            >
              <q-checkbox
                color="black"
                v-model.trim="selectedSchoolType"
                :label="item.name"
                :val="item.name"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(1)"
              :disable="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- คำศัพท์เสริม -->
      <div v-show="settingMode == 1">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                label="คำศัพท์"
                outlined
                v-model.trim="dataExtra.vocab"
                class="q-pa-sm"
                ref="Exvocab"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <app-PartOfSpeech @partOfSpeech="partOfSpeech" :data="dataExtra.partofspeech"/>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                label="ความหมาย"
                outlined
                placeholder="ให้ใช้ได้เฉพาะภาษาไทย"
                class="q-pa-sm"
                v-model.trim="dataExtra.meaning"
                ref="Exmeaning"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm" v-if="practice.practiceEditKey">
            <q-btn
              label="ยกเลิก"
              @click="cancelEditBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(2)"
              :disabled="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>

        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
          v-if="!practice.practiceEditKey"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="vocab" :props="props">
              <span>{{ props.row.vocab }}</span>
            </q-td>
            <q-td key="partofspeech" :props="props">
              <span>{{ props.row.partofspeech }}</span>
            </q-td>
            <q-td key="meaning" :props="props">
              <span>{{ props.row.meaning }}</span>
            </q-td>
            <q-td key="delete" :props="props">
              <span @click="deleteBtn(props.row.key)">
                <q-icon name="fas fa-trash-alt  text-red pointer text-body1"/>
              </span>
            </q-td>
            <q-td key="edit" :props="props">
              <span @click="editBtn(props.row.key)" class="text-amber-7 pointer text-body1">
                <q-icon name="fas fa-edit"/>
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import partOfSpeech from "../../components/partofspeechSelected.vue";
export default {
  data() {
    return {
      settingMode: 0,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        practiceKey: this.$route.params.practicekey
          ? this.$route.params.practicekey
          : "",
        practiceEditKey: ""
      },
      dataSetting: {
        answer1: [],
        answer2: [],
        answer3: [],
        answer4: [],
        answer5: [],
        answer6: [],
        answer7: [],
        answer8: [],
        answer9: [],
        answer10: [],
        orderid: "",
        slide: [],
        question: "",
        meaning: ""
      },
      dataExtra: {
        vocab: "",
        meaning: "",
        partofspeech: "ไม่ระบุ"
      },
      dataShow: [],
      selectedSchoolAll: false,
      selectedSchoolType: [],
      schoolTypeList: [],
      slideData: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "vocab",
          label: "คำศัพท์",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "partofspeech",
          label: "ชนิดของคำ",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "meaning",
          label: "ความหมาย",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        }
      ],
      isAddData: true,
      isSaveData: true,
      isErrorQuestion: false,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      showAnswerRow: this.showAnswerRow ? this.showAnswerRow : 0
    };
  },
  components: {
    appPartOfSpeech: partOfSpeech
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    changeSettingMode(data) {
      if (data == 1) {
        if (this.practice.practiceKey == "") {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        } else {
          this.settingMode = data;
        }
      }

      this.settingMode = data;
    },
    selectAllSchool() {
      if (this.selectedSchoolAll) {
        this.selectedSchoolType = [];
        for (let i = 0; i < this.schoolTypeList.length; i++) {
          this.selectedSchoolType.push(this.schoolTypeList[i].name);
        }
      } else {
        this.selectedSchoolType = [];
      }
    },
    cancelBtn() {
      this.$router.push(
        "/practice/fillintheblank/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    deleteBtn(typekey) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("fillintheblank")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .doc(typekey)
            .delete();

          db.collection("fillintheblank")
            .doc(this.practice.key)
            .update({
              savedraft: n
            });

          this.practice.practiceEditKey = "";
          this.dataExtra.vocab = "";
          this.dataExtra.meaning = "";
          this.dataExtra.partofspeech = "ไม่ระบุ";
          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
        })
        .onCancel(() => {});
    },
    async editBtn(typekey) {
      this.loadingSet(1);
      await db
        .collection("fillintheblank")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .collection("extraVocab")
        .doc(typekey)
        .get()
        .then(data => {
          this.practice.practiceEditKey = typekey;
          this.dataExtra.vocab = data.data().vocab;
          this.dataExtra.meaning = data.data().meaning;
          this.dataExtra.partofspeech = data.data().partofspeech;
        });
      this.loadingSet(0);
    },
    cancelEditBtn() {
      this.practice.practiceEditKey = "";
      this.dataExtra.vocab = "";
      this.dataExtra.meaning = "";
      this.dataExtra.partofspeech = "ไม่ระบุ";
    },
    editorChange() {
      if (this.dataSetting.question.length <= 0) {
        this.isErrorQuestion = true;
      } else {
        this.isErrorQuestion = false;

        let matchSpan = this.dataSetting.question.match(
          /<span [^>]+>([^<]+)<\/span>/g
        );

        if (matchSpan) {
          var countUnderline = matchSpan.length;

          for (let i = 0; i < countUnderline; i++) {
            if (countUnderline <= 10) {
              this.showAnswerRow = countUnderline;

              let spanQuestion = matchSpan[i];

              spanQuestion = spanQuestion
                .replace(`<span style="text-decoration: underline;">`, "")
                .replace(`</span>`, "")
                .trim();

              var setAnswer = "answer" + (i + 1);

              this.dataSetting[setAnswer][0] = spanQuestion;

              if (countUnderline == 0 || countUnderline == "") {
                this.dataSetting.answer1 = [];
                this.dataSetting.answer2 = [];
                this.dataSetting.answer3 = [];
                this.dataSetting.answer4 = [];
                this.dataSetting.answer5 = [];
                this.dataSetting.answer6 = [];
                this.dataSetting.answer7 = [];
                this.dataSetting.answer8 = [];
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 1) {
                this.dataSetting.answer2 = [];
                this.dataSetting.answer3 = [];
                this.dataSetting.answer4 = [];
                this.dataSetting.answer5 = [];
                this.dataSetting.answer6 = [];
                this.dataSetting.answer7 = [];
                this.dataSetting.answer8 = [];
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 2) {
                this.dataSetting.answer3 = [];
                this.dataSetting.answer4 = [];
                this.dataSetting.answer5 = [];
                this.dataSetting.answer6 = [];
                this.dataSetting.answer7 = [];
                this.dataSetting.answer8 = [];
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 3) {
                this.dataSetting.answer4 = [];
                this.dataSetting.answer5 = [];
                this.dataSetting.answer6 = [];
                this.dataSetting.answer7 = [];
                this.dataSetting.answer8 = [];
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 4) {
                this.dataSetting.answer5 = [];
                this.dataSetting.answer6 = [];
                this.dataSetting.answer7 = [];
                this.dataSetting.answer8 = [];
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 5) {
                this.dataSetting.answer6 = [];
                this.dataSetting.answer7 = [];
                this.dataSetting.answer8 = [];
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 6) {
                this.dataSetting.answer7 = [];
                this.dataSetting.answer8 = [];
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 7) {
                this.dataSetting.answer8 = [];
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 8) {
                this.dataSetting.answer9 = [];
                this.dataSetting.answer10 = [];
              } else if (countUnderline == 9) {
                this.dataSetting.answer10 = [];
              }
            }
          }
        } else {
          this.showAnswerRow = 0;
        }
      }
    },
    checkAsnwerRow() {
      this.showAnswerRow = "";
      if (this.isAddData) {
        this.showAnswerRow = 0;
      } else {
        db.collection("fillintheblank")
          .doc(this.practice.key)
          .collection("draft")
          .doc(this.practice.practiceKey)
          .get()
          .then(result => {
            this.showAnswerRow = result.data().answerRow;
          });
      }
    },
    async saveBtn(type) {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var d = new Date();
      var n = d.getTime();
      let saveAnswerRow;
      let saveDataSetting;
      let newJoinSlide;

      if (type == 1) {
        this.$refs.orderid.validate();

        if (
          this.isErrorQuestion ||
          this.isErrorMeaning ||
          !this.dataSetting.question.length ||
          this.$refs.orderid.hasError
        ) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        } else {
          this.isErrorQuestion = false;
        }

        if (this.selectedSchoolType.length <= 0) {
          this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
          return;
        }

        if (this.isAddData) {
          let checkData = await db
            .collection("fillintheblank")
            .doc(this.practice.key)
            .collection("draft")
            .where("orderid", "==", this.dataSetting.orderid)
            .get();

          if (checkData.size > 0) {
            this.dataSetting.orderid = "";
            this.notifyRed("มีข้อมูลแบบฝึกหัดในระบบแล้ว");
            return;
          }
        }

        this.isSaveData = false;
        this.loadingSet(1);

        if (this.isAddData) {
          newJoinSlide = this.dataSetting.slide
            ? this.dataSetting.slide.join(",")
            : "";

          saveAnswerRow = {
            answerRow: this.showAnswerRow,
            slide: newJoinSlide
          };

          saveDataSetting = {
            ...this.dataSetting,
            ...saveAnswerRow
          };

          await db
            .collection("fillintheblank")
            .doc(this.practice.key)
            .collection("draft")
            .add(saveDataSetting)
            .then(data => {
              for (let i = 0; i < this.selectedSchoolType.length; i++) {
                let newObj = this.selectedSchoolType[i];
                let dataSelected = {
                  [newObj]: true
                };

                db.collection("fillintheblank")
                  .doc(this.practice.key)
                  .collection("draft")
                  .doc(data.id)
                  .update(dataSelected);

                this.isAddData = false;
                this.$router.push(
                  "/practice/fillintheblank/edit/" +
                    this.practice.key +
                    "/" +
                    this.practice.level +
                    "/" +
                    this.practice.unit +
                    "/" +
                    data.id +
                    "/1"
                );
              }
              this.settingMode = 1;
            });
        } else {
          newJoinSlide = this.dataSetting.slide
            ? this.dataSetting.slide.join(",")
            : "";

          saveAnswerRow = {
            answerRow: this.showAnswerRow,
            slide: newJoinSlide
          };

          saveDataSetting = {
            ...this.dataSetting,
            ...saveAnswerRow
          };

          await db
            .collection("fillintheblank")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .set(saveDataSetting)
            .then(data => {
              for (let i = 0; i < this.selectedSchoolType.length; i++) {
                let newObj = this.selectedSchoolType[i];
                let dataSelected = {
                  [newObj]: true
                };

                db.collection("fillintheblank")
                  .doc(this.practice.key)
                  .collection("draft")
                  .doc(this.practice.practiceKey)
                  .update(dataSelected);
              }
            });
        }
      }

      if (type == 2) {
        this.$refs.Exvocab.validate();
        this.$refs.Exmeaning.validate();

        if (this.$refs.Exvocab.hasError || this.$refs.Exmeaning.hasError) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        }

        this.isSaveData = false;

        if (this.practice.practiceEditKey == "") {
          await db
            .collection("fillintheblank")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .add(this.dataExtra)
            .then(() => {
              this.practice.practiceEditKey = "";
              this.dataExtra.vocab = "";
              this.dataExtra.meaning = "";
              this.dataExtra.partofspeech = "ไม่ระบุ";
            });
        } else {
          await db
            .collection("fillintheblank")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .doc(this.practice.practiceEditKey)
            .set(this.dataExtra)
            .then(data => {
              this.practice.practiceEditKey = "";
              this.dataExtra.vocab = "";
              this.dataExtra.meaning = "";
              this.dataExtra.partofspeech = "ไม่ระบุ";
            });

          this.isEditVocab = !this.isEditVocab;
        }
      }

      await db
        .collection("fillintheblank")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });

      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    async loadBasicData() {
      await db
        .collection("fillintheblank")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .get()
        .then(data => {
          this.dataSetting = {
            answer1: data.data().answer1 ? data.data().answer1 : [],
            answer2: data.data().answer2 ? data.data().answer2 : [],
            answer3: data.data().answer3 ? data.data().answer3 : [],
            answer4: data.data().answer4 ? data.data().answer4 : [],
            answer5: data.data().answer5 ? data.data().answer5 : [],
            answer6: data.data().answer6 ? data.data().answer6 : [],
            answer7: data.data().answer7 ? data.data().answer7 : [],
            answer8: data.data().answer8 ? data.data().answer8 : [],
            answer9: data.data().answer9 ? data.data().answer9 : [],
            answer10: data.data().answer10 ? data.data().answer10 : [],
            orderid: data.data().orderid,
            slide: data.data().slide
              ? data
                  .data()
                  .slide.split(",")
                  .map(Number)
                  .sort((a, b) => {
                    return a - b;
                  })
              : [],
            question: data.data().question,
            meaning: data.data().meaning
          };

          db.collection("fillintheblank")
            .doc(this.practice.key)
            .collection("schooloption")
            .get()
            .then(doc => {
              doc.forEach(value => {
                let nameSchool = value.data().name;

                if (data.data()[nameSchool]) {
                  this.selectedSchoolType.push(nameSchool);
                }
              });
            });
        });
    },
    async loadExtraVocab() {
      let data = await db
        .collection("fillintheblank")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .collection("extraVocab")
        .orderBy("vocab");

      data.onSnapshot(doc => {
        this.dataShow = [];
        doc.forEach(value => {
          let dataKey = {
            key: value.id
          };
          let dataFinal = {
            ...value.data(),
            ...dataKey
          };

          this.dataShow.push(dataFinal);

          this.dataShow.sort((a, b) => {
            return a.vocab - b.vocab;
          });
        });
      });
    },
    async loadAxData() {
      let response = await axios.get(
        this.serverpath +
          "/api/checkdata.php" +
          "?level=" +
          this.practice.level +
          "&unit=" +
          this.practice.unit
      );

      for (let i = 0; i < response.data[0].grammarslide; i++) {
        let dataKey = {
          value: i + 1,
          label: "Slide# " + (i + 1)
        };

        this.slideData.push(dataKey);
      }
    },
    loadCheckSchool() {
      this.loadingSet(1);

      db.collection("fillintheblank")
        .doc(this.practice.key)
        .collection("schooloption")
        .get()
        .then(data => {
          this.schoolTypeList = [];
          data.forEach(doc => {
            let dataFinal = {
              name: doc.id
            };
            this.schoolTypeList.push(dataFinal);

            if (this.isAddData) {
              this.selectedSchoolType.push(doc.id);
            }

            this.loadingSet(0);
          });
        });
    },
    partOfSpeech(value) {
      this.dataExtra.partofspeech = value.partOfSpeech;
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.name == "fillintheblankedit") {
      this.isAddData = false;
      this.loadBasicData();
      this.loadExtraVocab();
    }
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadAxData();
    this.loadCheckSchool();
    this.checkAsnwerRow();
    this.loadingSet(1);
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == "fillintheblankedit") {
        this.practice.practiceKey = this.$route.params.practicekey;
        this.loadExtraVocab();
      }
    }
  }
};
</script>