<template>
  <div class="bg-print">
    <div class="bar-print q-pa-xs bg-grey-9 relative-position" align="right">
      <q-btn class="q-mr-sm text-white" icon="fas fa-print" @click="printBtn()" flat round />
      <q-btn class="q-mr-sm text-white" icon="fas fa-times-circle" @click="closeBtn()" flat round />
    </div>
    <div size="A4" class="q-pa-md printMe">
      <table class="table fontme-xl">
        <tr class="tr">
          <th class="bg-light-blue-9" style="border-radius:7px 0px 0px 7px;width:250px;">
            <div class="bg-white" style="border-radius:7px;border:2px solid#1D76D0;">
              <img src="../../assets/icon-logo.png" style="width:160px;margin-top:7px;" />
            </div>
          </th>
          <th
            class="q-pl-lg q-pr-lg text-white bg-light-blue-9"
            style="border-radius:0px 7px 7px 0px;"
          >
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space />
                <span class="text-weight-light">L{{practice.level}} U{{practice.unit}}</span>
                <q-separator vertical inset class="q-mx-sm bg-white" />
                <span class="text-weight-light">{{dataSetting.practiceName}}</span>
                <q-space />
                <span></span>
              </q-toolbar>
            </div>
            <hr class="no-margin bg-white" />
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space />
                <span class="text-weight-light">
                  World :
                  <span
                    v-if="dataSetting.orderid > 1000 && dataSetting.orderid < 1999"
                  >Vocabulary</span>
                  <span v-if="dataSetting.orderid > 2000 && dataSetting.orderid < 2999">Grammar</span>
                  <span v-if="dataSetting.orderid > 3000 && dataSetting.orderid < 3999">Reading</span>
                  <span v-if="dataSetting.orderid > 4000 && dataSetting.orderid < 4999">Writing</span>
                  <span
                    v-if="dataSetting.orderid > 5000 && dataSetting.orderid < 5999"
                  >Listening & Speaking</span>
                </span>
                <q-space />
                <span></span>
              </q-toolbar>
            </div>
          </th>
        </tr>
      </table>

      <div class="q-mt-md" v-for="(value,index) in schoolType" :key="index">
        <table class="table" v-if="value.use">
          <tbody class="text-h6">
            <tr class="bg-grey-8">
              <th colspan="3" align="center">
                <div class="q-pa-sm">
                  <span class="fontme-xl text-weight-light text-white">{{value.name}}</span>
                </div>
              </th>
            </tr>
            <!-- เกณฑ์การผ่าน -->
            <tr class="tr fontme-l text-weight-light">
              <td class="td">
                <div class="row q-pl-md items-center">
                  <span class="q-pl-sm">เกณฑ์การผ่าน</span>
                </div>
              </td>
              <td class="td" align="center">
                <span class>{{value.passScore + "%"}}</span>
              </td>
            </tr>
            <!-- เกณฑ์ 3 ดาว -->
            <tr class="tr fontme-l text-weight-light">
              <td class="td">
                <div class="row q-pl-md items-center">
                  <label class="q-pl-sm">เกณฑ์ 3 ดาว</label>
                </div>
              </td>
              <td class="td" align="center">
                <span class>{{value.star + "%"}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table class="table">
          <tr>
            <th colspan="3">
              <div class="q-mt-xs q-mb-sm">
                <div class="text-h6" v-html="dataSetting.instructionEng"></div>
                <div class="text-h6" v-html="dataSetting.instructionThai"></div>
              </div>
              <div></div>
            </th>
          </tr>
          <thead>
            <tr>
              <th colspan="3">
                <div class="q-mb-md q-mt-lg">
                  <!-- <span class="text-h6">รายละเอียด</span> -->
                </div>
              </th>
            </tr>
          </thead>
          <tbody v-for="(item,index) in dataShow" :key="index" class="fontme-l text-weight-light">
            <tr style="border:1px solid;">
              <td align="left" style="vertical-align: top;width:50px;border:1px solid;">
                <div class="q-pa-sm">
                  <div class="q-pl-sm">
                    <span>{{index + 1 + ")."}}</span>
                  </div>
                </div>
              </td>
              <td style="width:100px;vertical-align: top" v-if="item.slide">
                <div class="q-pa-sm">
                  <div
                    class="text-center q-px-xs q-mb-sm"
                    v-for="(item,index) in item.slide"
                    :key="index"
                  >Slide #{{ item }}</div>
                </div>
              </td>
              <td style="vertical-align: top;border:1px solid;">
                <div class="q-pa-sm">
                  <div class="q-pl-sm">
                    <div v-if="item.question != ''">
                      <span v-html="item.question"></span>
                      <br />
                      <br />
                      <div class>
                        <div v-for="(answer,index2) in item" :key="index2">
                          <div
                            v-if="index2 == 'answer10' || index2 == 'answer9' || index2 == 'answer8' || index2 == 'answer7' || index2 == 'answer6' || index2 == 'answer5' || index2 == 'answer4' || index2 == 'answer3' || index2 == 'answer2' || index2 == 'answer1'"
                          >
                            <div>
                              {{index2}}
                              <span v-if="answer.length">{{'คำตอบ #1 : ' + answer}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <span v-html="item.meaning"></span>
                    </div>
                  </div>
                  <hr v-if="item.extraVocab" />
                  <div align="left" class="q-pa-sm" v-if="item.extraVocab">
                    <table class="no-margin">
                      <tr v-for="(item,index) in item.extraVocab" :key="index">
                        <td class="no-padding" align="left" style="width:fit-content;border:none;">
                          <span class="q-pr-xs">{{ item.vocab }}</span>
                        </td>
                        <td class="no-padding" align="left" style="border:none;">
                          <span>({{ item.partofspeech }})</span>
                        </td>
                        <td class="no-padding" align="left" style="border:none;">
                          <span class="q-pl-xs">{{ item.meaning }}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <hr />
                  <div align="right">
                    <span v-for="(school,indexkey) in item" :key="indexkey">
                      <span
                        v-if="indexkey != 'extraVocab' && indexkey != '__index' && indexkey != 'slide' && indexkey != 'question' && indexkey != 'orderid' && indexkey != 'meaning' && indexkey != 'key' && indexkey != 'answerRow' && indexkey != 'answer10' && indexkey != 'answer9' && indexkey != 'answer8' && indexkey != 'answer7' && indexkey != 'answer6' && indexkey != 'answer5' && indexkey != 'answer4' && indexkey != 'answer3' && indexkey != 'answer2' && indexkey != 'answer1'"
                      >{{indexkey + ","}}</span>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practice: this.$route.params.practice,
      dataSetting: this.$route.params.dataSetting,
      schoolType: this.$route.params.schoolType,
      dataShow: this.$route.params.dataShow
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push(
        "/practice/fillintheblank/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/0"
      );
    }
  }
};
</script>

<style>
.bg-print {
  background: rgb(204, 204, 204);
}

.bar-print {
  width: 100%;
}

.printMe {
  position: relative;
  background: white;
  display: block;
  margin: 15px auto 0px auto;
}

.printMe[size="A4"] {
  width: 21cm;
  min-height: 29.7cm;
  max-height: fit-content;
}

.printMe::-webkit-scrollbar {
  width: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table .tr .td {
  border: 0.5mm solid rgba(60, 60, 60, 0.7);
}

.table .tr .td:nth-child(2) {
  width: 170px;
}

.fontme-l {
  font-size: 16px;
}
.fontme-xl {
  font-size: 18px;
}
.fontme-xxl {
  font-size: 20px;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  .bar-print {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>