<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <!-- Resize -->
    <q-resize-observer @resize="onResize"/>

    <!-- เมนูด้านบน แบบร่าง,เซิฟเวอร์ || ปุ่มซิงค์,ปุ่มย้าย,ปุ่มปริ้น -->
    <div class="row reverse-wrap items-center">
      <div class="col-xs-12 col-md-6 q-mb-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="แบบร่าง"
            :disable="!isMode"
            :class="{'bg-teal-5 text-white' : mode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            @click="changeMode(0)"
            push
          />
          <q-btn
            label="เซิฟเวอร์"
            :disable="!isMode"
            :class="{'bg-teal-5 text-white' : mode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeMode(1)"
            class="bg-white"
            push
          />
        </q-btn-group>
      </div>
      <div align="right" class="q-pa-sm col-xs-12 col-md-6 q-mb-sm">
        <q-btn
          icon="fas fa-sync"
          class="q-ma-sm q-mr-sm"
          :disabled="mode == 1 || !isSync"
          color="teal-5"
          @click="syncBtn()"
          round
        />
        <q-btn
          icon="fas fa-arrows-alt"
          class="q-ma-sm q-mr-sm"
          :disabled="mode == 1"
          color="teal-5"
          @click="movePractice()"
          round
        />

        <router-link
          :to="{name:'flashcardprint',params:{dataPractice,dataSetting,dataShow,practice,schoolType}}"
        >
          <q-btn
            icon="fas fa-print"
            class="q-ma-sm q-mr-sm"
            :disabled="mode == 1"
            color="teal-5"
            @click="printBtn()"
            round
          />
        </router-link>
      </div>
    </div>

    <!-- Content Box -->
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Flashcard | L{{this.practice.level}} U{{this.practice.unit}}
          <hr>
        </h5>
      </div>
      <div class="q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="ตั้งค่า"
            @click="changeSettingmode(0)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
          <q-btn
            label="คำศัพท์"
            @click="changeSettingmode(1)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
        </q-btn-group>
      </div>

      <!-- Setting Mode 0 -->
      <div v-if="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="ลำดับ"
                v-model="dataPractice.order"
                type="number"
                :readonly="mode == 1"
                class="q-pa-sm"
                ref="order"
                :rules="[val => val >= 1001 ||'',val2 => val2 <= 1998 || '',val3 => !!val3 || '']"
              ></q-input>
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="ชื่อแบบฝึกหัด"
                v-model="dataPractice.practiceName"
                :readonly="mode == 1"
                class="q-pa-sm"
                ref="practiceName"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>

            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-select
                outlined
                label="รูปแบบหน้ากากเกมส์"
                :options="templateGames"
                v-model="dataSetting.appTemplate"
                :readonly="mode == 1"
                class="q-pa-sm"
                emit-value
                map-options
              ></q-select>
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="หมวดหมู่"
                v-model="dataSetting.category"
                :readonly="mode == 1"
                class="q-pa-sm"
                ref="category"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-checkbox
                label="เสียงสะกด"
                :disable="mode == 1"
                v-model="dataSetting.spellingSound"
                color="black"
              ></q-checkbox>
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            ประเภทโรงเรียน
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-ml-xs q-mb-md">
            <div
              class="col-md-12 col-xs-12 q-ml-xs q-mt-sm q-mb-sm"
              v-for="(item,index) in schoolType"
              :key="index"
            >
              <q-checkbox
                :disable="mode == 1"
                v-model="dataSetting.schoolTypeSelected"
                :label="item.name"
                :val="item.key"
                color="black"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :disabled="mode == 1"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn()"
              color="teal-5"
              class="q-ma-xs"
              :disabled="mode == 1 || !isSaveData"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- Setting Mode 1 -->
      <div v-if="settingMode == 1">
        <div class="row q-pt-xl">
          <div class="col-xs-12 col-md-4">
            <q-select
              outlined
              label="แสดงข้อมูลตามประเภทโรงเรียน"
              class="q-pa-sm"
              v-model="schoolTypeSelect"
              :options="schoolTypeList"
              @input="schoolTypeSelected()"
              emit-value
              map-options
            ></q-select>
          </div>
          <div class="col-xs-12 col-md-8 self-center" align="right">
            <q-btn
              round
              icon="fas fa-plus"
              class="q-ma-sm q-mr-lg"
              @click="addBtn()"
              color="teal-5"
              :disabled="mode == 1"
            />
          </div>
        </div>

        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2 q-mt-lg"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr
            slot="body"
            slot-scope="props"
            :props="props"
            :class="{'text-gray-10':dataShow.key == props.row.key}"
          >
            <q-td
              align="center"
              style="text-align:center;vertical-align: top"
              key="orderNumber"
            >{{ props.row.__index +1 }}</q-td>
            <q-td style="text-align:center;" key="imgPath" :props="props">
              <q-img
                :src="filepicname(serverpath + 'pic_flashcard/' + props.row.key + '.jpg?' + Math.random())"
                style="width:200px;"
              ></q-img>
              <br>
              {{props.row.key.toLowerCase() + ".jpg"}}
            </q-td>
            <q-td key="vocabulary" style="text-align:left;vertical-align: top" :props="props">
              <span>
                <span v-html="props.row.vocabulary"></span>
                <span>({{props.row.partOfSpeech}})</span>
                <br>
                <span v-html="props.row.pronounce"></span>
                <br>
                <span v-html="props.row.meaning"></span>
                <br>
                <br>
                <span v-html="props.row.englishSentence"></span>
                <br>
                <span v-html="props.row.thaiSentence"></span>
              </span>
              <div align="left" v-if="props.row.extraVocab">
                <hr>
                <table class="no-margin">
                  <tr v-for="(item,index) in props.row.extraVocab" :key="index">
                    <td class="no-padding" align="left" style="width:fit-content;border:none;">
                      <span class="q-pr-xs">{{ item.vocabulary }}</span>
                    </td>
                    <td class="no-padding" align="left" style="border:none;">
                      <span>({{ item.partOfSpeech }})</span>
                    </td>
                    <td class="no-padding" align="left" style="border:none;">
                      <span class="q-pl-xs">{{ item.meaning }}</span>
                    </td>
                  </tr>
                </table>
              </div>
            </q-td>
            <q-td key="order" style="text-align:center;vertical-align: top" :props="props">
              <span>{{ props.row.order }}</span>
            </q-td>
            <q-td key="delete" style="text-align:center;vertical-align: top" :props="props">
              <span
                v-show="mode == 0"
                @click="deleteBtn(props.row.key)"
                class="text-red pointer text-body1"
              >
                <q-icon name="fas fa-trash-alt "/>
              </span>
              <span v-show="mode == 1" class="text-red text-body1 pointer" :disabled="mode == 1">
                <q-icon name="fas fa-trash-alt "/>
              </span>
            </q-td>
            <q-td key="edit" style="text-align:center;vertical-align: top" :props="props">
              <span
                v-show="mode == 0"
                @click="editBtn(props.row.key)"
                class="text-amber-7 pointer text-body1"
              >
                <q-icon name="fas fa-edit"/>
              </span>
              <span
                v-show="mode == 1"
                class="text-amber-7 text-body1 pointer"
                :disabled="mode == 1"
              >
                <q-icon name="fas fa-edit"/>
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      mode: 0, //mode 0 = แบบร่าง , 1 = ข้อมูลบนเซิฟเวอร์
      settingMode: this.$route.params.settingmode, //Mode 0 = ตั้งค่า , 1 = คำศัพท์เสริม,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      dataPractice: {
        order: "",
        practiceName: ""
      },
      dataSetting:
        //object ข้อมูลสำหรับหน้าตั้งค่า
        {
          appTemplate: "",
          category: "",
          spellingSound: false,
          schoolTypeSelected: []
        },
      schoolType: [],
      schoolTypeList: [
        {
          value: "ทั้งหมด",
          label: "ทั้งหมด",
          name: "ทั้งหมด"
        }
      ],
      schoolTypeSelect: "ทั้งหมด",
      templateGames: [],
      dataShow: [],
      flashcardRef: "",
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "ลำดับ",
          align: "center",
          style: "width:100px;"
        },
        {
          name: "imgPath",
          label: "รูปภาพ",
          align: "center",
          style: "width:200px;",
          field: "",
          sortable: false
        },
        {
          name: "vocabulary",
          label: "คำศัพท์",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "order",
          label: "ลำดับ",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        }
      ],
      showfile: [],
      isMode: true,
      isAdd: true,
      isSync: true,
      isSaveData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    checkfile(key, index) {
      console.log(index);
      this.showfile[index] = key;
    },
    movePractice() {
      this.$router.push(
        "/practice/move/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit
      );
    },
    async changeMode(data) {
      this.isMode = false;
      this.mode = data;

      this.loadVocabulary();
    },
    changeSettingmode(data) {
      this.settingMode = data;
      this.$router.push(
        "/practice/flashcard/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          this.settingMode
      );
    },
    printBtn() {
      this.$router.push(
        "/practice/flashcard/print/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          this.settingMode
      );
    },
    cancelBtn() {
      this.$router.push("/practice");
    },
    addBtn() {
      db.collection("flashcard")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            this.$router.push(
              "/practice/flashcard/add/" +
                this.practice.key +
                "/" +
                this.practice.level +
                "/" +
                this.practice.unit +
                "/" +
                this.settingMode
            );
          } else {
            this.$router.push(
              "/practice/flashcard/" +
                this.practice.key +
                "/" +
                this.practice.level +
                "/" +
                this.practice.unit +
                "/" +
                0
            );
            this.settingMode = 0;
            this.notifyRed("ต้องตั้งค่าแบบฝึกหัดก่อน");
          }
        });
    },
    editBtn(typeKey) {
      this.$router.push(
        "/practice/flashcard/edit/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          typeKey +
          "/" +
          this.settingMode
      );
    },
    deleteBtn(typekey) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ฉันต้องการลบข้อมูลนี้",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          this.deleteVocabulary(typekey);
        })
        .onCancel(() => {});
    },
    async deleteVocabulary(typekey) {
      this.loadingSet(1);

      var d = new Date();
      var n = d.getTime();

      let data = await db
        .collection("flashcard")
        .doc(this.practice.key)
        .collection("draft")
        .doc(typekey)
        .collection("extraVocab")
        .get();

      if (data.size) {
        for (const doc of data.docs) {
          await db
            .collection("flashcard")
            .doc(this.practice.key)
            .collection("draft")
            .doc(typekey)
            .collection("extraVocab")
            .doc(doc.id)
            .delete();
        }
      }

      await db
        .collection("flashcard")
        .doc(this.practice.key)
        .collection("draft")
        .doc(typekey)
        .delete();

      await db
        .collection("flashcard")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });

      this.loadingSet(0);

      this.loadVocabulary();
      this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");

      this.checkEnableSync();
    },
    filepicname(data) {
      return data.toLowerCase();
    },
    async checkEnableSync() {
      let datedraft;
      let dateserver;

      let data = await db
        .collection("flashcard")
        .doc(this.practice.key)
        .get();

      if (data.exists) {
        datedraft = await data.data().savedraft;
        dateserver = await data.data().saveserver;
        if (Number(datedraft) > Number(dateserver)) {
          this.isSync = true;
        } else {
          this.isSync = false;
        }
      } else {
        this.isSync = false;
      }
    },
    async syncBtn() {
      this.loadingSet(1, "กำลังซิงค์ข้อมูล โปรดรอสักครู่");

      var d = new Date();
      var n = d.getTime();

      let loadserverdata = await db
        .collection("flashcard")
        .doc(this.practice.key)
        .collection("server")
        .get();

      for (const doc of loadserverdata.docs) {
        let loadserverextradata = await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection("server")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of loadserverextradata.docs) {
          await db
            .collection("flashcard")
            .doc(this.practice.key)
            .collection("server")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection("server")
          .doc(doc.id)
          .delete();
      }

      let loaddraftdata = await db
        .collection("flashcard")
        .doc(this.practice.key)
        .collection("draft")
        .get();

      for (const doc of loaddraftdata.docs) {
        await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection("server")
          .doc(doc.id)
          .set(doc.data());

        let loaddraftextradata = await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection("draft")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of loaddraftextradata.docs) {
          db.collection("flashcard")
            .doc(this.practice.key)
            .collection("server")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .set(extra.data());
        }
      }

      await db
        .collection("flashcard")
        .doc(this.practice.key)
        .update({
          saveserver: n
        });

      this.loadingSet(0);
      this.notifyGreen("ชิงค์ข้อมูลเรียบร้อยแล้ว");

      this.checkEnableSync();
    },
    async saveBtn() {
      let levelUnit = "L" + this.practice.level + "U" + this.practice.unit;

      var d = new Date();
      var n = d.getTime();

      let dataSaveTime;
      let dataFinal;

      this.$refs.order.validate();
      this.$refs.practiceName.validate();
      this.$refs.category.validate();

      if (
        this.$refs.order.hasError ||
        this.$refs.practiceName.hasError ||
        this.$refs.category.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      if (this.dataSetting.schoolTypeSelected.length <= 0) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      this.isSaveData = false;
      this.loadingSet(1);

      let data = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelUnit)
        .doc(this.practice.key)
        .update({
          order: Number(this.dataPractice.order),
          name: this.dataPractice.practiceName
        });

      data = await db
        .collection("flashcard")
        .doc(this.practice.key)
        .get();

      if (data.exists) {
        db.collection("flashcard")
          .doc(this.practice.key)
          .update(this.dataSetting);
      } else {
        dataSaveTime = {
          savedraft: 0,
          saveserver: 0
        };
        dataFinal = {
          ...this.dataSetting,
          ...dataSaveTime
        };

        db.collection("flashcard")
          .doc(this.practice.key)
          .set(dataFinal);
      }

      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
    },
    async loadBasicData() {
      let _This = this;
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      // เรียกข้อมูล : ชื่อแบบฝึกหัด, รหัสลำดับ
      let loadPractice = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get();

      this.dataPractice.practiceName = await loadPractice.data().name; //ชื่อแบบฝึกหัด
      this.dataPractice.order = await Number(loadPractice.data().order); //รหัสลำดับ

      // เรียกข้อมูล : รูปแบบหน้ากากเกมส์, ออฟชั่นหน้ากากเกมส์
      let loadFlashcardData = await db
        .collection("flashcard")
        .doc(this.practice.key)
        .get();

      let loadMainApp = await db
        .collection("mainapptemplate")
        .where("practicetype", "==", "flashcard")
        .get();

      loadMainApp.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name
        };
        let dataFinal = {
          ...doc.data(),
          ...dataKey
        };

        this.templateGames.push(dataFinal); //ออฟชั่นหน้ากากเกมส์

        if (loadFlashcardData.exists) {
          this.dataSetting.appTemplate = loadFlashcardData.data().appTemplate; //รูปแบบหน้ากากเกมส์
          this.dataSetting.category = loadFlashcardData.data().category; //หมวดหมู่
          this.dataSetting.schoolTypeSelected = loadFlashcardData.data().schoolTypeSelected; //โรงเรียน
          this.dataSetting.spellingSound = loadFlashcardData.data().spellingSound; //เสียงสะกด
        } else {
          this.dataSetting.appTemplate = this.templateGames[0].value; //รูปแบบหน้ากากเกมส์
        }
      });

      // เรียกข้อมูล : ประเภทโรงเรียน, ออฟชั่นประเภทโรงเรียน
      let loadSchoolType = await db
        .collection("schooltype")
        .orderBy("name")
        .get();

      loadSchoolType.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.id
        };

        let dataFinal = {
          ...doc.data(),
          ...dataKey
        };

        this.schoolTypeList.push(dataFinal); //ออฟชั่นประเภทโรงเรียน
        this.schoolType.push(dataFinal); //ออฟชั่นประเภทโรงเรียน
        this.schoolTypeSelect = "ทั้งหมด"; //เลือกประเภทโรงเรียนจาก Array 0 เป็นอันดับแรกเสมอ
      });

      this.loadVocabulary();
      this.loadingSet(0);
    },
    schoolTypeSelected() {
      this.loadVocabulary();
    },
    async loadVocabulary() {
      var modedata;
      let dataVocabulary;
      this.dataShow = [];

      if (this.mode == 0) {
        // เช็ดสถานนะ : Draft
        modedata = "draft";
      } else {
        // เช็ดสถานนะ : Server
        modedata = "server";
      }

      if (this.schoolTypeSelect != "ทั้งหมด") {
        dataVocabulary = await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection(modedata)
          .where("schoolTypeSelected", "array-contains", this.schoolTypeSelect)
          .get();
      } else {
        dataVocabulary = await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection(modedata)
          .get();
      }

      if (!dataVocabulary.empty) {
        this.loadingSet(1);
      } else {
        this.isMode = true;
      }

      dataVocabulary.forEach(doc => {
        db.collection("flashcard")
          .doc(this.practice.key)
          .collection(modedata)
          .doc(doc.id)
          .collection("extraVocab")
          .orderBy("vocabulary")
          .get()
          .then(extra => {
            var extraWord = [];
            var dataExtra;

            extra.forEach(result => {
              extraWord.push(result.data());

              dataExtra = {
                extraVocab: extraWord
              };
            });

            let dataKey = {
              key: doc.id
            };

            let dataFinal = {
              ...doc.data(),
              ...dataKey,
              ...dataExtra
            };

            this.dataShow.push(dataFinal);
            this.dataShow.sort((a, b) => {
              return a.order - b.order;
            });
            this.isMode = true;
            this.loadingSet(0);
          });
      });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.$route.params.key);
    this.setUnitActive(this.$route.params.unit);
    this.setLevelActive(this.$route.params.level);
    this.loadBasicData();
    this.checkEnableSync();
    this.loadingSet(1);
  }
};
</script>

<style scoped>
table {
  border-collapse: collapse;
  border: none;
}

table tr {
  background-color: transparent;
}

table tr:hover {
  background-color: transparent;
}

table tr td {
  height: 0px;
  background-color: transparent;
}
</style>