<template>
  <div class="bg-print">
    <div class="bar-print q-pa-xs bg-grey-9 relative-position" align="right">
      <q-btn class="q-mr-sm text-white" icon="fas fa-print" @click="printBtn()" flat round/>
      <q-btn class="q-mr-sm text-white" icon="fas fa-times-circle" @click="closeBtn()" flat round/>
    </div>
    <div size="A4" class="q-pa-md printMe">
      <table class="table fontme-xl">
        <tr class="tr">
          <th class="bg-light-blue-9" style="border-radius:7px 0px 0px 7px;width:250px;">
            <div class="bg-white" style="border-radius:7px;border:2px solid#1D76D0;">
              <img src="../../assets/icon-logo.png" style="width:160px;margin-top:7px;">
            </div>
          </th>
          <th
            class="q-pl-lg q-pr-lg text-white bg-light-blue-9"
            style="border-radius:0px 7px 7px 0px;"
          >
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space/>
                <span class="text-weight-light">L{{practice.level}} U{{practice.unit}}</span>
                <q-separator vertical inset class="q-mx-sm bg-white"/>
                <span class="text-weight-light">{{dataPractice.practiceName}}</span>
                <q-space/>
                <span></span>
              </q-toolbar>
            </div>
            <hr class="no-margin bg-white">
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space/>
                <span class="text-weight-light">
                  หมวดหมู่ :
                  <span>{{dataSetting.category}}</span>
                </span>
                <q-separator vertical inset class="q-mx-sm bg-white"/>
                <span class="text-weight-light">
                  เสียงสะกด :
                  <span v-if="dataSetting.spellingSound">เปิดใช้งาน</span>
                  <span v-else>ปิดใช้งาน</span>
                </span>
                <q-space/>
                <span></span>
              </q-toolbar>
            </div>
          </th>
        </tr>
      </table>

      <!-- <table class="table q-mt-lg">
        <thead>
          <tr>
            <th colspan="3">
              <div class="q-mb-md">
                <span class="text-h6">โรงเรียนที่ใช้งาน</span>
              </div>
            </th>
          </tr>
        </thead>
        <tbody v-for="(value,index) in schoolType" :key="index">
          <tr v-for="(item,index2) in dataSetting.schoolTypeSelected" :key="index2">
            <th align="center" v-if="item == value.key">
              <div class="q-pa-sm q-mb-sm bg-grey-8">
                <span class="text-h6 text-white f-sarabun-b">{{value.name}}</span>
              </div>
            </th>
          </tr>
        </tbody>
      </table>-->
      <div>
        <table class="table fontme-l">
          <thead>
            <tr>
              <th colspan="3">
                <div class="q-mb-sm q-mt-md">
                  <span class="text-h6">รายละเอียดแบบฝึกหัด</span>
                </div>
              </th>
            </tr>
          </thead>
          <tbody v-for="(item,index) in dataShow" :key="index">
            <tr style="border:1px solid;">
              <td align="left" style="vertical-align: top;width:50px;border:1px solid;">
                <div class="q-pa-sm">
                  <div class="q-pl-sm">
                    <span>{{index + 1 + ")."}}</span>
                  </div>
                </div>
              </td>
              <td align="center" style="vertical-align: top;width:200px;border:1px solid;">
                <q-img :src="serverpath + 'pic_flashcard/' + item.key.toLowerCase() + '.jpg'"/>
              </td>
              <td style="vertical-align: top;border:1px solid;">
                <div class="q-pa-sm">
                  <div class="q-pl-lg">
                    <span v-html="item.vocabulary"></span>
                    <br>
                    <span v-html="item.pronounce"></span>
                    <br>
                    <span v-html="item.meaning"></span>
                    <br>
                    <br>
                    <span v-html="item.englishSentence"></span>
                    <br>
                    <span v-html="item.thaiSentence"></span>
                  </div>
                  <hr v-if="item.extraVocab">
                  <div align="left" class="q-pl-lg" v-if="item.extraVocab">
                    <table class="no-margin">
                      <tr v-for="(item,index) in item.extraVocab" :key="index">
                        <td class="no-padding" align="left" style="width:fit-content;border:none;">
                          <span class="q-pr-xs">{{ item.vocabulary }}</span>
                        </td>
                        <td class="no-padding" align="left" style="border:none;">
                          <span>({{ item.partOfSpeech }})</span>
                        </td>
                        <td class="no-padding" align="left" style="border:none;">
                          <span class="q-pl-xs">{{ item.meaning }}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <hr>
                  <div align="right">
                    <span v-for="(schoolcode,index2) in item.schoolTypeSelected" :key="index2">
                      <span v-for="(school,index3) in schoolType" :key="index3">
                        <span v-if="schoolcode == school.key">
                          <span v-if="index2 > 0">,</span>
                          {{school.name}}
                        </span>
                      </span>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practice: this.$route.params.practice,
      dataSetting: this.$route.params.dataSetting,
      schoolType: this.$route.params.schoolType,
      dataPractice: this.$route.params.dataPractice,
      dataShow: this.$route.params.dataShow
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push(
        "/practice/flashcard/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/0"
      );
    }
  }
};
</script>

<style>
.bg-print {
  background: rgb(204, 204, 204);
}

.bar-print {
  width: 100%;
}

.printMe {
  position: relative;
  background: white;
  display: block;
  margin: 15px auto 0px auto;
}

.printMe[size="A4"] {
  width: 21cm;
  min-height: 29.7cm;
  max-height: fit-content;
}

.printMe::-webkit-scrollbar {
  width: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table .tr .td {
  border: 0.5mm solid rgba(60, 60, 60, 0.7);
}

.table .tr .td:nth-child(2) {
  width: 170px;
}

.fontme-l {
  font-size: 16px;
}
.fontme-xl {
  font-size: 18px;
}
.fontme-xxl {
  font-size: 20px;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  .bar-print {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>
