<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize" />
    <div class="row q-pa-sm">
      <div class="col-xs-12 col-md-6 q-mb-sm">
        <q-btn-group push>
          <q-btn
            label="แบบร่าง"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-teal-5 text-white"
            push
          />
          <q-btn
            label="เซิฟเวอร์"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            disable
            push
          />
        </q-btn-group>
      </div>
    </div>

    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Flashcard | L{{practice.level}} U{{practice.unit}}
          <hr />
        </h5>
      </div>
      <div class="q-mt-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="คำศัพท์"
            @click="changeSettingmode(0)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            push
          ></q-btn>
          <q-btn
            label="คำศัพท์เสริม"
            @click="changeSettingmode(1)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            push
          ></q-btn>
        </q-btn-group>
      </div>

      <!-- หน้าคำศัพท์ -->
      <div v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="รหัสลำดับ"
                v-model.number="dataVocab.order"
                class="q-pa-sm"
                type="number"
                ref="order"
                :rules="[val => !!val || '']"
              />
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-input
                label="คำศัพท์"
                outlined
                v-model="dataVocab.vocabulary"
                class="q-pa-sm"
                ref="vocabulary"
                :rules="[val => val.length <= 16 || 'คำศัพท์ห้ามเกิน 16 ตัวอักษร',val2 => !!val2 || 'ห้ามมีค่าว่าง']"
              />
            </div>
            <!-- Q-select -->
            <div class="col-xs-12 q-pa-sm" v-if="dataVocab.partOfSpeech">
              <part-of-speech-selected @partOfSpeech="getdata" :data="dataVocab.partOfSpeech" />
            </div>
            <div class="col-xs-12 q-pa-md">
              คำอ่าน
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*1000000).toFixed(0)"
                class="bg-grey-2"
                v-model="dataVocab.pronounce"
                toolbar1="bold italic underline"
              ></tinymce>
            </div>

            <div class="col-xs-12 q-pa-sm">
              <q-input
                v-model="dataVocab.meaning"
                label="ความหมาย"
                placeholder="ให้ใช้ได้เฉพาะภาษาไทย"
                class="q-pa-sm"
                outlined
                ref="meaning"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>

            <div class="col-xs-12 q-pa-md">
              ประโยคภาษาอังกฤษ
              <span class="text-red q-caption">*ต้องใช้ตัวหนาสำหรับคำศัพท์หลัก</span>
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*1000000).toFixed(0)"
                v-model="dataVocab.englishSentence"
                toolbar1="bold italic underline"
              ></tinymce>
            </div>

            <div class="col-xs-12 q-pa-md">
              ประโยคภาษาไทย
              <span class="text-red q-caption">*ต้องใช้ตัวหนาสำหรับคำศัพท์หลัก</span>
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*1000000).toFixed(0)"
                v-model="dataVocab.thaiSentence"
                toolbar1="bold italic underline"
              ></tinymce>
            </div>
            <div class="col-xs-12 q-pa-md">
              <q-checkbox label="รูปภาพประกอบการสอน" v-model="dataVocab.teachingImage" />
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            ประเภทโรงเรียน
            <hr />
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-pb-md">
            <div class="col-md-12 q-ml-xs q-mb-sm">
              <q-checkbox
                label="โรงเรียนทั้งหมด"
                @input="checkAllSchoolType()"
                v-model="checkAllSchool"
                color="black"
              />
            </div>
            <div
              class="col-md-12 col-xs-12 q-ml-xs q-mb-sm q-pl-lg"
              v-for="(item,index) in schoolType"
              :key="index"
            >
              <q-checkbox
                v-model="dataVocab.schoolTypeSelected"
                :label="item.name"
                :val="item.key"
                color="black"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn()"
              :disable="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- คำศัพท์เสริม -->
      <div v-show="settingMode == 1">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                label="คำศัพท์"
                outlined
                v-model="dataExtra.vocabulary"
                class="q-pa-sm"
                ref="exvocabulary"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
            <div class="col-xs-12 q-pa-sm" v-if="dataExtra.partOfSpeech">
              <part-of-speech-selected @partOfSpeech="getdata" :data="dataExtra.partOfSpeech"></part-of-speech-selected>
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-input
                label="ความหมาย"
                outlined
                placeholder="ให้ใช้ได้เฉพาะภาษาไทย"
                class="q-pa-sm"
                v-model="dataExtra.meaning"
                ref="exmeaning"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancleEditExtra()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              :disable="!isSaveEx"
              @click="saveExtraVocab()"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>

        <q-table
          v-show="!isEditExtra"
          :data="showDataExtra"
          :columns="columns"
          row-key="key"
          class="bg-grey-2 q-mt-lg"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr
            slot="body"
            slot-scope="props"
            :props="props"
            :class="{'bg-teal-5 text-white':dataExtra.key == props.row.key}"
          >
            <q-td key="vocabName" :props="props">
              <span>{{ props.row.vocabulary }}</span>
            </q-td>
            <q-td key="partOfSpeech" :props="props">
              <span>{{ props.row.partOfSpeech }}</span>
            </q-td>
            <q-td key="vocabMeaning" :props="props">
              <span>{{ props.row.meaning }}</span>
            </q-td>
            <q-td key="delete" :props="props">
              <span @click="deleteExtraBtn(props.row.key)">
                <q-icon name="fas fa-trash-alt  text-red pointer text-body1" />
              </span>
            </q-td>
            <q-td key="edit" :props="props">
              <span @click="editExtraBtn(props.row.key)" class="text-amber-7 pointer text-body1">
                <q-icon name="fas fa-edit" />
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
import { required } from "vuelidate/lib/validators";
import partOfSpeechSelected from "../../components/partofspeechSelected.vue";
import { setTimeout } from "timers";
export default {
  components: {
    partOfSpeechSelected
  },
  data() {
    return {
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        practiceKey: this.$route.params.practicekey
          ? this.$route.params.practicekey
          : ""
      },
      dataVocab: {
        order: "",
        vocabulary: "",
        partOfSpeech: "ไม่ระบุ",
        pronounce: "",
        meaning: "",
        englishSentence: "",
        thaiSentence: "",
        schoolTypeSelected: [],
        teachingImage: false
      },
      options: {
        menubar: false,
        statusbar: false
      },
      settingMode: 0,
      dataExtra: {
        vocabulary: "",
        partOfSpeech: "ไม่ระบุ",
        meaning: ""
      },
      checkAllSchool: false,
      dataExtraEdit: "",
      isEditExtra: false,
      showDataExtra: [],
      schoolType: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "vocabName",
          label: "คำศัพท์",
          align: "center",
          field: "",
          sortable: false
        },
        {
          name: "partOfSpeech",
          label: "ชนิดของคำ",
          align: "center",
          field: "",
          sortable: false
        },
        {
          name: "vocabMeaning",
          label: "ความหมาย",
          align: "center",
          field: "",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        }
      ],
      isSaveData: true,
      isAddData: true,
      isSaveEx: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    checkAllSchoolType() {
      if (this.checkAllSchool) {
        this.dataVocab.schoolTypeSelected = [];
        for (let i = 0; i < this.schoolType.length; i++) {
          this.dataVocab.schoolTypeSelected.push(this.schoolType[i].key);
        }
      } else {
        this.dataVocab.schoolTypeSelected = [];
      }
    },
    changeSettingmode(data) {
      if (data == 1) {
        if (this.practice.practiceKey == "") {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        } else {
          this.settingMode = data;
        }
      }
      this.settingMode = data;
    },
    cancelBtn() {
      this.$router.push(
        "/practice/flashcard/" +
          this.$route.params.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    getdata(get) {
      if (this.settingMode == 0) {
        this.dataVocab.partOfSpeech = get.partOfSpeech;
      } else {
        this.dataExtra.partOfSpeech = get.partOfSpeech;
      }
    },
    async saveBtn() {
      var d = new Date();
      var n = d.getTime();

      let _this = this;

      this.$refs.order.validate();
      this.$refs.vocabulary.validate();
      this.$refs.meaning.validate();

      if (
        this.$refs.order.hasError ||
        this.$refs.vocabulary.hasError ||
        this.$refs.meaning.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      if (this.dataVocab.schoolTypeSelected.length == 0) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      this.isSaveData = false;
      this.loadingSet(1);

      if (this.isAddData) {
        // add mode
        await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection("draft")
          .add(_this.dataVocab)
          .then(doc => {
            this.isAddData = false;
            this.$router.push(
              "/practice/flashcard/edit/" +
                this.practice.key +
                "/" +
                this.$store.state.system.levelactive +
                "/" +
                this.$store.state.system.unitactive +
                "/" +
                doc.id +
                "/" +
                1
            );
          });

        this.settingMode = 1;
      } else {
        // edit mode
        await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection("draft")
          .doc(this.$route.params.practicekey)
          .set(_this.dataVocab);
      }

      await db
        .collection("flashcard")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });

      this.isSaveData = true;

      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    async saveExtraVocab() {
      var d = new Date();
      var n = d.getTime();

      this.$refs.exvocabulary.validate();
      this.$refs.exmeaning.validate();

      if (this.$refs.exvocabulary.hasError || this.$refs.exmeaning.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      this.isSaveEx = false;

      if (this.dataExtraEdit) {
        await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection("draft")
          .doc(this.$route.params.practicekey)
          .collection("extraVocab")
          .doc(this.dataExtraEdit)
          .set(this.dataExtra)
          .then(() => {
            this.isEditExtra = false;
            this.dataExtra = {
              vocabulary: "",
              partOfSpeech: "ไม่ระบุ",
              meaning: ""
            };
            this.dataExtraEdit = "";
          });
      } else {
        await db
          .collection("flashcard")
          .doc(this.practice.key)
          .collection("draft")
          .doc(this.$route.params.practicekey)
          .collection("extraVocab")
          .add(this.dataExtra)
          .then(() => {
            this.dataExtra = {
              vocabulary: "",
              partOfSpeech: "ไม่ระบุ",
              meaning: ""
            };
          });
      }

      await db
        .collection("flashcard")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });

      this.loadExtravocab();
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    async loadSchoolType() {
      this.loadingSet(1);
      let _this = this;
      this.dataVocab.schoolTypeSelected = [];

      let data = await db
        .collection("flashcard")
        .doc(this.practice.key)
        .get();

      for (let i = 0; i < data.data().schoolTypeSelected.length; i++) {
        db.collection("schooltype")
          .orderBy("name")
          .get()
          .then(doc => {
            doc.forEach(value => {
              if (data.data().schoolTypeSelected[i] == value.id) {
                let dataKey = {
                  key: value.id,
                  value: value.data().name,
                  label: value.data().name
                };

                let dataFinal = { ...value.data(), ...dataKey };

                this.schoolType.push(dataFinal);
              }
            });
          });

        this.loadingSet(0);
      }
    },
    loadVocabData() {
      let _this = this;
      db.collection("flashcard")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.$route.params.practicekey)
        .get()
        .then(doc => {
          if (doc.data().teachingImage == undefined) {
            let newData = {
              teachingImage: this.dataVocab.teachingImage
            };
            let dataFinal = { ...newData, ...doc.data() };

            _this.dataVocab = dataFinal;
          } else {
            _this.dataVocab = doc.data();
          }
        });
    },
    async loadExtravocab() {
      let _this = this;
      await db
        .collection("flashcard")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.$route.params.practicekey)
        .collection("extraVocab")
        .orderBy("vocabulary", "asc")
        .onSnapshot(function(data) {
          var extraSnap = [];
          data.forEach(doc => {
            var dataKey = {
              key: doc.id
            };
            var dataFinal = {
              ...dataKey,
              ...doc.data()
            };
            extraSnap.push(dataFinal);
          });
          _this.showDataExtra = extraSnap;
        });

      this.isSaveEx = true;
    },
    deleteExtraBtn(data) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่ ?",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("flashcard")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.$route.params.practicekey)
            .collection("extraVocab")
            .doc(data)
            .delete();

          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
        })
        .onCancel(() => {});
    },
    async editExtraBtn(data) {
      this.loadingSet(1);
      this.isEditExtra = true;
      await db
        .collection("flashcard")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.$route.params.practicekey)
        .collection("extraVocab")
        .doc(data)
        .get()
        .then(data => {
          this.dataExtra = data.data();
          this.dataExtraEdit = data.id;
        });
      this.loadingSet(0);
    },
    cancleEditExtra() {
      this.isEditExtra = false;
      this.dataExtra = {
        vocabulary: "",
        partOfSpeech: "ไม่ระบุ",
        meaning: ""
      };
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.name == "flashcardedit") {
      this.isAddData = false;
      this.loadVocabData();
      this.loadExtravocab();
    }
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadSchoolType();
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == "flashcardedit") {
        this.isAddData = false;
        this.loadVocabData();
      }
    }
  }
};
</script>
<style>
.box-content-practice {
  width: 90%;
  margin: auto;
}

.btn-size-practice {
  width: 50px;
  height: 50px;
}

.error-box {
  border-bottom: 1px solid#f00;
}
</style>