<template>
  <q-page class="q-pa-md">
    <div class="q-pa-md" align="right">
      <q-btn round color="secondary" icon="fas fa-plus" to="/level/add"/>
    </div>
    <div style="clear: both;">
      <q-table
        :data="levelList"
        :columns="columns"
        row-key="key"
        selection="single"
        :selected.sync="selectedOne"
        :pagination.sync="paginationControl"
        class="bg-grey-2"
      >
        <template slot="top-selection">
          <div class="col"/>
          <q-btn color="negative" flat round icon="delete" class="q-mr-sm" @click="deleteBtn()"/>
          <q-btn color="warning" flat round icon="edit" @click="editBtn()"/>
        </template>
      </q-table>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      paginationControl: {
        rowsPerPage: 0
      },
      columns: [
        {
          name: "no",
          label: "ลำดับ",
          field: "no",
          align: "center",
          sortable: false
        },
        {
          name: "levelname",
          label: "ชื่อ Level",
          field: "name",
          align: "center",
          sortable: false
        },
        {
          name: "unit",
          label: "จำนวน unit",
          field: "unit",
          align: "center",
          sortable: false
        },
        {
          name: "duration",
          label: "ระยะเวลา (วัน)",
          field: "duration",
          align: "center",
          sortable: false
        }
      ],
      levelList: [],
      selectedOne: []
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    loadData() {
      //โหลดข้อมูลจาก level จากฐานข้อมูล
      this.levelList = [];
      let _this = this;
      db.collection("level")
        .orderBy("name", "asc")
        .onSnapshot(function(data) {
          var levelSnap = [];
          var no = 0;
          data.forEach(function(doc) {
            no += 1;
            let dataKey = {
              key: doc.id,
              no: no
            };
            let finalData = { ...doc.data(), ...dataKey };
            levelSnap.push(finalData);
          });
          _this.levelList = levelSnap;
        });
    },

    editBtn() {
      let userKey = this.selectedOne[0].key;
      this.$router.push("/level/edit/" + userKey);
    },

    deleteBtn() {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          db.collection("level")
            .doc(this.selectedOne[0].key)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
            })
            .then(() => {
              this.selectedOne = [];
            });
        });
    }
  },
  mounted() {
    this.loadData();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
  }
};
</script>

