<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">เพิ่ม Level</h5>
      <hr>
      <div class="row q-mb-sm justify-center items-center">
        <div class="col-xl-6 col-xs-12 col-md-6 self-center">
          <q-select
            emit-value
            map-options
            outlined
            v-model="level.name"
            label="ชื่อ Level"
            class="q-pa-sm"
            :options="levelList"
            :readonly="!isAddMode"
          />
        </div>
      </div>
      <div class="row q-mb-sm justify-center items-center">
        <div class="col-xl-6 col-xs-12 col-md-6 self-center">
          <q-select
            emit-value
            map-options
            outlined
            v-model="level.unit"
            label="จำนวน unit"
            class="q-pa-sm"
            :options="unitList"
          />
        </div>
      </div>

      <div class="row q-mb-sm justify-center items-center">
        <div class="col-xl-6 col-xs-12 col-md-6 self-center">
          <q-select
            emit-value
            map-options
            outlined
            v-model="level.duration"
            label="ระยะเวลาที่เรียน"
            class="q-pa-sm"
            :options="durationList"
          />
        </div>
      </div>

      <div class="q-mt-lg col-12" align="center">
        <q-btn
          label="ยกเลิก"
          class="q-ma-xs"
          @click="cancelBtn()"
          color="red-7"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
        <q-btn
          label="บันทึก"
          color="teal-5"
          class="q-ma-xs"
          @click="addBtn()"
          :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
        />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapActions } from "vuex";
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      level: {
        unit: 1,
        duration: 180,
        name: 1
      },
      unitList: [],
      levelList: [],
      isAddMode: true,
      durationList: [
        { label: "30 วัน", value: 30 },
        { label: "60 วัน", value: 60 },
        { label: "90 วัน", value: 90 },
        { label: "180 วัน", value: 180 }
      ],
      isAddData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    genunit() {
      var checkfirst = 0;
      for (let i = 1; i <= 24; i++) {
        db.collection("level")
          .where("name", "==", i)
          .get()
          .then(datalevel => {
            if (datalevel.size == 0) {
              let data = {
                label: i.toString(),
                value: i
              };
              this.levelList.push(data);
              if (checkfirst == 0) {
                this.level.name = i;
                checkfirst = 1;
              }
            }
          });
      }
      for (let i = 1; i <= 24; i++) {
        let data = {
          label: i.toString(),
          value: i
        };
        this.unitList.push(data);
      }

      this.level.unit = 16;
      this.level.duration = 180;
    },
    cancelBtn() {
      this.$router.push("/level");
    },

    addBtn() {
      if (this.isAddData) {
        db.collection("level")
          .add(this.level)
          .then(() => {
            this.$q.notify({
              color: "secondary",
              position: "top",
              icon: "done",
              message: `บันทึกข้อมูลเรียบร้อยแล้ว`,
              timeout: 500
            });
            this.$router.push("/level");
          });
      } else {
        db.collection("level")
          .doc(this.$route.params.id)
          .update(this.level)
          .then(() => {
            this.$q.notify({
              color: "secondary",
              position: "top",
              icon: "done",
              message: `บันทึกข้อมูลเรียบร้อยแล้ว`,
              timeout: 500
            });
            this.$router.push("/level");
          });
      }
    },

    loadData() {
      let _this = this;
      db.collection("level")
        .doc(this.$route.params.id)
        .get()
        .then(doc => {
          _this.level = doc.data();
        });
    },

    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.genunit();
    if (this.$route.name == "leveledit") {
      this.loadData();
      this.isAddData = false;
    }
  }
};
</script>

