<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div align="right" class="q-pa-sm col-xs-12 col-md-6 q-mb-sm">
      <router-link :to="{name:'matchingprint',params:{dataSetting,practice,schoolType}}">
        <q-btn icon="fas fa-print" class="q-ma-sm q-mr-sm" color="teal-5" round/>
      </router-link>
    </div>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Matching | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>

      <div class="box-content-practice">
        <div class="row q-mb-sm">
          <div class="col-xl-6 col-xs-12 q-pa-sm">
            <q-input
              outlined
              label="รหัสลำดับ"
              v-model="dataSetting.orderid"
              class="q-pa-sm"
              ref="orderid"
              :rules="[val => val >= 1001 || '',val2 => val2 <= 1998 || '', val3 => !!val3 || '']"
            />
          </div>
          <div class="col-xl-6 col-xs-12 q-pa-sm">
            <q-input
              outlined
              label="ชื่อแบบฝึกหัด"
              v-model="dataSetting.practiceName"
              class="q-pa-sm"
              ref="practiceName"
              :rules="[val => !!val || '']"
            />
          </div>
          <div class="col-xl-6 col-xs-12 q-pa-sm">
            <q-select
              outlined
              v-model="dataSetting.appTemplate"
              label="รูปแบบหน้ากากเกมส์"
              class="q-pa-sm"
              :options="appTemplateList"
              emit-value
              map-options
            />
          </div>
        </div>
      </div>

      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          ประเภทโรงเรียน
          <hr>
        </h5>
      </div>

      <div class="box-content-practice">
        <app-Matching
          v-for="(value,index) in schoolType"
          :key="index"
          :indexSchool="index"
          :dataSchool="{use:value.use,passScore:value.passScore,helpType:value.helpType,helpNumber:value.helpNumber,flashcardNumber:value.flashcardNumber,star:value.star}"
          :schoolTypeName="value.name"
          @schoolTypeSet="schoolTypeSet"
        />
      </div>

      <div class="row justify-center q-pt-lg q-pb-md">
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="ยกเลิก"
            @click="cancelBtn()"
            color="red-7"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
        <div class="q-pt-sm q-pb-sm q-pl-sm">
          <q-btn
            label="บันทึก"
            @click="saveBtn()"
            :disable="!isSaveData"
            color="teal-5"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import matchingOptions from "../../components/matchingOptions.vue";
export default {
  data() {
    return {
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      dataSetting: {
        orderid: "",
        practiceName: "",
        appTemplate: ""
      },
      appTemplateList: [],
      schoolType: [],
      isSaveData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  components: {
    appMatching: matchingOptions
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    printBtn() {
      this.$router.push(
        "/practice/matching/print/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit
      );
    },
    cancelBtn() {
      this.$router.push("/practice");
    },
    async saveBtn() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      this.$refs.orderid.validate();
      this.$refs.practiceName.validate();

      if (this.$refs.orderid.hasError || this.$refs.practiceName.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      let dataCheckSelect = 0;
      for (let i = 0; i < this.schoolType.length; i++) {
        if (!this.schoolType[i].use) {
          dataCheckSelect += 1;
        } else {
          if (
            Number(this.schoolType[i].passScore) <=
            Number(this.schoolType[i].star)
          ) {
          } else {
            this.notifyRed("เกณฑ์ 3 ดาวต้องมากว่า เกณฑ์การผ่าน");
            return;
          }
        }
      }

      if (dataCheckSelect == this.schoolType.length) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      this.loadingSet(1);
      this.isSaveData = false;

      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .update({
          name: this.dataSetting.practiceName,
          order: Number(this.dataSetting.orderid)
        });

      await db
        .collection("matching")
        .doc(this.practice.key)
        .set({
          appTemplate: this.dataSetting.appTemplate
        });

      for (let i = 0; i < this.schoolType.length; i++) {
        if (this.schoolType[i].use) {
          db.collection("matching")
            .doc(this.practice.key)
            .collection(this.schoolType[i].name)
            .doc("data")
            .set(this.schoolType[i]);
        } else {
          db.collection("matching")
            .doc(this.practice.key)
            .collection(this.schoolType[i].name)
            .doc("data")
            .delete();
        }
      }

      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    schoolTypeSet(value) {
      for (let i = 0; i < this.schoolType.length; i++) {
        if (this.schoolType[i].name == value.name) {
          this.schoolType[i] = value;
        }
      }
    },
    async loadBasicData() {
      let _this = this;

      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get()
        .then(data => {
          this.dataSetting.orderid = data.data().order;
          this.dataSetting.practiceName = data.data().name;
        });

      await db
        .collection("matching")
        .doc(this.practice.key)
        .get()
        .then(value => {
          db.collection("mainapptemplate")
            .where("practicetype", "==", "matching")
            .get()
            .then(data => {
              data.forEach(doc => {
                let dataKey = {
                  key: doc.id,
                  label: doc.data().name,
                  value: doc.data().name
                };
                let dataFinal = {
                  ...doc.data(),
                  ...dataKey
                };

                this.appTemplateList.push(dataFinal);

                if (value.exists) {
                  this.dataSetting.appTemplate = value.data().appTemplate;
                } else {
                  this.dataSetting.appTemplate = "Matching Basic";
                }
              });
            });
        });

      await db
        .collection("schooltype")
        .get()
        .then(data => {
          data.forEach(doc => {
            db.collection("matching")
              .doc(this.practice.key)
              .collection(doc.data().name)
              .get()
              .then(value => {
                if (value.size) {
                  db.collection("matching")
                    .doc(this.practice.key)
                    .collection(doc.data().name)
                    .doc("data")
                    .get()
                    .then(value1 => {
                      this.schoolType.push(value1.data());

                      this.loadingSet(0);
                    });
                } else {
                  db.collection("matching")
                    .doc(this.practice.key)
                    .get()
                    .then(value1 => {
                      this.schoolType.push({
                        use: false,
                        name: doc.data().name,
                        passScore: "",
                        helpNumber: "",
                        flashcardNumber: "",
                        star: ""
                      });

                      this.loadingSet(0);
                    });
                }
              });
          });
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadBasicData();
    this.loadingSet(1);
  }
};
</script>