<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          {{practiceType}} | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>
      <div class="q-pt-lg q-pb-sm text-center">
        <h6 align="center" class="no-margin q-pa-sm">ย้ายแบบฝึกหัดไปที่</h6>
      </div>
      <div class="box-content-practice">
        <div class="row justify-center q-pt-md">
          <div class="col-xs-6 col-sm-6 q-pa-sm">
            <q-select
              outlined
              v-model="level"
              label="Level"
              class="q-pa-sm"
              :options="levellistselect"
              @input="loadunit()"
              emit-value
              map-options
            />
          </div>
          <div class="col-xs-6 col-sm-6 q-pa-sm">
            <q-select
              outlined
              v-model="unit"
              label="Unit"
              class="q-pa-sm"
              :options="unitList"
              emit-value
              map-options
            />
          </div>
        </div>
      </div>
      <div class="row justify-center q-pt-lg q-pb-md">
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="ยกเลิก"
            @click="cancelBtn()"
            color="red-7"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
        <div class="q-pt-sm q-pb-sm q-pl-sm">
          <q-btn
            label="บันทึก"
            @click="moveBtn()"
            color="teal-5"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      practiceType: "",
      dataPractice: [],
      levellist: [],
      unitList: [],
      levellistselect: [],
      level: Number(this.$route.params.level),
      unit: Number(this.$route.params.unit),
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    cancelBtn() {
      this.$router.push("/practice");
    },
    async moveBtn() {
      let levelunit = "L" + this.level + "U" + this.unit;

      if (
        this.practice.level == this.level &&
        this.practice.unit == this.unit
      ) {
        this.notifyRed("กรุณาเลือก Level/Unit ใหม่");
        return;
      }

      this.loadingSet(1);

      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .set(this.dataPractice.data());

      levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .delete();

      this.setUnitActive(this.unit);
      this.setLevelActive(this.level);
      this.loadingSet(0);
      this.$router.push("/practice");
      this.notifyGreen("ย้ายแบบฝึกหัดเสร็จสิ้น");
    },
    async loadleveldata() {
      this.loadingSet(1);
      let leveldb = db.collection("level").orderBy("name");
      let doc = await leveldb.get();
      doc.forEach(data => {
        let data2 = {
          value: data.data().name.toString(),
          label: data.data().name.toString()
        };
        this.levellistselect.push(data2);

        let dataFinal = {
          ...data.data()
        };
        this.levellist.push(dataFinal);
      });
      this.level = this.levellistselect[0].value;
      this.loadunit();
      this.loadingSet(0);
    },

    loadunit() {
      this.unitList = [];
      let unitall = this.levellist[this.level - 1]["unit"];
      for (let i = 1; i <= unitall; i++) {
        let data = {
          value: i,
          label: i.toString()
        };
        this.unitList.push(data);
      }
    },

    async loadBasicData() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      this.dataPractice = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get();

      this.practiceType =
        this.dataPractice.data().practicetype[0].toUpperCase() +
        this.dataPractice.data().practicetype.slice(1);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadBasicData();
    this.loadleveldata();
  }
};
</script>

<style scoped>
</style>
