<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row q-pa-sm">
      <div class="col-xs-12 col-md-6 q-mb-sm">
        <q-btn-group push>
          <q-btn
            push
            label="แบบร่าง"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-teal-5 text-white"
          />
          <q-btn
            push
            label="เซิฟเวอร์"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            disable
          />
        </q-btn-group>
      </div>
    </div>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Multiple choice | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>

      <div class="q-mt-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            push
            label="ข้อมูล"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeSettingMode(0)"
          />

          <q-btn
            push
            label="คำศัพท์เสริม"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeSettingMode(1)"
          />
        </q-btn-group>
      </div>

      <div v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                outlined
                type="number"
                v-model.trim="dataSetting.order"
                label="รหัสลำดับ"
                class="q-pa-sm"
                ref="order"
                :rules="[val => !!val || '']"
              />
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-md">
              <label for>
                คำถาม
                <br>
                <span
                  style="font-size:13px;"
                  class="text-red"
                >&nbsp;&nbsp;*ควรใช้รูปภาพขนาดความกว้างไม่เกิน 500px</span>
                <br>
                <span
                  v-if="practice.order > 1000 && practice.order < 1999"
                  style="font-size:13px;"
                  class="text-red"
                >
                  &nbsp;&nbsp;*คำตอบที่ไม่ตรงกับ Flashcard จะต้องกรอก [คำศัพท์ที่เหมือน Flashcard]
                  <br>&nbsp;&nbsp;&nbsp;Ex. Animal [animal]
                </span>
              </label>
              <tinymce
                :other_options="tinyOptions"
                :id="'a' + (Math.random()*(100**10)).toFixed(0)"
                toolbar1="bold italic underline image"
                v-model.trim="dataSetting.question"
              ></tinymce>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md">
              <label for>ตัวเลือก #1</label>
              <q-editor
                v-model.trim="dataSetting.choice1"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
                :class="{errorInput:isErrorChoice1}"
                @input="errorInput(1)"
              ></q-editor>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md">
              <label for>ตัวเลือก #2</label>
              <q-editor
                v-model.trim="dataSetting.choice2"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
                :class="{errorInput:isErrorChoice2}"
                @input="errorInput(2)"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 2">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-plus" color="teal-5" @click="addChoiceBtn(3)" round/>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md" v-if="selectedChoiceType.choice3">
              <label for>ตัวเลือก #3</label>
              <q-editor
                v-model.trim="dataSetting.choice3"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 3">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-plus" color="teal-5" @click="addChoiceBtn(4)" round/>
                </div>
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-minus" color="red-5" @click="addChoiceBtn(2)" round/>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md" v-if="selectedChoiceType.choice4">
              <label for>ตัวเลือก #4</label>
              <q-editor
                v-model.trim="dataSetting.choice4"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 4">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-plus" color="teal-5" @click="addChoiceBtn(5)" round/>
                </div>
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-minus" color="red-5" @click="addChoiceBtn(3)" round/>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md" v-if="selectedChoiceType.choice5">
              <label for>ตัวเลือก #5</label>
              <q-editor
                v-model.trim="dataSetting.choice5"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 5">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-plus" color="teal-5" @click="addChoiceBtn(6)" round/>
                </div>
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-minus" color="red-5" @click="addChoiceBtn(4)" round/>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md" v-if="selectedChoiceType.choice6">
              <label for>ตัวเลือก #6</label>
              <q-editor
                v-model.trim="dataSetting.choice6"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 6">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-plus" color="teal-5" @click="addChoiceBtn(7)" round/>
                </div>
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-minus" color="red-5" @click="addChoiceBtn(5)" round/>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md" v-if="selectedChoiceType.choice7">
              <label for>ตัวเลือก #7</label>
              <q-editor
                v-model.trim="dataSetting.choice7"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 7">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-plus" color="teal-5" @click="addChoiceBtn(8)" round/>
                </div>
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-minus" color="red-5" @click="addChoiceBtn(6)" round/>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md" v-if="selectedChoiceType.choice8">
              <label for>ตัวเลือก #8</label>
              <q-editor
                v-model.trim="dataSetting.choice8"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 8">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-plus" color="teal-5" @click="addChoiceBtn(9)" round/>
                </div>
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-minus" color="red-5" @click="addChoiceBtn(7)" round/>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-xs-12 box-relative q-pa-md" v-if="selectedChoiceType.choice9">
              <label for>ตัวเลือก #9</label>
              <q-editor
                v-model.trim="dataSetting.choice9"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 9">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-plus" color="teal-5" @click="addChoiceBtn(10)" round/>
                </div>
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-minus" color="red-5" @click="addChoiceBtn(8)" round/>
                </div>
              </div>
            </div>
            <div
              class="col-xl-12 col-xs-12 box-relative q-pa-md"
              v-if="selectedChoiceType.choice10"
            >
              <label for>ตัวเลือก #10</label>
              <q-editor
                v-model.trim="dataSetting.choice10"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
              ></q-editor>
              <div class="btn-ab-l" v-if="selectedChoiceNumber == 10">
                <div class="q-ma-sm q-mr-lg">
                  <q-btn icon="fas fa-minus" color="red-5" @click="addChoiceBtn(9)" round/>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-select
                outlined
                class="q-pa-sm"
                label="ตัวเลือกที่ถูกต้อง"
                v-model.trim="dataSetting.correctAnswer"
                :options="answerNumberList"
                emit-value
                map-options
              />
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-md">
              <label for>คำอธิบาย</label>
              <q-editor
                v-model.trim="dataSetting.description"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
        ['bold', 'italic', 'underline']
      ]"
                :class="{errorInput:isErrorDescription}"
                @input="errorInput(2)"
              ></q-editor>
            </div>
            <div class="col-xl-4 col-xs-12 q-pa-sm">
              <q-checkbox
                label="โจทย์เป็นเสียง"
                color="black"
                v-model.trim="dataSetting.questionSound"
              />
            </div>
            <div class="col-xl-4 col-xs-12 q-pa-sm">
              <q-checkbox
                label="คำตอบเป็นเสียง"
                color="black"
                v-model.trim="dataSetting.answerSound"
              />
            </div>
            <div
              class="col-xl-12 col-xs-12 q-pa-sm"
              v-if="practice.order > 2000 && practice.order < 2999 || practice.order > 5000 && practice.order < 5201"
            >
              <q-select
                outlined
                class="q-pa-sm"
                label="แผ่นสไลด์"
                v-model="dataSetting.slide"
                :options="slideData"
                emit-value
                map-options
                multiple
              />
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            ประเภทโรงเรียน
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-pb-md">
            <div class="col-md-12 q-ml-xs q-mb-sm">
              <q-checkbox
                label="โรงเรียนทั้งหมด"
                color="black"
                v-model.trim="selectedSchoolAll"
                @input="selectAllSchool()"
              />
            </div>
            <div
              class="col-md-12 col-xs-12 q-ml-xs q-mb-sm q-pl-lg"
              v-for="(item,index) in schoolTypeList"
              :key="index"
            >
              <q-checkbox
                color="black"
                v-model.trim="selectedSchoolType"
                :label="item.name"
                :val="item.name"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(1)"
              :disable="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- คำศัพท์เสริม -->
      <div v-show="settingMode == 1">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                label="คำศัพท์"
                outlined
                v-model.trim="dataExtra.vocabulary"
                class="q-pa-sm"
                ref="Exvocab"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <app-PartOfSpeech @partOfSpeech="partOfSpeech" :data="dataExtra.partOfSpeech"/>
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                label="ความหมาย"
                outlined
                placeholder="ให้ใช้ได้เฉพาะภาษาไทย"
                class="q-pa-sm"
                v-model.trim="dataExtra.meaning"
                ref="Exmeaning"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm" v-if="practice.practiceEditKey">
            <q-btn
              label="ยกเลิก"
              @click="cancelEditBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(2)"
              :disabled="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>

        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
          v-if="!practice.practiceEditKey"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="vocabulary" :props="props">
              <span>{{ props.row.vocabulary }}</span>
            </q-td>
            <q-td key="partOfSpeech" :props="props">
              <span>{{ props.row.partOfSpeech }}</span>
            </q-td>
            <q-td key="meaning" :props="props">
              <span>{{ props.row.meaning }}</span>
            </q-td>
            <q-td key="delete" :props="props">
              <span @click="deleteBtn(props.row.key)">
                <q-icon name="fas fa-trash-alt  text-red pointer text-body1"/>
              </span>
            </q-td>
            <q-td key="edit" :props="props">
              <span @click="editBtn(props.row.key)" class="text-amber-7 pointer text-body1">
                <q-icon name="fas fa-edit"/>
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import partOfSpeech from "../../components/partofspeechSelected.vue";
export default {
  data() {
    return {
      settingMode: 0,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        practiceKey: this.$route.params.practicekey
          ? this.$route.params.practicekey
          : "",
        practiceEditKey: "",
        order: 0
      },
      dataSetting: {
        order: "",
        choice1: "",
        choice2: "",
        choice3: "",
        choice4: "",
        choice5: "",
        choice6: "",
        choice7: "",
        choice8: "",
        choice9: "",
        choice10: "",
        slide: [],
        correctAnswer: "1",
        question: "",
        description: "",
        questionSound: false,
        answerSound: false
      },
      selectedChoiceType: {
        choice1: true,
        choice2: true,
        choice3: false,
        choice4: false,
        choice5: false,
        choice6: false,
        choice7: false,
        choice8: false,
        choice9: false,
        choice10: false
      },
      answerNumberList: [
        {
          label: "1",
          value: 1
        },
        {
          label: "2",
          value: 2
        }
      ],
      selectedChoiceNumber: 2,
      selectedSchoolType: [],
      dataExtra: {
        vocabulary: "",
        meaning: "",
        partOfSpeech: "ไม่ระบุ"
      },
      dataShow: [],
      selectedSchoolAll: false,
      schoolTypeList: [],
      slideData: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "vocabulary",
          label: "คำศัพท์",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "partOfSpeech",
          label: "ชนิดของคำ",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "meaning",
          label: "ความหมาย",
          align: "center",
          style: "",
          field: "",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px;",
          field: "",
          sortable: false
        }
      ],
      isAddData: true,
      isSaveData: true,
      isEditVocab: false,
      isErrorQuestion: false,
      isErrorDescription: false,
      isErrorChoice1: false,
      isErrorChoice2: false,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      showChoiceRow: 1
    };
  },
  components: {
    appPartOfSpeech: partOfSpeech
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    changeSettingMode(data) {
      if (data == 1) {
        if (this.practice.practiceKey == "") {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        } else {
          this.settingMode = data;
        }
      }

      this.settingMode = data;
    },
    selectAllSchool() {
      if (this.selectedSchoolAll) {
        this.selectedSchoolType = [];
        for (let i = 0; i < this.schoolTypeList.length; i++) {
          this.selectedSchoolType.push(this.schoolTypeList[i].name);
        }
      } else {
        this.selectedSchoolType = [];
      }
    },
    addChoiceBtn(data) {
      let numberData = (this.selectedChoiceNumber = data);

      if (numberData > 1) {
        this.selectedChoiceType.choice2 = true;
      } else {
        this.selectedChoiceType.choice2 = false;
        this.dataSetting.choice2 = "";
      }
      if (numberData > 2) {
        this.selectedChoiceType.choice3 = true;
      } else {
        this.selectedChoiceType.choice3 = false;
        this.dataSetting.choice3 = "";
      }
      if (numberData > 3) {
        this.selectedChoiceType.choice4 = true;
      } else {
        this.selectedChoiceType.choice4 = false;
        this.dataSetting.choice4 = "";
      }
      if (numberData > 4) {
        this.selectedChoiceType.choice5 = true;
      } else {
        this.selectedChoiceType.choice5 = false;
        this.dataSetting.choice5 = "";
      }
      if (numberData > 5) {
        this.selectedChoiceType.choice6 = true;
      } else {
        this.selectedChoiceType.choice6 = false;
        this.dataSetting.choice6 = "";
      }
      if (numberData > 6) {
        this.selectedChoiceType.choice7 = true;
      } else {
        this.selectedChoiceType.choice7 = false;
        this.dataSetting.choice7 = "";
      }
      if (numberData > 7) {
        this.selectedChoiceType.choice8 = true;
      } else {
        this.selectedChoiceType.choice8 = false;
        this.dataSetting.choice8 = "";
      }
      if (numberData > 8) {
        this.selectedChoiceType.choice9 = true;
      } else {
        this.selectedChoiceType.choice9 = false;
        this.dataSetting.choice9 = "";
      }
      if (numberData > 9) {
        this.selectedChoiceType.choice10 = true;
      } else {
        this.selectedChoiceType.choice10 = false;
        this.dataSetting.choice10 = "";
      }
    },
    cancelBtn() {
      this.$router.push(
        "/practice/multiplechoice/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    deleteBtn(typekey) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("multiplechoice")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .doc(typekey)
            .delete();

          this.practice.practiceEditKey = "";
          this.dataExtra.vocabulary = "";
          this.dataExtra.meaning = "";
          this.dataExtra.partOfSpeech = "ไม่ระบุ";
          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
        })
        .onCancel(() => {});
    },
    async editBtn(typekey) {
      this.loadingSet(1);
      await db
        .collection("multiplechoice")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .collection("extraVocab")
        .doc(typekey)
        .get()
        .then(data => {
          this.practice.practiceEditKey = typekey;
          this.dataExtra.vocabulary = data.data().vocabulary;
          this.dataExtra.meaning = data.data().meaning;
          this.dataExtra.partOfSpeech = data.data().partOfSpeech;
        });
      this.loadingSet(0);
    },
    cancelEditBtn() {
      this.practice.practiceEditKey = "";
      this.dataExtra.vocabulary = "";
      this.dataExtra.meaning = "";
      this.dataExtra.partOfSpeech = "ไม่ระบุ";
    },
    errorInput(type) {
      if (type == 1) {
        if (this.dataSetting.choice1.length <= 0) {
          this.isErrorChoice1 = true;
        } else {
          this.isErrorChoice1 = false;
        }
      }
      if (type == 2) {
        if (this.dataSetting.choice2.length <= 0) {
          this.isErrorChoice2 = true;
        } else {
          this.isErrorChoice2 = false;
        }
      }
    },
    async saveBtn(type) {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var d = new Date();
      var n = d.getTime();
      let saveNewData;
      let saveDataSetting;
      var newJoinSlide;

      if (type == 1) {
        this.$refs.order.validate();

        if (
          this.isErrorChoice1 ||
          this.isErrorChoice2 ||
          !this.dataSetting.choice1.length ||
          !this.dataSetting.choice2.length ||
          !this.dataSetting.correctAnswer ||
          this.$refs.order.hasError
        ) {
          if (!this.dataSetting.choice1.length) {
            this.isErrorChoice1 = true;
          }
          if (!this.dataSetting.choice2.length) {
            this.isErrorChoice2 = true;
          }
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        } else {
          this.isErrorQuestion = false;
          this.isErrorChoice1 = false;
          this.isErrorChoice2 = false;
        }

        // if (this.selectedSchoolType.length <= 0) {
        //   this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        //   return;
        // }

        if (this.isAddData) {
          let checkData = await db
            .collection("multiplechoice")
            .doc(this.practice.key)
            .collection("draft")
            .where("order", "==", this.dataSetting.order)
            .get();

          if (checkData.size > 0) {
            this.dataSetting.order = "";
            this.$refs.order.focus();
            this.notifyRed("มีข้อมูลแบบฝึกหัดในระบบแล้ว");
            return;
          }
        }

        this.isSaveData = false;
        this.loadingSet(1);

        if (this.isAddData) {
          newJoinSlide = this.dataSetting.slide
            ? this.dataSetting.slide.join(",")
            : "";

          newJoinSlide = newJoinSlide
            ? newJoinSlide
                .split(",")
                .map(Number)
                .sort((a, b) => {
                  return a - b;
                })
            : "";

          newJoinSlide = newJoinSlide ? newJoinSlide.join(",") : "";

          saveNewData = {
            slide: newJoinSlide,
            order: Number(this.dataSetting.order),
            correctAnswer: Number(this.dataSetting.correctAnswer)
          };

          saveDataSetting = {
            ...this.dataSetting,
            ...saveNewData
          };

          await db
            .collection("multiplechoice")
            .doc(this.practice.key)
            .collection("draft")
            .add(saveDataSetting)
            .then(data => {
              for (let i = 0; i < this.selectedSchoolType.length; i++) {
                let newObj = this.selectedSchoolType[i];
                let dataSelected = {
                  [newObj]: true
                };

                db.collection("multiplechoice")
                  .doc(this.practice.key)
                  .collection("draft")
                  .doc(data.id)
                  .update(dataSelected);

                this.isAddData = false;
                this.$router.push(
                  "/practice/multiplechoice/edit/" +
                    this.practice.key +
                    "/" +
                    this.practice.level +
                    "/" +
                    this.practice.unit +
                    "/" +
                    data.id +
                    "/1"
                );

                this.settingMode = 1;
              }
            });
        } else {
          newJoinSlide = this.dataSetting.slide
            ? this.dataSetting.slide.join(",")
            : "";

          newJoinSlide = newJoinSlide
            ? newJoinSlide
                .split(",")
                .map(Number)
                .sort((a, b) => {
                  return a - b;
                })
            : "";

          newJoinSlide = newJoinSlide ? newJoinSlide.join(",") : "";

          saveNewData = {
            slide: newJoinSlide,
            order: Number(this.dataSetting.order),
            correctAnswer: Number(this.dataSetting.correctAnswer)
          };

          saveDataSetting = {
            ...this.dataSetting,
            ...saveNewData
          };

          await db
            .collection("multiplechoice")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .set(saveDataSetting)
            .then(data => {
              for (let i = 0; i < this.selectedSchoolType.length; i++) {
                let newObj = this.selectedSchoolType[i];
                let dataSelected = {
                  [newObj]: true
                };

                db.collection("multiplechoice")
                  .doc(this.practice.key)
                  .collection("draft")
                  .doc(this.practice.practiceKey)
                  .update(dataSelected);
              }
            });
        }
      }

      if (type == 2) {
        this.$refs.Exvocab.validate();
        this.$refs.Exmeaning.validate();

        if (this.$refs.Exvocab.hasError || this.$refs.Exmeaning.hasError) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        }

        this.isSaveData = false;

        if (this.practice.practiceEditKey == "") {
          await db
            .collection("multiplechoice")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .add(this.dataExtra)
            .then(() => {
              this.practice.practiceEditKey = "";
              this.dataExtra.vocabulary = "";
              this.dataExtra.meaning = "";
              this.dataExtra.partOfSpeech = "ไม่ระบุ";
            });
        } else {
          await db
            .collection("multiplechoice")
            .doc(this.practice.key)
            .collection("draft")
            .doc(this.practice.practiceKey)
            .collection("extraVocab")
            .doc(this.practice.practiceEditKey)
            .set(this.dataExtra)
            .then(data => {
              this.practice.practiceEditKey = "";
              this.dataExtra.vocabulary = "";
              this.dataExtra.meaning = "";
              this.dataExtra.partOfSpeech = "ไม่ระบุ";
            });
        }
      }

      await db
        .collection("multiplechoice")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });

      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    async loadBasicData() {
      await db
        .collection("multiplechoice")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .get()
        .then(data => {
          this.dataSetting = {
            choice1: data.data().choice1 ? data.data().choice1 : "",
            choice2: data.data().choice2 ? data.data().choice2 : "",
            choice3: data.data().choice3 ? data.data().choice3 : "",
            choice4: data.data().choice4 ? data.data().choice4 : "",
            choice5: data.data().choice5 ? data.data().choice5 : "",
            choice6: data.data().choice6 ? data.data().choice6 : "",
            choice7: data.data().choice7 ? data.data().choice7 : "",
            choice8: data.data().choice8 ? data.data().choice8 : "",
            choice9: data.data().choice9 ? data.data().choice9 : "",
            choice10: data.data().choice10 ? data.data().choice10 : "",
            order: data.data().order,
            slide: data.data().slide
              ? data
                  .data()
                  .slide.split(",")
                  .map(Number)
                  .sort((a, b) => {
                    return a - b;
                  })
              : [],
            correctAnswer: data.data().correctAnswer,
            question: data.data().question,
            description: data.data().description,
            questionSound: data.data().questionSound,
            answerSound: data.data().answerSound
          };

          this.selectedChoiceType.choice1 = data.data().choice1 ? true : true;
          this.selectedChoiceType.choice2 = data.data().choice2 ? true : true;
          this.selectedChoiceType.choice3 = data.data().choice3 ? true : false;
          this.selectedChoiceType.choice4 = data.data().choice4 ? true : false;
          this.selectedChoiceType.choice5 = data.data().choice5 ? true : false;
          this.selectedChoiceType.choice6 = data.data().choice6 ? true : false;
          this.selectedChoiceType.choice7 = data.data().choice7 ? true : false;
          this.selectedChoiceType.choice8 = data.data().choice8 ? true : false;
          this.selectedChoiceType.choice9 = data.data().choice9 ? true : false;
          this.selectedChoiceType.choice10 = data.data().choice10
            ? true
            : false;

          this.selectedChoiceNumber = 0;

          for (let choiceNumber in this.selectedChoiceType) {
            if (this.selectedChoiceType[choiceNumber]) {
              this.selectedChoiceNumber += 1;
            }
          }

          db.collection("multiplechoice")
            .doc(this.practice.key)
            .collection("schooloption")
            .get()
            .then(doc => {
              doc.forEach(value => {
                let nameSchool = value.data().name;

                if (data.data()[nameSchool]) {
                  this.selectedSchoolType.push(nameSchool);
                }
              });
            });
        });
    },
    async loadExtraVocab() {
      let data = await db
        .collection("multiplechoice")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .collection("extraVocab")
        .orderBy("vocabulary");

      data.onSnapshot(doc => {
        this.dataShow = [];
        doc.forEach(value => {
          let dataKey = {
            key: value.id
          };
          let dataFinal = {
            ...value.data(),
            ...dataKey
          };

          this.dataShow.push(dataFinal);
        });
      });
    },
    async loadAxData() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      let response = await axios.get(
        this.serverpath +
          "/api/checkdata.php" +
          "?level=" +
          this.practice.level +
          "&unit=" +
          this.practice.unit
      );

      let loadPractice = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get();

      let newOrder = loadPractice.data().order;

      if (newOrder > 5000 && newOrder <= 5200) {
        for (let i = 0; i < response.data[0].phonicsslide; i++) {
          let dataKey = {
            value: i + 1,
            label: "Slide# " + (i + 1)
          };

          this.slideData.push(dataKey);
        }
      }

      if (newOrder > 2000 && newOrder < 2999) {
        for (let i = 0; i < response.data[0].grammarslide; i++) {
          let dataKey = {
            value: i + 1,
            label: "Slide# " + (i + 1)
          };

          this.slideData.push(dataKey);
        }
      }
    },
    loadCheckSchool() {
      this.loadingSet(1);

      db.collection("multiplechoice")
        .doc(this.practice.key)
        .collection("schooloption")
        .get()
        .then(data => {
          this.schoolTypeList = [];
          data.forEach(doc => {
            let dataFinal = {
              name: doc.id
            };
            this.schoolTypeList.push(dataFinal);

            if (this.isAddData) {
              this.selectedSchoolType.push(doc.id);
            }

            this.loadingSet(0);
          });
        });
    },
    loadPracticeOrder() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      console.log(levelunit);

      db.collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get()
        .then(result => {
          this.practice.order = result.data().order;
        });
    },
    partOfSpeech(value) {
      this.dataExtra.partOfSpeech = value.partOfSpeech;
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.name == "multiplechoiceedit") {
      this.isAddData = false;
      this.loadBasicData();
      this.loadExtraVocab();
    }
    this.loadPracticeOrder();
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loopOptionsNumber(1, 10);
    this.loadAxData();
    this.loadCheckSchool();
  },
  watch: {
    $route(to, from) {
      if (this.$route.name == "multiplechoiceedit") {
        this.practice.practiceKey = this.$route.params.practicekey;
        this.loadExtraVocab();
      }
    },
    selectedChoiceNumber() {
      this.answerNumberList = [];
      for (let i = 0; i < this.selectedChoiceNumber; i++) {
        let dataAnswer = {
          label: (i + 1).toString(),
          value: i + 1
        };
        this.answerNumberList.push(dataAnswer);
      }
    }
  }
};
</script>

<style>
.box-relative {
  position: relative;
}

.btn-ab-l {
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translate(0, -35%);
}

@media screen and (max-width: 992px) {
  .btn-ab-l {
    position: relative;
    top: 0;
    right: 0;
    transform: translate(0);
    text-align: right;
  }

  .btn-ab-l div {
    display: inline-block;
    margin: 10px 5px;
  }
}
</style>
