<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">ข้อสอบวัดระดับ
        <hr>
      </h5>
      <div class="box-content-practice">
        <div class="row q-mb-sm gutter-sm">
          <div class="col-xl-6 col-xs-12">
            <q-input
              outlined
              v-model="exam.order"
              class="q-pa-sm"
              label="รหัสลำดับ"
              placeholder="รหัสลำดับ"
              type="number"
              ref="order"
              :rules="[val=>!!val || '']"
            />
          </div>
          <div class="col-xl-6 col-xs-12">
            <q-select
              outlined
              emit-value
              map-options
              v-model="exam.level"
              label="Level ที่ใช้วัดผล"
              class="q-pa-sm"
              :options="levellist"
            />
          </div>
        </div>

        <div class="row q-mb-sm gutter-sm">
          <div class="col-xl-6 col-xs-12">
            <q-select
              outlined
              emit-value
              map-options
              multiple
              class="q-pa-sm"
              v-model="mulitpleSelect"
              label="ระดับชั้น"
              :options="classList"
              :class="{errorInput: errorshow.grade}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">คำสั่งอังกฤษ
            <br>
            <q-editor
              ref="instructioneng"
              v-model="exam.instructioneng"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
              :class="{errorInput: errorshow.instructioneng}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">คำสั่งไทย
            <br>
            <q-editor
              ref="instructionthai"
              v-model="exam.instructionthai"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
              :class="{errorInput: errorshow.instructionthai}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">คำถาม
            <br>
            <q-editor
              v-model="exam.question"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">ตัวเลือก #1
            <br>
            <q-editor
              ref="choice1"
              v-model="exam.choice1"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
              :class="{errorInput: errorshow.choice1}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">ตัวเลือก #2
            <br>
            <q-editor
              ref="choice2"
              v-model="exam.choice2"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
              :class="{errorInput: errorshow.choice2}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">ตัวเลือก #3
            <br>
            <q-editor
              v-model="exam.choice3"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">ตัวเลือก #4
            <br>
            <q-editor
              v-model="exam.choice4"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
            />
          </div>
        </div>

        <div class="row q-mb-sm gutter-sm">
          <div class="col-xl-6 col-xs-12">
            <q-select
              outlined
              map-options
              emit-value
              class="q-pa-sm"
              v-model="exam.correct"
              label="ตัวเลือกที่ถูก"
              :options="correctansweroption"
            />
          </div>
        </div>
      </div>
      <div class="q-mt-lg col-12 gutter-sm" align="center">
        <div>
          <q-btn
            label="ยกเลิก"
            class="q-ma-xs"
            @click="cancelBtn()"
            color="red-7"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
          <q-btn
            label="บันทึก"
            color="teal-5"
            class="q-ma-xs"
            @click="saveBtn()"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      exam: {
        order: "",
        level: "1",
        instructioneng: "",
        instructionthai: "",
        question: "",
        choice1: "",
        choice2: "",
        choice3: "",
        choice4: "",
        correct: 1
      },
      levellist: [],
      classList: [
        {
          label: "ป.1",
          value: "ป.1"
        },
        {
          label: "ป.2",
          value: "ป.2"
        },
        {
          label: "ป.3",
          value: "ป.3"
        },
        {
          label: "ป.4",
          value: "ป.4"
        },
        {
          label: "ป.5",
          value: "ป.5"
        },
        {
          label: "ป.6",
          value: "ป.6"
        },
        {
          label: "ม.1",
          value: "ม.1"
        },
        {
          label: "ม.2",
          value: "ม.2"
        },
        {
          label: "ม.3",
          value: "ม.3"
        },
        {
          label: "ม.4",
          value: "ม.4"
        },
        {
          label: "ม.5",
          value: "ม.5"
        },
        {
          label: "ม.6",
          value: "ม.6"
        }
      ],
      mulitpleSelect: [],
      correctansweroption: [
        {
          value: 1,
          label: "ตัวเลือก #1"
        },
        {
          value: 2,
          label: "ตัวเลือก #2"
        },
        {
          value: 3,
          label: "ตัวเลือก #3"
        },
        {
          value: 4,
          label: "ตัวเลือก #4"
        }
      ],
      isAddData: true,
      isErrorEng: false,
      isErrorThai: false,
      isErrorChoice1: false,
      isErrorChoice2: false,
      errorshow: {
        instructioneng: false,
        instructionthai: false,
        choice1: false,
        choice2: false,
        grade: false
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },

  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    loadLevelList() {
      db.collection("level")
        .orderBy("name")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataAdd = {
              label: doc.data().name.toString(),
              value: doc.data().name.toString()
            };
            this.levellist.push(dataAdd);
          });
          this.exam.level = this.levellist[0].value;
          if (this.isAddData == false) {
            this.loadData();
          }
        });
    },

    loadData() {
      db.collection("placement")
        .doc("draft")
        .collection("data")
        .doc(this.$route.params.id)
        .get()
        .then(doc => {
          this.exam = doc.data();
          this.mulitpleSelect = [];
          if (this.exam.p1) {
            this.mulitpleSelect.push("ป.1");
          }
          if (this.exam.p2) {
            this.mulitpleSelect.push("ป.2");
          }
          if (this.exam.p3) {
            this.mulitpleSelect.push("ป.3");
          }
          if (this.exam.p4) {
            this.mulitpleSelect.push("ป.4");
          }
          if (this.exam.p5) {
            this.mulitpleSelect.push("ป.5");
          }
          if (this.exam.p6) {
            this.mulitpleSelect.push("ป.6");
          }
          if (this.exam.m1) {
            this.mulitpleSelect.push("ม.1");
          }
          if (this.exam.m2) {
            this.mulitpleSelect.push("ม.2");
          }
          if (this.exam.m3) {
            this.mulitpleSelect.push("ม.3");
          }
          if (this.exam.m4) {
            this.mulitpleSelect.push("ม.4");
          }
          if (this.exam.m5) {
            this.mulitpleSelect.push("ม.5");
          }
          if (this.exam.m6) {
            this.mulitpleSelect.push("ม.6");
          }
        });
    },
    cancelBtn() {
      this.$router.push("/placement");
    },
    saveBtn() {
      this.$refs.order.validate();
      if (this.$refs.order.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      var errorshow = false;
      if (this.exam.instructioneng.length > 0) {
        this.errorshow.instructioneng = false;
      } else {
        this.errorshow.instructioneng = true;
        errorshow = true;
      }

      if (this.exam.instructionthai.length > 0) {
        this.errorshow.instructionthai = false;
      } else {
        this.errorshow.instructionthai = true;
        errorshow = true;
      }

      if (this.exam.choice1.length > 0) {
        this.errorshow.choice1 = false;
      } else {
        this.errorshow.choice1 = true;
        errorshow = true;
      }

      if (this.exam.choice2.length > 0) {
        this.errorshow.choice2 = false;
      } else {
        this.errorshow.choice2 = true;
        errorshow = true;
      }
      if (this.mulitpleSelect.length > 0) {
        this.errorshow.grade = false;
      } else {
        this.errorshow.grade = true;
        errorshow = true;
      }
      console.log(this.mulitpleSelect.length);
      if (errorshow) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      //check correct answer should be correspond with choices
      if (this.exam.correct == 3 && this.exam.choice3.length == 0) {
        this.notifyRed("คำตอบที่ถูกต้องไม่สอดคล้องกับตัวเลือก");
        return;
      }

      if (this.exam.correct == 4 && this.exam.choice4.length == 0) {
        this.notifyRed("คำตอบที่ถูกต้องไม่สอดคล้องกับตัวเลือก");
        return;
      }

      var d = new Date();
      var n = d.getTime();

      db.collection("placement")
        .doc("draft")
        .update({
          savetime: n
        });

      let classlist = this.mulitpleSelect.toString();

      if (classlist.indexOf("ป.1") != -1) {
        this.exam.p1 = true;
      } else {
        this.exam.p1 = false;
      }

      if (classlist.indexOf("ป.2") != -1) {
        this.exam.p2 = true;
      } else {
        this.exam.p2 = false;
      }

      if (classlist.indexOf("ป.3") != -1) {
        this.exam.p3 = true;
      } else {
        this.exam.p3 = false;
      }

      if (classlist.indexOf("ป.4") != -1) {
        this.exam.p4 = true;
      } else {
        this.exam.p4 = false;
      }

      if (classlist.indexOf("ป.5") != -1) {
        this.exam.p5 = true;
      } else {
        this.exam.p5 = false;
      }

      if (classlist.indexOf("ป.6") != -1) {
        this.exam.p6 = true;
      } else {
        this.exam.p6 = false;
      }

      if (classlist.indexOf("ม.1") != -1) {
        this.exam.m1 = true;
      } else {
        this.exam.m1 = false;
      }

      if (classlist.indexOf("ม.2") != -1) {
        this.exam.m2 = true;
      } else {
        this.exam.m2 = false;
      }

      if (classlist.indexOf("ม.3") != -1) {
        this.exam.m3 = true;
      } else {
        this.exam.m3 = false;
      }

      if (classlist.indexOf("ม.4") != -1) {
        this.exam.m4 = true;
      } else {
        this.exam.m4 = false;
      }

      if (classlist.indexOf("ม.5") != -1) {
        this.exam.m5 = true;
      } else {
        this.exam.m5 = false;
      }

      if (classlist.indexOf("ม.6") != -1) {
        this.exam.m6 = true;
      } else {
        this.exam.m6 = false;
      }

      if (this.isAddData) {
        db.collection("placement")
          .doc("draft")
          .collection("data")
          .add(this.exam);
        this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");

        this.$router.push("/placement");
      } else {
        db.collection("placement")
          .doc("draft")
          .collection("data")
          .doc(this.$route.params.id)
          .set(this.exam);
        this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");

        this.$router.push("/placement");
        return;
      }

      this.exam.order = "";
      this.exam.instructioneng = "";
      this.exam.instructionthai = "";
      this.exam.question = "";
      this.exam.choice1 = "";
      this.exam.choice2 = "";
      this.exam.choice3 = "";
      this.exam.choice4 = "";
      this.exam.correct = 1;
      this.mulitpleSelect = [];
    },

    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.name == "placementedit") {
      this.isAddData = false;
    }
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadLevelList();
  }
};
</script>