<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row reverse-wrap items-center">
      <div class="col-xs-12 col-md-6 q-mb-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="แบบร่าง"
            :class="{'bg-teal-5 text-white' : mode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            @click="changeMode(0)"
            push
          />
          <q-btn
            label="เซิฟเวอร์"
            :class="{'bg-teal-5 text-white' : mode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeMode(1)"
            class="bg-white"
            push
          />
        </q-btn-group>
      </div>
      <div align="right" class="q-pa-sm col-xs-6 col-md-6 q-mb-sm">
        <q-btn
          icon="fas fa-sync"
          class="q-ma-sm q-mr-sm"
          color="teal-5"
          round
          :disable="mode==1 || !isSync"
          @click="syncData()"
        />
        <q-btn icon="fas fa-print" class="q-ma-sm q-mr-sm" color="teal-5" round :disable="mode==1"/>
        <q-btn
          icon="fas fa-plus"
          class="q-ma-sm q-mr-sm"
          color="teal-5"
          round
          :disable="mode==1"
          to="placement/add"
        />
      </div>
    </div>

    <div class="bg-grey-2 q-pa-sm">
      <div class="row justify-center gutter-sm q-pt-md">
        <div class="col-xs-12 col-sm-6">
          <q-select
            outlined
            emit-value
            map-options
            v-model="classDatax"
            label="ระดับชั้น"
            class="q-pa-sm"
            :options="classListx"
            @input="loadquestion()"
          />
        </div>
      </div>
      <q-table
        :data="questionList"
        :columns="columns"
        row-key="no"
        :pagination.sync="paginationControl"
        class="bg-grey-2 q-mt-md"
      >
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td key="no" :props="props">{{ props.row.no }}</q-td>
          <q-td key="question" :props="props" v-html="props.row.qshow"></q-td>
          <q-td key="order" :props="props">{{ props.row.order }}</q-td>
          <q-td key="delete" :props="props">
            <span @click="deleteBtn(props.row.key)" v-show="mode==0">
              <q-icon name="fas fa-trash-alt  text-red pointer text-body1"/>
            </span>
            <span v-show="mode==1">
              <q-icon name="fas fa-trash-alt  text-grey-5 text-body1"/>
            </span>
          </q-td>
          <q-td key="edit" :props="props">
            <span @click="editBtn(props.row.key)" v-show="mode==0">
              <q-icon name="fas fa-edit  text-amber-7 pointer text-body1"/>
            </span>
            <span v-show="mode==1">
              <q-icon name="fas fa-edit  text-grey-5 text-body1"/>
            </span>
          </q-td>
        </q-tr>
      </q-table>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      mode: 0, //mode 0 = แบบร่าง , 1 = ข้อมูลบนเซิฟเวอร์
      isSync: true,
      classListx: [
        { value: "p1", label: "ป.1" },
        { value: "p2", label: "ป.2" },
        { value: "p3", label: "ป.3" },
        { value: "p4", label: "ป.4" },
        { value: "p5", label: "ป.5" },
        { value: "p6", label: "ป.6" },
        { value: "m1", label: "ม.1" },
        { value: "m2", label: "ม.2" },
        { value: "m3", label: "ม.3" },
        { value: "m4", label: "ม.4" },
        { value: "m5", label: "ม.5" },
        { value: "m6", label: "ม.6" }
      ],
      classDatax: this.$store.state.system.classActive,
      questionList: [],
      columns: [
        {
          name: "no",
          label: "ลำดับ",
          style: "width:120px;",
          align: "center",
          field: "no",
          sortable: false
        },
        {
          name: "question",
          label: "โจทย์",
          align: "left",
          field: "question",
          sortable: false
        },
        {
          name: "order",
          label: "รหัสลำดับ",
          align: "center",
          style: "width:150px;",
          field: "order",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:50px;",
          field: "delete",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:50px;",
          field: "edit",
          sortable: false
        }
      ],
      paginationControl: {
        rowsPerPage: 25
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setLevelActive",
      "setUnitActive",
      "setClassActive",
      "setLinkMenu"
    ]),

    changeMode(type) {
      this.mode = type;
      this.loadquestion();
    },

    deleteBtn(index) {
      var d = new Date();
      var n = d.getTime();
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          var dbref = db
            .collection("placement")
            .doc("draft")
            .collection("data");
          dbref
            .doc(index)
            .delete()
            .then(() => {
              this.notifyRed("ลบข้อมูลเสร็จสิ้น");
              this.isSync = true;
              db.collection("placement")
                .doc("draft")
                .update({
                  savetime: n
                });
            });
        });
    },

    editBtn(index) {
      this.$router.push("/placement/edit/" + index);
    },

    loadquestion() {
      this.setClassActive(this.classDatax);
      let doc;
      if (this.mode == 0) {
        doc = "draft";
      } else {
        doc = "server";
      }
      db.collection("placement")
        .doc(doc)
        .collection("data")
        .where(this.classDatax, "==", true)
        .onSnapshot(doc => {
          this.questionList = [];
          doc.forEach(data => {
            let datax =
              data.data().instructioneng +
              "<br>" +
              data.data().instructionthai +
              "<br><br>";
            if (data.data().question.length > 0) {
              datax = datax + data.data().question + "<br>";
            }

            if (data.data().correct == 1) {
              datax +=
                "<span class='bg-teal-3'>(1) " +
                data.data().choice1 +
                "</span><br>";
            } else {
              datax += "(1) " + data.data().choice1 + "<br>";
            }

            if (data.data().correct == 2) {
              datax +=
                "<span class='bg-teal-3'>(2) " +
                data.data().choice2 +
                "</span><br>";
            } else {
              datax += "(2) " + data.data().choice2 + "<br>";
            }

            if (data.data().choice3.length) {
              if (data.data().correct == 3) {
                datax +=
                  "<span class='bg-teal-3'>(3) " +
                  data.data().choice3 +
                  "</span><br>";
              } else {
                datax += "(3) " + data.data().choice3 + "<br>";
              }
            }

            if (data.data().choice4.length) {
              if (data.data().correct == 4) {
                datax +=
                  "<span class='bg-teal-3'>(4) " +
                  data.data().choice4 +
                  "</span><br>";
              } else {
                datax += "(4) " + data.data().choice4 + "<br>";
              }
            }

            datax +=
              "<br>" +
              "ระดับ Level ที่ใช้วัดผล : Level " +
              data.data().level +
              "<br>";
            if (data.data().p1) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ป.1" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ป.1" +
                "</span>";
            }

            if (data.data().p2) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ป.2" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ป.2" +
                "</span>";
            }

            if (data.data().p3) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ป.3" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ป.3" +
                "</span>";
            }

            if (data.data().p4) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ป.4" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ป.4" +
                "</span>";
            }

            if (data.data().p5) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ป.5" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ป.5" +
                "</span>";
            }

            if (data.data().p6) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ป.6" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ป.6" +
                "</span>";
            }

            datax += "<br>";

            if (data.data().m1) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ม.1" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ม.1" +
                "</span>";
            }

            if (data.data().m2) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ม.2" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ม.2" +
                "</span>";
            }

            if (data.data().m3) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ม.3" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ม.3" +
                "</span>";
            }

            if (data.data().m4) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ม.4" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ม.4" +
                "</span>";
            }

            if (data.data().m5) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ม.5" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ม.5" +
                "</span>";
            }

            if (data.data().m6) {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" checked onclick="return false;">' +
                " ม.6" +
                "</span>";
            } else {
              datax +=
                '<span class="q-mx-md"><input type="checkbox" onclick="return false;">' +
                " ม.6" +
                "</span>";
            }

            let dataadd = {
              qshow: datax,
              key: data.id
            };
            let dataFinal = { ...data.data(), ...dataadd };
            this.questionList.push(dataFinal);
          });
          this.questionList.sort((a, b) => {
            return Number(a.order) - Number(b.order);
          });
          for (let i = 0; i < this.questionList.length; i++) {
            this.questionList[i].no = i + 1;
          }
        });
    },

    syncData() {
      this.$q.loading.show({
        message: "ปล่อยเราทำหน้าที่ของเราเถอะ... เธอพักสัก 5 นาทีนะ"
      });
      var d = new Date();
      var n = d.getTime();
      let _this = this;
      let _thisq = this.$q;
      db.collection("placement")
        .doc("server")
        .collection("data")
        .get()
        .then(doc => {
          //delete exist data in server
          doc.forEach(data => {
            db.collection("placement")
              .doc("server")
              .collection("data")
              .doc(data.id)
              .delete();
          });
          //transfer data from draft to server
          db.collection("placement")
            .doc("draft")
            .collection("data")
            .get()
            .then(doc2 => {
              doc2.forEach(data2 => {
                db.collection("placement")
                  .doc("server")
                  .collection("data")
                  .doc(data2.id)
                  .set(data2.data());
              });

              db.collection("placement")
                .doc("server")
                .update({
                  savetime: n
                })
                .then(() => {
                  _thisq.loading.hide();
                  _this.isSync = false;
                  this.notifyGreen("บันทึกข้อมูลเสร็จสิ้น");
                });
            });
        });
    },

    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadquestion();
  }
};
</script>

<style scoped>
.pointer:hover {
  cursor: pointer;
}
</style>