<template>
  <q-page class="q-pa-md">
    <div align="right" class="q-pa-sm">
      <q-btn icon="fas fa-plus" color="secondary" @click="addBtn()" round/>
    </div>
    <div class="bg-grey-2 q-pa-md">
      <div class="row gutter-sm">
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-select
            label="Level"
            :options="levelList"
            v-model="practice.level"
            @input="loadData()"
            emit-value
          ></q-select>
        </div>
        <div class="col-xs-12 col-sm-6 q-pa-sm">
          <q-select
            label="Unit"
            :options="unitList"
            v-model="practice.unit"
            @input="loadData()"
            emit-value
          ></q-select>
        </div>
      </div>
      <div class="q-mt-xl">
        <q-table
          :data="practiceList"
          :columns="columns"
          row-key="order"
          :pagination.sync="paginationControl"
          class="bg-grey-2"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <template
              v-if="props.row.order == 1000 || props.row.order == 1999 || props.row.order == 2000 || props.row.order == 2999 || props.row.order == 3000 || props.row.order == 3999 || props.row.order == 4000 || props.row.order == 4999 || props.row.order == 5000|| props.row.order == 5999 "
            >
              <q-td key="order" :props="props" class="bgdark text-white">{{ props.row.order }}</q-td>
              <q-td key="name" :props="props" class="bgdark text-white">
                <div style="text-align:center;">=== {{ props.row.name }} ===</div>
              </q-td>
              <q-td key="helper" :props="props" class="bgdark text-white"></q-td>
              <q-td key="delete" :props="props" class="bgdark text-white"></q-td>
              <q-td key="edit" :props="props" class="bgdark text-white"></q-td>
            </template>
            <template v-else>
              <q-td key="order" :props="props">{{ props.row.order }}</q-td>
              <q-td
                key="name"
                :props="props"
              >{{ props.row.name }} - {{practicename(props.row.practicetype,props.row.order)}}</q-td>
              <q-td key="helper" :props="props">{{ props.row.helper }}</q-td>
              <q-td key="delete" :props="props">
                <span @click="deleteBtn(props.row.key, props.row.practicetype)">
                  <q-icon name="fas fa-trash-alt  text-red pointer"/>
                </span>
              </q-td>
              <q-td key="edit" :props="props">
                <span @click="editBtn(props.row.key, props.row.practicetype )">
                  <q-icon name="fas fa-edit  text-amber-7 pointer"/>
                </span>
              </q-td>
            </template>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      practice: {
        level: Number(this.$store.state.system.levelactive),
        unit: Number(this.$store.state.system.unitactive)
      },
      levelList: [],
      unitList: [],
      unitData: [],
      practiceList: [],
      columns: [
        {
          name: "order",
          label: "รหัสลำดับ",
          style: "width:120px;font-size:16px",
          align: "center",
          field: "order",
          sortable: false
        },

        {
          name: "name",
          label: "ชื่อแบบฝึกหัด",
          align: "left",
          style: "font-size:16px;",
          field: "name",
          sortable: false
        },
        {
          name: "helper",
          label: "ข้อมูลช่วยเหลือ",
          align: "center",
          style: "font-size:16px; width:50px;",
          field: "helper",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "font-size:16px; width:50px;",
          field: "delete",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "font-size:16px; width:50px;",
          field: "edit",
          sortable: false
        }
      ],
      paginationControl: {
        rowsPerPage: 0
      }
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),

    practicename(type, orderid) {
      if (type == "teaching VDO") {
        if (orderid > 2000 && orderid < 2999) {
          return "grammar VDO";
        } else if (orderid > 5000 && orderid <= 5200) {
          return "phonics VDO";
        } else if (orderid > 5200) {
          return "language tips VDO";
        }
      } else {
        return type;
      }
    },
    addBtn() {
      this.$router.push(
        "practice/add/" + this.practice.level + "/" + this.practice.unit
      );
    },
    loadLevelData() {
      this.levelList = [];
      this.unitList = [];
      db.collection("level")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.data().name,
              label: doc.data().name.toString()
            };
            this.levelList.push(dataList);
            this.unitData[Number(dataList.value)] = doc.data().unit;
          });
          this.levelList.sort((a, b) => {
            return Number(a.value) - Number(b.value);
          });
          this.loadUnitData();
        });
    },
    loadUnitData() {
      this.unitList = [];
      for (let i = 1; i <= this.unitData[Number(this.practice.level)]; i++) {
        let dataunit = {
          value: i,
          label: i
        };
        this.unitList.push(dataunit);
      }
      this.loadData();
    },
    loadData() {
      this.setLevelActive(this.practice.level);
      this.setUnitActive(this.practice.unit);
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .orderBy("order")
        .onSnapshot(data => {
          this.practiceList = [];
          data.forEach(doc => {
            let datakey = {
              key: doc.id
            };
            let dataFinal = { ...doc.data(), ...datakey };
            this.practiceList.push(dataFinal);
          });
          let datakey = {
            key: "",
            helper: "",
            name: "Vocabulary section",
            order: 1000,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "End of vocabulary section",
            order: 1999,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "Grammar section",
            order: 2000,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "End of grammar section",
            order: 2999,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "Reading section",
            order: 3000,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "End of reading section",
            order: 3999,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "Writing section",
            order: 4000,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "End of writing section",
            order: 4999,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "Listening & speaking section",
            order: 5000,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          datakey = {
            key: "",
            helper: "",
            name: "End of listening & speaking section",
            order: 5999,
            practicetype: ""
          };
          this.practiceList.push(datakey);
          this.practiceList.sort((a, b) => {
            return a.order - b.order;
          });
        });
    },

    async deleteBtn(key, type) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ฉันต้องการลบข้อมูลนี้",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          if (type == "flashcard") {
            this.delflashcarddata(key);
          } else if (type == "matching") {
            this.delmatching(key);
          } else if (type == "spelling bee") {
            this.delspellingbee(key);
          } else if (type == "translation") {
            this.deltranslation(key);
          } else if (type == "dictation") {
            this.deldictation(key);
          } else if (type == "teaching VDO") {
            this.delteachingvdo(key);
          } else if (type == "error detection") {
            this.delerrordetection(key);
          } else if (type == "multiple choices") {
            this.delmultiplechoice(key);
          } else if (type == "conversation VDO") {
            this.delconversation(key);
          } else if (type == "speaking practice") {
            this.delspeaking(key);
          } else if (type == "reading (Multiple choices)") {
            this.delreading(key, type);
          } else if (type == "reading (Fill in the blanks)") {
            this.delreading(key, type);
          } else if (type == "fill in the blanks") {
            this.delfillintheblank(key);
          } else {
            alert("Oop... I'm working.");
          }

          console.log(type);
        });
    },
    async delfillintheblank(key) {
      this.loadingSet(1);

      // Delete : Draft
      let docdatadraft = await db
        .collection("fillintheblank")
        .doc(key)
        .collection("draft")
        .get();

      for (const doc of docdatadraft.docs) {
        let extradata = await db
          .collection("fillintheblank")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of extradata.docs) {
          await db
            .collection("fillintheblank")
            .doc(key)
            .collection("draft")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("fillintheblank")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .delete();
      }

      // Delete : Server
      let docdataserver = await db
        .collection("fillintheblank")
        .doc(key)
        .collection("server")
        .get();

      for (const doc of docdataserver.docs) {
        let extradata = await db
          .collection("fillintheblank")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of extradata.docs) {
          await db
            .collection("fillintheblank")
            .doc(key)
            .collection("server")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("fillintheblank")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .delete();
      }

      // Delete : School Options
      let docdataschool = await db
        .collection("fillintheblank")
        .doc(key)
        .collection("schooloption")
        .get();

      for (const doc of docdataschool.docs) {
        await db
          .collection("fillintheblank")
          .doc(key)
          .collection("schooloption")
          .doc(doc.id)
          .delete();
      }

      await db
        .collection("fillintheblank")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },
    async delreading(key, type) {
      this.loadingSet(1);

      if (type == "reading (Multiple choices)") {
        let docname = "readingmultiple";
      }
      if (type == "reading (Fill in the blanks)") {
        let docname = "readingfillin";
      }

      // Delete : Draft Content
      let docdatacontentdraft = await db
        .collection(docname)
        .doc(key)
        .collection("draft")
        .doc("data")
        .collection("content")
        .doc("data")
        .collection("extraWord")
        .get();

      for (const doc of docdatacontentdraft.docs) {
        await db
          .collection(docname)
          .doc(key)
          .collection("draft")
          .doc("data")
          .collection("content")
          .doc("data")
          .collection("extraWord")
          .doc(doc.id)
          .delete();
      }

      // Delete : Draft practice
      let docdatapracticedraft = await db
        .collection(docname)
        .doc(key)
        .collection("draft")
        .doc("data")
        .collection("practice")
        .get();

      for (const doc of docdatapracticedraft.docs) {
        await db
          .collection(docname)
          .doc(key)
          .collection("draft")
          .doc("data")
          .collection("practice")
          .doc(doc.id)
          .delete();
      }

      // Delete : Server Content
      let docdatacontentserver = await db
        .collection(docname)
        .doc(key)
        .collection("server")
        .doc("data")
        .collection("content")
        .doc("data")
        .collection("extraWord")
        .get();

      for (const doc of docdatacontentserver.docs) {
        await db
          .collection(docname)
          .doc(key)
          .collection("server")
          .doc("data")
          .collection("content")
          .doc("data")
          .collection("extraWord")
          .doc(doc.id)
          .delete();
      }

      // Delete : Server Practice
      let docdatapracticeserver = await db
        .collection(docname)
        .doc(key)
        .collection("server")
        .doc("data")
        .collection("practice")
        .get();

      for (const doc of docdatapracticeserver.docs) {
        await db
          .collection(docname)
          .doc(key)
          .collection("server")
          .doc("data")
          .collection("practice")
          .doc(doc.id)
          .delete();
      }

      let docdataschool = await db
        .collection(docname)
        .doc(key)
        .collection("schooloption")
        .get();

      for (const doc of docdataschool.docs) {
        await db
          .collection(docname)
          .doc(key)
          .collection("schooloption")
          .doc(doc.id)
          .delete();
      }

      this.delpracticelist(key);

      this.loadingSet(0);
    },
    async delspeaking(key) {
      this.loadingSet(1);

      let docdataschool = await db.collection("schooltype").get();

      for (const doc of docdataschool.docs) {
        await db
          .collection("speaking")
          .doc(key)
          .collection(doc.data().name)
          .doc("data")
          .delete();
      }

      await db
        .collection("speaking")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },
    async delconversation(key) {
      this.loadingSet(1);

      let docdata = await db
        .collection("conversation")
        .doc(key)
        .collection("dialog")
        .get();

      for (const doc of docdata.docs) {
        await db
          .collection("conversation")
          .doc(key)
          .collection("dialog")
          .doc(doc.id)
          .delete();
      }

      await db
        .collection("conversation")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },
    async delmultiplechoice(key) {
      this.loadingSet(1);

      let docdatadraft = await db
        .collection("multiplechoice")
        .doc(key)
        .collection("draft")
        .get();

      for (const doc of docdatadraft.docs) {
        let extradata = await db
          .collection("multiplechoice")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of extradata.docs) {
          await db
            .collection("multiplechoice")
            .doc(key)
            .collection("draft")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("multiplechoice")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .delete();
      }

      let docdataserver = await db
        .collection("multiplechoice")
        .doc(key)
        .collection("server")
        .get();

      for (const doc of docdataserver.docs) {
        let extradata = await db
          .collection("multiplechoice")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of extradata.docs) {
          await db
            .collection("multiplechoice")
            .doc(key)
            .collection("server")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("multiplechoice")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .delete();
      }

      let docdataschool = await db
        .collection("multiplechoice")
        .doc(key)
        .collection("schooloption")
        .get();

      for (const doc of docdataschool.docs) {
        await db
          .collection("multiplechoice")
          .doc(key)
          .collection("schooloption")
          .doc(doc.id)
          .delete();
      }

      await db
        .collection("multiplechoice")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },
    async delerrordetection(key) {
      this.loadingSet(1);

      let docdatadraft = await db
        .collection("errordetection")
        .doc(key)
        .collection("draft")
        .get();

      for (const doc of docdatadraft.docs) {
        let extradata = await db
          .collection("errordetection")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of extradata.docs) {
          await db
            .collection("errordetection")
            .doc(key)
            .collection("draft")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("errordetection")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .delete();
      }

      let docdataserver = await db
        .collection("errordetection")
        .doc(key)
        .collection("server")
        .get();

      for (const doc of docdataserver.docs) {
        let extradata = await db
          .collection("errordetection")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of extradata.docs) {
          await db
            .collection("errordetection")
            .doc(key)
            .collection("server")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("errordetection")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .delete();
      }

      let docdataschool = await db
        .collection("errordetection")
        .doc(key)
        .collection("schooloption")
        .get();

      for (const doc of docdataschool.docs) {
        await db
          .collection("errordetection")
          .doc(key)
          .collection("schooloption")
          .doc(doc.id)
          .delete();
      }

      await db
        .collection("errordetection")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },

    async delteachingvdo(key) {
      this.loadingSet(1);

      let docdata = await db
        .collection("trainingvdo")
        .doc(key)
        .collection("slide")
        .get();

      for (const doc of docdata.docs) {
        await db
          .collection("trainingvdo")
          .doc(key)
          .collection("slide")
          .doc(doc.id)
          .delete();
      }

      await db
        .collection("trainingvdo")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },
    async delflashcarddata(key) {
      this.loadingSet(1);

      // Delete : Draft
      let docdatadraft = await db
        .collection("flashcard")
        .doc(key)
        .collection("draft")
        .get();

      for (const doc of docdata.docs) {
        let extradata = await db
          .collection("flashcard")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of extradata.docs) {
          await db
            .collection("flashcard")
            .doc(key)
            .collection("draft")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("flashcard")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .delete();
      }

      let docdataserver = await db
        .collection("flashcard")
        .doc(key)
        .collection("server")
        .get();

      for (const doc of docdata.docs) {
        let extradata = await db
          .collection("flashcard")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .collection("extraVocab")
          .get();

        for (const extra of extradata.docs) {
          await db
            .collection("flashcard")
            .doc(key)
            .collection("server")
            .doc(doc.id)
            .collection("extraVocab")
            .doc(extra.id)
            .delete();
        }

        await db
          .collection("flashcard")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .delete();
      }

      await db
        .collection("flashcard")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(1);
    },
    async delmatching(key) {
      this.loadingSet(1);

      let docdataschool = await db.collection("schooltype").get();

      for (const doc of docdataschool.docs) {
        await db
          .collection("matching")
          .doc(key)
          .collection(doc.data().name)
          .doc("data")
          .delete();
      }

      await db
        .collection("matching")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },
    async delspellingbee(key) {
      this.loadingSet(1);

      let docdataschool = await db.collection("schooltype").get();

      for (const doc of docdataschool.docs) {
        await db
          .collection("spellingbee")
          .doc(key)
          .collection(doc.data().name)
          .doc("data")
          .delete();
      }

      await db
        .collection("spellingbee")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },
    async deltranslation(key) {
      this.loadingSet(1);

      let docdata = await db
        .collection("translation")
        .doc(key)
        .collection("draft")
        .get();

      for (const doc of docdata.docs) {
        await db
          .collection("translation")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .delete();
      }

      docdata = await db
        .collection("translation")
        .doc(key)
        .collection("server")
        .get();

      for (const doc of docdata.docs) {
        await db
          .collection("translation")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .delete();
      }

      docdata = await db
        .collection("translation")
        .doc(key)
        .collection("schooloption")
        .get();

      for (const doc of docdata.docs) {
        await db
          .collection("translation")
          .doc(key)
          .collection("schooloption")
          .doc(doc.id)
          .delete();
      }

      await db
        .collection("translation")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },

    async deldictation(key) {
      this.loadingSet(1);

      let docdata = await db
        .collection("dictation")
        .doc(key)
        .collection("draft")
        .get();

      for (const doc of docdata.docs) {
        await db
          .collection("dictation")
          .doc(key)
          .collection("draft")
          .doc(doc.id)
          .delete();
      }

      docdata = await db
        .collection("dictation")
        .doc(key)
        .collection("server")
        .get();

      for (const doc of docdata.docs) {
        await db
          .collection("dictation")
          .doc(key)
          .collection("server")
          .doc(doc.id)
          .delete();
      }

      docdata = await db
        .collection("dictation")
        .doc(key)
        .collection("schooloption")
        .get();

      for (const doc of docdata.docs) {
        await db
          .collection("dictation")
          .doc(key)
          .collection("schooloption")
          .doc(doc.id)
          .delete();
      }

      await db
        .collection("dictation")
        .doc(key)
        .delete();

      this.delpracticelist(key);

      this.loadingSet(0);
    },

    async delpracticelist(key) {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(key)
        .delete();
    },

    editBtn(key, type) {
      if (type == "flashcard") {
        this.$router.push(
          "/practice/flashcard/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "spelling bee") {
        this.$router.push(
          "/practice/spellingbee/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit
        );
      } else if (type == "matching") {
        this.$router.push(
          "/practice/matching/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit
        );
      } else if (type == "fill in the blanks") {
        this.$router.push(
          "/practice/fillintheblank/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "dictation") {
        this.$router.push(
          "/practice/dictation/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "translation") {
        this.$router.push(
          "/practice/translation/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "multiple choices") {
        this.$router.push(
          "/practice/multiplechoice/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "reading (Fill in the blanks)") {
        this.$router.push(
          "/practice/readingfillin/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "reading (Multiple choices)") {
        this.$router.push(
          "/practice/readingmultiple/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "error detection") {
        this.$router.push(
          "/practice/errordetection/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "teaching VDO") {
        this.$router.push(
          "/practice/teachingvdo/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "conversation VDO") {
        this.$router.push(
          "/practice/conversation/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit +
            "/0"
        );
      } else if (type == "speaking practice") {
        this.$router.push(
          "/practice/speaking/" +
            key +
            "/" +
            this.practice.level +
            "/" +
            this.practice.unit
        );
      } else {
        alert("Oop!... I'm working" + key + type);
      }
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadLevelData();
  }
};
</script>

<style scoped>
.pointer:hover {
  cursor: pointer;
}
.bgdark {
  background-color: #333c4b;
}
</style>
