<template>
  <q-page class="q-pa-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          L{{this.$route.params.level}} / U {{this.$route.params.unit}}
          <hr>
        </h5>
      </div>
      <div class="box-content-practice">
        <div class="row q-mb-sm">
          <div class="col-xl-12 col-xs-12">
            <q-input
              outlined
              v-model="practice.order"
              class="q-pa-sm"
              type="number"
              label="รหัสลำดับ"
              placeholder="รหัสลำดับมีค่าตั้งแต่ 1000 - 6000"
              ref="order"
              :rules="[v => v >= 1001 || '', v1 => v1 != 1000 || '',v2 => v2 != 1999 || '',v3 => v3 != 2000 || '',v4 => v4 != 2999 || '',v5 => v5 != 3000 || '',v6 => v6 != 3999 || '',v7 => v7 != 4000 || '',v8 => v8 != 4999 || '',v9 => v9 != 5000 || '',v10 => v10 != 5999 || '',v11 => v11 != 6000 || '',v12 => v12 <= 6000 || '']"
            />
            <span class="text-grey-8 q-pl-md q-pt-md q-pb-md" v-html="practiceword"></span>
          </div>
          <div class="col-xl-12 col-xs-12">
            <q-select
              outlined
              emit-value
              map-options
              :options="practiceTypeList"
              v-model="practice.practicetype"
              label="ประเภทแบบฝึกหัด"
              class="q-pa-sm"
            />
          </div>
          <div class="col-xl-12 col-xs-12">
            <q-input
              outlined
              v-model="practice.name"
              class="q-pa-sm"
              label="ชื่่อแบบฝึกหัด"
              placeholder="ชื่่อแบบฝึกหัด"
            />
          </div>
        </div>
      </div>
      <div
        class="row q-mb-sm"
        v-show="practiceword =='Listening & Speaking' && practice.practicetype=='multiple choices'"
      >
        <div class="col-xl-6 col-xs-12">
          <q-select
            emit-value
            map-options
            :options="teachingList"
            v-model="practice.helper"
            label="ตัวช่วย"
            class="q-pa-sm"
          />
        </div>
      </div>

      <div class="row justify-center q-pt-lg q-pb-md">
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="ยกเลิก"
            @click="cancelBtn()"
            color="red-7"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
        <div class="q-pt-sm q-pb-sm q-pl-sm">
          <q-btn
            label="บันทึก"
            @click="saveBtn()"
            color="teal-5"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      practice: {
        practicetype: "conversation VDO",
        helper: "Phonics",
        order: ""
      },
      practiceTypeList: [],
      teachingList: [
        { value: "Phonics", label: "Phonics VDO" },
        { value: "Tips", label: "Language Tips" },
        { value: "Conversation", label: "Conversation VDO" }
      ],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    async loadPracticeType() {
      //check flashcard exist
      //สามารถ add flashcard ได้ 1 อันต่อ unit เท่านั้น
      let levelunit =
        "L" + this.$route.params.level + "U" + this.$route.params.unit;
      var dataflashcard = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .where("practicetype", "==", "flashcard")
        .get();

      db.collection("practicetype")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataAdd = {
              label: doc.data().name,
              value: doc.data().name
            };
            if (doc.data().name != "flashcard") {
              this.practiceTypeList.push(dataAdd);
            } else if (dataflashcard.empty == true) {
              this.practiceTypeList.push(dataAdd);
            }
          });
          this.practice.practicetype = this.practiceTypeList[0].value;
        });
    },

    cancelBtn() {
      this.$router.push("/practice");
    },

    saveBtn() {
      if (this.practiceworld == "Vocabulary") {
        if (
          this.practice.practicetype == "spelling bee" ||
          this.practice.practicetype == "matching" ||
          this.practice.practicetype == "multiple choices" ||
          this.practice.practicetype == "fill in the blanks"
        ) {
          this.practice.helper = "flashcard";
        } else {
          this.practice.helper = "";
        }
      } else if (this.practiceworld == "Grammar") {
        if (
          this.practice.practicetype == "error detection" ||
          this.practice.practicetype == "multiple choices" ||
          this.practice.practicetype == "fill in the blanks"
        ) {
          this.practice.helper = "Grammar VDO";
        } else {
          this.practice.helper = "";
        }
      } else if (this.practiceworld == "Reading") {
        this.practice.helper = "";
      } else if (this.practiceworld == "Writing") {
        this.practice.helper = "";
      } else {
        if (
          this.practice.practicetype == "conversation VDO" ||
          this.practice.practicetype == "teaching VDO" ||
          this.practice.practicetype == "speaking practice"
        ) {
          this.practice.helper = "";
        }
      }
      let levelunit =
        "L" + this.$route.params.level + "U" + this.$route.params.unit;
      db.collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .add({
          practicetype: this.practice.practicetype,
          name: this.practice.name,
          order: Number(this.practice.order),
          helper: this.practice.helper
        });

      this.$q.notify({
        color: "secondary",
        position: "top",
        icon: "done",
        message: `บันทึกข้อมูลเรียบร้อยแล้ว`,
        timeout: 500
      });
      this.$router.push("/practice");
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  computed: {
    practiceword: function() {
      if (this.practice.order < 1999 && this.practice.order >= 1001) {
        return "Vocabulary รหัสลำดับตั้งแต่ 1001 - 1998";
      } else if (this.practice.order < 2999 && this.practice.order >= 2001) {
        if (this.practice.practicetype == "teaching VDO") {
          return "Grammar VDO";
        } else {
          return "Grammar รหัสลำดับตั้งแต่ 2001 - 2998";
        }
      } else if (this.practice.order < 3999 && this.practice.order >= 3001) {
        return "Reading รหัสลำดับตั้งแต่ 3001 - 3998";
      } else if (this.practice.order < 4999 && this.practice.order >= 4001) {
        return "Writing รหัสลำดับตั้งแต่ 4001 - 4998";
      } else if (this.practice.order < 5999 && this.practice.order >= 5001) {
        if (
          this.practice.practicetype == "teaching VDO" &&
          this.practice.order <= 5200
        ) {
          return "Phonics VDO";
        } else if (
          this.practice.practicetype == "teaching VDO" &&
          this.practice.order > 5200
        ) {
          return "Language Tips VDO";
        } else {
          return "Listening & Speaking รหัสลำดับตั้งแต่  5001 - 5998";
        }
      }
    },
    practiceworld: function() {
      if (this.practice.order < 1999 && this.practice.order >= 1001) {
        return "Vocabulary";
      } else if (this.practice.order < 2999 && this.practice.order >= 2001) {
        return "Grammar";
      } else if (this.practice.order < 3999 && this.practice.order >= 3001) {
        return "Reading";
      } else if (this.practice.order < 4999 && this.practice.order >= 4001) {
        return "Writing";
      } else if (this.practice.order < 5999 && this.practice.order >= 5001) {
        return "Listening & Speaking";
      }
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadPracticeType();
  }
};
</script>
