<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <div align="right" class="q-pa-sm q-mb-sm">
      <q-btn icon="fas fa-plus" class="q-ma-sm" color="secondary" to="/preposttest/add" round />
    </div>
    <div class="bg-grey-2">
      <div class="box-content-practice">
        <div class="row items-center q-pa-lg">
          <div class="col-xl-12 col-xs-12">
            <q-select
              :options="useOption"
              v-model="selectedStatus"
              label="แสดงสถานะ"
              class="q-pa-sm"
              @input="changeStatusBtn(selectedStatus)"
              emit-value
              map-options
              outlined
            />
          </div>
        </div>
      </div>
      <q-table
        :data="dataShow"
        :columns="columns"
        row-key="key"
        :pagination.sync="pagination"
        separator="cell"
        class="bg-grey-2"
      >
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td key="runNumber" :props="props">
            <span>{{props.row.__index + 1}}</span>
          </q-td>
          <q-td key="schoolName" style="text-align:left;" :props="props" align="left">
            <span>{{props.row.schoolName}}</span>
          </q-td>
          <q-td key="academicyear" :props="props">
            <span>{{props.row.academicYear}}</span>
          </q-td>
          <q-td key="room" :props="props">
            <span>{{props.row.room}}</span>
          </q-td>
          <q-td key="preposttest" :props="props">
            <span>{{props.row.preposttest}}</span>
          </q-td>
          <q-td key="delete" :props="props">
            <span @click="deleteBtn(props.row.key)">
              <q-icon name="fas fa-trash-alt text-red pointer" />
            </span>
          </q-td>
          <q-td key="reSet" :props="props">
            <span @click="resetBtn(props.row.key,props.row.schoolCode)">
              <q-icon name="fas fa-redo-alt text-amber-7 pointer" />
            </span>
          </q-td>
          <q-td key="status" :props="props">
            <span v-if="props.row.isUse" @click="checkUseBtn(props.row.key,false)">
              <q-icon name="fas fa-check text-teal-5 pointer" />
            </span>
            <span v-if="!props.row.isUse" @click="checkUseBtn(props.row.key,true)">
              <q-icon name="fas fa-check text-grey-10 pointer" />
            </span>
          </q-td>
        </q-tr>
      </q-table>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      selectedStatus: "ทั้งหมด",
      useOption: [
        {
          label: "ทั้งหมด",
          value: "ทั้งหมด"
        },
        {
          label: "เปิดใช้งาน",
          value: true
        },
        {
          label: "ปิดใช้งาน",
          value: false
        }
      ],
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "runNumber",
          label: "ลำดับ",
          align: "center",
          style: "width:100px;",
          sortable: false
        },
        {
          name: "schoolName",
          label: "ชื่อโรงเรียน",
          align: "center",
          sortable: false
        },
        {
          name: "academicyear",
          label: "ปีการศึกษา",
          align: "center",
          sortable: false,
          style: "width:100px;"
        },
        {
          name: "room",
          label: "ระดับชั้น",
          align: "center",
          sortable: false,
          style: "width:100px;"
        },
        {
          name: "preposttest",
          label: "ประเภท",
          align: "center",
          sortable: false,
          style: "width:100px;"
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          sortable: false,
          style: "width:100px;"
        },
        {
          name: "reSet",
          label: "รีเซตคะแนน",
          align: "center",
          sortable: false,
          style: "width:100px;"
        },
        {
          name: "status",
          label: "สถานะ",
          align: "center",
          sortable: false,
          style: "width:100px;"
        }
      ]
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    async changeStatusBtn(type) {
      if (type == "ทั้งหมด") {
        this.loadBasicData();
      } else {
        let data = await db
          .collection("preposttest")
          .where("isUse", "==", type);

        data.onSnapshot(doc => {
          this.dataShow = [];
          let runNumber = 1;

          doc.forEach(value => {
            let dataKey = {
              key: value.id,
              runNumber: runNumber++
            };

            let dataFinal = {
              ...value.data(),
              ...dataKey
            };

            this.dataShow.push(dataFinal);
            this.dataShow.sort((a, b) => {
              return a.schoolName > b.schoolName ? 1 : -1;
            });
          });
        });
      }
    },
    resetBtn(key, code) {
      this.$router.push("/preposttest/reset/" + key + "/" + code);
    },
    checkUseBtn(key, use) {
      this.$q
        .dialog({
          title: "แจ้งเตือน",
          message: "คุณต้องการเปิด/ปิดการทดสอบใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("preposttest")
            .doc(key)
            .update({
              isUse: use
            });
          this.notifyGreen("เปลื่ยนเรียบร้อยแล้ว");
        })
        .onCancel(() => {});
    },
    deleteBtn(key) {
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("preposttest")
            .doc(key)
            .delete();
          this.notifyGreen("ลบข้อมูลเรียบร้อยแล้ว");
        })
        .onCancel(() => {});
    },
    async loadBasicData() {
      let data = await db.collection("preposttest");

      data.onSnapshot(doc => {
        this.dataShow = [];
        let runNumber = 1;

        doc.forEach(value => {
          let dataKey = {
            key: value.id,
            runNumber: runNumber++
          };

          let dataFinal = {
            ...value.data(),
            ...dataKey
          };

          this.dataShow.push(dataFinal);
          this.dataShow.sort((a, b) => {
            return a.schoolName > b.schoolName ? 1 : -1;
          });
        });

        this.loadingSet(0);
      });
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadBasicData();
    this.loadingSet(1);
  }
};
</script>
