<template>
  <q-page class="q-pr-md q-pl-md q-pt-md">
    <q-resize-observer @resize="onResize"/>
    <div class="bg-grey-2 q-pa-md">
      <h5 align="center" class="no-margin q-pa-sm">เพิ่มแบบทดสอบ
        <hr>
      </h5>

      <div class="box-content-practice">
        <div class="row q-pt-md q-pb-md q-mt-xs justify-center">
          <div class="col-xl-12 col-xs-12 q-pa-sm">
            <q-select
              outlined
              :options="academicYearOption"
              class="q-pa-sm"
              label="ปีการศึกษา"
              v-model="dataSetting.academicYear"
              emit-value
              map-options
            />
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-sm">
            <q-select
              outlined
              :options="schoolOption"
              v-model="dataSetting.schoolCode"
              @input="getSchoolNameBtn(dataSetting.schoolCode)"
              label="ชื่อโรงเรียน"
              class="q-pa-sm"
              emit-value
              map-options
            />
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-sm">
            <q-select
              outlined
              :options="roomOption"
              class="q-pa-sm"
              label="ระดับชั้น"
              v-model="dataSetting.room"
              emit-value
              map-options
            />
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-sm">
            <q-select
              outlined
              :options="prepostOption"
              class="q-pa-sm"
              label="แบบทดสอบ"
              v-model="dataSetting.preposttest"
              emit-value
              map-options
            />
          </div>
          <div class="col-md-4 col-xs-12 q-pa-sm">
            <q-select
              outlined
              :options="numberOptions"
              class="q-pa-sm"
              label="Unit เริ่มต้น"
              v-model="dataSetting.unitstart"
              emit-value
              map-options
            />
          </div>
          <div class="col-md-4 col-xs-12 q-pa-sm">
            <q-select
              outlined
              :options="numberOptions"
              class="q-pa-sm"
              label="Unit สุดท้าย"
              v-model="dataSetting.unitend"
              emit-value
              map-options
            />
          </div>
          <div class="col-md-4 col-xs-12 q-pa-sm">
            <q-select
              outlined
              :options="timeOption"
              class="q-pa-sm"
              label="ระยะเวลา"
              v-model="dataSetting.time"
              emit-value
              map-options
            />
          </div>
        </div>
      </div>

      <div class="row justify-center q-pt-lg q-pb-md">
        <div class="q-pt-sm q-pb-sm">
          <q-btn
            label="ยกเลิก"
            @click="cancelBtn()"
            color="red-7"
            class="q-ma-sm"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
        <div class="q-pt-sm q-pb-sm">
          <q-btn
            label="บันทึก"
            @click="saveBtn()"
            color="teal-5"
            class="q-ma-sm"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      dataSetting: {
        academicYear: "1/2561",
        schoolCode: "",
        schoolName: "",
        room: "ป.1",
        preposttest: "Pre-test",
        unitstart: 1,
        unitend: 1,
        time: 45,
        isUse: true
      },
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      roomOption: [
        {
          label: "ป.1",
          value: "ป.1"
        },
        {
          label: "ป.2",
          value: "ป.2"
        },
        {
          label: "ป.3",
          value: "ป.3"
        },
        {
          label: "ป.4",
          value: "ป.4"
        },
        {
          label: "ป.5",
          value: "ป.5"
        },
        {
          label: "ป.6",
          value: "ป.6"
        },
        {
          label: "ม.1",
          value: "ม.1"
        },
        {
          label: "ม.2",
          value: "ม.2"
        },
        {
          label: "ม.3",
          value: "ม.3"
        },
        {
          label: "ม.4",
          value: "ม.4"
        },
        {
          label: "ม.5",
          value: "ม.5"
        },
        {
          label: "ม.6",
          value: "ม.6"
        }
      ],
      timeOption: [
        {
          label: "15 นาที",
          value: 15
        },
        {
          label: "30 นาที",
          value: 30
        },
        {
          label: "45 นาที",
          value: 45
        },
        {
          label: "60 นาที",
          value: 60
        }
      ],
      academicYearOption: [
        {
          label: "1/2561",
          value: "1/2561"
        },
        {
          label: "2/2561",
          value: "2/2561"
        },
        {
          label: "1/2562",
          value: "1/2562"
        },
        {
          label: "2/2562",
          value: "2/2562"
        },
        {
          label: "1/2563",
          value: "1/2563"
        },
        {
          label: "2/2563",
          value: "2/2563"
        },
        {
          label: "1/2564",
          value: "1/2564"
        },
        {
          label: "2/2564",
          value: "2/2564"
        },
        {
          label: "1/2565",
          value: "1/2565"
        },
        {
          label: "2/2565",
          value: "2/2565"
        }
      ],
      schoolOption: [],
      prepostOption: [
        {
          label: "Pre-test",
          value: "Pre-test"
        },
        {
          label: "Post-test",
          value: "Post-test"
        }
      ]
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    async getSchoolNameBtn(code) {
      let dataString = code.toString();

      let data = await db
        .collection("school")
        .doc(dataString)
        .get();

      this.dataSetting.schoolName = data.data().name;
    },
    cancelBtn() {
      this.$router.push("/preposttest");
    },
    saveBtn() {
      db.collection("preposttest").add(this.dataSetting);

      this.$router.push("/preposttest");
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    // ------------------ โหลดข้อมูล -------------------------------------------
    async loadSchool() {
      let loadSchool = await db
        .collection("school")
        .orderBy("name")
        .get();

      loadSchool.forEach(doc => {
        let dataKey = {
          key: doc.data().code,
          label: doc.data().name,
          value: doc.data().code
        };

        this.schoolOption.push(dataKey);
        this.dataSetting.schoolCode = this.schoolOption[0].value;
        this.dataSetting.schoolName = this.schoolOption[0].label;
      });

      this.loadingSet(0);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadSchool();
    this.loopOptionsNumber();
    this.loopOptionsNumber(1, 20);
    this.loadingSet(1);
  }
};
</script>