<template>
  <q-page class="q-pa-md">
    <div class="bg-grey-2 q-pa-md">
      <h5 align="center" class="no-margin q-pa-sm">
        โรงเรียน{{dataSchool.name}} | {{dataSchool.academicYear}} | {{dataSchool.type}}
        <hr />
      </h5>

      <div class>
        <div class="row q-pt-md q-pb-md q-mt-xs justify-center">
          <div class="col-xl-12 col-xs-12 q-pa-sm">
            <q-select
              outlined
              :options="typeOption"
              class="q-pa-sm"
              label="เลือกประเภท"
              v-model="chooseType"
              transition-show="jump-up"
              transition-hide="jump-up"
              emit-value
              map-options
              @input="changeType()"
            />
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-sm" v-show="changePage == 1">
            <q-select
              outlined
              :options="classList"
              class="q-pa-sm"
              label="ห้อง"
              v-model="dataStudent.class"
              transition-show="jump-up"
              transition-hide="jump-up"
            />
          </div>
          <div v-show="changePage == 2" class="col-12">
            <div class="col-ms-12 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                label="เลขประจำตัว"
                v-model.lazy="dataStudent.code"
                ref="code"
                @blur="findStudent()"
                @keyup.enter="findStudent()"
              />
            </div>
            <div class="col-ms-12 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                label="ชื่อ-นามสกุล"
                v-model="dataStudent.fullname"
                readonly
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-center q-pt-lg q-pb-md">
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="ยกเลิก"
            @click="cancelBtn()"
            color="red-7"
            class="q-ma-sm"
            style="width:130px"
          ></q-btn>
        </div>
        <div class="q-pt-sm q-pb-sm q-pl-sm">
          <q-btn
            label="รีเซ็ต"
            @click="resetBtn()"
            color="teal-5"
            class="q-ma-sm"
            style="width:130px"
            :disable="!isReset"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";

export default {
  data() {
    return {
      chooseType: 1,
      typeOption: [
        {
          label: "ระดับห้อง",
          value: 1
        },
        {
          label: "รายบุคคล",
          value: 2
        }
      ],
      changePage: 1,
      dataSchool: {
        name: "",
        academicYear: "",
        type: "",
        code: ""
      },
      classList: [],
      dataStudent: {
        class: "",
        code: "",
        fullname: "",
        id: ""
      },
      isReset: true
    };
  },
  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),
    cancelBtn() {
      this.$router.push("/preposttest");
    },
    changeType() {
      if (this.chooseType == 1) {
        this.changePage = 1;
        this.isReset = true;
      } else {
        this.changePage = 2;
        this.dataStudent.code = "";
        this.dataStudent.fullname = "";
        this.isReset = false;
      }
    },

    loadBasicData() {
      // โหลดชื่อโรงเรียน ปีการศึกษา
      this.dataSchool.academicYear = this.$route.params.key.replace("-", "/");
      this.dataSchool.code = this.$route.params.code;
      db.collection("school")
        .doc(this.dataSchool.code)
        .get()
        .then(data => {
          this.dataSchool.name = data.data().name;
        });

      // โหลดประเภทแบบทดสอบ
      let docName = this.$route.params.key + "-" + this.$route.params.code;
      db.collection("pretestposttest")
        .doc(docName)
        .get()
        .then(data => {
          if (data.data().testType == "preTest") {
            this.dataSchool.type = "Pre-test";
          } else {
            this.dataSchool.type = "Post-test";
          }
        });

      // โหลด ลิชของห้อง
      docName =
        this.$route.params.code +
        "_" +
        this.$route.params.key.replace("-", "_");

      db.collection("academicyear")
        .doc(docName)
        .get()
        .then(data => {
          if (data.data().isP1) {
            for (let i = 1; i <= data.data().roomP1; i++) {
              let roomName = "ป.1/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isP2) {
            for (let i = 1; i <= data.data().roomP2; i++) {
              let roomName = "ป.2/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isP3) {
            for (let i = 1; i <= data.data().roomP3; i++) {
              let roomName = "ป.3/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isP4) {
            for (let i = 1; i <= data.data().roomP4; i++) {
              let roomName = "ป.4/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isP5) {
            for (let i = 1; i <= data.data().roomP5; i++) {
              let roomName = "ป.5/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isP6) {
            for (let i = 1; i <= data.data().roomP6; i++) {
              let roomName = "ป.6/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isM1) {
            for (let i = 1; i <= data.data().roomM1; i++) {
              let roomName = "ม.1/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isM2) {
            for (let i = 1; i <= data.data().roomM2; i++) {
              let roomName = "ม.2/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isM3) {
            for (let i = 1; i <= data.data().roomM3; i++) {
              let roomName = "ม.3/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isM4) {
            for (let i = 1; i <= data.data().roomM4; i++) {
              let roomName = "ม.4/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isM5) {
            for (let i = 1; i <= data.data().roomM5; i++) {
              let roomName = "ม.5/" + i;
              this.classList.push(roomName);
            }
          }
          if (data.data().isM6) {
            for (let i = 1; i <= data.data().roomM6; i++) {
              let roomName = "ม.6/" + i;
              this.classList.push(roomName);
            }
          }
          this.dataStudent.class = this.classList[0];
        });
    },
    resetBtn() {
      let testKey = this.$route.params.key + "-" + this.$route.params.code;
      let testType;
      if (this.dataSchool.type == "Pre-test") {
        testType = "preTest";
      } else {
        testType = "postTest";
      }
      if (this.chooseType == 1) {
        db.collection("pretestposttestlog")
          .where("testType", "==", testType)
          .where("testKey", "==", testKey)
          .where("studentroom", "==", this.dataStudent.class)
          .get()
          .then(doc => {
            doc.forEach(data => {
              db.collection("pretestposttestlog")
                .doc(data.id)
                .delete()
                .then(() => {
                  this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
                });
            });
          });
      } else {
        db.collection("pretestposttestlog")
          .where("testType", "==", testType)
          .where("testKey", "==", testKey)
          .where("studentid", "==", this.dataStudent.id)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              doc.forEach(data => {
                db.collection("pretestposttestlog")
                  .doc(data.id)
                  .delete()
                  .then(() => {
                    this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
                  });
              });
            }
          });
      }
    },
    findStudent() {
      let studentid;
      db.collection("school")
        .doc(this.dataSchool.code)
        .collection("student")
        .where("studentid", "==", Number(this.dataStudent.code))
        .get()
        .then(doc => {
          if (doc.size == 0) {
            this.dataStudent.fullname = "ไม่พบข้อมูล";
            this.isReset = false;
          } else {
            doc.forEach(data => {
              this.dataStudent.fullname =
                data.data().name + " " + data.data().surname;
              this.isReset = true;
              this.dataStudent.id = data.id;
              studentid = data.id;
              db.collection("course")
                .where("studentid", "==", studentid)
                .where("academicYear", "==", this.dataSchool.academicYear)
                .get()
                .then(doc2 => {
                  if (doc2.size == 0) {
                    this.dataStudent.fullname =
                      "นักเรียนคนนี้ไม่มีข้อมูลเทอมนี้";
                    this.isReset = false;
                  }
                });
            });
          }
        });
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadBasicData();
    // this.loadingSet(1);
  }
};
</script>
<style scoped>
.brx {
  border: 1px solid red;
}
</style>
