<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <div class="bg-grey-2">
      <div class="box-content-practice">
        <div class="row items-center q-pa-lg">
          <div class="col-xl-12 col-xs-12">
            <q-select
              :options="academicyearList"
              v-model="academicYear"
              label="ปีการศึกษา"
              class="q-pa-sm"
              @input="checkSchool()"
              emit-value
              map-options
              outlined
            />
          </div>
        </div>
      </div>
      <q-table
        :data="dataShow"
        :columns="columns"
        row-key="key"
        :pagination.sync="pagination"
        separator="cell"
        class="bg-grey-2"
      >
        <q-tr slot="body" slot-scope="props" :props="props">
          <q-td key="runNumber" :props="props">
            <span>{{props.row.schoolCode}}</span>
          </q-td>
          <q-td key="schoolName" style="text-align:left;" :props="props" align="left">
            <span>โรงเรียน{{props.row.schoolName}}</span>
          </q-td>
          <q-td key="status" :props="props">
            <q-btn
              :color="colorBtn(props.row.isUse,props.row.testType)"
              :label="labelBtn(props.row.isUse,props.row.testType)"
              @click="changeStatusBtn(props.row.isUse, props.row.testType,props.row.schoolCode,props.row.schoolName,props.row.__index)"
              style="width:130px;"
            />
          </q-td>
          <q-td key="reSet" :props="props">
            <q-btn
              :disable="props.row.isUse == false"
              :flat="props.row.isUse==false"
              @click="resetBtn(props.row.schoolCode)"
            >
              <q-icon
                name="fas fa-redo-alt pointer"
                :class="props.row.isUse==false? 'text-grey' : 'text-negative'"
              />
            </q-btn>
          </q-td>
        </q-tr>
      </q-table>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      academicyearList: [
        { label: "1/2562", value: "1/2562" },
        { label: "2/2562", value: "2/2562" },
        { label: "1/2563", value: "1/2563" },
        { label: "2/2563", value: "2/2563" },
        { label: "1/2564", value: "1/2564" },
        { label: "2/2564", value: "2/2564" },
        { label: "1/2565", value: "1/2565" },
        { label: "2/2565", value: "2/2565" }
      ],
      academicYear: "1/2562",
      dataShow: [],
      dataSnapshot: null,
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "runNumber",
          label: "รหัสโรงเรียน",
          align: "center",
          style: "width:100px;",
          sortable: false
        },
        {
          name: "schoolName",
          label: "ชื่อโรงเรียน",
          align: "center",
          sortable: false
        },
        {
          name: "status",
          label: "สถานะ",
          align: "center",
          sortable: false,
          style: "width:150px;"
        },

        {
          name: "reSet",
          label: "รีเซตคะแนน",
          align: "center",
          sortable: false,
          style: "width:100px;"
        }
      ]
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    labelBtn(isUse, type) {
      if (isUse) {
        if (isUse && type == "preTest") {
          return "Pre-test";
        } else if (isUse && type == "postTest") {
          return "Post-test";
        }
      } else {
        return "ปิดการใช้งาน";
      }
    },
    colorBtn(isUse, type) {
      if (isUse) {
        if (isUse && type == "preTest") {
          return "indigo";
        } else if (isUse && type == "postTest") {
          return "teal";
        }
      } else {
        return "negative";
      }

      // if (this.dataTemp[index] == "preTest") {
      //   return "indigo";
      // } else if (this.dataTemp[index] == "postTest") {
      //   return "teal";
      // } else {
      //   return "negative";
      // }
    },
    resetBtn(code) {
      this.$router.push(
        "/preposttest/reset/" + this.academicYear.replace("/", "-") + "/" + code
      );
    },

    loadBasicData() {
      this.dataShow = [];
      this.dataSnapshot = db
        .collection("pretestposttest")
        .where("academicYear", "==", this.academicYear)
        .onSnapshot(data2 => {
          let tempData = [];
          let dataAdd;

          for (const result of data2.docs) {
            let dataKey = {
              schoolCode: result.data().schoolCode,
              schoolName: result.data().schoolName
            };

            if (!result.exists) {
              dataAdd = {
                isUse: false,
                testType: "Pre-test"
              };

              let docName =
                this.academicYear.replace("/", "-") +
                "-" +
                result.data().schoolCode;

              db.collection("pretestposttest")
                .doc(docName)
                .set({
                  academicYear: this.academicYear,
                  isUse: false,
                  schoolCode: doc.data().code,
                  schoolName: doc.data().name,
                  testType: "preTest"
                });
            } else {
              dataAdd = {
                isUse: result.data().isUse,
                testType: result.data().testType
              };
            }

            let dataFinal = { ...dataAdd, ...dataKey };
            tempData.push(dataFinal);
          }
          this.dataShow = tempData;
        });
    },
    changeStatusBtn(isUse, type, schoolCode, schoolName, index) {
      let docName = this.academicYear.replace("/", "-") + "-" + schoolCode;

      if (isUse && type == "preTest") {
        let dataKey = {
          isUse: true,
          schoolCode: schoolCode,
          schoolName: schoolName,
          academicYear: this.academicYear,
          testType: "postTest"
        };
        db.collection("pretestposttest")
          .doc(docName)
          .set(dataKey);
      } else if (isUse && type == "postTest") {
        let dataKey = {
          isUse: false,
          schoolCode: schoolCode,
          schoolName: schoolName,
          academicYear: this.academicYear,
          testType: "postTest"
        };
        db.collection("pretestposttest")
          .doc(docName)
          .set(dataKey);
      } else {
        db.collection("pretestposttest")
          .where("isUse", "==", true)
          .where("schoolCode", "==", schoolCode)
          .get()
          .then(doc => {
            if (doc.size > 0) {
              this.notifyRed("ต้องปิดสถานะในปีการศึกษาอื่นก่อน");
              return;
            } else {
              let dataKey = {
                isUse: true,
                schoolCode: schoolCode,
                schoolName: schoolName,
                academicYear: this.academicYear,
                testType: "preTest"
              };
              db.collection("pretestposttest")
                .doc(docName)
                .set(dataKey);
            }
          });
      }
    },
    async checkSchool() {
      let data = await db
        .collection("school")
        .orderBy("code")
        .get()
        .then(doc => {
          doc.forEach(async data => {
            let dataKey = {
              schoolCode: data.data().code,
              schoolName: data.data().name
            };
            let docName =
              this.academicYear.replace("/", "-") + "-" + data.data().code;
            await db
              .collection("pretestposttest")
              .doc(docName)
              .get()
              .then(data2 => {
                let dataAdd;

                if (!data2.exists) {
                  dataAdd = {
                    isUse: false,
                    testType: "Pre-test"
                  };
                  db.collection("pretestposttest")
                    .doc(docName)
                    .set({
                      academicYear: this.academicYear,
                      isUse: false,
                      schoolCode: data.data().code,
                      schoolName: data.data().name,
                      testType: "preTest"
                    });
                }
              });
          });
        });

      this.loadBasicData();
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.checkSchool();
  }
};
</script>
