<template>
  <div class="maindiv">
    <div
      class="text-h5 center"
    >Level {{this.$route.params.level}} / Unit {{this.$route.params.unit}}</div>
    <div class="center text-h6">:::: Vocabulary ::::</div>
    <div id="content" style="padding-left:20px;">
      <div v-for="(item,index) in questionVData" :key="index">
        {{item.instructioneng}}
        <br>
        {{item.instructionthai}}
        <br>
        {{index + 1}}. {{item.question}}
        <br>
        <div v-if="item.choice1.length >0">&nbsp;&nbsp;a) {{item.choice1}}</div>
        <div v-if="item.choice2.length >0">&nbsp;&nbsp;2) {{item.choice2}}</div>
        <div v-if="item.choice3.length >0">&nbsp;&nbsp;3) {{item.choice3}}</div>
        <div v-if="item.choice4.length >0">&nbsp;&nbsp;4) {{item.choice4}}</div>
        <br>
      </div>
      เฉลย {{correctVData}}
    </div>
    <hr>
    <div class="center text-h6">:::: Grammar ::::</div>
    <div id="content" style="padding-left:20px;">
      <div v-for="(item,index) in questionGData" :key="index">
        {{item.instructioneng}}
        <br>
        {{item.instructionthai}}
        <br>
        {{index + 1}}. {{item.question}}
        <br>
        <div v-if="item.choice1.length >0">&nbsp;&nbsp;a) {{item.choice1}}</div>
        <div v-if="item.choice2.length >0">&nbsp;&nbsp;b) {{item.choice2}}</div>
        <div v-if="item.choice3.length >0">&nbsp;&nbsp;c) {{item.choice3}}</div>
        <div v-if="item.choice4.length >0">&nbsp;&nbsp;d) {{item.choice4}}</div>
        <br>
      </div>
      เฉลย {{correctGData}}
    </div>
    <hr>
    <div class="center text-h6">:::: Reading ::::</div>
    <div id="content" style="padding-left:20px;">
      <div v-for="(item,index) in questionRData" :key="index">
        {{item.instructioneng}}
        <br>
        {{item.instructionthai}}
        <br>
        {{index + 1}}.
        <span v-html="item.question"></span>
        <br>
        <div v-if="item.choice1.length >0">&nbsp;&nbsp;a) {{item.choice1}}</div>
        <div v-if="item.choice2.length >0">&nbsp;&nbsp;b) {{item.choice2}}</div>
        <div v-if="item.choice3.length >0">&nbsp;&nbsp;c) {{item.choice3}}</div>
        <div v-if="item.choice4.length >0">&nbsp;&nbsp;d) {{item.choice4}}</div>
        <br>
      </div>
      เฉลย {{correctRData}}
    </div>
    <hr>
    <div class="center text-h6">:::: Writing ::::</div>
    <div id="content" style="padding-left:20px;">
      <div v-for="(item,index) in questionWData" :key="index">
        {{item.instructioneng}}
        <br>
        {{item.instructionthai}}
        <br>
        {{index + 1}}.
        <span v-html="item.question"></span>
        <br>
        <div v-if="item.choice1.length >0">&nbsp;&nbsp;a) {{item.choice1}}</div>
        <div v-if="item.choice2.length >0">&nbsp;&nbsp;b) {{item.choice2}}</div>
        <div v-if="item.choice3.length >0">&nbsp;&nbsp;c) {{item.choice3}}</div>
        <div v-if="item.choice4.length >0">&nbsp;&nbsp;d) {{item.choice4}}</div>
        <br>
      </div>
      เฉลย {{correctWData}}
    </div>
    <hr>
    <div class="center text-h6">:::: Listening & Speaking ::::</div>
    <div id="content" style="padding-left:20px;">
      <div v-for="(item,index) in questionLSData" :key="index">
        {{item.instructioneng}}
        <br>
        {{item.instructionthai}}
        <br>
        {{index + 1}}.
        <span v-html="item.question"></span>
        <br>
        <div v-if="item.choice1.length >0">&nbsp;&nbsp;a) {{item.choice1}}</div>
        <div v-if="item.choice2.length >0">&nbsp;&nbsp;b) {{item.choice2}}</div>
        <div v-if="item.choice3.length >0">&nbsp;&nbsp;c) {{item.choice3}}</div>
        <div v-if="item.choice4.length >0">&nbsp;&nbsp;d) {{item.choice4}}</div>
        <br>
      </div>
      เฉลย {{correctLSData}}
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      questionVData: [],
      correctVData: "",
      questionGData: [],
      correctGData: "",
      questionRData: [],
      correctRData: "",
      questionWData: [],
      correctWData: "",
      questionLSData: [],
      correctLSData: ""
    };
  },
  methods: {
    async loadVocab() {
      var count = 1;
      let vocabDb = await db
        .collection("questionpool")
        .doc("server")
        .collection(
          "L" + this.$route.params.level + "U" + this.$route.params.unit
        )
        .where("skill", "==", "vocabulary")
        .get();
      for (let item of vocabDb.docs) {
        this.questionVData.push(item.data());
      }
      this.questionVData.sort((a, b) => {
        return Number(a.order) - Number(b.order);
      });
      for (let item of this.questionVData) {
        if (item.correctanswer == 1) {
          this.correctVData += count + ") " + "a, ";
        } else if (item.correctanswer == 2) {
          this.correctVData += count + ") " + "b, ";
        } else if (item.correctanswer == 3) {
          this.correctVData += count + ") " + "c, ";
        } else if (item.correctanswer == 4) {
          this.correctVData += count + ") " + "d, ";
        }
        count += 1;
      }
      this.correctVData = this.correctVData.substr(
        0,
        this.correctVData.length - 2
      );
    },
    async loadGrammar() {
      var count = 1;
      let grammarDb = await db
        .collection("questionpool")
        .doc("server")
        .collection(
          "L" + this.$route.params.level + "U" + this.$route.params.unit
        )
        .where("skill", "==", "grammar")
        .get();
      for (let item of grammarDb.docs) {
        this.questionGData.push(item.data());
      }
      this.questionGData.sort((a, b) => {
        return Number(a.order) - Number(b.order);
      });
      for (let item of this.questionGData) {
        if (item.correctanswer == 1) {
          this.correctGData += count + ") " + "a, ";
        } else if (item.correctanswer == 2) {
          this.correctGData += count + ") " + "b, ";
        } else if (item.correctanswer == 3) {
          this.correctGData += count + ") " + "c, ";
        } else if (item.correctanswer == 4) {
          this.correctGData += count + ") " + "d, ";
        }
        count += 1;
      }
      this.correctGData = this.correctGData.substr(
        0,
        this.correctGData.length - 2
      );
    },
    async loadReading() {
      var count = 1;
      let readingDb = await db
        .collection("questionpool")
        .doc("server")
        .collection(
          "L" + this.$route.params.level + "U" + this.$route.params.unit
        )
        .where("skill", "==", "reading")
        .get();
      for (let item of readingDb.docs) {
        this.questionRData.push(item.data());
      }
      this.questionRData.sort((a, b) => {
        return Number(a.order) - Number(b.order);
      });
      for (let item of this.questionRData) {
        if (item.correctanswer == 1) {
          this.correctRData += count + ") " + "a, ";
        } else if (item.correctanswer == 2) {
          this.correctRData += count + ") " + "b, ";
        } else if (item.correctanswer == 3) {
          this.correctRData += count + ") " + "c, ";
        } else if (item.correctanswer == 4) {
          this.correctRData += count + ") " + "d, ";
        }
        count += 1;
      }
      this.correctRData = this.correctRData.substr(
        0,
        this.correctRData.length - 2
      );
    },
    async loadWriting() {
      var count = 1;
      let writingDb = await db
        .collection("questionpool")
        .doc("server")
        .collection(
          "L" + this.$route.params.level + "U" + this.$route.params.unit
        )
        .where("skill", "==", "writing")
        .get();
      for (let item of writingDb.docs) {
        this.questionWData.push(item.data());
      }
      this.questionWData.sort((a, b) => {
        return Number(a.order) - Number(b.order);
      });
      for (let item of this.questionWData) {
        if (item.correctanswer == 1) {
          this.correctWData += count + ") " + "a, ";
        } else if (item.correctanswer == 2) {
          this.correctWData += count + ") " + "b, ";
        } else if (item.correctanswer == 3) {
          this.correctWData += count + ") " + "c, ";
        } else if (item.correctanswer == 4) {
          this.correctWData += count + ") " + "d, ";
        }
        count += 1;
      }
      this.correctWData = this.correctWData.substr(
        0,
        this.correctWData.length - 2
      );
    },
    async loadListen() {
      var count = 1;
      let listeningDb = await db
        .collection("questionpool")
        .doc("server")
        .collection(
          "L" + this.$route.params.level + "U" + this.$route.params.unit
        )
        .where("skill", "==", "listening & Speaking")
        .get();
      for (let item of listeningDb.docs) {
        this.questionLSData.push(item.data());
      }
      this.questionLSData.sort((a, b) => {
        return Number(a.order) - Number(b.order);
      });
      for (let item of this.questionLSData) {
        if (item.correctanswer == 1) {
          this.correctLSData += count + ") " + "a, ";
        } else if (item.correctanswer == 2) {
          this.correctLSData += count + ") " + "b, ";
        } else if (item.correctanswer == 3) {
          this.correctLSData += count + ") " + "c, ";
        } else if (item.correctanswer == 4) {
          this.correctLSData += count + ") " + "d, ";
        }
        count += 1;
      }
      this.correctLSData = this.correctLSData.substr(
        0,
        this.correctLSData.length - 2
      );
    }
  },
  mounted() {
    this.loadVocab();
    this.loadGrammar();
    this.loadReading();
    this.loadWriting();
    this.loadListen();
  }
};
</script>

<style scoped>
.maindiv {
  width: 800px;
  margin: auto;
  border: 1px solid black;
}
.center {
  text-align: center;
}
</style>