<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize" />
    <div class="row reverse-wrap items-center">
      <div class="col-xs-12 col-md-6 q-mb-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="แบบร่าง"
            :class="{'bg-teal-5 text-white' : mode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            @click="changeMode(0)"
            push
          />
          <q-btn
            label="เซิฟเวอร์"
            :class="{'bg-teal-5 text-white' : mode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeMode(1)"
            class="bg-white"
            push
          />
        </q-btn-group>
      </div>
      <div align="right" class="q-pa-sm col-xs-12 col-md-6 q-mb-sm">
        <q-btn
          icon="fas fa-sync"
          class="q-ma-sm q-mr-sm"
          color="teal-5"
          round
          :disable="mode==1 || !isSync"
          @click="syncData()"
        />
        <q-btn
          icon="fas fa-print"
          class="q-ma-sm q-mr-sm"
          color="teal-5"
          round
          :disable="mode==1"
          @click="printBtn()"
        />
        <q-btn
          icon="fas fa-plus"
          class="q-ma-sm q-mr-sm"
          color="teal-5"
          round
          :disable="mode==1"
          to="questionpool/add"
        />
      </div>
    </div>
    <br />

    <div class="bg-grey-2 q-pa-sm">
      <div class="row justify-center gutter-sm q-pt-md">
        <div class="col-xs-6 col-sm-3">
          <q-select
            emit-value
            map-options
            outlined
            v-model="level"
            label="Level"
            class="q-pa-sm"
            :options="levelList"
            @input="loadquestion()"
          />
        </div>
        <div class="col-xs-6 col-sm-3">
          <q-select
            emit-value
            map-options
            outlined
            v-model="unit"
            label="unit"
            class="q-pa-sm"
            :options="unitList"
            @input="loadquestion()"
          />
        </div>
        <div class="col-xs-6 col-sm-3">
          <q-select
            emit-value
            map-options
            outlined
            v-model="skill"
            label="ทักษะ"
            class="q-pa-sm"
            :options="skilloption"
            @input="chnageInputMode()"
          />
        </div>
        <div class="col-xs-6 col-sm-3">
          <div class="q-pt-md q-ml-md">
            <q-checkbox v-model="preTest" label="Pre-test" @input="changeInputMode()" />
            <q-checkbox v-model="postTest" label="Post-test" @input="changeInputMode()" />

            <q-checkbox
              v-model="mocktest"
              val="mocktest1"
              label="Mock Test1"
              @input="changeInputMock()"
            />
            <q-checkbox
              v-model="mocktest"
              val="mocktest2"
              label="Mock Test2"
              @input="changeInputMock()"
            />
            <q-checkbox
              v-model="mocktest"
              val="mocktest3"
              label="Mock Test3"
              @input="changeInputMock()"
            />
            <q-checkbox
              v-model="mocktest"
              val="mocktest4"
              label="Mock Test4"
              @input="changeInputMock()"
            />
            <q-checkbox
              v-model="mocktest"
              val="mocktest5"
              label="Mock Test5"
              @input="changeInputMock()"
            />
            <q-checkbox
              v-model="mocktest"
              val="mocktest6"
              label="Mock Test6"
              @input="changeInputMock()"
            />
          </div>
        </div>
      </div>

      <div class="q-mt-md">
        <q-table
          :data="questionListShow"
          :columns="columns"
          row-key="no"
          :pagination.sync="paginationControl"
          class="bg-grey-2"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="skill" :props="props">
              <div
                class="text-subtitle1 q-mb-xs"
              >{{ props.row.skill.charAt(0).toUpperCase() + props.row.skill.slice(1) }}</div>
              <div v-if="unit == 'ทั้งหมด'">L{{ props.row.level }} U{{ props.row.unit }}</div>
              <div v-if="props.row.preTest" class="bg-secondary text-grey-2">
                Pre-test
                <br />
              </div>
              <div v-if="props.row.postTest" class="bg-white text-teal" style="border: 1px solid">
                Post-test
                <br />
              </div>
            </q-td>
            <q-td key="question" :props="props">
              <div
                style="max-width: 100%; word-wrap: normal;  white-space: pre-wrap; 
  word-wrap: break-word;"
                v-html="props.row.question"
              ></div>
              <hr />
              <div v-html="props.row.description"></div>
            </q-td>
            <q-td key="order" :props="props">{{ props.row.order }}</q-td>
            <q-td key="delete" :props="props">
              <span @click="deleteBtn(props.row.delete)" v-show="mode==0">
                <q-icon name="fas fa-trash-alt text-red pointer text-body1" />
              </span>
              <span v-show="mode==1">
                <q-icon name="fas fa-trash-alt  text-grey-5" />
              </span>
            </q-td>
            <q-td key="edit" :props="props">
              <span @click="editBtn(props.row.edit)" v-show="mode==0">
                <q-icon name="fas fa-edit  text-amber-7 pointer text-body1" />
              </span>
              <span v-show="mode==1">
                <q-icon name="fas fa-edit  text-grey-5" />
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      mocktest: [],
      mode: 0, //mode 0 = แบบร่าง , 1 = ข้อมูลบนเซิฟเวอร์
      level: this.$store.state.system.levelactive,
      unit: this.$store.state.system.unitactive,
      skill: "all",
      levelList: [],
      unitList: [],
      unitData: [],
      skilloption: [
        { value: "all", label: "ทุกทักษะ" },
        { value: "vocabulary", label: "vocabulary" },
        { value: "grammar", label: "grammar" },
        { value: "reading", label: "reading" },
        { value: "writing", label: "writing" },
        { value: "listening & Speaking", label: "listening & Speaking" }
      ],
      preTest: false,
      postTest: false,
      questionList: [],
      columns: [
        {
          name: "skill",
          label: "ทักษะ",
          style: "width:120px;",
          align: "center",
          field: "skill",
          sortable: false
        },

        {
          name: "question",
          label: "โจทย์",
          align: "left",
          field: "question",
          sortable: false
        },
        {
          name: "order",
          label: "รหัสลำดับ",
          align: "center",
          style: " width:50px;",
          field: "order",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:50px;",
          field: "delete",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:50px;",
          field: "edit",
          sortable: false
        }
      ],
      paginationControl: {
        rowsPerPage: 0
      },
      isSync: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight,
      snapLoadData: "",
      questionListShow: []
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    changeInputMock() {
      this.preTest = false;
      this.postTest = false;
      let _this = this;
      this.questionListShow = this.questionList.filter(x => {
        if (x.mocktest) {
          return x.mocktest.some(r => {
            return _this.mocktest.indexOf(r) >= 0;
          });
        }
      });
      if (this.mocktest.length == 0) {
        this.questionListShow = this.questionList;
      }
    },
    changeInputMode() {
      this.mocktest = [];
      if (this.preTest && this.postTest) {
        this.questionListShow = this.questionList.filter(x => {
          return x.preTest == true || x.postTest == true;
        });
      } else if (this.preTest) {
        this.questionListShow = this.questionList.filter(x => {
          return x.preTest == true;
        });
      } else if (this.postTest) {
        this.questionListShow = this.questionList.filter(x => {
          return x.postTest == true;
        });
      } else {
        this.questionListShow = this.questionList;
      }
    },
    changeMode(type) {
      this.mode = type;
      this.loadquestion();
    },
    printBtn() {
      this.$router.push("/questionpool/print/" + this.level + "/" + this.unit);
    },
    loadLevelData() {
      db.collection("level")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.data().name.toString(),
              label: doc.data().name.toString()
            };
            this.levelList.push(dataList);
            this.unitData[Number(dataList.value)] = doc.data().unit;
          });
          this.levelList.sort((a, b) => {
            return Number(a.value) - Number(b.value);
          });
          // this.level = this.levelList[0].value
          this.loadUnitData();
          this.loadquestion();
        });
    },

    loadUnitData() {
      this.unitList = [];
      let tempUnit = [];
      for (let i = 1; i <= this.unitData[Number(this.level)]; i++) {
        let dataunit = {
          value: i.toString(),
          label: i.toString()
        };
        tempUnit.push(dataunit);
      }
      this.unitList = tempUnit;
      this.unitList.unshift({
        value: "ทั้งหมด",
        label: "ทั้งหมด"
      });
    },

    loadquestion() {
      this.preTest = false;
      this.postTest = false;
      this.mocktest = []
      this.setLevelActive(this.level);
      this.setUnitActive(this.unit);
      let doc;

      if (this.mode == 0) {
        doc = "draft";
      } else {
        doc = "server";
      }

      if (this.unit == "ทั้งหมด") {
        // กรณี unit ทั้งหมด
        this.questionList = [];
        this.questionListShow = [];
        for (let unit = 1; unit <= 16; unit++) {
          let levelUnit = "L" + this.level + "U" + unit;
          this.snapLoadData = db
            .collection("questionpool")
            .doc(doc)
            .collection(levelUnit)
            .onSnapshot(data => {
              console.log(data.size);
              data.forEach(doc => {
                let question =
                  doc.data().instructioneng +
                  "<br>" +
                  doc.data().instructionthai +
                  "<br>" +
                  doc.data().question +
                  "<br>";
                if (doc.data().correctanswer == 1) {
                  question +=
                    "<span class='bg-teal-3'>(1) " +
                    doc.data().choice1 +
                    "</span><br>";
                } else {
                  question += "(1) " + doc.data().choice1 + "<br>";
                }

                if (doc.data().correctanswer == 2) {
                  question +=
                    "<span class='bg-teal-3'>(2) " +
                    doc.data().choice2 +
                    "</span><br>";
                } else {
                  question += "(2) " + doc.data().choice2 + "<br>";
                }

                if (doc.data().choice3.length) {
                  if (doc.data().correctanswer == 3) {
                    question +=
                      "<span class='bg-teal-3'>(3) " +
                      doc.data().choice3 +
                      "</span><br>";
                  } else {
                    question += "(3) " + doc.data().choice3 + "<br>";
                  }
                }

                if (doc.data().choice4.length) {
                  if (doc.data().correctanswer == 4) {
                    question +=
                      "<span class='bg-teal-3'>(4) " +
                      doc.data().choice4 +
                      "</span><br>";
                  } else {
                    question += "(4) " + doc.data().choice4 + "<br>";
                  }
                }

                let preTest = doc.data().preTest;
                if (preTest == undefined) {
                  preTest = false;
                }

                let postTest = doc.data().postTest;
                if (postTest == undefined) {
                  postTest = false;
                }
                let dataList = {
                  skill: doc.data().skill,
                  question: question,
                  order: doc.data().order,
                  delete: doc.id,
                  edit: doc.id,
                  preTest: preTest,
                  postTest: postTest,
                  description: doc.data().description,
                  mocktest: doc.data().mocktest,
                  level: this.level,
                  unit: unit
                };

                this.questionList.push(dataList);
              });

              this.questionList.sort((a, b) => {
                return Number(a.order) - Number(b.order);
              });
              this.questionListShow = this.questionList;
              this.checkEnableSync();
            });
        }
      } else {
        // กรณีดึงเป็น unit
        let levelunit = "L" + this.level + "U" + this.unit;
        this.snapLoadData = db
          .collection("questionpool")
          .doc(doc)
          .collection(levelunit)
          .onSnapshot(data => {
            this.questionList = [];
            this.questionListShow = [];
            data.forEach(doc => {
              let question =
                doc.data().instructioneng +
                "<br>" +
                doc.data().instructionthai +
                "<br>" +
                doc.data().question +
                "<br>";
              if (doc.data().correctanswer == 1) {
                question +=
                  "<span class='bg-teal-3'>(1) " +
                  doc.data().choice1 +
                  "</span><br>";
              } else {
                question += "(1) " + doc.data().choice1 + "<br>";
              }

              if (doc.data().correctanswer == 2) {
                question +=
                  "<span class='bg-teal-3'>(2) " +
                  doc.data().choice2 +
                  "</span><br>";
              } else {
                question += "(2) " + doc.data().choice2 + "<br>";
              }

              if (doc.data().choice3.length) {
                if (doc.data().correctanswer == 3) {
                  question +=
                    "<span class='bg-teal-3'>(3) " +
                    doc.data().choice3 +
                    "</span><br>";
                } else {
                  question += "(3) " + doc.data().choice3 + "<br>";
                }
              }

              if (doc.data().choice4.length) {
                if (doc.data().correctanswer == 4) {
                  question +=
                    "<span class='bg-teal-3'>(4) " +
                    doc.data().choice4 +
                    "</span><br>";
                } else {
                  question += "(4) " + doc.data().choice4 + "<br>";
                }
              }

              let preTest = doc.data().preTest;
              if (preTest == undefined) {
                preTest = false;
              }

              let postTest = doc.data().postTest;
              if (postTest == undefined) {
                postTest = false;
              }
              let dataList = {
                skill: doc.data().skill,
                question: question,
                order: doc.data().order,
                delete: doc.id,
                edit: doc.id,
                preTest: preTest,
                postTest: postTest,
                description: doc.data().description,
                mocktest: doc.data().mocktest
              };

              this.questionList.push(dataList);
            });

            this.questionList.sort((a, b) => {
              return Number(a.order) - Number(b.order);
            });
            this.questionListShow = this.questionList;
            this.checkEnableSync();
          });
      }
    },

    deleteBtn(index) {
      var d = new Date();
      var n = d.getTime();
      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "ยืนยันการลบข้อมูล",
          ok: "ลบข้อมูล",
          cancel: "ยกเลิก",
          preventClose: true
        })
        .onOk(() => {
          let levelunit = "L" + this.level + "U" + this.unit;
          var dbref = db
            .collection("questionpool")
            .doc("draft")
            .collection(levelunit);
          dbref
            .doc(index)
            .delete()
            .then(() => {
              this.notifyGreen("ลบข้อมูลเสร็จสิ้น");

              db.collection("questionpool")
                .doc("draft")
                .update({
                  [levelunit]: n
                });
              // this.loadquestion()
            });
        });
    },

    editBtn(index) {
      this.$router.push(
        "/questionpool/edit/" + index + "/" + this.level + "/" + this.unit
      );
    },

    checkEnableSync() {
      var datedraft;
      var dateserver;
      let levelunit = "L" + this.level + "U" + this.unit;
      db.collection("questionpool")
        .doc("draft")
        .get()
        .then(data => {
          datedraft = data.data()[levelunit];
        })
        .then(() => {
          db.collection("questionpool")
            .doc("server")
            .get()
            .then(data => {
              dateserver = data.data()[levelunit];
            })
            .then(() => {
              if (datedraft === undefined) {
                this.isSync = false;
              } else if (dateserver === undefined) {
                this.isSync = true;
              } else if (dateserver >= datedraft) {
                this.isSync = false;
              } else {
                this.isSync = true;
              }
            });
        });
    },

    syncData() {
      let levelunit = "L" + this.level + "U" + this.unit;
      var d = new Date();
      var n = d.getTime();
      let _this = this;
      db.collection("questionpool")
        .doc("server")
        .collection(levelunit)
        .get()
        .then(doc => {
          //delete exist data in server
          doc.forEach(data => {
            db.collection("questionpool")
              .doc("server")
              .collection(levelunit)
              .doc(data.id)
              .delete();
          });
          //transfer data from draft to server
          db.collection("questionpool")
            .doc("draft")
            .collection(levelunit)
            .get()
            .then(doc2 => {
              doc2.forEach(data2 => {
                db.collection("questionpool")
                  .doc("server")
                  .collection(levelunit)
                  .doc(data2.id)
                  .set(data2.data());
              });

              db.collection("questionpool")
                .doc("server")
                .update({
                  [levelunit]: n
                });
              this.notifyGreen("บันทึกข้อมูลเรียบร้อย");

              _this.isSync = false;
            });
        });
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadLevelData();
  }
};
</script>
<style scoped>
.pointer:hover {
  cursor: pointer;
}
</style>

