<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize" />
    <div class="bg-grey-2 q-pa-sm">
      <h5 align="center" class="no-margin q-pa-sm">ข้อสอบ</h5>
      <hr />
      <div class="box-content-practice">
        <div class="row q-mb-sm gutter-sm">
          <div class="col-xl-6 col-xs-12">
            <q-input
              outlined
              ref="order"
              v-model="exam.order"
              type="number"
              class="q-pa-sm"
              label="รหัสลำดับ"
              placeholder="รหัสลำดับ"
              :rules="[val=>!!val || '']"
            />
          </div>
          <div class="col-xl-6 col-xs-12">
            <div class="q-pt-md">
              <q-checkbox v-model="exam.preTest" label="Pre-test " />
              <q-checkbox v-model="exam.postTest" label="Post-test " />
              <q-checkbox v-model="exam.mocktest" val="mocktest1" label="Mock-test1 " />
              <q-checkbox v-model="exam.mocktest" val="mocktest2" label="Mock-test2 " />
              <q-checkbox v-model="exam.mocktest" val="mocktest3" label="Mock-test3 " />
              <q-checkbox v-model="exam.mocktest" val="mocktest4" label="Mock-test4 " />
              <q-checkbox v-model="exam.mocktest" val="mocktest5" label="Mock-test5 " />
              <q-checkbox v-model="exam.mocktest" val="mocktest6" label="Mock-test6 " />
            </div>
          </div>
        </div>

        <div class="row q-mb-sm gutter-sm">
          <div class="col-xl-6 col-xs-12">
            <q-select
              outlined
              emit-value
              map-options
              v-model="exam.skill"
              :options="skilloption"
              label="ทักษะ"
              class="q-pa-sm"
            />
          </div>
          <div class="col-xl-6 col-xs-12">
            <div class="row">
              <div class="col-6">
                <q-select
                  outlined
                  emit-value
                  map-options
                  v-model="exam.level"
                  :options="levelList"
                  label="Level"
                  class="q-pa-sm"
                  @input="loadUnitData()"
                  :disable="!isAddData"
                />
              </div>
              <div class="col-6 q-pl-sm">
                <q-select
                  outlined
                  emit-value
                  map-options
                  v-model="exam.unit"
                  :options="unitList"
                  label="Unit"
                  class="q-pa-sm"
                  :disable="!isAddData"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">
            คำสั่งอังกฤษ
            <br />
            <q-editor
              ref="instructioneng"
              v-model="exam.instructioneng"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
              :class="{errorInput: errorshow.instructioneng}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">
            คำสั่งไทย
            <br />
            <q-editor
              ref="instructionthai"
              v-model="exam.instructionthai"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
              :class="{errorInput: errorshow.instructionthai}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">
            คำถาม
            <br />
            <q-editor
              v-model="exam.question"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">
            ตัวเลือก #1
            <br />
            <q-editor
              v-model="exam.choice1"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
              :class="{errorInput: errorshow.choice1}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">
            ตัวเลือก #2
            <br />
            <q-editor
              v-model="exam.choice2"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
              :class="{errorInput: errorshow.choice2}"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">
            ตัวเลือก #3
            <br />
            <q-editor
              v-model="exam.choice3"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">
            ตัวเลือก #4
            <br />
            <q-editor
              v-model="exam.choice4"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
            />
          </div>
        </div>

        <div class="row q-mb-sm gutter-sm">
          <div class="col-xl-12 col-xs-12">
            <q-select
              outlined
              emit-value
              map-options
              v-model="exam.correctanswer"
              :options="correctansweroption"
              label="คำตอบที่ถูกต้อง"
              class="q-pa-sm"
            />
          </div>
        </div>

        <div class="row q-ma-sm gutter-sm">
          <div class="col-12">
            คำอธิบาย
            <br />
            <q-editor
              v-model="exam.description"
              :toolbar="[['bold', 'italic', 'underline']]"
              min-height="50px"
              toolbar-bg="white"
            />
          </div>
        </div>
      </div>
      <div class="q-mt-lg col-12 gutter-sm" align="center">
        <div>
          <q-btn
            label="ยกเลิก"
            class="q-ma-xs"
            @click="cancelBtn()"
            color="red-7"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
          <q-btn
            label="บันทึก"
            color="teal-5"
            class="q-ma-xs"
            @click="saveBtn()"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          />
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import { required } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      exam: {
        mocktest: [],
        // mocktest1: false,
        // mocktest2: false,
        // mocktest3: false,
        // mocktest4: false,
        // mocktest5: false,
        // mocktest6: false,
        preTest: false,
        postTest: false,
        skill: "vocabulary",
        instructioneng: "",
        instructionthai: "",
        question: "",
        choice1: "",
        choice2: "",
        choice3: "",
        choice4: "",
        correctanswer: 1,
        level: this.$store.state.system.levelactive,
        unit: this.$store.state.system.unitactive,
        innerWidth: window.innerWidth,
        innerHeight: window.innerHeight,
        description: ""
      },
      errorshow: {
        instructioneng: false,
        instructionthai: false,
        choice1: false,
        choice2: false
      },
      skilloption: [
        { value: "vocabulary", label: "vocabulary" },
        { value: "grammar", label: "grammar" },
        { value: "reading", label: "reading" },
        { value: "writing", label: "writing" },
        { value: "listening & Speaking", label: "listening & Speaking" }
      ],
      correctansweroption: [
        { value: 1, label: "ตัวเลือก #1" },
        { value: 2, label: "ตัวเลือก #2" },
        { value: 3, label: "ตัวเลือก #3" },
        { value: 4, label: "ตัวเลือก #4" }
      ],
      levelList: [],
      unitData: [],
      unitList: [],
      isAddData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },

  methods: {
    ...mapActions(["setLinkCode", "setLinkMenu"]),

    loadLevelData() {
      db.collection("level")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.data().name.toString(),
              label: doc.data().name.toString()
            };
            this.levelList.push(dataList);
            this.unitData[Number(dataList.value)] = doc.data().unit;
          });
          this.levelList.sort((a, b) => {
            return Number(a.value) - Number(b.value);
          });
          this.loadUnitData();
        });
    },

    loadUnitData() {
      this.unitList = [];
      for (let i = 1; i <= this.unitData[Number(this.exam.level)]; i++) {
        let dataunit = {
          value: i.toString(),
          label: i.toString()
        };
        this.unitList.push(dataunit);
      }

      if (this.isAddData == false) {
        this.loadData();
      }
    },

    loadData() {
      let levelunit =
        "L" + this.$route.params.level + "U" + this.$route.params.unit;
      db.collection("questionpool")
        .doc("draft")
        .collection(levelunit)
        .doc(this.$route.params.id)
        .get()
        .then(doc => {
          let pre = "";
          let post = "";
          let docData = doc.data();

          if (doc.data().mocktest == undefined) {
            docData.mocktest = [];
          }

          if (doc.data().description == undefined) {
            docData.description = "";
          }

          if (doc.data().preTest == undefined) {
            pre = {
              preTest: false
            };
          }
          if (doc.data().postTest == undefined) {
            post = {
              postTest: false
            };
          }

          let final = { ...pre, ...post, ...docData };
          this.exam = final;
        });
    },

    cancelBtn() {
      this.$router.push("/questionpool");
    },

    saveBtn() {
      this.$refs.order.validate();
      if (this.$refs.order.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      //validate input

      var errorshow = false;
      if (this.exam.instructioneng.length > 0) {
        this.errorshow.instructioneng = false;
      } else {
        this.errorshow.instructioneng = true;
        errorshow = true;
      }

      if (this.exam.instructionthai.length > 0) {
        this.errorshow.instructionthai = false;
      } else {
        this.errorshow.instructionthai = true;
        errorshow = true;
      }

      if (this.exam.choice1.length > 0) {
        this.errorshow.choice1 = false;
      } else {
        this.errorshow.choice1 = true;
        errorshow = true;
      }

      if (this.exam.choice2.length > 0) {
        this.errorshow.choice2 = false;
      } else {
        this.errorshow.choice2 = true;
        errorshow = true;
      }

      if (errorshow) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }
      //check correct answer should be correspond with choices
      if (this.exam.correctanswer == 3 && this.exam.choice3.length == 0) {
        this.notifyRed("คำตอบที่ถูกต้องไม่สอดคล้องกับตัวเลือก");
        return;
      }

      if (this.exam.correctanswer == 4 && this.exam.choice4.length == 0) {
        this.notifyRed("คำตอบที่ถูกต้องไม่สอดคล้องกับตัวเลือก");
        return;
      }

      let levelunit = "L" + this.exam.level + "U" + this.exam.unit;
      var d = new Date();
      var n = d.getTime();
      if (this.isAddData) {
        db.collection("questionpool")
          .doc("draft")
          .collection(levelunit)
          .add(this.exam);
      } else {
        db.collection("questionpool")
          .doc("draft")
          .collection(levelunit)
          .doc(this.$route.params.id)
          .update(this.exam);
      }

      db.collection("questionpool")
        .doc("draft")
        .update({
          [levelunit]: n
        });
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");

      this.$router.push("/questionpool");
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.name == "questionpooledit") {
      this.isAddData = false;
    }
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadLevelData();
  }
};
</script>

