<template>
  <div class="bg-print">
    <div class="bar-print q-pa-xs bg-grey-9 relative-position" align="right">
      <q-btn class="q-mr-sm text-white" icon="fas fa-print" @click="printBtn()" flat round/>
      <q-btn class="q-mr-sm text-white" icon="fas fa-times-circle" @click="closeBtn()" flat round/>
    </div>

    <div size="A4" class="q-pa-md printMe">
      <table class="table fontme-xl">
        <tr class="tr">
          <th class="bg-light-blue-9" style="border-radius:7px 0px 0px 7px;width:250px;">
            <div class="bg-white" style="border-radius:7px;border:2px solid#1D76D0;">
              <img src="../../assets/icon-logo.png" style="width:160px;margin-top:7px;">
            </div>
          </th>
          <th
            class="q-pl-lg q-pr-lg text-white bg-light-blue-9"
            style="border-radius:0px 7px 7px 0px;"
          >
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space/>
                <span class="text-weight-light">L{{practice.level}} U{{practice.unit}}</span>
                <q-separator vertical inset class="q-mx-sm bg-white"/>
                <span class="text-weight-light">{{dataSetting.practiceName}}</span>
                <q-space/>
                <span></span>
              </q-toolbar>
            </div>
            <hr class="no-margin bg-white">
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space/>
                <span class="text-weight-light">
                  World :
                  <span
                    v-if="dataSetting.orderid > 1000 && dataSetting.orderid < 1999"
                  >Vocabulary</span>
                  <span v-if="dataSetting.orderid > 2000 && dataSetting.orderid < 2999">Grammar</span>
                  <span v-if="dataSetting.orderid > 3000 && dataSetting.orderid < 3999">Reading</span>
                  <span v-if="dataSetting.orderid > 4000 && dataSetting.orderid < 4999">Writing</span>
                  <span
                    v-if="dataSetting.orderid > 5000 && dataSetting.orderid < 5999"
                  >Listening & Speaking</span>
                </span>
                <q-space/>
                <span></span>
              </q-toolbar>
            </div>
          </th>
        </tr>
      </table>

      <div class="q-mt-md" v-for="(value,index) in schoolType" :key="index">
        <table class="table" v-if="value.use">
          <tbody class="text-h6">
            <tr class="bg-grey-8">
              <th colspan="3" align="center">
                <div class="q-pa-sm">
                  <span class="fontme-xl text-weight-light text-white">{{value.name}}</span>
                </div>
              </th>
            </tr>
            <!-- เกณฑ์การผ่าน -->
            <tr class="tr fontme-l text-weight-light">
              <td class="td">
                <div class="row q-pl-md items-center">
                  <span class="q-pl-sm">เกณฑ์การผ่าน</span>
                </div>
              </td>
              <td class="td" align="center">
                <span class>{{value.passScore + "%"}}</span>
              </td>
            </tr>
            <!-- เกณฑ์ 3 ดาว -->
            <tr class="tr fontme-l text-weight-light">
              <td class="td">
                <div class="row q-pl-md items-center">
                  <label class="q-pl-sm">เกณฑ์ 3 ดาว</label>
                </div>
              </td>
              <td class="td" align="center">
                <span class>{{value.star + "%"}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>
                <div class="q-mt-md"></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div align="center">
                  <span class="text-h6">{{dataContent.titleEng}}</span>
                </div>
                <div align="center" class="q-my-md">
                  <q-img
                    :src="serverpath + 'pic_reading/' + 'L' + practice.level + 'U' + practice.unit + '.jpg'"
                    style="width:500px;"
                  />
                </div>
                <div class="fontme-l text-weight-light">
                  <span v-html="dataContent.contentEng"></span>
                </div>
                <div align="center" class="q-mb-sm">
                  <span class="text-h6">{{dataContent.titleThai}}</span>
                </div>
                <div class="fontme-l text-weight-light">
                  <span v-html="dataContent.contentThai"></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table class="table">
          <thead>
            <tr>
              <th>
                <div class="q-mt-md"></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="row content-start">
                  <div align="center" class="col-12 q-mb-sm">
                    <span class="text-h6">คำศัพท์เสริมเนื้อเรื่อง</span>
                  </div>
                  <div
                    class="col-6"
                    style="hight:fit-content"
                    :class="{'border-right':index%2 == 0}"
                    v-for="(item,index) in dataContent.extraVocab"
                    :key="index"
                  >
                    <table class="table fontme-l">
                      <tr>
                        <td style="vertical-align: top;width:35%;">
                          <div :class="{'q-pl-sm':index%1 == 0}">
                            <span v-html="item.vocabulary"></span>
                          </div>
                        </td>
                        <td style="vertical-align: top;width:70px;">
                          <div>
                            <span v-html="' (' + item.partOfSpeech + ') '"></span>
                          </div>
                        </td>
                        <td style="vertical-align: top;">
                          <div>
                            <span v-html="item.meaning"></span>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr>

      <div>
        <table class="table">
          <tr>
            <th colspan="3">
              <div class="q-mt-xs q-mb-sm">
                <div class="fontme-xl" v-html="dataSetting.instructionEng"></div>
                <div class="fontme-xl" v-html="dataSetting.instructionThai"></div>
              </div>
              <div></div>
            </th>
          </tr>
          <thead>
            <tr>
              <th colspan="2">
                <div class="q-mb-md">
                  <!-- <span class="text-h6">รายละเอียดแบบฝึกหัด</span> -->
                </div>
              </th>
            </tr>
          </thead>
          <tbody v-for="(item,index) in dataShow" :key="index" class="fontme-l">
            <tr style="border:1px solid;">
              <td align="left" style="vertical-align: top;width:50px;border:1px solid;">
                <div class="q-pa-sm">
                  <div class="q-pl-sm">
                    <span>{{index + 1 + ")."}}</span>
                  </div>
                </div>
              </td>
              <td style="vertical-align: top;border:1px solid;">
                <div class="q-pa-sm">
                  <div class="q-pl-lg">
                    <span v-html="item.question"></span>
                    <br>
                    <br>
                    <div v-if="item.choice1">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 1}"
                        v-html="'1) ' + item.choice1"
                      ></span>
                    </div>
                    <div v-if="item.choice2">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 2}"
                        v-html="'2) ' + item.choice2"
                      ></span>
                    </div>
                    <div v-if="item.choice3">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 3}"
                        v-html="'3) ' + item.choice3"
                      ></span>
                    </div>
                    <div v-if="item.choice4">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 4}"
                        v-html="'4) ' + item.choice4"
                      ></span>
                    </div>
                    <div v-if="item.choice5">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 5}"
                        v-html="'5) ' + item.choice5"
                      ></span>
                    </div>
                    <div v-if="item.choice6">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 6}"
                        v-html="'6) ' + item.choice6"
                      ></span>
                    </div>
                    <div v-if="item.choice7">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 7}"
                        v-html="'7) ' + item.choice7"
                      ></span>
                    </div>
                    <div v-if="item.choice8">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 8}"
                        v-html="'8) ' + item.choice8"
                      ></span>
                    </div>
                    <div v-if="item.choice9">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 9}"
                        v-html="'9) ' + item.choice9"
                      ></span>
                    </div>
                    <div v-if="item.choice10">
                      <span
                        :class="{'bg-teal-5 text-white':item.correctAnswer == 10}"
                        v-html="'10) ' + item.choice10"
                      ></span>
                    </div>
                    <br>
                    <span v-html="item.description"></span>
                  </div>
                  <hr>
                  <div align="left" class="q-pl-lg" v-if="item.hightlight.length > 0">
                    <div v-for="(item,index) in item.hightlight" :key="index">
                      <div v-if="item[index]">
                        <span>อ้างอิง#{{index + 1}}:</span>
                        <span v-html="' ' + item"></span>
                      </div>
                    </div>
                  </div>
                  <hr v-if="item.extraVocab">
                  <div align="left" class="q-pa-sm q-pl-lg" v-if="item.extraVocab">
                    <table class="no-margin">
                      <tr v-for="(item,index) in item.extraVocab" :key="index">
                        <td class="no-padding" align="left" style="width:fit-content;border:none;">
                          <span class="q-pr-xs">{{ item.vocab }}</span>
                        </td>
                        <td class="no-padding" align="left" style="border:none;">
                          <span>({{ item.partofspeech }})</span>
                        </td>
                        <td class="no-padding" align="left" style="border:none;">
                          <span class="q-pl-xs">{{ item.meaning }}</span>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <hr>
                  <div align="right">
                    <span v-for="(school,index2) in item" :key="index2">
                      <span
                        v-if="index2 != '__index' && index2 != 'hightlight' && index2 != 'answerSound' && index2 != 'choice1' && index2 != 'choice2' && index2 != 'choice3' && index2 != 'choice4' && index2 != 'choice5' && index2 != 'choice6' && index2 != 'choice7' && index2 != 'choice8' && index2 != 'choice9' && index2 != 'choice10' && index2 != 'correctAnswer' && index2 != 'description' && index2 != 'order' && index2 != 'question' && index2 != 'extraVocab' && index2 != 'questionSound' && index2 != 'slide' && index2 != 'key'"
                      >{{index2 + ","}}</span>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      practice: this.$route.params.practice,
      dataSetting: this.$route.params.dataSetting,
      dataContent: this.$route.params.dataContent,
      schoolType: this.$route.params.schoolType,
      dataShow: this.$route.params.dataShow
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push(
        "/practice/readingmultiple/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/0"
      );
    }
  }
};
</script>

<style>
.bg-print {
  background: rgb(204, 204, 204);
  padding: 0px 0px 15px 0px;
}

.bar-print {
  width: 100%;
}

.printMe {
  background: white;
  display: block;
  margin: 15px auto 0px auto;
}

.printMe[size="A4"] {
  width: 21cm;
  min-height: 29.7cm;
  max-height: fit-content;
}

.printMe::-webkit-scrollbar {
  width: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table .tr .td {
  border: 0.5mm solid rgba(60, 60, 60, 0.7);
}

.table .tr .td:nth-child(2) {
  width: 170px;
}

.fontme-l {
  font-size: 16px;
}
.fontme-xl {
  font-size: 18px;
}
.fontme-xxl {
  font-size: 20px;
}

.border-right {
  border-right: 1px solid;
}
.border-left {
  border-left: 1px solid;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px auto 0px auto;
  }
  .bar-print {
    display: none;
  }
}
@page {
  margin: 3mm;
  size: 210mm 297mm;
}
</style>
