<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row q-pa-sm">
      <div class="col-xs-12 col-md-6 q-mb-sm">
        <q-btn-group push>
          <q-btn
            push
            label="แบบร่าง"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-teal-5 text-white"
          />
          <q-btn
            push
            label="เซิฟเวอร์"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            disable
          />
        </q-btn-group>
      </div>
    </div>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Reading Fill in the blanks | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>

      <div class="row">
        <div class="col-6 q-pl-sm self-center">
          <q-btn-group push>
            <q-btn
              label="ภาษาไทย"
              @click="changeSettingMode(0)"
              :class="{'bg-teal-5 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
              class="bg-white"
              push
            />
            <q-btn
              label="ภาษาอังกฤษ"
              @click="changeSettingMode(1)"
              :class="{'bg-teal-5 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
              class="bg-white"
              style="border-left:0.2mm solid rgba(0,0,0,.3);border-right:0.2mm solid rgba(0,0,0,.3)"
              push
            />
            <q-btn
              label="คำศัพท์เสริม"
              @click="changeSettingMode(2)"
              :class="{'bg-teal-5 text-white' : settingMode == 2,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
              class="bg-white"
              push
            />
          </q-btn-group>
        </div>
      </div>

      <!-- Set Mode : 1 -->
      <div class="q-mt-lg" v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                v-model="dataSetting.titleThai"
                label="ชื่อเรื่องภาษาไทย"
                ref="titleThai"
                :rules="[val => !!val||'']"
              />
            </div>
            <div class="col-ms-12 col-xs-12 q-pa-md">
              <span class="q-caption">เนื้อเรื่องภาษาไทย</span>
              <q-editor
                v-model="dataSetting.contentThai"
                height="300px"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
                    ['bold', 'italic', 'underline'],
                  ]"
                :class="{'errorInput':!isErrorContentThai}"
                @input="checkErrorInput(1)"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(0)"
              :disabled="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- Set Mode : 2 -->
      <div class="q-mt-lg" v-show="settingMode == 1">
        <div class="box-content-practice">
          <div class="row q-mb-sm">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                v-model="dataSetting2.titleEng"
                label="ชื่อเรื่องภาษาอังกฤษ"
                ref="titleEng"
                :rules="[val => !!val||'']"
              />
            </div>
            <div class="col-ms-12 col-xs-12 q-pa-md">
              <span class="q-caption">เนื้อเรื่องภาษาอังกฤษ</span>
              <q-editor
                v-model="dataSetting2.contentEng"
                height="300px"
                toolbar-text-color="black"
                toolbar-toggle-color="red"
                toolbar-flat
                toolbar-bg="white"
                :toolbar="[
              ['bold', 'italic', 'underline'],
              ]"
                :class="{'errorInput':!isErrorContentEng}"
                @input="checkErrorInput(2)"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(1)"
              :disabled="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- Set Mode : 3 -->
      <div class="q-mt-lg" v-show="settingMode == 2">
        <div class="box-content-practice">
          <div class="row q-mb-sm">
            <div class="col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                v-model="dataExtra.vocabulary"
                label="คำศัพท์"
                ref="vocab"
                :rules="[val => !!val||'']"
              />
            </div>
            <div class="col-ms-12 col-xs-12 q-pa-sm">
              <app-PartOfSpeech @partOfSpeech="getdata" :data="dataExtra.partOfSpeech"/>
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                v-model="dataExtra.meaning"
                label="ตวามหมาย"
                ref="meaning"
                :rules="[val => !!val||'']"
              />
            </div>
            <div class="col-xs-12 q-pa-sm">
              <q-checkbox label="ใช้ในการเรียน" v-model="dataExtra.uselearn"/>
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm" v-show="practice.practiceEditKey">
            <q-btn
              label="ยกเลิก"
              @click="cancelExtraBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn(2)"
              :disabled="!isSaveData"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
        <div v-show="practice.practiceEditKey == ''">
          <q-table
            :data="dataShow"
            :columns="columns"
            row-key="key"
            class="bg-grey-2 q-mt-lg"
            :pagination.sync="pagination"
            separator="cell"
          >
            <q-tr
              slot="body"
              slot-scope="props"
              :props="props"
              :class="{'bg-teal-5 text-white':props.row.key == practice.practiceEditKey}"
            >
              <q-td key="uselearn" :props="props">
                <q-checkbox
                  v-model="props.row.uselearn"
                  @input="uselearnBtn(props.row.key,props.row.uselearn)"
                />
              </q-td>
              <q-td key="vocabulary" :props="props">
                <span>{{props.row.vocabulary}}</span>
              </q-td>
              <q-td key="partOfSpeech" :props="props">
                <span>{{props.row.partOfSpeech}}</span>
              </q-td>
              <q-td key="meaning" :props="props">
                <span>{{ props.row.meaning }}</span>
              </q-td>
              <q-td key="delete" :props="props">
                <span @click="deleteBtn(props.row.key)">
                  <q-icon name="fas fa-trash-alt  text-red pointer"/>
                </span>
              </q-td>
              <q-td key="edit" :props="props">
                <span @click="editBtn(props.row.key)" class="text-amber-7 pointer">
                  <q-icon name="fas fa-edit"/>
                </span>
              </q-td>
            </q-tr>
          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import partOfSpeech from "../../components/partofspeechSelected.vue";
export default {
  data() {
    return {
      settingMode: 0,
      practice: {
        settingMode: this.$route.params.settingmode,
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        practiceKey: this.$route.params.practicekey
          ? this.$route.params.practicekey
          : "",
        practiceEditKey: ""
      },
      dataSetting: {
        titleThai: "",
        contentThai: ""
      },
      dataSetting2: {
        titleEng: "",
        contentEng: ""
      },
      dataExtra: {
        vocabulary: "",
        partOfSpeech: "ไม่ระบุ",
        meaning: "",
        uselearn: false
      },
      selectedSchoolType: [],
      selectedSchoolAll: false,
      schoolTypeList: [],
      dataShow: [],
      slideData: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "uselearn",
          label: "ใข้ในการเรียน",
          align: "center",
          style: "width:100px;",
          sortable: false
        },
        {
          name: "vocabulary",
          label: "คำศัพท์",
          align: "center",
          sortable: false
        },
        {
          name: "partOfSpeech",
          label: "ชนิดของคำ",
          align: "center",
          style: "",
          sortable: false
        },
        {
          name: "meaning",
          label: "ความหมาย",
          align: "center",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px;",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px;",
          sortable: false
        }
      ],
      showAnswerRow: 0,
      isAddData: true,
      isExtraData: true,
      isSaveData: true,
      isErrorContentThai: true,
      isErrorContentEng: true,
      isErrorQuestion: false,
      isErrorMeaning: false,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    async uselearnBtn(key, type) {
      data = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("draft")
        .doc("data")
        .collection("content")
        .doc("data")
        .collection("extraWord")
        .doc(key)
        .update({
          uselearn: type
        });

      await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });
    },
    cancelBtn() {
      this.$router.push(
        "/practice/readingfillin/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    changeSettingMode(data) {
      if (data == 2) {
        if (this.isAddData) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
          return;
        } else {
          this.settingMode = data;
        }
      }

      this.settingMode = data;
    },
    selectAllSchool() {
      if (this.selectedSchoolAll) {
        this.selectedSchoolType = [];
        for (let i = 0; i < this.schoolTypeList.length; i++) {
          this.selectedSchoolType.push(this.schoolTypeList[i].name);
        }
      } else {
        this.selectedSchoolType = [];
      }
    },
    deleteBtn(typekey) {
      var d = new Date();
      var n = d.getTime();

      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          db.collection("readingfillin")
            .doc(this.practice.key)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .collection("extraWord")
            .doc(typekey)
            .delete();

          db.collection("readingfillin")
            .doc(this.practice.key)
            .update({
              savedraft: n
            });

          this.practice.practiceEditKey = "";
          this.dataExtra.vocabulary = "";
          this.dataExtra.meaning = "";
          this.dataExtra.uselearn = false;
          this.dataExtra.partOfSpeech = "ไม่ระบุ";

          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
        })
        .onCancel(() => {});
    },
    async editBtn(typekey) {
      this.loadingSet(1);
      await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("draft")
        .doc("data")
        .collection("content")
        .doc("data")
        .collection("extraWord")
        .doc(typekey)
        .get()
        .then(data => {
          this.practice.practiceEditKey = typekey;
          this.dataExtra.vocabulary = data.data().vocabulary;
          this.dataExtra.meaning = data.data().meaning;
          this.dataExtra.uselearn = data.data().uselearn
            ? data.data().uselearn
            : false;
          this.dataExtra.partOfSpeech = data.data().partOfSpeech;
        });

      this.loadingSet(0);
    },
    cancelExtraBtn() {
      this.practice.practiceEditKey = "";
      this.dataExtra.vocab = "";
      this.dataExtra.meaning = "";
      this.dataExtra.uselearn = false;
      this.dataExtra.partofspeech = "ไม่ระบุ";
    },
    checkErrorInput(typesave) {
      if (typesave == 1) {
        if (this.dataSetting.contentThai.length <= 0) {
          this.isErrorContentThai = false;
        } else {
          this.isErrorContentThai = true;
        }
      }

      if (typesave == 2) {
        if (this.dataSetting2.contentEng.length <= 0) {
          this.isErrorContentEng = false;
        } else {
          this.isErrorContentEng = true;
        }
      }
    },
    async saveBtn(type) {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      let data;
      var d = new Date();
      var n = d.getTime();

      if (type == 0) {
        this.$refs.titleThai.validate();
        if (
          this.$refs.titleThai.hasError ||
          this.dataSetting.contentThai.length <= 0 ||
          !this.isErrorContentThai
        ) {
          this.isErrorContentThai = false;
          this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
          return;
        }

        this.isSaveData = false;
        this.loadingSet(1);

        if (this.isAddData) {
          data = await db
            .collection("readingfillin")
            .doc(this.practice.key)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .set({
              titleThai: this.dataSetting.titleThai,
              contentThai: this.dataSetting.contentThai,
              titleEng: "",
              contentEng: ""
            })
            .then(result => {
              this.isAddData = false;
              this.$router.push(
                "/practice/readingfillin/edit/" +
                  this.practice.key +
                  "/" +
                  this.practice.level +
                  "/" +
                  this.practice.unit +
                  "/data/" +
                  1
              );
            });
        } else {
          data = await db
            .collection("readingfillin")
            .doc(this.practice.key)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .update(this.dataSetting);
        }
      }

      if (type == 1) {
        this.$refs.titleEng.validate();

        if (
          this.$refs.titleEng.hasError ||
          this.dataSetting2.contentEng.length <= 0 ||
          !this.isErrorContentEng
        ) {
          this.isErrorContentEng = false;
          this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
          return;
        }

        this.isSaveData = false;
        this.loadingSet(1);

        if (this.isAddData) {
          data = await db
            .collection("readingfillin")
            .doc(this.practice.key)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .set({
              titleThai: "",
              contentThai: "",
              titleEng: this.dataSetting2.titleEng,
              contentEng: this.dataSetting2.contentEng
            })
            .then(result => {
              this.isAddData = false;
              this.$router.push(
                "/practice/readingfillin/edit/" +
                  this.practice.key +
                  "/" +
                  this.practice.level +
                  "/" +
                  this.practice.unit +
                  "/data/" +
                  1
              );
            });
        } else {
          data = await db
            .collection("readingfillin")
            .doc(this.practice.key)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .update(this.dataSetting2);
        }
      }

      if (type == 2) {
        this.$refs.vocab.validate();
        this.$refs.meaning.validate();
        if (this.$refs.vocab.hasError || this.$refs.meaning.hasError) {
          this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
          return;
        }

        this.isSaveData = false;

        if (this.practice.practiceEditKey == "") {
          await db
            .collection("readingfillin")
            .doc(this.practice.key)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .collection("extraWord")
            .add(this.dataExtra);

          this.dataExtra.vocabulary = "";
          this.dataExtra.partOfSpeech = "ไม่ระบุ";
          this.dataExtra.meaning = "";
          this.dataExtra.uselearn = false;
        } else {
          await db
            .collection("readingfillin")
            .doc(this.practice.key)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .collection("extraWord")
            .doc(this.practice.practiceEditKey)
            .update(this.dataExtra);

          this.practice.practiceEditKey = "";
          this.dataExtra.vocabulary = "";
          this.dataExtra.partOfSspeech = "ไม่ระบุ";
          this.dataExtra.meaning = "";
          this.dataExtra.uselearn = false;
        }
      }

      await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });

      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
    },
    async loadBasicData() {
      await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("draft")
        .doc("data")
        .collection("content")
        .doc("data")
        .get()
        .then(data => {
          this.dataSetting = {
            titleThai: data.data().titleThai,
            contentThai: data.data().contentThai
          };

          this.dataSetting2 = {
            titleEng: data.data().titleEng,
            contentEng: data.data().contentEng
          };
        });

      this.loadingSet(0);
    },
    async loadExtraWord() {
      let data;
      data = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("draft")
        .doc("data")
        .collection("content")
        .doc("data")
        .collection("extraWord")
        .orderBy("vocabulary")
        .onSnapshot(doc => {
          this.dataShow = [];
          doc.forEach(result => {
            let dataKey = {
              key: result.id,
              uselearn: result.data().uselearn ? result.data().uselearn : false
            };

            let dataFinal = {
              ...result.data(),
              ...dataKey
            };

            this.dataShow.push(dataFinal);
          });
        });
    },
    loadCheckSchool() {
      this.loadingSet(1);

      db.collection("readingfillin")
        .doc(this.practice.key)
        .collection("schooloption")
        .get()
        .then(data => {
          this.schoolTypeList = [];
          data.forEach(doc => {
            let dataFinal = {
              name: doc.id
            };
            this.schoolTypeList.push(dataFinal);

            if (this.isAddData) {
              this.selectedSchoolType.push(doc.id);
            }

            this.loadingSet(0);
          });
        });
    },
    getdata(get) {
      this.dataExtra.partOfSpeech = get.partOfSpeech;
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  components: {
    appPartOfSpeech: partOfSpeech
  },
  mounted() {
    if (this.$route.name == "readingfillinedit") {
      this.isAddData = false;
      this.loadBasicData();
      this.loadExtraWord();
      this.loadingSet(1);
    }

    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadCheckSchool();
  },
  watch: {
    $route(to, form) {
      if (this.$route.name == "readingfillinedit") {
        this.practice.practiceKey = this.$route.params.practicekey;
        this.loadBasicData();
        this.loadExtraWord();
      }
    }
  }
};
</script>
