<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row reverse-wrap items-center">
      <div class="col-xs-12 col-md-6 q-mb-md q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="แบบร่าง"
            :disable="!isMode"
            :class="{'bg-teal-5 text-white' : mode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            @click="changeMode(0)"
            push
          />
          <q-btn
            label="เซิฟเวอร์"
            :disable="!isMode"
            :class="{'bg-teal-5 text-white' : mode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            @click="changeMode(1)"
            class="bg-white"
            push
          />
        </q-btn-group>
      </div>
      <div align="right" class="q-pa-sm col-xs-12 col-md-6 q-mb-sm">
        <q-btn
          icon="fas fa-sync"
          class="q-ma-sm q-mr-sm"
          :disabled="mode == 1 || !isSync"
          color="teal-5"
          @click="syncBtn()"
          round
        />
        <q-btn
          icon="fas fa-arrows-alt"
          class="q-ma-sm q-mr-sm"
          :disabled="mode == 1"
          color="teal-5"
          @click="movePractice()"
          round
        />
        <router-link
          :to="{name:'readingfillinprint',params:{dataContent,dataSetting,dataShow,practice,schoolType}}"
        >
          <q-btn
            icon="fas fa-print"
            class="q-ma-sm q-mr-sm"
            :disabled="mode == 1"
            color="teal-5"
            round
          />
        </router-link>
      </div>
    </div>

    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Reading Fill in the blanks | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>
      <div class="q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="ตั้งค่า"
            @click="changeSettingMode(0)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
          <q-btn
            label="เนื้อเรื่อง / รูปภาพ"
            @click="changeSettingMode(1)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            style="border-left:0.2mm solid rgba(0,0,0,.3);border-right:0.2mm solid rgba(0,0,0,.3)"
            push
          ></q-btn>
          <q-btn
            label="คำถาม"
            @click="changeSettingMode(2)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 2,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
        </q-btn-group>
      </div>
      <!-- Setting Mode 0 -->
      <div v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                type="number"
                v-model="dataSetting.orderid"
                label="รหัสลำดับ"
                :readonly="mode == 1"
                ref="orderid"
                :rules="[val => val >= 3001 || '', val2 => val2 <= 3998||'',val3 => !!val3|| '']"
              />
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                label="ชื่อแบบฝึกหัด"
                v-model="dataSetting.practiceName"
                :readonly="mode == 1"
                ref="practiceName"
                :rules="[val => !!val || '']"
              />
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-select
                outlined
                class="q-pa-sm"
                v-model="dataSetting.appTemplate"
                label="รูปแบบหน้ากากเกมส์"
                :options="templateGames"
                :readonly="mode == 1"
                emit-value
                map-options
              />
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            คำสั่ง
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-pt-md q-pb-lg">
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                v-model="dataSetting.instructionEng"
                label="คำสั่งภาษาอังกฤษ"
                :readonly="mode == 1"
                ref="instructionEng"
                :rules="[val => !!val || '']"
              />
            </div>
            <div class="col-xl-12 col-xs-12 q-pa-sm">
              <q-input
                outlined
                class="q-pa-sm"
                label="คำสั่งภาษาไทย"
                v-model="dataSetting.instructionThai"
                :readonly="mode == 1"
                ref="instructionThai"
                :rules="[val => !!val || '']"
              />
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            ประเภทโรงเรียน
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <app-reading
            v-for="(value,index) in schoolType"
            :key="index"
            :schoolTypeName="value.name"
            :dataSchool="{use:value.use,passScore:value.passScore,highlight:value.highlight,star:value.star}"
            @schoolTypeSet="schoolTypeSet"
            :mode="mode"
          />
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :disabled="mode == 1"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn()"
              color="teal-5"
              class="q-ma-xs"
              :disabled="mode == 1||!isSaveData"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <!-- Setting Mode 1 -->
      <div v-show="settingMode == 1">
        <div class="row q-mt-xl">
          <div class="col-6 q-pl-sm self-center">
            <q-btn-group push>
              <q-btn
                label="ภาษาอังกฤษ"
                @click="changeLanguageMode(0)"
                :class="{'bg-teal-5 text-white' : languageMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
                class="bg-white"
                push
              />
              <q-btn
                label="ภาษาไทย"
                @click="changeLanguageMode(1)"
                :class="{'bg-teal-5 text-white' : languageMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
                class="bg-white"
                push
              />
            </q-btn-group>
          </div>
          <div class="col-6" align="right" v-if="!practice.practiceContent">
            <q-btn
              round
              icon="fas fa-plus"
              class="q-ma-sm q-mr-lg"
              color="teal-5"
              @click="addContentBtn()"
              :disabled="mode == 1"
            />
          </div>
          <div class="col-6" align="right" v-else>
            <q-btn
              round
              icon="fas fa-pencil-alt"
              class="q-ma-sm q-mr-lg"
              color="amber-7"
              @click="editContentBtn()"
              :disabled="mode == 1"
            />
          </div>
        </div>

        <div class="box-content-practice">
          <div class="q-pb-sm q-mt-lg text-center q-pa-md">
            <h5
              align="center"
              v-if="languageMode == 0"
              class="no-margin q-pa-sm"
              v-html="dataContent.titleEng"
            ></h5>
            <h5 align="center" v-else class="no-margin q-pa-sm" v-html="dataContent.titleThai"></h5>
          </div>

          <div class="row">
            <div class="col-12 q-mt-sm" align="center">
              <img v-lazy="loadImgPath" style="max-width:300px;width:100%;">
            </div>
            <div class="col-12 q-mt-lg q-mb-lg q-pa-md" v-if="languageMode == 0" align="left">
              <span v-if="dataContent.contentEng" v-html="textHightlightEng"></span>
            </div>
            <div class="col-12 q-mt-lg q-mb-lg q-pa-md" v-else align="left">
              <span v-if="dataContent.contentThai" v-html="textHightlightThai"></span>
            </div>
          </div>
        </div>
      </div>

      <!-- Setting Mode 2 -->
      <div v-show="settingMode == 2">
        <div class="row q-pt-xl">
          <div class="col-xs-12 col-md-4">
            <q-select
              outlined
              class="q-pa-sm"
              v-model="schoolTypeSelect"
              label="ประเภทโรงเรียน"
              :options="schoolTypeList"
              @input="changeSchoolType(schoolTypeSelect)"
              emit-value
              map-options
            />
          </div>
          <div class="col-xs-12 col-md-8 self-center" align="right">
            <q-btn
              round
              icon="fas fa-plus"
              class="q-ma-sm q-mr-lg"
              color="teal-5"
              @click="addQuestionBtn()"
              :disabled="mode == 1"
            />
          </div>
        </div>

        <q-table
          :data="dataShow"
          :columns="columns"
          row-key="key"
          class="bg-grey-2"
          :pagination.sync="pagination"
          separator="cell"
        >
          <q-tr slot="body" slot-scope="props" :props="props">
            <q-td key="orderNumber" align="center" style="vertical-align: top" :props="props">
              <span>{{ props.row.__index + 1 }}</span>
            </q-td>
            <q-td key="practice" :props="props">
              <div align="left">
                <span v-html="props.row.question"></span>
              </div>
              <div align="left">
                <span v-html="props.row.meaning"></span>
              </div>
              <div align="left" v-if="props.row.ref1">
                <br>
                <hr>
                <div v-if="props.row.ref1">
                  <i>
                    <b>อ้างอิง#1</b>
                  </i>
                  {{props.row.ref1}}
                </div>
                <div v-if="props.row.ref2">
                  <i>
                    <b>อ้างอิง#2</b>
                  </i>
                  {{props.row.ref2}}
                </div>
                <div v-if="props.row.ref3">
                  <i>
                    <b>อ้างอิง#3</b>
                  </i>
                  {{props.row.ref3}}
                </div>
              </div>
              <div align="left" v-if="props.row.extraVocab">
                <hr>
                <table class="no-margin">
                  <tr v-for="(item,index) in props.row.extraVocab" :key="index">
                    <td class="no-padding" align="left" style="width:fit-content;border:none;">
                      <span class="q-pr-xs">{{ item.vocab }}</span>
                    </td>
                    <td class="no-padding" align="left" style="border:none;">
                      <span>({{ item.partofspeech }})</span>
                    </td>
                    <td class="no-padding" align="left" style="border:none;">
                      <span class="q-pl-xs">{{ item.meaning }}</span>
                    </td>
                  </tr>
                </table>
              </div>
            </q-td>
            <q-td key="orderid" style="vertical-align: top" :props="props">
              <span>{{ props.row.orderid }}</span>
            </q-td>

            <q-td key="delete" style="vertical-align: top" :props="props">
              <span @click="deleteBtn(props.row.key)" v-show="mode==0">
                <q-icon name="fas fa-trash-alt  text-red pointer text-body1"/>
              </span>
              <span v-show="mode==1">
                <q-icon name="fas fa-trash-alt  text-grey-5 text-body1"/>
              </span>
            </q-td>

            <q-td key="edit" style="vertical-align: top" :props="props">
              <span @click="editBtn(props.row.key)" v-show="mode==0">
                <q-icon name="fas fa-edit  text-amber-7 pointer text-body1"/>
              </span>
              <span v-show="mode==1">
                <q-icon name="fas fa-edit  text-grey-5 text-body1"/>
              </span>
            </q-td>
          </q-tr>
        </q-table>
      </div>
    </div>
  </q-page>
</template>
<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
import reading from "../../components/readingOptions.vue";
export default {
  data() {
    return {
      mode: 0, //mode 0 = แบบร่าง , 1 = เซิฟเวอร์
      settingMode: this.$route.params.settingmode, //SettingMode 1 = ตั้งค่า , 2 = คำถาม
      languageMode: 0, //Mode 0 = ภาษาอังกฤษ , 1 ภาษาไทย
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        practiceContent: false
      },
      dataSetting: {
        orderid: 0,
        practiceName: "",
        appTemplate: "",
        instructionEng: "",
        instructionThai: ""
      },
      dataContent: {},
      templateGames: [],
      schoolType: [],
      schoolTypeList: [
        {
          value: "ทั้งหมด",
          label: "ทั้งหมด",
          name: "ทั้งหมด"
        }
      ],
      schoolTypeSelect: "",
      dataShow: [],
      pagination: {
        page: 1,
        rowsPerPage: 0 // current rows per page being displayed
      },
      columns: [
        {
          name: "orderNumber",
          label: "ลำดับ",
          align: "center",
          style: "width:100px;",
          sortable: false
        },
        {
          name: "practice",
          label: "แบบฝึกหัด",
          align: "center",
          style: "",
          field: "practice",
          sortable: false
        },
        {
          name: "orderid",
          label: "รหัสลำดับ",
          align: "center",
          style: "width:100px;",
          field: "orderid",
          sortable: false
        },
        {
          name: "delete",
          label: "ลบ",
          align: "center",
          style: "width:100px;",
          field: "edit",
          sortable: false
        },
        {
          name: "edit",
          label: "แก้ไข",
          align: "center",
          style: "width:100px;",
          field: "delete",
          sortable: false
        }
      ],
      isSaveData: true,
      isMode: true,
      isSync: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },

  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setSettingModeKey",
      "setLinkMenu"
    ]),
    changeMode(data) {
      this.isMode = false;
      this.mode = data;

      this.loadQuestion();
      this.loadContent();
    },
    changeLanguageMode(data) {
      this.languageMode = data;
    },
    changeSettingMode(data) {
      this.settingMode = data;
      this.$router.push(
        "/practice/readingfillin/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          this.settingMode
      );
    },
    changeSchoolType(type) {
      var modedata;
      if (this.mode == 0) {
        modedata = "draft";
      } else {
        modedata = "server";
      }

      if (type == "ทั้งหมด") {
        this.loadQuestion();
      } else {
        this.isMode = false;
        db.collection("readingfillin")
          .doc(this.practice.key)
          .collection(modedata)
          .doc("data")
          .collection("practice")
          .where(type, "==", true)
          .onSnapshot(data => {
            this.dataShow = [];

            data.forEach(doc => {
              var newTextQeustion = doc.data().question;

              newTextQeustion = newTextQeustion.replace(
                /<span style="text-decoration: underline;">/g,
                '<span class="bg-teal-5 text-white">'
              );

              let dataKey = {
                key: doc.id,
                ref1: doc.data().hightlight[0],
                ref2: doc.data().hightlight[1],
                ref3: doc.data().hightlight[2],
                question: newTextQeustion
              };

              db.collection("readingfillin")
                .doc(this.practice.key)
                .collection(modedata)
                .doc("data")
                .collection("practice")
                .doc(doc.id)
                .collection("extraWord")
                .get()
                .then(extra => {
                  var extraWord = [];
                  var dataVocab;
                  extra.forEach(result => {
                    extraWord.push(result.data());
                    dataVocab = {
                      extraVocab: extraWord
                    };
                  });

                  let dataFinal = {
                    ...doc.data(),
                    ...dataKey,
                    ...dataVocab
                  };

                  this.dataShow.push(dataFinal);

                  this.dataShow.sort((a, b) => {
                    return Number(a.orderid) - Number(b.orderid);
                  });
                });
            });
          });

        setTimeout(() => {
          this.isMode = true;
        }, 700);
      }
    },
    async checkEnableSync() {
      var datadraft;
      var dataserver;

      let data = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .get();

      if (data.exists) {
        datadraft = await data.data().savedraft;
        dataserver = await data.data().saveserver;
        if (Number(datadraft) > Number(dataserver)) {
          this.isSync = true;
        } else {
          this.isSync = false;
        }
      } else {
        this.isSync = false;
      }
    },
    async syncBtn() {
      this.loadingSet(1, "กำลังซิงค์ข้อมูล โปรดรอสักครู่");
      this.isSync = false;

      var d = new Date();
      var n = d.getTime();

      // Content Extra Server : Delete
      let loadservercontentextradata = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("server")
        .doc("data")
        .collection("content")
        .doc("data")
        .collection("extraWord")
        .get();

      loadservercontentextradata.forEach(result => {
        db.collection("readingfillin")
          .doc(this.practice.key)
          .collection("server")
          .doc("data")
          .collection("content")
          .doc("data")
          .collection("extraWord")
          .doc(result.id)
          .delete();
      });

      // Content Server : Delete
      let loadservercontentdata = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("server")
        .doc("data")
        .collection("content")
        .doc("data")
        .delete();

      // Practice Extra Server : Delete
      let loadserverpracticeextradata = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("server")
        .doc("data")
        .collection("practice")
        .get();

      loadserverpracticeextradata.forEach(result => {
        db.collection("readingfillin")
          .doc(this.practice.key)
          .collection("server")
          .doc("data")
          .collection("practice")
          .doc(result.id)
          .collection("extraWord")
          .get()
          .then(data => {
            data.forEach(extra => {
              db.collection("readingfillin")
                .doc(this.practice.key)
                .collection("server")
                .doc("data")
                .collection("practice")
                .doc(result.id)
                .collection("extraWord")
                .doc(extra.id)
                .delete();
            });
            db.collection("readingfillin")
              .doc(this.practice.key)
              .collection("server")
              .doc("data")
              .collection("practice")
              .doc(result.id)
              .delete();
          });
      });

      // Content Server : Sync
      let loaddraftcontentdata = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("draft")
        .doc("data")
        .collection("content")
        .get();

      loaddraftcontentdata.forEach(result => {
        db.collection("readingfillin")
          .doc(this.practice.key)
          .collection("server")
          .doc("data")
          .collection("content")
          .doc("data")
          .set(result.data());
      });

      // Content Extra Server : Sync
      let loaddraftcontentextradata = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("draft")
        .doc("data")
        .collection("content")
        .doc("data")
        .collection("extraWord")
        .get();

      loaddraftcontentextradata.forEach(result => {
        db.collection("readingfillin")
          .doc(this.practice.key)
          .collection("server")
          .doc("data")
          .collection("content")
          .doc("data")
          .collection("extraWord")
          .doc(result.id)
          .set(result.data());
      });

      // Practice Server : Sync
      let loaddraftpracticedata = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection("draft")
        .doc("data")
        .collection("practice")
        .get();

      loaddraftpracticedata.forEach(result => {
        db.collection("readingfillin")
          .doc(this.practice.key)
          .collection("server")
          .doc("data")
          .collection("practice")
          .doc(result.id)
          .set(result.data());

        db.collection("readingfillin")
          .doc(this.practice.key)
          .collection("draft")
          .doc("data")
          .collection("practice")
          .doc(result.id)
          .collection("extraWord")
          .get()
          .then(data => {
            data.forEach(extra => {
              db.collection("readingfillin")
                .doc(this.practice.key)
                .collection("server")
                .doc("data")
                .collection("practice")
                .doc(result.id)
                .collection("extraWord")
                .doc(extra.id)
                .set(extra.data());
            });
          });
      });

      await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .update({
          saveserver: n
        });

      this.notifyGreen("ซิงค์ข้อมูลเรียบร้อยแล้ว");
      this.loadingSet(0);

      this.loadQuestion();
    },
    movePractice() {
      this.$router.push(
        "/practice/move/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit
      );
    },
    addQuestionBtn() {
      db.collection("readingfillin")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            this.$router.push(
              "/practice/readingfillin/add/question/" +
                this.practice.key +
                "/" +
                this.practice.level +
                "/" +
                this.practice.unit +
                "/" +
                this.settingMode
            );
          } else {
            this.$router.push(
              "/practice/readingfillin/" +
                this.practice.key +
                "/" +
                this.practice.level +
                "/" +
                this.practice.unit +
                "/" +
                0
            );
            this.settingMode = 0;
            this.notifyRed("ต้องตั้งค่าแบบฝึกหัดก่อน");
          }
        });
    },
    addContentBtn() {
      db.collection("readingfillin")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            this.$router.push(
              "/practice/readingfillin/add/" +
                this.practice.key +
                "/" +
                this.practice.level +
                "/" +
                this.practice.unit +
                "/" +
                this.settingMode
            );
          } else {
            this.$router.push(
              "/practice/readingfillin/" +
                this.practice.key +
                "/" +
                this.practice.level +
                "/" +
                this.practice.unit +
                "/" +
                0
            );
            this.settingMode = 0;
            this.notifyRed("ต้องตั้งค่าแบบฝึกหัดก่อน");
          }
        });
    },
    editContentBtn(typekey) {
      this.$router.push(
        "/practice/readingfillin/edit/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/data/" +
          this.settingMode
      );
    },
    editBtn(typekey) {
      this.$router.push(
        "/practice/readingfillin/edit/question/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          typekey +
          "/" +
          this.settingMode
      );
    },
    deleteBtn(typekey) {
      var d = new Date();
      var n = d.getTime();

      this.$q
        .dialog({
          title: "ลบข้อมูล",
          message: "คุณต้องการลบข้อมูลใช่หรือไม่",
          ok: "ตกลง",
          cancel: "ยกเลิก"
        })
        .onOk(() => {
          this.loadingSet(1);

          db.collection("readingfillin")
            .doc(this.practice.key)
            .collection("draft")
            .doc("data")
            .collection("practice")
            .doc(typekey)
            .delete();

          db.collection("readingfillin")
            .doc(this.practice.key)
            .update({
              savedraft: n
            });

          this.loadingSet(0);
          this.checkEnableSync();
          this.notifyGreen("ลบข้อมูลเสร็จสิ้น");
        })
        .onCancel(() => {});
    },
    cancelBtn() {
      this.$router.push("/practice");
    },
    async saveBtn() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var d = new Date();
      var n = d.getTime();

      this.$refs.orderid.validate();
      this.$refs.practiceName.validate();
      this.$refs.instructionEng.validate();
      this.$refs.instructionThai.validate();

      if (
        this.$refs.orderid.hasError ||
        this.$refs.practiceName.hasError ||
        this.$refs.instructionEng.hasError ||
        this.$refs.instructionThai.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      let dataCheckSelect = 0;

      for (let i = 0; i < this.schoolType.length; i++) {
        if (!this.schoolType[i].use) {
          dataCheckSelect += 1;
        } else {
          if (
            Number(this.schoolType[i].passScore) <=
            Number(this.schoolType[i].star)
          ) {
          } else {
            this.notifyRed("เกณฑ์ 3 ดาวต้องมากว่า เกณฑ์การผ่าน");
            return;
          }
        }
      }

      if (dataCheckSelect == this.schoolType.length) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      this.isSaveData = false;
      this.loadingSet(1);

      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .update({
          order: Number(this.dataSetting.orderid),
          name: this.dataSetting.practiceName
        });

      await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            db.collection("readingfillin")
              .doc(this.practice.key)
              .update({
                apptemplate: this.dataSetting.appTemplate,
                instructioneng: this.dataSetting.instructionEng,
                instructionthai: this.dataSetting.instructionThai
              });
          } else {
            db.collection("readingfillin")
              .doc(this.practice.key)
              .set({
                apptemplate: this.dataSetting.appTemplate,
                instructioneng: this.dataSetting.instructionEng,
                instructionthai: this.dataSetting.instructionThai,
                savedraft: 0,
                saveserver: 0
              });
          }
        });

      for (let i = 0; i < this.schoolType.length; i++) {
        if (this.schoolType[i].use) {
          await db
            .collection("readingfillin")
            .doc(this.practice.key)
            .collection("schooloption")
            .doc(this.schoolType[i].name)
            .set(this.schoolType[i]);
        } else {
          await db
            .collection("readingfillin")
            .doc(this.practice.key)
            .collection("schooloption")
            .doc(this.schoolType[i].name)
            .delete();
        }
      }

      this.isSaveData = true;
      this.loadingSet(0);
      this.notifyGreen("บันทึกข้อมูลเรียบร้อยแล้ว");
    },
    schoolTypeSet(value) {
      for (let i = 0; i < this.schoolType.length; i++) {
        if (this.schoolType[i].name == value.name) {
          this.schoolType[i] = value;
        }
      }
    },
    async loadBasicData() {
      let _This = this;
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;

      // เรียกข้อมูล : ชื่อแบบฝึกหัด, รหัสลำดับ
      let loadPractice = await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get();

      this.dataSetting.practiceName = loadPractice.data().name; //ชื่อแบบฝึกหัด
      this.dataSetting.orderid = loadPractice.data().order; //รหัสลำดับ

      // เรียกข้อมูล : คำสั่งภาษาไทย, คำสั่งภาษาอังกฤษ, รูปแบบหน้ากากเกมส์, ออฟชั่นหน้ากากเกมส์
      let loadTranslationData = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .get();

      let loadMainApp = await db
        .collection("mainapptemplate")
        .where("practicetype", "==", "reading (Fill in the blanks)")
        .get();

      loadMainApp.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name
        };
        let dataFinal = {
          ...doc.data(),
          ...dataKey
        };

        this.templateGames.push(dataFinal); //ออฟชั่นหน้ากากเกมส์

        if (loadTranslationData.exists) {
          this.dataSetting.appTemplate = loadTranslationData.data().apptemplate; //รูปแบบหน้ากากเกมส์
          this.dataSetting.instructionEng = loadTranslationData.data().instructioneng; //คำสั่งภาษาอังกฤษ
          this.dataSetting.instructionThai = loadTranslationData.data().instructionthai; //คำสั่งภาษาไทย
        } else {
          this.dataSetting.appTemplate = this.templateGames[0].label; //รูปแบบหน้ากากเกมส์
        }
      });

      // เรียกข้อมูล : ประเภทโรงเรียน, ออฟชั่นประเภทโรงเรียน
      let loadSchoolType = await db
        .collection("schooltype")
        .orderBy("name")
        .get();

      loadSchoolType.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name
        };

        let dataFinal = {
          ...doc.data(),
          ...dataKey
        };

        this.schoolTypeList.push(dataFinal); //ออฟชั่นประเภทโรงเรียน
        this.schoolTypeSelect = "ทั้งหมด"; //เลือกประเภทโรงเรียนจาก Array 0 เป็นอันดับแรกเสมอ

        db.collection("readingfillin")
          .doc(this.practice.key)
          .collection("schooloption")
          .doc(doc.data().name)
          .get()
          .then(value => {
            if (value.exists) {
              this.schoolType.push(value.data()); //ประเภทโรงเรียน
            } else {
              this.schoolType.push({
                use: false,
                name: doc.data().name,
                passScore: "",
                star: ""
              });
            }
          });
      });

      this.loadQuestion();
      this.loadingSet(0);
    },
    async loadContent() {
      var modedata;
      let data;

      if (this.mode == 0) {
        // เช็ดสถานนะ : Draft
        modedata = "draft";
      } else {
        // เช็ดสถานนะ : Server
        modedata = "server";
      }

      data = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection(modedata)
        .doc("data")
        .collection("content")
        .doc("data")
        .get();

      if (!data.exists) {
        return;
      }

      let dataExtra = await db
        .collection("readingfillin")
        .doc(this.practice.key)
        .collection(modedata)
        .doc("data")
        .collection("content")
        .doc("data")
        .collection("extraWord")
        .get();

      let extraWord = [];
      let extraVocab;

      dataExtra.forEach(result => {
        extraWord.push(result.data());
        extraWord.sort((a, b) => {
          return a.vocabulary < b.vocabulary ? -1 : 1;
        });
        extraVocab = {
          extraVocab: extraWord
        };
      });

      let dataFinal = {
        ...data.data(),
        ...extraVocab
      };

      this.practice.practiceContent = true;
      this.dataContent = dataFinal;
    },
    loadQuestion() {
      var modedata;

      if (this.mode == 0) {
        // เช็ดสถานนะ : Draft
        modedata = "draft";
      } else {
        // เช็ดสถานนะ : Server
        modedata = "server";
      }

      db.collection("readingfillin")
        .doc(this.practice.key)
        .collection(modedata)
        .doc("data")
        .collection("practice")
        .orderBy("orderid")
        .onSnapshot(data => {
          this.dataShow = [];

          data.forEach(doc => {
            var newTextQeustion = doc.data().question;

            newTextQeustion = newTextQeustion.replace(
              /<span style="text-decoration: underline;">/g,
              '<span class="bg-teal-5 text-white">'
            );

            let dataKey = {
              key: doc.id,
              ref1: doc.data().hightlight[0],
              ref2: doc.data().hightlight[1],
              ref3: doc.data().hightlight[2],
              question: newTextQeustion
            };

            db.collection("readingfillin")
              .doc(this.practice.key)
              .collection(modedata)
              .doc("data")
              .collection("practice")
              .doc(doc.id)
              .collection("extraWord")
              .get()
              .then(extra => {
                let extraWord = [];
                let dataVocab;
                extra.forEach(result => {
                  extraWord.push(result.data());
                  dataVocab = {
                    extraVocab: extraWord
                  };
                });

                let dataFinal = {
                  ...doc.data(),
                  ...dataKey,
                  ...dataVocab
                };

                this.dataShow.push(dataFinal);
              });
          });
        });

      setTimeout(() => {
        this.isMode = true;
      }, 700);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  computed: {
    loadImgPath() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      return this.serverpath + "pic_reading/" + levelunit + ".jpg";
    },
    textHightlightEng() {
      var contentEng = this.dataContent.contentEng;
      var extraVocab = this.dataContent.extraVocab
        ? this.dataContent.extraVocab
        : "";

      for (let i = 0; i < extraVocab.length; i++) {
        var newVocab = extraVocab[i].vocabulary;
        contentEng = contentEng.replace(
          new RegExp("\\b((?!class=))" + newVocab.trim() + "\\b", "g"),
          "<span class='text-teal-5 tooltip' data-tool='" +
            extraVocab[i].meaning +
            "'>" +
            newVocab +
            "</span>"
        );
      }

      return contentEng;
    },
    textHightlightThai() {
      var contentThai = this.dataContent.contentThai;
      var extraVocab = this.dataContent.extraVocab
        ? this.dataContent.extraVocab
        : "";

      for (let i = 0; i < extraVocab.length; i++) {
        var newVocab = extraVocab[i].meaning;
        contentThai = contentThai.replace(
          new RegExp(newVocab.trim(), "g"),
          "<span class='text-teal-5 tooltip' data-tool='" +
            extraVocab[i].vocabulary +
            "'>" +
            newVocab +
            "</span>"
        );
      }

      return contentThai;
    }
  },
  components: {
    appReading: reading
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadBasicData();
    this.loadContent();
    this.checkEnableSync();
    this.loadingSet(1);
  }
};
</script>

<style scoped>
table {
  border-collapse: collapse;
  border: none;
}

table tr {
  background-color: transparent;
}

table tr:hover {
  background-color: transparent;
}

table tr td {
  height: 0px;
  background-color: transparent;
}
</style>
