<template>
  <q-page class="q-pl-md q-pr-md q-pt-md">
    <div>
      <div class="bg-grey-2">
        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            จัดการเสียง
            <hr />
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row justify-center">
            <div class="col-xs-6 col-sm-6 q-pa-sm">
              <q-select
                outlined
                emit-value
                map-options
                v-model="level"
                label="Level"
                class="q-pa-sm"
                :options="levelList"
                @input="loadUnitData"
              />
            </div>
            <div class="col-xs-3 col-sm-3 q-pa-sm">
              <q-select
                outlined
                emit-value
                map-options
                v-model="unitstart"
                label="unit เริ่มต้น"
                class="q-pa-sm"
                :options="unitList"
                @input="cleartype"
              />
            </div>
            <div class="col-xs-3 col-sm-3 q-pa-sm">
              <q-select
                outlined
                emit-value
                map-options
                v-model="unitend"
                label="unit สุดท้าย"
                class="q-pa-sm"
                :options="unitList"
                @input="cleartype"
              />
            </div>
          </div>
        </div>

        <div class="box-content-practice">
          <div class="row justify-center" :class="{'items-center':!selectPractice}">
            <div class="col-4 q-pl-md q-pt-md self-start">
              <q-btn
                label="Photo"
                @click="Test()"
                ref="flashcard"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isTest}"
                v-show="false"
              ></q-btn>
              <q-btn
                label="Check Flashcard"
                @click="flashcardText()"
                ref="flashcardText"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isFlashcardText}"
              ></q-btn>
              <q-btn
                label="Flashcard"
                @click="flashcardExport()"
                ref="flashcard"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isFlashcard}"
              ></q-btn>
              <q-btn
                @click="multipleChoiceExport()"
                label="Multiple choices"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isMultipleChoice}"
              ></q-btn>
              <q-btn
                @click="multipleQuestionExport()"
                label="Multiple Question"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isMultipleQuestion}"
              ></q-btn>
              <q-btn
                @click="multipleAnswerExport()"
                label="Multiple Answer"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isMultipleAnswer}"
              ></q-btn>
              <q-btn
                @click="fillintheblankExport()"
                label="Fill in the blanks"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isFillintheblank}"
              ></q-btn>
              <q-btn
                @click="errorDetectionExport()"
                label="Error Detection"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isErrorDetection}"
              ></q-btn>
              <q-btn
                @click="readingFillinExport()"
                label="Reading - Fill in"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isReadingFillin}"
              ></q-btn>
              <q-btn
                @click="readingMultipleExport()"
                label="Reading - Multiple choices"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isReadingMultiple}"
              ></q-btn>
              <q-btn
                label="Dictation"
                @click="dicationExport()"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isDictation}"
              ></q-btn>
              <q-btn
                label="Translation"
                @click="translationExport()"
                class="bg-white q-mb-md q-pa-sm"
                style="max-width:250px;width:100%;"
                :class="{'bg-teal-5 text-white':isCheck.isTranslation}"
              ></q-btn>
              <div class="q-pb-md">
                <a
                  href="https://api.winner-english.com/soundgen"
                  target="_blank"
                  style="text-decoration: underline; color: #007acc"
                >เข้าสู่โปรแกรมสร้างไฟล์เสียง</a>
              </div>
            </div>
            <div class="col-8 q-pr-md q-pt-md">
              <div class="row" v-if="selectPractice">
                <div class="col-12 q-mb-lg" v-show="isShow == 0 || isShow == 1">
                  <q-bar class="bg-blue-grey-10 text-white">
                    <div class="col text-center">คำศัพท์หลัก</div>
                    <q-btn dense flat @click="copyText(1)" class="bg-teal-5" round>
                      <span class="fas fa-copy"></span>
                    </q-btn>
                  </q-bar>
                  <textarea
                    v-if="isShow == 0"
                    class="bg-white full-width"
                    readonly
                    id="resultMain"
                    v-model="activeData"
                    rows="7"
                  ></textarea>
                  <textarea
                    v-if="isShow == 1"
                    class="bg-white full-width"
                    readonly
                    id="resultMain"
                    v-model="activeData"
                    rows="18"
                  ></textarea>
                </div>

                <div class="col-12" v-show="isShow == 0|| isShow == 2">
                  <q-bar class="bg-blue-grey-10 text-white">
                    <div class="col text-center">คำศัพท์เสริม</div>
                    <q-btn dense flat @click="copyText(2)" class="bg-teal-5" round>
                      <span class="fas fa-copy"></span>
                    </q-btn>
                  </q-bar>
                  <textarea
                    v-if="isShow == 0"
                    class="bg-white full-width"
                    readonly
                    id="resultExtra"
                    v-model="extraVocab"
                    rows="7"
                  ></textarea>
                  <textarea
                    v-if="isShow == 2"
                    class="bg-white full-width"
                    readonly
                    id="resultExtra"
                    v-model="extraVocab"
                    rows="18"
                  ></textarea>
                </div>
              </div>
              <div class="row justify-center items-center" v-else>
                <div class="col-12 text-h6" align="center">
                  <span>กรุณาเลือก Level / Unit และแบบฝึกหัด</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      level: this.$store.state.system.levelactive,
      unit: this.$store.state.system.unitactive,
      unitstart: 1,
      unitend: 1,
      levelList: [],
      unitList: [],
      unitData: [],
      activeData: "",
      txtPanel1: "Flashcard",
      txtPanel2: "Supplement vocab",
      showPanel1: true,
      showPanel2: true,
      extraVocab: "",
      translationVocabList: [],
      selectPractice: false,
      isCheck: {
        isFlashcard: false,
        flashcardText: false,
        isMultipleChoice: false,
        isMultipleQuestion: false,
        isMultipleAnswer: false,
        isFillintheblank: false,
        isErrorDetection: false,
        isReadingFillin: false,
        isReadingMultiple: false,
        isDictation: false,
        isTranslation: false,
        isTest: false
      },
      isShow: 0
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    async flashcardText() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");
      this.isCheck = {};
      this.isCheck.isFlashcardText = true;
      this.selectPractice = true;
      this.activeData = "";
      this.extraVocab = "";
      this.isShow = 0;
      var setMainText = "";
      var setExtraText = "";
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let practiceKey;
        let levelunit = "L" + this.level + "U" + unitx;

        //Main vocab
        let dataMain = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "flashcard")
          .get();
        dataMain.forEach(doc => {
          practiceKey = doc.id;
        });

        let genText;

        dataMain = await db
          .collection("flashcard")
          .doc(practiceKey)
          .collection("draft")
          .get();

        for (const doc of dataMain.docs) {
          genText =
            levelunit +
            " - " +
            doc.data().vocabulary.toLowerCase() +
            " - " +
            doc
              .data()
              .englishSentence.replace("<strong>", "")
              .replace("</strong>", "")
              .replace("&nbsp;", " ")
              .replace("&nbsp;", " ")
              .replace("&nbsp;", " ")
              .replace("&#39;", "'") +
            "\n";
          setMainText += genText;

          let extraid = doc.id;

          let dataExtra = await db
            .collection("flashcard")
            .doc(practiceKey)
            .collection("draft")
            .doc(extraid)
            .collection("extraVocab")
            .get();

          for (const extra of dataExtra.docs) {
            let extravocabdata = extra
              .data()
              .vocabulary.toLowerCase()
              .trim();
            setExtraText +=
              extravocabdata + ".txt *** " + extravocabdata + "\n";
          }
        }
      }

      this.activeData = "---- Flash card main vocab -----" + "\n" + setMainText;
      this.extraVocab =
        "---- Flash card extra vocab -----" + "\n" + setExtraText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    loadLevelData() {
      db.collection("level")
        .get()
        .then(data => {
          data.forEach(doc => {
            let dataList = {
              value: doc.data().name.toString(),
              label: doc.data().name.toString()
            };
            this.levelList.push(dataList);
            this.unitData[Number(dataList.value)] = doc.data().unit;
          });
          this.levelList.sort((a, b) => {
            return Number(a.value) - Number(b.value);
          });
          this.level = this.levelList[0].value;
          this.loadUnitData();
        });
    },
    loadUnitData() {
      this.unitList = [];
      for (let i = 1; i <= this.unitData[Number(this.level)]; i++) {
        let dataunit = {
          value: i.toString(),
          label: i.toString()
        };
        this.unitList.push(dataunit);
      }
      this.cleartype();
    },
    cleartype() {
      this.isCheck = [];
      this.selectPractice = false;
    },
    async Test() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");
      this.isCheck = {};
      this.isCheck.isTest = true;
      this.selectPractice = true;
      this.activeData = "";
      this.isShow = 1;

      var setMainText = "";

      for (let i = 1; i <= 12; i++) {
        for (let j = 1; j <= 16; j++) {
          var practiceKey;
          var levelunit = "L" + i + "U" + j;

          //Main vocab
          let dataMain = await db
            .collection("practicelist")
            .doc("data")
            .collection(levelunit)
            .where("practicetype", "==", "flashcard")
            .get();
          dataMain.forEach(doc => {
            practiceKey = doc.id;
          });

          var genText;

          dataMain = await db
            .collection("flashcard")
            .doc(practiceKey)
            .collection("draft")
            .get();

          for (const doc of dataMain.docs) {
            genText =
              doc.id.toLowerCase() +
              ".txt" +
              " *** " +
              doc.data().vocabulary.toLowerCase() +
              " *** " +
              i +
              " *** " +
              j +
              "\n";
            setMainText += genText;

            // genText =
            //   doc.id.toLowerCase() +
            //   "-spell.txt" +
            //   " *** " +
            //   doc
            //     .data()
            //     .vocabulary.toLowerCase()
            //     .split("")
            //     .join("-") +
            //   "-" +
            //   doc.data().vocabulary.toLowerCase() +
            //   "\n";
            // setMainText += genText;

            // genText =
            //   doc.id.toLowerCase() +
            //   "-sentence.txt" +
            //   " *** " +
            //   doc
            //     .data()
            //     .englishSentence.replace("<strong>", "")
            //     .replace("</strong>", "")
            //     .replace("&nbsp;", " ") +
            //   "\n";
            // setMainText += genText;
          }
        }
      }

      this.activeData = "---- Flash card main vocab -----" + "\n" + setMainText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async flashcardExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");
      this.isCheck = {};
      this.isCheck.isFlashcard = true;
      this.selectPractice = true;
      this.activeData = "";
      this.extraVocab = "";
      this.isShow = 0;
      var setMainText = "";
      var setExtraText = "";
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let practiceKey;
        let levelunit = "L" + this.level + "U" + unitx;

        //Main vocab
        let dataMain = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "flashcard")
          .get();
        dataMain.forEach(doc => {
          practiceKey = doc.id;
        });

        let genText;

        dataMain = await db
          .collection("flashcard")
          .doc(practiceKey)
          .collection("draft")
          .get();

        for (const doc of dataMain.docs) {
          genText =
            doc.id.toLowerCase() +
            ".txt" +
            " *** " +
            doc.data().vocabulary.toLowerCase() +
            "\n";
          setMainText += genText;

          genText =
            doc.id.toLowerCase() +
            "-spell.txt" +
            " *** " +
            doc
              .data()
              .vocabulary.toLowerCase()
              .split("")
              .join(" ") +
            " " +
            doc.data().vocabulary.toLowerCase() +
            "\n";
          setMainText += genText;

          genText =
            doc.id.toLowerCase() +
            "-sentence.txt" +
            " *** " +
            doc
              .data()
              .englishSentence.replace("<strong>", "")
              .replace("</strong>", "")
              .replace("&nbsp;", " ")
              .replace("&nbsp;", " ")
              .replace("&nbsp;", " ")
              .replace("&#39;", "'") +
            "\n";
          setMainText += genText;
          let extraid = doc.id;

          let dataExtra = await db
            .collection("flashcard")
            .doc(practiceKey)
            .collection("draft")
            .doc(extraid)
            .collection("extraVocab")
            .get();

          for (const extra of dataExtra.docs) {
            let extravocabdata = extra
              .data()
              .vocabulary.toLowerCase()
              .trim();
            setExtraText +=
              extravocabdata + ".txt *** " + extravocabdata + "\n";
          }
        }
      }

      this.activeData = "---- Flash card main vocab -----" + "\n" + setMainText;
      this.extraVocab =
        "---- Flash card extra vocab -----" + "\n" + setExtraText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async multipleChoiceExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");

      this.isCheck = {};
      this.isCheck.isMultipleChoice = true;
      this.selectPractice = true;
      this.extraVocab = "";
      this.isShow = 2;
      var setExtraText = "";
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let practiceKey;
        let levelunit = "L" + this.level + "U" + unitx;

        //Main vocab
        let data = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "multiple choices")
          .get();

        let genText;

        for (const doc of data.docs) {
          let dataMain = await db
            .collection("multiplechoice")
            .doc(doc.id)
            .collection("draft")
            .get();

          for (const docMain of dataMain.docs) {
            let dataExtra = await db
              .collection("multiplechoice")
              .doc(doc.id)
              .collection("draft")
              .doc(docMain.id)
              .collection("extraVocab")
              .get();

            for (const extra of dataExtra.docs) {
              genText =
                extra.data().vocabulary +
                ".txt" +
                " *** " +
                extra.data().vocabulary.toLowerCase() +
                "\n";
              setExtraText += genText;
            }
          }
        }
      }

      this.extraVocab =
        "---- Multiple Choice extra vocab ----" + "\n" + setExtraText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async multipleQuestionExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");

      this.isCheck = {};
      this.isCheck.isMultipleQuestion = true;
      this.selectPractice = true;
      this.activeData = "";
      this.isShow = 1;
      var setMainText = "";

      let practiceKey;
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let levelunit = "L" + this.level + "U" + unitx;

        //Main vocab
        let data = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "multiple choices")
          .get();

        let genText;

        for (const doc of data.docs) {
          let dataMain = await db
            .collection("multiplechoice")
            .doc(doc.id)
            .collection("draft")
            .get();

          for (const docMain of dataMain.docs) {
            if (docMain.data().questionSound) {
              genText =
                docMain.id +
                ".txt" +
                " *** " +
                docMain.data().question.toLowerCase() +
                "\n";
              setMainText += genText;
            }
          }
        }
      }
      this.activeData =
        "---- Multiple Choice Question ----" + "\n" + setMainText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async multipleAnswerExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");
      let genText;
      let setMainText = "";
      let setExtraText = "";
      this.isCheck = {};
      this.isCheck.isMultipleAnswer = true;
      this.selectPractice = true;
      this.activeData = "";
      this.extraVocab = "";
      this.isShow = 1;

      let practiceKey;
      var unitx;
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let levelunit = "L" + this.level + "U" + unitx;

        //Main vocab
        let data = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "multiple choices")
          .get();

        for (const doc of data.docs) {
          console.log(doc.id);
          let dataMain = await db
            .collection("multiplechoice")
            .doc(doc.id)
            .collection("draft")
            .get();

          for (const docMain of dataMain.docs) {
            if (docMain.data().answerSound) {
              if (docMain.data().choice1) {
                genText =
                  docMain.id +
                  "-1" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice1.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice2) {
                genText =
                  docMain.id +
                  "-2" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice2.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice3) {
                genText =
                  docMain.id +
                  "-3" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice3.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice4) {
                genText =
                  docMain.id +
                  "-4" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice4.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice5) {
                genText =
                  docMain.id +
                  "-5" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice5.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice6) {
                genText =
                  docMain.id +
                  "-6" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice6.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice7) {
                genText =
                  docMain.id +
                  "-7" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice7.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice8) {
                genText =
                  docMain.id +
                  "-8" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice8.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice9) {
                genText =
                  docMain.id +
                  "-9" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice9.toLowerCase() +
                  "\n";
                setMainText += genText;
              }

              if (docMain.data().choice10) {
                genText =
                  docMain.id +
                  "-10" +
                  ".txt" +
                  " *** " +
                  docMain.data().choice10.toLowerCase() +
                  "\n";
                setMainText += genText;
              }
            }
          }
        }
      }

      this.activeData =
        "---- Multiple Choice Answer main ----" + "\n" + setMainText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async dicationExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");

      this.isCheck = {};
      this.isCheck.isDictation = true;
      this.selectPractice = true;
      this.activeData = "";
      this.isShow = 1;

      let practiceKey;
      var setMainText = "";
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let levelunit = "L" + this.level + "U" + unitx;

        let dataMain = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "dictation")
          .get();
        dataMain.forEach(doc => {
          practiceKey = doc.id;
        });

        console.log(practiceKey);

        let genText;

        dataMain = await db
          .collection("dictation")
          .doc(practiceKey)
          .collection("draft")
          .get();

        for (const doc of dataMain.docs) {
          genText =
            doc.id +
            ".txt" +
            " *** " +
            doc.data().sentenceEng.toLowerCase() +
            "\n";
          genText = genText
            .replace(/<strong>/g, "")
            .replace(new RegExp("</strong>", "g"), "");

          setMainText += genText;
        }
      }

      this.activeData = "---- Dictation ----" + "\n" + setMainText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async translationExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");

      this.isCheck = {};
      this.isCheck.isTranslation = true;
      this.selectPractice = true;
      this.activeData = "";
      this.isShow = 1;

      let practiceKey;
      var setMainText = "";
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let levelunit = "L" + this.level + "U" + unitx;

        let dataMain = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "translation")
          .get();
        dataMain.forEach(doc => {
          practiceKey = doc.id;
        });

        let genText;

        dataMain = await db
          .collection("translation")
          .doc(practiceKey)
          .collection("draft")
          .get();

        for (const doc of dataMain.docs) {
          let str = doc.data().wordsEng;
          let datax = str.split(" ");
          for (let i = 0; i < datax.length; i++) {
            if (datax[i] != "." && datax[i] != "," && datax[i] != "?") {
              genText = datax[i] + ".txt *** " + datax[i] + "\n";
              setMainText += genText;
            }
          }
        }
      }
      // this.activeData = setMainText;
      this.activeData = "---- Translation ----" + "\n" + setMainText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async fillintheblankExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");

      this.isCheck = {};
      this.isCheck.isFillintheblank = true;
      this.selectPractice = true;
      this.extraVocab = "";
      this.isShow = 2;

      let practiceKey;
      var setExtraText = "";
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let levelunit = "L" + this.level + "U" + unitx;
        //Main vocab
        let data = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "fill in the blanks")
          .get();

        let genText;

        for (const doc of data.docs) {
          let dataMain = await db
            .collection("fillintheblank")
            .doc(doc.id)
            .collection("draft")
            .get();
          for (const docMain of dataMain.docs) {
            let dataExtra = await db
              .collection("fillintheblank")
              .doc(doc.id)
              .collection("draft")
              .doc(docMain.id)
              .collection("extraVocab")
              .get();
            for (const extra of dataExtra.docs) {
              genText =
                extra.data().vocab +
                ".txt" +
                " *** " +
                extra.data().vocab.toLowerCase() +
                "\n";
              setExtraText += genText;
            }
          }
        }
      }

      this.extraVocab =
        "---- Fill in the blanks extra vocab ----" + "\n" + setExtraText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async errorDetectionExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");

      this.isCheck = {};
      this.isCheck.isErrorDetection = true;
      this.selectPractice = true;
      this.extraVocab = "";
      this.isShow = 2;

      let practiceKey;
      var setExtraText = "";
      for (let unitx = this.unitstart; unitx <= this.unitend; unitx++) {
        let levelunit = "L" + this.level + "U" + unitx;
        //Main vocab
        let data = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "error detection")
          .get();

        let genText;

        for (const doc of data.docs) {
          let dataMain = await db
            .collection("errordetection")
            .doc(doc.id)
            .collection("draft")
            .get();
          for (const docMain of dataMain.docs) {
            let dataExtra = await db
              .collection("errordetection")
              .doc(doc.id)
              .collection("draft")
              .doc(docMain.id)
              .collection("extraVocab")
              .get();
            for (const extra of dataExtra.docs) {
              genText =
                extra.data().vocabulary +
                ".txt" +
                " *** " +
                extra.data().vocabulary.toLowerCase() +
                "\n";
              setExtraText += genText;
            }
          }
        }
      }

      this.extraVocab =
        "---- Error Detection extra vocab ----" + "\n" + setExtraText;

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async readingFillinExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");
      this.isCheck = {};
      this.isCheck.isReadingFillin = true;
      this.selectPractice = true;
      this.activeData = "";
      this.extraVocab = "";
      this.isShow = 0;

      let practiceKey;
      var setMainText = "";
      var setExtraText = "";
      for (let unitx = this.unitend; unitx <= this.unitend; unitx++) {
        let levelunit = "L" + this.level + "U" + unitx;

        //Main vocab
        let dataMain = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "reading (Fill in the blanks)")
          .get();
        // console.log(dataMain.empty);
        if (!dataMain.empty) {
          dataMain.forEach(doc => {
            practiceKey = doc.id;
          });

          let genText;

          dataMain = await db
            .collection("readingfillin")
            .doc(practiceKey)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .get();
          setMainText =
            dataMain.data().titleEng +
            "\n" +
            dataMain
              .data()
              .contentEng.replace(/<[^>]*>/g, "")
              .replace(/&nbsp;/g, " ")
              .replace(/&rsquo;/g, "'")
              .replace(/&quot;/g, '"')
              .replace(/&#39;/g, "'")
              .replace(new RegExp("\\[tab]", "g"), "");
          let dataExtra = await db
            .collection("readingfillin")
            .doc(practiceKey)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .collection("extraWord")
            .get();
          for (const extra of dataExtra.docs) {
            genText =
              extra.data().vocabulary +
              ".txt" +
              " *** " +
              extra.data().vocabulary.toLowerCase() +
              "\n";
            setExtraText += genText;
          }
          let dataPractice = await db
            .collection("readingfillin")
            .doc(practiceKey)
            .collection("draft")
            .doc("data")
            .collection("practice")
            .get();
          for (const dprac of dataPractice.docs) {
            // console.log(dprac.id);
            dataExtra = await db
              .collection("readingfillin")
              .doc(practiceKey)
              .collection("draft")
              .doc("data")
              .collection("practice")
              .doc(dprac.id)
              .collection("extraWord")
              .get();
            for (const extra of dataExtra.docs) {
              console.log(extra.id);
              // console.log(extra.data().vocab);
              genText =
                extra.data().vocabulary +
                ".txt" +
                " *** " +
                extra.data().vocabulary.toLowerCase() +
                "\n";
              setExtraText += genText;
            }
          }
        }

        this.activeData =
          "---- Reading Content Content ----- \n" +
          levelunit +
          ".txt ***" +
          setMainText;
        this.extraVocab =
          "---- Reading Content extra vocab -----" + "\n" + setExtraText;
      }

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    async readingMultipleExport() {
      this.loadingSet(1, "กำลังดึงข้อมูล กรุณารอสักครู่....");
      this.isCheck = {};
      this.isCheck.isReadingMultiple = true;
      this.selectPractice = true;
      this.activeData = "";
      this.extraVocab = "";
      this.isShow = 0;

      let practiceKey;
      var setMainText = "";
      var setExtraText = "";
      for (let unitx = this.unitend; unitx <= this.unitend; unitx++) {
        let levelunit = "L" + this.level + "U" + unitx;

        //Main vocab
        let dataMain = await db
          .collection("practicelist")
          .doc("data")
          .collection(levelunit)
          .where("practicetype", "==", "reading (Multiple choices)")
          .get();
        // console.log(dataMain.empty);
        if (!dataMain.empty) {
          dataMain.forEach(doc => {
            practiceKey = doc.id;
          });

          let genText;

          dataMain = await db
            .collection("readingmultiple")
            .doc(practiceKey)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .get();
          setMainText =
            dataMain.data().titleEng +
            "\n" +
            dataMain
              .data()
              .contentEng.replace(/<[^>]*>/g, "")
              .replace(/&nbsp;/g, " ")
              .replace(/&rsquo;/g, "'")
              .replace(/&quot;/g, '"')
              .replace(/&#39;/g, "'")
              .replace(new RegExp("\\[tab]", "g"), "");

          let dataExtra = await db
            .collection("readingmultiple")
            .doc(practiceKey)
            .collection("draft")
            .doc("data")
            .collection("content")
            .doc("data")
            .collection("extraWord")
            .get();
          for (const extra of dataExtra.docs) {
            genText =
              extra.data().vocabulary +
              ".txt" +
              " *** " +
              extra.data().vocabulary.toLowerCase() +
              "\n";
            setExtraText += genText;
          }
          let dataPractice = await db
            .collection("readingmultiple")
            .doc(practiceKey)
            .collection("draft")
            .doc("data")
            .collection("practice")
            .get();
          for (const dprac of dataPractice.docs) {
            // console.log(dprac.id);
            dataExtra = await db
              .collection("readingmultiple")
              .doc(practiceKey)
              .collection("draft")
              .doc("data")
              .collection("practice")
              .doc(dprac.id)
              .collection("extraVocab")
              .get();
            for (const extra of dataExtra.docs) {
              console.log(extra.id);
              console.log(extra.data().vocab);
              genText =
                extra.data().vocabulary +
                ".txt" +
                " *** " +
                extra.data().vocabulary.toLowerCase() +
                "\n";
              setExtraText += genText;
            }
          }
        }

        this.activeData =
          "---- Reading Content Content ----- \n" +
          levelunit +
          ".txt ***" +
          setMainText;
        this.extraVocab =
          "---- Reading Content extra vocab -----" + "\n" + setExtraText;
      }

      this.loadingSet(0);
      this.notifyGreen("โหลดข้อมูลเรียบร้อยแล้ว");
    },
    copyText(type) {
      let copyText;
      if (type == 1) {
        copyText = document.getElementById("resultMain");
      } else {
        copyText = document.getElementById("resultExtra");
      }

      copyText.select();
      document.execCommand("copy");
    }
  },
  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.loadLevelData();
  }
};
</script>

<style scoped>
.box-relative {
  position: relative;
}
.btn-sound-copy {
  position: absolute;
  right: 0;
  top: 0;
}
</style>