<template>
  <div class="bg-print">
    <div class="bar-print q-pa-xs bg-grey-9 relative-position" align="right">
      <q-btn class="q-mr-sm text-white" icon="fas fa-print" @click="printBtn()" flat round/>
      <q-btn class="q-mr-sm text-white" icon="fas fa-times-circle" @click="closeBtn()" flat round/>
    </div>

    <div size="A4" class="q-pa-md printMe">
      <table class="table fontme-xl">
        <tr class="tr">
          <th class="bg-light-blue-9" style="border-radius:7px 0px 0px 7px;width:250px;">
            <div class="bg-white" style="border-radius:7px;border:2px solid#1D76D0;">
              <img src="../../assets/icon-logo.png" style="width:160px;margin-top:7px;">
            </div>
          </th>
          <th
            class="q-pl-lg q-pr-lg text-white bg-light-blue-9"
            style="border-radius:0px 7px 7px 0px;"
          >
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space/>
                <span class="text-weight-light">L{{practice.level}} U{{practice.unit}}</span>
                <q-separator vertical inset class="q-mx-sm bg-white"/>
                <span class="text-weight-light">{{dataSetting.practiceName}}</span>
                <q-space/>
                <span></span>
              </q-toolbar>
            </div>
            <hr class="no-margin bg-white">
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space/>
                <span class="text-weight-light">
                  World :
                  <span
                    v-if="dataSetting.orderid > 1000 && dataSetting.orderid < 1999"
                  >Vocabulary</span>
                  <span v-if="dataSetting.orderid > 2000 && dataSetting.orderid < 2999">Grammar</span>
                  <span v-if="dataSetting.orderid > 3000 && dataSetting.orderid < 3999">Reading</span>
                  <span v-if="dataSetting.orderid > 4000 && dataSetting.orderid < 4999">Writing</span>
                  <span
                    v-if="dataSetting.orderid > 5000 && dataSetting.orderid < 5999"
                  >Listening & Speaking</span>
                </span>
                <q-space/>
                <span></span>
              </q-toolbar>
            </div>
          </th>
        </tr>
      </table>

      <div class="q-mt-md" v-for="(value,index) in schoolType" :key="index">
        <table class="table" v-if="value.use">
          <tbody class="text-h6">
            <tr class="bg-grey-8">
              <th colspan="3" align="center">
                <div class="q-pa-sm">
                  <span class="fontme-xl text-weight-light text-white">{{value.name}}</span>
                </div>
              </th>
            </tr>
            <!-- เกณฑ์การผ่าน -->
            <tr class="tr fontme-l text-weight-light">
              <td class="td">
                <div class="row q-pl-md items-center">
                  <span class="q-pl-sm">เกณฑ์การผ่าน</span>
                </div>
              </td>
              <td class="td" align="center">
                <span class>{{value.passScore + "%"}}</span>
              </td>
            </tr>
            <!-- เกณฑ์ 3 ดาว -->
            <tr class="tr fontme-l text-weight-light">
              <td class="td">
                <div class="row q-pl-md items-center">
                  <label class="q-pl-sm">เกณฑ์ 3 ดาว</label>
                </div>
              </td>
              <td class="td" align="center">
                <span class>{{value.star + "%"}}</span>
              </td>
            </tr>
            <!-- Hightlight hint -->
            <tr class="tr fontme-l text-weight-light">
              <td class="td">
                <div class="q-pl-md">
                  <label class="q-pl-sm">Hightlight hint</label>
                </div>
              </td>
              <td class="td" align="center">
                <span class>{{value.highlight}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table class="table">
          <tr>
            <th colspan="2">
              <div class="q-mt-xs q-mb-sm">
                <div class="text-h6" v-html="dataSetting.instructionEng"></div>
                <div class="text-h6" v-html="dataSetting.instructionThai"></div>
              </div>
            </th>
          </tr>
          <thead>
            <tr>
              <th colspan="2">
                <div class="q-mb-md">
                  <!-- <span class="text-h6">รายละเอียดแบบฝึกหัด</span> -->
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item,index) in dataShow" :key="index" class="fontme-l">
              <td align="left" style="border:1px solid;vertical-align: top;width:50px;">
                <div class="q-pa-sm">
                  <div class="q-pl-sm">
                    <span>{{index + 1 + ")."}}</span>
                  </div>
                </div>
              </td>
              <td style="border:1px solid;vertical-align: top;">
                <div class="q-pa-sm">
                  <div>
                    <span>{{item.sentenceThai}}</span>
                  </div>
                  <div class="row">
                    <span v-html="dataSplit(item.wordsEng)"></span>
                  </div>
                  <div>{{item.sentenceEng}}</div>
                  <hr>
                  <div align="right">
                    <span v-for="(school,index2) in item" :key="index2">
                      <span
                        v-if="index2 != 'wordsEng' && index2 != 'sentenceThai' && index2 != 'sentenceEng' && index2 != 'orderid' && index2 != 'key' && index2 != '__index'"
                      >{{index2 + ","}}</span>
                    </span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
import { setTimeout } from "timers";
export default {
  data() {
    return {
      practice: this.$route.params.practice,
      dataSetting: this.$route.params.dataSetting,
      dataContent: this.$route.params.dataContent,
      schoolType: this.$route.params.schoolType,
      dataShow: this.$route.params.dataShow,
      schoolTypeQuestion: [],
      checkQuestion: []
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push(
        "/practice/translation/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/0"
      );
    },
    dataSplit(data) {
      var words = data.split(" ");
      var newDataWords = "";
      for (let i = 0; i < words.length; i++) {
        newDataWords +=
          "<span style='display:inline-block' class='q-pa-xs q-px-md q-my-xs q-mr-sm bg-grey-10 text-white'>" +
          words[i] +
          "</span>";
      }
      return newDataWords;
    },
    testData() {}
  },
  mounted() {}
};
</script>

<style>
.bg-print {
  background: rgb(204, 204, 204);
  padding: 0px 0px 15px 0px;
}

.bar-print {
  width: 100%;
}

.printMe {
  background: white;
  display: block;
  margin: 15px auto 0px auto;
}

.printMe[size="A4"] {
  width: 21cm;
  min-height: 29.7cm;
  max-height: fit-content;
}

.printMe::-webkit-scrollbar {
  width: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table .tr .td {
  border: 0.5mm solid rgba(60, 60, 60, 0.7);
}

.table .tr .td:nth-child(2) {
  width: 170px;
}

.fontme-l {
  font-size: 16px;
}
.fontme-xl {
  font-size: 18px;
}
.fontme-xxl {
  font-size: 20px;
}

.border-right {
  border-right: 1px solid;
}
.border-left {
  border-left: 1px solid;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    margin: 0px auto 0px auto;
  }
  .bar-print {
    display: none;
  }
}
@page {
  margin: 3mm;
  size: 210mm 297mm;
}
</style>
