<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row q-pa-sm">
      <div class="col-xs-12 col-md-6 q-mb-sm">
        <q-btn-group push>
          <q-btn
            push
            label="แบบร่าง"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-teal-5 text-white"
          />
          <q-btn
            push
            label="เซิฟเวอร์"
            :class="{'btn-width-s' : innerWidth < 500,'btn-width-l':innerWidth >= 500}"
            class="bg-white"
            disable
          />
        </q-btn-group>
      </div>
    </div>
    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          Translation | L{{practice.level}} U{{practice.unit}}
          <hr>
        </h5>
      </div>

      <div class="box-content-practice">
        <div class="row q-mb-sm">
          <div class="col-xs-12 q-pa-sm">
            <q-input
              outlined
              class="q-pa-sm"
              type="number"
              v-model="dataSetting.orderid"
              label="รหัสลำดับ"
              ref="orderid"
              :rules="[val => !!val||'']"
            />
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-sm">
            <q-input
              outlined
              class="q-pa-sm"
              label="โจทย์ภาษาไทย"
              v-model="dataSetting.sentenceThai"
              ref="sentenceThai"
              :rules="[val => !!val||'']"
            />
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-sm">
            <q-input
              outlined
              class="q-pa-sm"
              label="คำภาษาอังกฤษ"
              v-model="dataSetting.wordsEng"
              ref="wordsEng"
              :rules="[val => !!val||'']"
            />
          </div>
          <div class="col-ms-12 col-xs-12 q-pa-sm">
            <q-input
              outlined
              class="q-pa-sm"
              label="ประโยคที่ถูกต้อง"
              v-model="dataSetting.sentenceEng"
              ref="sentenceEng"
              :rules="[val => !!val||'']"
            />
          </div>
        </div>
      </div>

      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">ประเภทโรงเรียน
          <hr>
        </h5>
      </div>

      <div class="box-content-practice">
        <div class="row q-pb-md">
          <div class="col-md-12 q-ml-xs q-mb-sm">
            <q-checkbox
              label="ทั้งหมด"
              color="black"
              v-model="selectedSchoolAll"
              @input="selectAllSchool()"
            />
          </div>
          <div
            class="col-md-12 col-xs-12 q-ml-xs q-mb-sm q-pl-lg"
            v-for="(item,index) in schoolTypeList"
            :key="index"
          >
            <q-checkbox
              color="black"
              v-model="selectedSchoolType"
              :label="item.name"
              :val="item.name"
            />
          </div>
        </div>
      </div>

      <div class="row justify-center q-pt-lg q-pb-md">
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="ยกเลิก"
            @click="cancelBtn()"
            color="red-7"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
        <div class="q-pt-sm q-pb-sm q-pr-sm">
          <q-btn
            label="บันทึก"
            @click="saveBtn()"
            :disabled="!isSaveData"
            color="teal-5"
            class="q-ma-xs"
            :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
          ></q-btn>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script lang="ts">
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      settingMode: 1,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit,
        practiceKey: this.$route.params.practicekey
      },
      dataSetting: {
        orderid: "",
        sentenceThai: "",
        wordsEng: "",
        sentenceEng: ""
      },
      selectedSchoolType: [],
      selectedSchoolAll: false,
      schoolTypeList: [],
      isAddData: true,
      isSaveData: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setLinkMenu"
    ]),
    selectAllSchool() {
      if (this.selectedSchoolAll) {
        this.selectedSchoolType = [];
        for (let i = 0; i < this.schoolTypeList.length; i++) {
          this.selectedSchoolType.push(this.schoolTypeList[i].name);
        }
      } else {
        this.selectedSchoolType = [];
      }
    },
    cancelBtn() {
      this.$router.push(
        "/practice/translation/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/1"
      );
    },
    async saveBtn() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var d = new Date();
      var n = d.getTime();

      this.$refs.orderid.validate();
      this.$refs.sentenceThai.validate();
      this.$refs.wordsEng.validate();
      this.$refs.sentenceEng.validate();

      if (
        this.$refs.orderid.hasError ||
        this.$refs.sentenceThai.hasError ||
        this.$refs.wordsEng.hasError ||
        this.$refs.sentenceEng.hasError
      ) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบ");
        return;
      }

      if (this.selectedSchoolType.length <= 0) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      this.dataSetting.wordsEng = this.dataSetting.wordsEng.trim();
      this.dataSetting.wordsEng = this.dataSetting.wordsEng.replace(
        /   /g,
        " "
      );
      this.dataSetting.wordsEng = this.dataSetting.wordsEng.replace(/  /g, " ");

      var words = this.dataSetting.wordsEng.split(" ");
      var Correct = this.dataSetting.sentenceEng
        .replace(".", " .")
        .replace(",", " ,")
        .replace("?", " ?");
      var wordsCorrect = Correct.split(" ");
      var item;

      for (item in wordsCorrect) {
        let str = wordsCorrect[item];
        let indexfound = words.indexOf(str);

        if (indexfound >= 0) {
          words.splice(indexfound, 1);
        } else {
          this.notifyRed("คำภาษาอังกฤษไม่ตรงกับประโยคที่ถูกต้อง");
          return;
        }
      }

      let checkData;

      if (this.isAddData) {
        checkData = await db
          .collection("translation")
          .doc(this.practice.key)
          .collection("draft")
          .where("orderid", "==", this.dataSetting.orderid)
          .get();

        if (checkData.size > 0) {
          this.dataSetting.orderid = "";
          this.notifyRed("มีข้อมูลแบบฝึกหัดในระบบแล้ว");
          return;
        }
      }

      this.isSaveData = false;
      this.loadingSet(1);

      if (this.isAddData) {
        await db
          .collection("translation")
          .doc(this.practice.key)
          .collection("draft")
          .add(this.dataSetting)
          .then(data => {
            for (let i = 0; i < this.selectedSchoolType.length; i++) {
              let newObj = this.selectedSchoolType[i];
              let dataSelected = {
                [newObj]: true
              };

              db.collection("translation")
                .doc(this.practice.key)
                .collection("draft")
                .doc(data.id)
                .update(dataSelected);
            }

            this.dataSetting.orderid = "";
            this.dataSetting.sentenceThai = "";
            this.dataSetting.wordsEng = "";
            this.dataSetting.sentenceEng = "";
            this.selectedSchoolType = [];
            this.loadCheckSchool();
          });
      } else {
        await db
          .collection("translation")
          .doc(this.practice.key)
          .collection("draft")
          .doc(this.practice.practiceKey)
          .set(this.dataSetting)
          .then(data => {
            for (let i = 0; i < this.selectedSchoolType.length; i++) {
              let newObj = this.selectedSchoolType[i];
              let dataSelected = {
                [newObj]: true
              };

              db.collection("translation")
                .doc(this.practice.key)
                .collection("draft")
                .doc(this.practice.practiceKey)
                .update(dataSelected);
            }
          });
      }

      await db
        .collection("translation")
        .doc(this.practice.key)
        .update({
          savedraft: n
        });

      this.isSaveData = true;
      this.loadingSet(0);
      this.cancelBtn();
      this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
    },
    async loadBasicData() {
      await db
        .collection("translation")
        .doc(this.practice.key)
        .collection("draft")
        .doc(this.practice.practiceKey)
        .get()
        .then(data => {
          this.dataSetting = {
            orderid: data.data().orderid,
            sentenceEng: data.data().sentenceEng,
            sentenceThai: data.data().sentenceThai,
            wordsEng: data.data().wordsEng
          };

          db.collection("translation")
            .doc(this.practice.key)
            .collection("schooloption")
            .orderBy("name")
            .get()
            .then(doc => {
              doc.forEach(value => {
                let nameSchool = value.data().name;

                if (data.data()[nameSchool]) {
                  this.selectedSchoolType.push(nameSchool);
                }
              });
            });
        });
    },
    loadCheckSchool() {
      this.loadingSet(1);

      db.collection("translation")
        .doc(this.practice.key)
        .collection("schooloption")
        .orderBy("name")
        .get()
        .then(data => {
          this.schoolTypeList = [];
          data.forEach(doc => {
            let dataFinal = {
              name: doc.id
            };
            this.schoolTypeList.push(dataFinal);

            if (this.isAddData) {
              this.selectedSchoolType.push(doc.id);
            }
          });
        });
      this.loadingSet(0);
    },
    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },
  mounted() {
    if (this.$route.name == "translationedit") {
      this.isAddData = false;
      this.loadBasicData();
    }
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadCheckSchool();
  }
};
</script>
