<template>
  <q-page class="q-pl-md q-pr-md q-pt-sm">
    <q-resize-observer @resize="onResize"/>
    <div class="row reverse-wrap items-center">
      <div class="col-xs-12 col-md-6 q-mb-md q-pl-sm"></div>
      <div align="right" class="q-pa-sm col-xs-6 col-md-6 q-mb-sm">
        <router-link
          :to="{name:'teachingvdoprint',params:{dataPractice,dataSetting,practice,schoolType,slidedata}}"
        >
          <q-btn icon="fas fa-print" class="q-ma-sm q-mr-sm" color="teal-5" round/>
        </router-link>
      </div>
    </div>

    <div class="bg-grey-2">
      <div class="q-pb-sm text-center q-pa-md">
        <h5 align="center" class="no-margin q-pa-sm">
          {{this.titlePage}} | L{{this.$store.state.system.levelactive}} U{{this.$store.state.system.unitactive}}
          <hr>
        </h5>
      </div>

      <div class="q-pl-sm">
        <q-btn-group push>
          <q-btn
            label="ตั้งค่า"
            @click="changeSettingmode(0)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 0,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
          <q-btn
            label="วีดีโอ / สไลด์"
            @click="changeSettingmode(1)"
            :class="{'bg-blue-grey-10 text-white' : settingMode == 1,'btn-width-s' : innerWidth < 500,'btn-width-l': innerWidth >= 500}"
            class="bg-white"
            push
          ></q-btn>
        </q-btn-group>
      </div>

      <div v-show="settingMode == 0">
        <div class="box-content-practice">
          <div class="row q-mb-sm q-mt-lg">
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="ลำดับ"
                v-model="dataPractice.order"
                type="number"
                class="q-pa-sm"
                ref="orderG"
                v-show="vdotype == 'G'"
                :rules="[val => val >= 2001 ||'',val2 => val2 <= 2998 || '',val3 => !!val3 || '']"
              ></q-input>
              <q-input
                outlined
                label="ลำดับ"
                v-model="dataPractice.order"
                type="number"
                class="q-pa-sm"
                ref="orderP"
                v-show="vdotype == 'P'"
                :rules="[val => val >= 5001 ||'',val2 => val2 <= 5200 || '',val3 => !!val3 || '']"
              ></q-input>
              <q-input
                outlined
                label="ลำดับ"
                v-model="dataPractice.order"
                type="number"
                class="q-pa-sm"
                ref="orderL"
                v-show="vdotype == 'L'"
                :rules="[val => val > 5200 ||'',val2 => val2 <= 5998 || '',val3 => !!val3 || '']"
              ></q-input>
            </div>
            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-input
                outlined
                label="ชื่อแบบฝึกหัด"
                v-model="dataPractice.practiceName"
                class="q-pa-sm"
                ref="practiceName"
                :rules="[val => !!val || '']"
              ></q-input>
            </div>

            <div class="col-xl-6 col-xs-12 q-pa-sm">
              <q-select
                outlined
                label="รูปแบบหน้ากากเกมส์"
                :options="mainappTemplate"
                v-model="dataSetting.appTemplate"
                class="q-pa-sm"
                emit-value
                map-options
              ></q-select>
            </div>
          </div>
        </div>

        <div class="q-pb-sm text-center q-pa-md">
          <h5 align="center" class="no-margin q-pa-sm">
            ประเภทโรงเรียน
            <hr>
          </h5>
        </div>

        <div class="box-content-practice">
          <div class="row q-ml-xs q-mb-md">
            <div
              class="col-md-12 q-ml-xs q-mt-sm q-mb-sm"
              v-for="(item,index) in schoolType"
              :key="index"
            >
              <q-checkbox
                v-model="dataSetting.schoolTypeSelected"
                :label="item.name"
                :val="item.key"
                color="black"
              />
            </div>
          </div>
        </div>

        <div class="row justify-center q-pt-lg q-pb-md">
          <div class="q-pt-sm q-pb-sm q-pr-sm">
            <q-btn
              label="ยกเลิก"
              @click="cancelBtn()"
              color="red-7"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
          <div class="q-pt-sm q-pb-sm q-pl-sm">
            <q-btn
              label="บันทึก"
              @click="saveBtn()"
              color="teal-5"
              class="q-ma-xs"
              :class="{'btn-width-s' : innerWidth < 550,'btn-width-l': innerWidth >= 550}"
            ></q-btn>
          </div>
        </div>
      </div>

      <div v-show="settingMode == 1">
        <div style="width:320px; margin:auto;">
          <video width="320" height="240" controls :src="vdofile"></video>
        </div>
        <br>
        <br>
        <div style="clear: both;">
          <q-table
            :data="slidedata"
            :columns="columns"
            row-key="slidekey"
            :pagination.sync="paginationControl"
            class="bg-grey-2"
            separator="cell"
          >
            <q-tr slot="body" slot-scope="props" :props="props">
              <q-td key="slideno" :props="props">{{ props.row.slideno }}</q-td>
              <q-td key="slidetime" :props="props">{{ props.row.slidetime }}</q-td>
              <q-td key="slidename" :props="props">
                <span
                  :class="{'text-red':props.row.slidename == 'คุณต้องกรอกข้อมูลให้ครบถ้วน !'}"
                >{{ props.row.slidename}}</span>
              </q-td>
              <q-td key="slidefile" :props="props">
                <q-img :src="props.row.slidefile"/>
              </q-td>
              <q-td key="edit" :props="props">
                <span
                  @click="addBtn(props.row.slidekey)"
                  v-if="props.row.slidename == 'คุณต้องกรอกข้อมูลให้ครบถ้วน !'"
                >
                  <q-icon name="far fa-plus-square   text-green-7 pointer text-body1"/>
                </span>
                <span @click="editBtn(props.row.slidekey)" v-else>
                  <q-icon name="fas fa-edit text-amber-7 pointer text-body1"/>
                </span>
              </q-td>
            </q-tr>
          </q-table>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { db } from "../../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      paginationControl: {
        rowsPerPage: 0
      },
      settingMode: this.$route.params.settingmode, //Mode 0 = ตั้งค่า , 1 = คำศัพท์เสริม,
      titlePage: "",
      vdotype: "G",
      vdofile: "",
      slidepath: "",
      isSync: true,
      practice: {
        key: this.$route.params.key,
        level: this.$route.params.level,
        unit: this.$route.params.unit
      },
      dataPractice: {
        order: 0,
        practiceName: ""
      },
      mainappTemplate: [],
      dataSetting:
        //object ข้อมูลสำหรับหน้าตั้งค่า
        {
          appTemplate: "",
          schoolTypeSelected: []
        },
      schoolType: [],
      vdodata: {
        vdoexist: 0,
        slideno: 0
      },
      slidedata: [],
      selected: [],
      columns: [
        {
          name: "slideno",
          label: "ลำดับ",
          field: "slideno",
          sortable: true,
          style: "width:130px;",
          align: "center"
        },
        {
          name: "slidetime",
          label: "เวลาเริ่มต้น",
          field: "slidetime",
          sortable: true,
          align: "center"
        },
        {
          name: "slidename",
          label: "ชื่อสไลด์",
          field: "slidename",
          sortable: false,
          align: "center"
        },
        {
          name: "slidefile",
          label: "สไลด์",
          field: "slidefile",
          sortable: false,
          style: "width:350px",
          align: "center"
        },
        {
          name: "edit",
          label: "เพิ่ม/แก้ไข",
          field: "edit",
          sortable: false,
          style: "width:150px;",
          align: "center"
        }
      ],
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions([
      "setLinkCode",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive",
      "setSettingModeKey",
      "setLinkMenu"
    ]),

    syncData() {
      alert("sync data");
    },

    changeSettingmode(data) {
      this.settingMode = data;
    },

    async loadBasicData() {
      let _this = this;
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      // เรียกข้อมูล : ชื่อแบบฝึกหัด, รหัสลำดับ
      await db
        .collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .get()
        .then(data => {
          this.dataPractice.order = data.data().order;
          this.dataPractice.practiceName = data.data().name;
        });
      // เรียกข้อมูล : ออฟชั่นหน้ากากเกมส์
      let loadMainApp = await db
        .collection("mainapptemplate")
        .where("practicetype", "==", "training VDO")
        .get();
      loadMainApp.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name
        };
        let dataFinal = { ...doc.data(), ...dataKey };

        this.mainappTemplate.push(dataFinal); // ออฟชั่นหน้ากากเกมส์
        this.dataSetting.appTemplate = this.mainappTemplate[0].value;
      });
      let loadSchoolType = await db
        .collection("schooltype")
        .orderBy("name")
        .get();
      loadSchoolType.forEach(doc => {
        let dataKey = {
          key: doc.id,
          label: doc.data().name,
          value: doc.data().name,
          name: doc.data().name
        };

        let dataFinal = { ...doc.data(), ...dataKey };

        this.schoolType.push(dataFinal); //ออฟชั่นประเภทโรงเรียน
      });
      await db
        .collection("trainingvdo")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            db.collection("trainingvdo")
              .doc(this.practice.key)
              .get()
              .then(data => {
                this.dataSetting = data.data();
              });
          }
        });

      //Check ประเภทของ VDO
      if (this.dataPractice.order > 2000 && this.dataPractice.order < 3000) {
        this.titlePage = "Grammar VDO";
        this.vdotype = "G";
      } else if (
        this.dataPractice.order > 5000 &&
        this.dataPractice.order <= 5200
      ) {
        this.titlePage = "Phonics VDO";
        this.vdotype = "P";
      } else {
        this.titlePage = "Language Tips VDO";
        this.vdotype = "L";
      }
      let response = await axios.get(
        this.serverpath +
          "/api/checkdata.php" +
          "?level=" +
          this.practice.level +
          "&unit=" +
          this.practice.unit
      );

      //set vdo path
      if (this.titlePage == "Grammar VDO") {
        this.vdodata.vdoexist = response.data[0].grammarvdo;
        this.vdodata.slideno = response.data[0].grammarslide;
        this.vdofile =
          this.vdoserverpath +
          "uploadvdogrammar/" +
          this.levelunit(this.practice.level, this.practice.unit) +
          ".mp4";

        this.slidepath =
          this.serverpath +
          "slide_grammar/" +
          this.levelunit(this.practice.level, this.practice.unit) +
          "/";
      } else if (this.titlePage == "Phonics VDO") {
        this.vdodata.vdoexist = response.data[0].phonicsvdo;
        this.vdodata.slideno = response.data[0].phonicsslide;
        this.vdofile =
          this.vdoserverpath +
          "uploadvdophonic/" +
          this.levelunit(this.practice.level, this.practice.unit) +
          ".mp4";

        this.slidepath =
          this.serverpath +
          "slide_phonics/" +
          this.levelunit(this.practice.level, this.practice.unit) +
          "/";
      } else if (this.titlePage == "Language Tips VDO") {
        this.vdodata.vdoexist = response.data[0].tipsvdo;
        this.vdodata.slideno = response.data[0].tipsslide;
        this.vdofile =
          this.vdoserverpath +
          "uploadvdotip/" +
          this.levelunit(this.practice.level, this.practice.unit) +
          ".mp4";

        this.slidepath =
          this.serverpath +
          "slide_tips/" +
          this.levelunit(this.practice.level, this.practice.unit) +
          "/";
      }
      this.loadslidedata();
    },
    levelunit(level, unit) {
      var levelset;
      var unitset;
      if (level <= 9) {
        levelset = "0" + level;
      } else {
        levelset = level;
      }
      if (unit <= 9) {
        unitset = "0" + unit;
      } else {
        unitset = unit;
      }
      return "L" + levelset + "U" + unitset;
    },
    cancelBtn() {
      this.$router.push("/practice");
    },

    saveBtn() {
      let levelunit = "L" + this.practice.level + "U" + this.practice.unit;
      var checkTypeVdo;
      if (this.vdotype == "G") {
        this.$refs.orderG.validate();
        checkTypeVdo = this.$refs.orderG.hasError;
      } else if (this.vdotype == "L") {
        this.$refs.orderL.validate();
        checkTypeVdo = this.$refs.orderL.hasError;
      } else if (this.vdotype == "P") {
        this.$refs.orderP.validate();
        checkTypeVdo = this.$refs.orderP.hasError;
      }
      this.$refs.practiceName.validate();
      if (checkTypeVdo || this.$refs.practiceName.hasError) {
        this.notifyRed("กรุณากรอกข้อมูลให้ครบถ้วน");
        return;
      }

      if (this.dataSetting.schoolTypeSelected.length <= 0) {
        this.notifyRed("กรุณาเลือกประเภทโรงเรียน");
        return;
      }

      db.collection("trainingvdo")
        .doc(this.practice.key)
        .get()
        .then(data => {
          if (data.exists) {
            db.collection("trainingvdo")
              .doc(this.practice.key)
              .update(this.dataSetting);
          } else {
            db.collection("trainingvdo")
              .doc(this.practice.key)
              .set(this.dataSetting);
          }
        });

      db.collection("practicelist")
        .doc("data")
        .collection(levelunit)
        .doc(this.practice.key)
        .update({
          name: this.dataPractice.practiceName,
          order: Number(this.dataPractice.order)
        });
      this.notifyGreen("บันทึกข้อมูลเรียบร้อย");
    },

    addBtn(key) {
      this.$router.push(
        "/practice/teachingvdo/add/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          key +
          "/" +
          this.vdotype
      );
    },

    editBtn(key) {
      this.$router.push(
        "/practice/teachingvdo/edit/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/" +
          key +
          "/" +
          this.vdotype
      );
    },

    async loadslidedata() {
      for (let i = 1; i <= this.vdodata.slideno; i++) {
        let data = {
          slidekey: i,
          slideno: i,
          slidetime: "",
          slidename: "คุณต้องกรอกข้อมูลให้ครบถ้วน !",
          slidefile: this.slidepath + "Slide" + i + ".JPG"
        };
        //load data from database
        let slidedatatemp = await db
          .collection("trainingvdo")
          .doc(this.practice.key)
          .collection("slide")
          .doc(i.toString())
          .get();
        if (slidedatatemp.exists) {
          data = {
            slidekey: i,
            slideno: i,
            slidetime: slidedatatemp.data().starttime,
            slidename: slidedatatemp.data().name,
            slidefile: this.slidepath + "Slide" + i + ".JPG"
          };
        }

        this.slidedata.push(data);
      }
    },

    onResize(size) {
      (this.innerWidth = size.width), (this.innerHeight = size.height);
    }
  },

  mounted() {
    this.setLinkCode(this.$route.name);
    this.setLinkMenu(1);
    this.setPracticeKey(this.practice.key);
    this.setUnitActive(this.practice.unit);
    this.setLevelActive(this.practice.level);
    this.loadBasicData();
  }
};
</script>

<style scoped>
</style>