<template>
  <div class="bg-print">
    <div class="bar-print q-pa-xs bg-grey-9 relative-position" align="right">
      <q-btn class="q-mr-sm text-white" icon="fas fa-print" @click="printBtn()" flat round/>
      <q-btn class="q-mr-sm text-white" icon="fas fa-times-circle" @click="closeBtn()" flat round/>
    </div>
    <div size="A4" class="q-pa-md printMe">
      <table class="table fontme-xl">
        <tr class="tr">
          <th class="bg-light-blue-9" style="border-radius:7px 0px 0px 7px;width:250px;">
            <div class="bg-white" style="border-radius:7px;border:2px solid#1D76D0;">
              <img src="../../assets/icon-logo.png" style="width:160px;margin-top:7px;">
            </div>
          </th>
          <th
            class="q-pl-lg q-pr-lg text-white bg-light-blue-9"
            style="border-radius:0px 7px 7px 0px;"
          >
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space/>
                <span class="text-weight-light">L{{practice.level}} U{{practice.unit}}</span>
                <q-separator vertical inset class="q-mx-sm bg-white"/>
                <span class="text-weight-light">{{dataPractice.practiceName}}</span>
                <q-space/>
                <span></span>
              </q-toolbar>
            </div>
            <hr class="no-margin bg-white">
            <div align="center">
              <q-toolbar>
                <span></span>
                <q-space/>
                <span class="text-weight-light">
                  World :
                  <span
                    v-if="dataPractice.order > 1000 && dataPractice.order < 1999"
                  >Vocabulary</span>
                  <span v-if="dataPractice.order > 2000 && dataPractice.order < 2999">Grammar</span>
                  <span v-if="dataPractice.order > 3000 && dataPractice.order < 3999">Reading</span>
                  <span v-if="dataPractice.order > 4000 && dataPractice.order < 4999">Writing</span>
                  <span
                    v-if="dataPractice.order > 5000 && dataPractice.order < 5999"
                  >Listening & Speaking</span>
                </span>
                <q-space/>
                <span></span>
              </q-toolbar>
            </div>
          </th>
        </tr>
      </table>

      <div>
        <table class="table fontme-l text-weight-light">
          <thead>
            <tr>
              <th colspan="3">
                <div class="q-mt-lg"></div>
              </th>
            </tr>
          </thead>
          <tbody v-for="(item,index) in slidedata" :key="index">
            <tr>
              <td style="vertical-align: top;">
                <div class="q-pa-sm">
                  <div>
                    <div align="center">
                      <q-img :src="item.slidefile" style="width:95%;"/>
                      <div align="center" class="q-pt-sm">
                        <span v-html="item.slidekey + '.' + item.slidename"></span>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <!-- <div align="right">
                    <span v-for="(school,index2) in item" :key="index2">
                      <span
                        v-if="index2 != '__index' && index2 != 'answerSound' && index2 != 'choice1' && index2 != 'choice2' && index2 != 'choice3' && index2 != 'choice4' && index2 != 'choice5' && index2 != 'choice6' && index2 != 'choice7' && index2 != 'choice8' && index2 != 'choice9' && index2 != 'choice10' && index2 != 'correctAnswer' && index2 != 'description' && index2 != 'order' && index2 != 'question' && index2 != 'extraVocab' && index2 != 'questionSound' && index2 != 'slide' && index2 != 'key'"
                      >{{index2 + ","}}</span>
                    </span>
                  </div>-->
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../../router/index.js";
export default {
  data() {
    return {
      dataPractice: this.$route.params.dataPractice,
      practice: this.$route.params.practice,
      dataSetting: this.$route.params.dataSetting,
      schoolType: this.$route.params.schoolType,
      slidedata: this.$route.params.slidedata
    };
  },
  methods: {
    printBtn() {
      window.print();
    },
    closeBtn() {
      this.$router.push(
        "/practice/teachingvdo/" +
          this.practice.key +
          "/" +
          this.practice.level +
          "/" +
          this.practice.unit +
          "/0"
      );
    }
  }
};
</script>

<style>
.bg-print {
  background: rgb(204, 204, 204);
}

.bar-print {
  width: 100%;
}

.printMe {
  position: relative;
  background: white;
  display: block;
  margin: 15px auto 0px auto;
}

.printMe[size="A4"] {
  width: 21cm;
  min-height: 29.7cm;
  max-height: fit-content;
}

.printMe::-webkit-scrollbar {
  width: 0px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table .tr .td {
  border: 0.5mm solid rgba(60, 60, 60, 0.7);
}

.table .tr .td:nth-child(2) {
  width: 170px;
}

.fontme-l {
  font-size: 16px;
}
.fontme-xl {
  font-size: 18px;
}
.fontme-xxl {
  font-size: 20px;
}

@media print {
  body {
    background: #ffffff;
  }
  .bg-print {
    padding: 0px 0px;
  }
  body,
  .printMe {
    background: #ffffff;
    margin: 0px 0px;
    margin-bottom: 0px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    border: transparent;
  }
  .bar-print {
    display: none;
  }
}
@page {
  margin: 0mm;
  size: 210mm 297mm;
}
</style>
