<template>
  <div class="window-height window-width row justify-center items-center bgimg q-pa-sm">
    <q-card class="mycard justify-center bg-white q-pa-md">
      <q-card-title>
        <div class="q-headline" style="width:100%;  text-align:center">Winner System</div>
      </q-card-title>
      <q-card-separator class="bg-black" style="width:95%; margin:auto;"/>
      <div class="row justify-center q-mt-md">
        <div align="center">
          <q-icon name="fas fa-user-circle" style="font-size:80px;"/>
          <br>
          <div class="row justify-center q-pt-sm">{{this.$store.state.system.userData.name}}</div>
        </div>
      </div>

      <q-card-actions class="row justify-center">
        <q-btn
          color="secondary"
          size="md"
          label="เข้าสู่ระบบ"
          @click="loginBtn()"
          style="width:250px;"
        ></q-btn>
        <span @click="logoutBtn()" class="link q-ma-sm link">
          <u>เข้าสู่ระบบด้วยบัญชีผู้ใช้อื่น</u>
        </span>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  data() {
    return {
      user: {
        username: "",
        password: ""
      }
    };
  },
  methods: {
    ...mapActions(["setMenuActive", "setSubMenuActive", "setUserData"]),

    loginBtn() {
      //กรณีกดปุ่มเข้าสู่ระบบ
      this.$router.push("/mainmenu");
    },
    logoutBtn() {
      //กรณีกดปุ่มเข้าสู่ระบบด้วยบัญชีอื่น
      this.setUserData("");
      this.setMenuActive(0);
      this.setSubMenuActive(1);
      this.$router.push("/");
    }
  }
};
</script>


<style scoped>
.bgimg {
  background-image: url("../assets/bg-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.mycard {
  width: 450px;
  height: 300px;
  margin: auto;
}
.link {
  cursor: pointer;
}
</style>