<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="glossy">
      <q-toolbar class="text-black bg-grey-1">
        <q-btn flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu">
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title class="text-body1">
          <!-- ยินดีต้อนรับ -->
          <span v-if="this.$store.state.system.linkCode=='mainmenu'" class="text-black">ยินดีต้อนรับ</span>

          <!-- รายงาน -->
          <!-- Pre-Test & Post-Test -->
          <span
            v-if="this.$store.state.system.linkCode=='prepostreport'"
            class="text-black"
          >รายงาน > Pre-Test & Post-Test</span>
          <!-- วัดระดับ -->
          <span
            v-if="this.$store.state.system.linkCode=='placementreport'"
            class="text-black"
          >รายงาน > วัดระดับ</span>
          <!-- รายงานประจำเดือน -->
          <span
            v-if="this.$store.state.system.linkCode=='reportshow'"
            class="text-black"
          >รายงาน > รายงานประจำเดือน</span>

          <!-- สรุปผลการเรียน -->
          <span
            v-if="this.$store.state.system.linkCode=='summarypractice'"
            class="text-black"
          >รายงาน > สรุปผลการเรียน</span>

          <!-- โรงเรียน -->
          <!-- ประเภทโรงเรียน -->
          <span
            v-if="this.$store.state.system.linkCode=='schooltype'"
            class="text-black"
          >โรงเรียน > ประเภทโรงเรียน</span>

          <span v-if="this.$store.state.system.linkCode=='schooltypeedit'" class="text-black">
            โรงเรียน >
            <router-link to="/landing/schooltype" class="text-black">
              <span>ประเภทโรงเรียน</span>
            </router-link>&nbsp;> แก้ไข
          </span>

          <span v-if="this.$store.state.system.linkCode=='schooltypeadd'" class="text-black">
            โรงเรียน >
            <router-link to="/landing/schooltype" class="text-black">
              <span>ประเภทโรงเรียน</span>
            </router-link>&nbsp;> เพิ่ม
          </span>

          <!-- แบบฝึกหัด -->
          <span v-else-if="this.$store.state.system.linkCode=='practicemain'" class="text-black">
            จัดการแบบฝึกหัด
            >
            แบบฝึกหัด
          </span>

          <!-- Pre-test & Post-test -->
          <span v-else-if="this.$store.state.system.linkCode=='preposttest'" class="text-black">
            จัดการแบบฝึกหัด
            >
            Pre-test / Post-test
          </span>
          <span v-else-if="this.$store.state.system.linkCode=='preposttestadd'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/preposttest" class="text-black">Pre-test / Post-test</router-link>&nbsp;> เพิ่ม Pre-test
            / Post-test
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='preposttestreset'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/preposttest" class="text-black">Pre-test / Post-test</router-link>&nbsp;> รีเซตคะแนน
          </span>

          <!-- ย้ายแบบฝึกหัด -->
          <span v-else-if="this.$store.state.system.linkCode=='movepractice'" class="text-black">
            จัดการแบบฝึกหัด >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> ย้ายแบบฝึดกัด
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='dictation'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Dictation
          </span>

          <!-- Flashcard -->
          <span v-else-if="this.$store.state.system.linkCode=='flashcard'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Flashcard
          </span>
          <span v-else-if="this.$store.state.system.linkCode=='flashcardadd'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkFlashcard" class="text-black">Flashcard</router-link>&nbsp;> เพิ่ม Flashcard
          </span>
          <span v-else-if="this.$store.state.system.linkCode=='flashcardedit'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkFlashcard" class="text-black">Flashcard</router-link>&nbsp;> แก้ไข Flashcard
          </span>

          <!-- Spelling Bee -->
          <span v-else-if="this.$store.state.system.linkCode=='spellingbee'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Spelling bee
          </span>

          <!-- Matching -->
          <span v-else-if="this.$store.state.system.linkCode=='matching'" class="text-black">
            จัดการแบบฝึกหัด >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Matching
          </span>

          <!-- Fill in the blank -->
          <span v-else-if="this.$store.state.system.linkCode=='fillintheblank'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Fill in the blank
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='fillintheblankadd'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkFillintheblank" class="text-black">
              Fill
              in the blank
            </router-link>&nbsp;> เพิ่มแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='fillintheblankedit'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkFillintheblank" class="text-black">
              Fill
              in the blank
            </router-link>&nbsp;> แก้ไขแบบฝึกหัด
          </span>

          <!-- Vdo training -->
          <span v-else-if="this.$store.state.system.linkCode=='teachingvdo'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Teaching VDO
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='teachingvdoadd'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkteachingvdo" class="text-black">Teaching VDO</router-link>&nbsp;> เพิ่ม
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='teachingvdoedit'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkteachingvdo" class="text-black">Teaching VDO</router-link>&nbsp;> แก้ไข
          </span>

          <!-- Error detection -->
          <span v-else-if="this.$store.state.system.linkCode=='errordetection'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Error detection
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='errordetectionadd'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkErrordetection" class="text-black">Error detection</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='errordetectionedit'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkErrordetection" class="text-black">Error detection</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </span>

          <!-- Dictation -->
          <span v-else-if="this.$store.state.system.linkCode=='dictation'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Dictation
          </span>
          <span v-else-if="this.$store.state.system.linkCode=='dictationadd'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkDictation" class="text-black">Dictation</router-link>&nbsp;> เพิ่มแบบฝึกหัด
          </span>
          <span v-else-if="this.$store.state.system.linkCode=='dictationedit'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkDictation" class="text-black">Dictation</router-link>&nbsp;> แก้ไขแบบฝึกหัด
          </span>

          <!-- Translation -->
          <span v-else-if="this.$store.state.system.linkCode=='translation'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Translation
          </span>
          <span v-else-if="this.$store.state.system.linkCode=='translationadd'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkTranslation" class="text-black">Translation</router-link>&nbsp;> เพิ่มแบบฝึกหัด
          </span>
          <span v-else-if="this.$store.state.system.linkCode=='translationedit'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkTranslation" class="text-black">Translation</router-link>&nbsp;> แก้ไขแบบฝึกหัด
          </span>

          <!-- speaking -->
          <span v-else-if="this.$store.state.system.linkCode=='speaking'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Speaking
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='conversation'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Conversation
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='conversationadd'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkspeaker" class="text-black">Conversation</router-link>&nbsp;>
            เพิ่มบทสทนา
          </span>

          <span
            v-else-if="this.$store.state.system.linkCode=='conversationedit'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkspeaker" class="text-black">Conversation</router-link>&nbsp;>
            แก้ไขบทสนทนา
          </span>

          <!-- Multiple choice -->
          <span v-else-if="this.$store.state.system.linkCode=='multiplechoice'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Multiple choice
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='multiplechoiceadd'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkmultiplechoice" class="text-black">Multiple choice</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='multiplechoiceedit'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkmultiplechoice" class="text-black">Multiple choice</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </span>

          <!-- Reading Fill in the blank -->
          <span v-else-if="this.$store.state.system.linkCode=='readingfillin'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Reading Fill in the blanks
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='readingfillinadd'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkReadingFillin" class="text-black">Reading Fill in the blanks</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='readingfillinedit'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkReadingFillin" class="text-black">Reading Fill in the blanks</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='readingfillinquestionadd'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              :to="getLinkReadingFillinQuestion"
              class="text-black"
            >Reading Fill in the blanks</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='readingfillinquestionedit'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              :to="getLinkReadingFillinQuestion"
              class="text-black"
            >Reading Fill in the blanks</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </span>

          <!-- Reading Multiple Choice -->
          <span v-else-if="this.$store.state.system.linkCode=='readingmultiple'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;> Reading Mutiple Choices
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='readingmultipleadd'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkReadingMultiple" class="text-black">Reading Mutiple Choices</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='readingmultipleedit'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link :to="getLinkReadingMultiple" class="text-black">Reading Mutiple Choices</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='readingmultiplequestionadd'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              :to="getLinkReadingMultipleQuestion"
              class="text-black"
            >Reading Mutiple Choices</router-link>&nbsp;>
            เพิ่มแบบฝึกหัด
          </span>
          <span
            v-else-if="this.$store.state.system.linkCode=='readingmultiplequestionedit'"
            class="text-black"
          >
            จัดการแบบฝึกหัด
            >
            <router-link to="/practice" class="text-black">แบบฝึกหัด</router-link>&nbsp;>
            <router-link
              :to="getLinkReadingMultipleQuestion"
              class="text-black"
            >Reading Mutiple Choices</router-link>&nbsp;>
            แก้ไขแบบฝึกหัด
          </span>

          <!-- แบบฝึกหัด -->
          <span v-else-if="this.$store.state.system.linkCode=='sound'" class="text-black">
            จัดการแบบฝึกหัด
            >
            จัดการเสียง
          </span>

          <!-- คลังข้อสอบ -->
          <span v-if="this.$store.state.system.linkCode=='questionpool'" class="text-black">
            จัดการแบบฝึกหัด >
            คลังข้อสอบ
          </span>

          <span v-if="this.$store.state.system.linkCode=='questionpooladd'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/questionpool" class="text-black">
              <span>คลังข้อสอบ</span>
            </router-link>&nbsp;> เพิ่ม
          </span>

          <span v-if="this.$store.state.system.linkCode=='questionpooledit'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/questionpool" class="text-black">
              <span>คลังข้อสอบ</span>
            </router-link>&nbsp;> แก้ไข
          </span>

          <!-- คลังข้อสอบ -->
          <span v-if="this.$store.state.system.linkCode=='placement'" class="text-black">
            จัดการแบบฝึกหัด >
            วัดระดับ
          </span>

          <span v-if="this.$store.state.system.linkCode=='placementadd'" class="text-black">
            จัดการแบบฝึกหัด >
            <router-link to="/placement" class="text-black">
              <span>วัดระดับ</span>
            </router-link>&nbsp;> เพิ่ม
          </span>

          <span v-if="this.$store.state.system.linkCode=='placementedit'" class="text-black">
            จัดการแบบฝึกหัด >
            <router-link to="/placement" class="text-black">
              <span>วัดระดับ</span>
            </router-link>&nbsp;> แก้ไข
          </span>

          <!-- จัดการโรงเรียน -->
          <span
            v-else-if="this.$store.state.system.linkCode=='school'"
            class="text-black"
          >โรงเรียน > จัดการโรงเรียน</span>

          <span v-else-if="this.$store.state.system.linkCode=='schooladd'" class="text-black">
            โรงเรียน >
            <router-link to="/school" class="text-black">
              <span>จัดการโรงเรียน</span>
            </router-link>&nbsp;> เพิ่ม
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='schooledit'" class="text-black">
            โรงเรียน >
            <router-link to="/school" class="text-black">
              <span>จัดการโรงเรียน</span>
            </router-link>&nbsp;> แก้ไข
          </span>

          <!-- จัดการ level -->
          <span v-else-if="this.$store.state.system.linkCode=='level'" class="text-black">
            จัดการแบบฝึกหัด >
            จัดการ Level
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='leveladd'" class="text-black">
            จัดการแบบฝึกหัด >
            <router-link to="/level" class="text-black">
              <span>จัดการ Level</span>
            </router-link>&nbsp;> เพิ่ม
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='leveledit'" class="text-black">
            จัดการแบบฝึกหัด
            >
            <router-link to="/level" class="text-black">
              <span>จัดการ Level</span>
            </router-link>&nbsp;> แก้ไข
          </span>

          <!-- ปีการศึกษา -->
          <span
            v-else-if="this.$store.state.system.linkCode=='academicyear'"
            class="text-black"
          >โรงเรียน > ปีการศึกษา</span>

          <span v-else-if="this.$store.state.system.linkCode=='academicyearadd'" class="text-black">
            โรงเรียน >
            <router-link to="/academicyear" class="text-black">
              <span>ปีการศึกษา</span>
            </router-link>&nbsp;> เพิ่ม
          </span>

          <span
            v-else-if="this.$store.state.system.linkCode=='academicyearedit'"
            class="text-black"
          >
            โรงเรียน >
            <router-link to="/academicyear" class="text-black">
              <span>ปีการศึกษา</span>
            </router-link>&nbsp;> แก้ไข
          </span>

          <!-- นักเรียน -->
          <span
            v-else-if="this.$store.state.system.linkCode=='studentselect'"
            class="text-black"
          >ผู้ใช้งาน > นักเรียน</span>

          <span v-else-if="this.$store.state.system.linkCode=='studentlist'" class="text-black">
            ผู้ใช้งาน >
            <router-link to="/student" class="text-black">
              <span>นักเรียน</span>
            </router-link>&nbsp;> หนัาหลัก
          </span>

          <span
            v-else-if="this.$store.state.system.linkCode=='studentchangelevel'"
            class="text-black"
          >
            ผู้ใช้งาน >
            <router-link to="/student" class="text-black">
              <span>นักเรียน</span>
            </router-link>&nbsp;>
            <router-link to="/student/list" class="text-black">
              <span>หน้าหลัก</span>
            </router-link>&nbsp;> ย้าย level
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='studentsearch'" class="text-black">
            ผู้ใช้งาน >
            <router-link to="/student" class="text-black">
              <span>นักเรียน</span>
            </router-link>&nbsp;>
            <router-link to="/student/list" class="text-black">
              <span>หน้าหลัก</span>
            </router-link>&nbsp;> ค้นหา
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='studentadd'" class="text-black">
            ผู้ใช้งาน >
            <router-link to="/student" class="text-black">
              <span>นักเรียน</span>
            </router-link>&nbsp;>
            <router-link to="/student/list" class="text-black">
              <span>หนัาหลัก</span>
            </router-link>&nbsp;> เพิ่ม
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='studentedit'" class="text-black">
            ผู้ใช้งาน >
            <router-link to="/student" class="text-black">
              <span>นักเรียน</span>
            </router-link>&nbsp;>
            <router-link to="/student/list" class="text-black">
              <span>หนัาหลัก</span>
            </router-link>&nbsp;> แก้ไข
          </span>

          <span
            v-else-if="this.$store.state.system.linkCode=='studentaddcourse'"
            class="text-black"
          >
            ผู้ใช้งาน >
            <router-link to="/student" class="text-black">
              <span>นักเรียน</span>
            </router-link>&nbsp;>
            <router-link to="/student/list" class="text-black">
              <span>หนัาหลัก</span>
            </router-link>&nbsp;> เพิ่มคอร์ส
          </span>

          <span
            v-else-if="this.$store.state.system.linkCode=='studenteditcourse'"
            class="text-black"
          >
            ผู้ใช้งาน >
            <router-link to="/student" class="text-black">
              <span>นักเรียน</span>
            </router-link>&nbsp;>
            <router-link to="/student/list" class="text-black">
              <span>หนัาหลัก</span>
            </router-link>&nbsp;> แก้ไขคอร์ส
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='studentupload'" class="text-black">
            ผู้ใช้งาน >
            <router-link to="/student" class="text-black">
              <span>นักเรียน</span>
            </router-link>&nbsp;>
            <router-link to="/student/list" class="text-black">
              <span>หนัาหลัก</span>
            </router-link>&nbsp;> อัพโหลด
          </span>
          <!-- คุณครู -->
          <span
            v-else-if="this.$store.state.system.linkCode=='teacher'"
            class="text-black"
          >ผู้ใช้งาน > คุณครู</span>

          <span v-else-if="this.$store.state.system.linkCode=='teacheradd'" class="text-black">
            ผู้ใช้งาน >
            <router-link to="/teacher" class="text-black">คุณครู</router-link>&nbsp;> เพิ่ม
          </span>
          <!-- ผู้ดูแลระบบ -->
          <span
            v-else-if="this.$store.state.system.linkCode=='User'"
            class="text-black"
          >ผู้ใช้งาน > ผู้ดูแลระบบ</span>

          <span v-else-if="this.$store.state.system.linkCode=='useradd'" class="text-black">
            ผู้ใช้งาน >
            <router-link to="/user" class="text-black">
              <span>ผู้ดูแลระบบ</span>
            </router-link>&nbsp;> เพิ่ม
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='useredit'" class="text-black">
            ผู้ใช้งาน >
            <router-link to="/user" class="text-black">
              <span>ผู้ดูแลระบบ</span>
            </router-link>&nbsp;> แก้ไข
          </span>

          <!-- บิล -->
          <span v-else-if="this.$store.state.system.linkCode=='bill'" class="text-black">อื่นๆ > บิล</span>

          <span v-else-if="this.$store.state.system.linkCode=='addBill'" class="text-black">
            อื่นๆ >
            <router-link to="/bill" class="text-black">
              <span>บิล</span>
            </router-link>&nbsp;> เพิ่มบิล
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='editBill'" class="text-black">
            อื่นๆ >
            <router-link to="/bill" class="text-black">
              <span>บิล</span>
            </router-link>&nbsp;> แก้ไขบิล
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='addSeller'" class="text-black">
            อื่นๆ >
            <router-link to="/bill" class="text-black">
              <span>บิล</span>
            </router-link>&nbsp;>
            <router-link to="/bill/addBill" class="text-black">เพิ่มบิล</router-link>&nbsp;>
            เพิ่มผู้ขาย
          </span>

          <span v-else-if="this.$store.state.system.linkCode=='editSeller'" class="text-black">
            อื่นๆ >
            <router-link to="/bill" class="text-black">
              <span>บิล</span>
            </router-link>&nbsp;>
            <router-link to="/bill/addBill" class="text-black">เพิ่มบิล</router-link>&nbsp;>
            <router-link to="/landing/addSeller" class="text-black">ผู้ขาย</router-link>&nbsp;>
            แก้ไขผู้ขาย
          </span>
        </q-toolbar-title>

        <q-btn flat dense round @click="logout()">
          <q-icon name="fas fa-sign-out-alt" />
        </q-btn>
      </q-toolbar>
    </q-header>

    <!-- left menu -->
    <q-drawer v-model="leftDrawerOpen" bordered content-class="bg-grey-2">
      <div class="namediv text-h6">{{this.$store.state.system.userData.name}}</div>
      <q-list class="q-pt-md">
        <q-expansion-item
          icon="fas fa-atlas"
          label="จัดการแบบฝึกหัด"
          :default-opened="wopen==1? true:false"
          class="text-body2"
          v-if="this.$store.state.system.userData.isPractice || this.$store.state.system.userData.isSound || this.$store.state.system.userData.isLevel || this.$store.state.system.userData.isBug || this.$store.state.system.userData.isPlacement || this.$store.state.system.userData.isExamPool || this.$store.state.system.userData.isPrePostTest"
        >
          <div style="margin-left:60px;" class="q-pb-md">
            <router-link
              to="/practice"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isPractice"
            >
              <div class="menuhover">แบบฝึกหัด</div>
            </router-link>

            <router-link
              to="/sound"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isSound"
            >
              <div class="menuhover">จัดการเสียง</div>
            </router-link>

            <router-link
              to="/level"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isLevel"
            >
              <div class="menuhover">จัดการ level</div>
            </router-link>

            <router-link
              to="/placement"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isPlacement"
            >
              <div class="menuhover">วัดระดับ</div>
            </router-link>

            <router-link
              to="/questionpool"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isExamPool"
            >
              <div class="menuhover">คลังข้อสอบ</div>
            </router-link>

            <router-link
              to="/preposttest"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isPrePostTest"
            >
              <div class="menuhover">Pre-test / Post-test</div>
            </router-link>
          </div>
        </q-expansion-item>
        <hr
          v-if="this.$store.state.system.userData.isPractice || this.$store.state.system.userData.isSound || this.$store.state.system.userData.isLevel || this.$store.state.system.userData.isBug || this.$store.state.system.userData.isPlacement || this.$store.state.system.userData.isExamPool || this.$store.state.system.userData.isPrePostTest"
        />
        <q-expansion-item
          icon="fas fa-user"
          label="ผู้ใช้งาน"
          :default-opened="wopen==2? true:false"
          class="text-body2"
          v-if="this.$store.state.system.userData.isStudent || this.$store.state.system.userData.isGroup || this.$store.state.system.userData.isTeacher || this.$store.state.system.userData.isUser"
        >
          <div style="margin-left:60px;" class="q-pb-md">
            <router-link
              to="/student"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isStudent"
            >
              <div class="menuhover">นักเรียน</div>
            </router-link>

            <router-link
              to="/teacher"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isTeacher"
            >
              <div class="menuhover">คุณครู</div>
            </router-link>

            <router-link
              to="/user"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isUser"
            >
              <div class="menuhover">ผู้ดูแลระบบ</div>
            </router-link>
          </div>
        </q-expansion-item>
        <hr
          v-if="this.$store.state.system.userData.isStudent || this.$store.state.system.userData.isGroup || this.$store.state.system.userData.isTeacher || this.$store.state.system.userData.isUser"
        />
        <q-expansion-item
          icon="fas fa-school"
          label="โรงเรียน"
          :default-opened="wopen==3? true:false"
          class="text-body2"
          v-if="this.$store.state.system.userData.isSchoolType || this.$store.state.system.userData.isSchool || this.$store.state.system.userData.isAcademicYear"
        >
          <div style="margin-left:60px;" class="q-pb-md">
            <router-link
              to="/schooltype"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isSchoolType"
            >
              <div class="menuhover">ประเภทโรงเรียน</div>
            </router-link>

            <router-link
              to="/school"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isSchool"
            >
              <div class="menuhover">จัดการโรงเรียน</div>
            </router-link>

            <router-link
              to="/academicyear"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isAcademicYear"
            >
              <div class="menuhover">ปีการศึกษา</div>
            </router-link>
          </div>
        </q-expansion-item>
        <hr
          v-if="this.$store.state.system.userData.isSchoolType || this.$store.state.system.userData.isSchool || this.$store.state.system.userData.isAcademicYear"
        />
        <q-expansion-item
          icon="fas fa-file-alt"
          label="รายงาน"
          :default-opened="wopen==4? true:false"
          class="text-body2"
          v-if="this.$store.state.system.userData.isPrePostReport || this.$store.state.system.userData.isPlacementReport || this.$store.state.system.userData.isReportShow"
        >
          <div style="margin-left:60px;" class="q-pb-md">
            <router-link
              to="/prepostreport"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isPrePostReport"
            >
              <div class="menuhover">Pre-test/Post-test</div>
            </router-link>
            <router-link
              to="/placementreport"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isPlacementReport"
            >
              <div class="menuhover">วัดระดับ</div>
            </router-link>

            <router-link to="/reportshow" active-class="menumark" class="linknone">
              <div class="menuhover">รายงานประจำเดือน</div>
            </router-link>

            <router-link to="/summarypractice" active-class="menumark" class="linknone">
              <div class="menuhover">สรุปผลการเรียน</div>
            </router-link>
          </div>
        </q-expansion-item>
        <hr
          v-if="this.$store.state.system.userData.isPrePostReport || this.$store.state.system.userData.isPlacementReport"
        />
        <q-expansion-item
          icon="fas fa-desktop"
          label="ระบบติดตาม"
          :default-opened="false"
          class="text-body2"
          v-if="this.$store.state.system.userData.isMonitor || this.$store.state.system.userData.isOnline"
        >
          <div style="margin-left:60px;" class="q-pb-md">
            <!-- <div class="menuhover" v-if="this.$store.state.system.userData.isOnline">สถานะออนไลน์</div> -->
            <router-link
              to="/monitor/progressMonitor"
              active-class="menumark"
              class="linknone"
              v-if="this.$store.state.system.userData.isMonitor"
            >
              <div class="menuhover">ติดตามผลการเรียน</div>
            </router-link>
          </div>
        </q-expansion-item>
        <hr
          v-if="this.$store.state.system.userData.isMonitor || this.$store.state.system.userData.isOnline"
        />
        <q-expansion-item
          icon="fas fa-ellipsis-h"
          label="อื่นๆ"
          :default-opened="wopen==5? true:false"
          class="text-body2"
          v-if="this.$store.state.system.userData.isBill"
        >
          <div
            style="margin-left:60px;"
            class="q-pb-md"
            v-show="this.$store.state.system.userData.isBill"
          >
            <router-link to="/bill" active-class="menumark" class="linknone">
              <div class="menuhover">บิล</div>
            </router-link>
          </div>
        </q-expansion-item>
      </q-list>
    </q-drawer>
    <q-page-container class="bgimg">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  name: "MyLayout",
  data() {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop,
      key: 0,
      systemKey: this.$store.state.system.userKey
    };
  },
  methods: {
    ...mapActions([
      "setUserData",
      "setPracticeKey",
      "setLevelActive",
      "setUnitActive"
    ]),

    logout() {
      this.$q
        .dialog({
          title: "ออกจากระบบ",
          message: "คุณต้องการออกจากระบบนี้ใช่หรือไม่",
          ok: "ออกจากระบบ",
          cancel: "ยกเลิก",
          persistent: true
        })
        .onOk(() => {
          this.setUserData("");
          this.$router.push("/");
        });
    },
    checkMenuStatus() {
      // if (this.$route.name == "studentselect" || this.$route.name == "User") {
      //   this.menuOpen = 2
      // } else if(this.$route.name == "level" ){

      // }
      this.menuOpen = this.$store.state.system.linkmenu;
    },
    async checkVersion() {
      let wsVersion = await db
        .collection("version")
        .doc("ws")
        .get();
      if (wsVersion.data().version != this.appVersion) {
        this.$q
          .dialog({
            title: "อัพเดทโปรแกรม",
            message: "ต้องการรีเฟรชระบบ กรุณากดปุ่มรีเฟรช",
            ok: "รีเฟรช",
            persistent: true
          })
          .onOk(() => {
            window.location.reload(true);
          });
      }
    }
  },
  computed: {
    wopen: function() {
      return this.$store.state.system.linkmenu;
    },
    getLinkFlashcard() {
      return (
        "/practice/flashcard/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkspeaker() {
      return (
        "/practice/conversation/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkDictation() {
      return (
        "/practice/dictation/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkTranslation() {
      return (
        "/practice/translation/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkFillintheblank() {
      return (
        "/practice/fillintheblank/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkmultiplechoice() {
      return (
        "/practice/multiplechoice/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },

    getLinkteachingvdo() {
      return (
        "/practice/teachingvdo/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkErrordetection() {
      return (
        "/practice/errordetection/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkReadingFillin() {
      return (
        "/practice/readingfillin/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkReadingFillinQuestion() {
      return (
        "/practice/readingfillin/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        2
      );
    },
    getLinkReadingMultiple() {
      return (
        "/practice/readingmultiple/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        1
      );
    },
    getLinkReadingMultipleQuestion() {
      return (
        "/practice/readingmultiple/" +
        this.$store.state.system.practiceKey +
        "/" +
        this.$store.state.system.levelactive +
        "/" +
        this.$store.state.system.unitactive +
        "/" +
        2
      );
    }
  },
  // created: function() {
  //   if (this.$store.state.system.userData.name) {
  //     db.collection("userwinnerkey")
  //       .doc(this.$store.state.system.userData.key)
  //       .onSnapshot(doc => {
  //         this.key = doc.data().key;
  //       });
  //   } else {
  //     this.$router.push("/");
  //   }
  //   this.checkMenuStatus();
  // },
  mounted() {
    this.checkMenuStatus();
    this.checkVersion();
  }

  // watch: {
  //   key: function(val) {
  //     let _this = this;
  //     if (this.key) {
  //       if (this.key != this.systemKey) {
  //         this.$q
  //           .dialog({
  //             title: "แจ้งเตือน",
  //             message: "มีการเข้าสู่ระบบจากเครื่องอื่น",
  //             ok: "ออกจากระบบ",
  //             persistent: true
  //           })
  //           .onOk(() => {
  //             _this.setUserData("");
  //             _this.$router.push("/");
  //           });
  //       }
  //     }
  //   },
  //   $route(to, from) {
  //     this.checkMenuStatus();
  //   }
  // }
};
</script>

<style scoped>
.hover:hover {
  cursor: pointer;
}

hr {
  width: 90%;
}

.namediv {
  height: 50px;
  width: 100%;
  line-height: 50px;
  text-align: center;
  background-color: #333c4b;
  color: white;
}

.bgimg {
  background-image: url("../assets/bg-01.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.linkurl {
  color: red;
}

.linknone {
  text-decoration: none;
  color: black;
}

.menuhover:hover {
  background-color: #dbdbdb;
}

.menuhover {
  padding: 12px;
}

.menumark {
  text-decoration: none;
  color: #007acc;
}
</style>
